Repository vegaprotocol/frontend-monorepo, pull requests merged in 2022-08, with the labels that each got.

#929 fix(790): gap between orderbook headers and tabs
  libs/market-depth/src/lib/orderbook.tsx
Labels: Trading, Bug 🐞

#1119 chore: fix status mappings after API updates
  apps/token/src/routes/governance/components/proposals-list-item/proposals-list-item-details.spec.tsx
  apps/token/src/routes/governance/components/proposals-list-item/proposals-list-item-details.tsx
  apps/trading/pages/markets/trade-grid.tsx
  libs/accounts/src/lib/accounts-table.tsx
  libs/market-list/src/lib/__generated__/MarketList.ts
  libs/market-list/src/lib/components/select-market-columns.tsx
  libs/market-list/src/lib/components/select-market.spec.tsx
  libs/market-list/src/lib/utils/market-utils.spec.tsx
  libs/market-list/src/lib/utils/market-utils.ts
  libs/orders/src/lib/components/order-feedback/order-feedback.spec.tsx
  libs/orders/src/lib/components/order-feedback/order-feedback.tsx
  libs/orders/src/lib/components/order-list/order-list.spec.tsx
  libs/orders/src/lib/components/order-list/order-list.tsx
  libs/orders/src/lib/order-hooks/use-order-submit.spec.tsx
  libs/orders/src/lib/order-hooks/use-order-submit.ts
  libs/orders/src/lib/order-hooks/use-order-validation.spec.tsx
  libs/orders/src/lib/order-hooks/use-order-validation.tsx
  libs/positions/src/lib/positions-table.tsx
  libs/types/src/global-types-mappings.ts
Labels: Trading

#1115 test: added missing block confirmation coverage
  apps/token-e2e/cypress.config.js
  apps/token-e2e/src/integration/flow/token-association-flow.cy.js
  apps/token-e2e/src/support/staking.functions.js
  apps/token/.env.capsule
Labels: Testing 🧪, Token Frontend

#1050 feat: market info - price monitoring bounds, calc 24h volume, oracle price & termination IDs etc.
  apps/trading-e2e/src/integration/market-info.cy.ts
  libs/deal-ticket/src/components/__generated__/MarketInfoQuery.ts
  libs/deal-ticket/src/components/info-market-query.ts
  libs/deal-ticket/src/components/info-market.tsx
  libs/market-list/src/lib/components/markets-container/markets-container.tsx
  libs/market-list/src/lib/components/select-market.tsx
  libs/types/apollo.config.js
Labels: Trading

#1182 test: dissassociation tests reworked to current implementation
  apps/token-e2e/src/integration/flow/token-association-flow.cy.js
  apps/token-e2e/src/support/staking.functions.js
  apps/token/src/routes/staking/disassociate/disassociate-page.tsx
Labels: Token Frontend
