Repository vegaprotocol/frontend-monorepo, pull requests merged in 2023-08, with the labels that each got.

#4406 feat(ui-toolkit,tailwindcss-config): healthbar auction level indicator
  libs/announcements/package.json
  libs/i18n/package.json
  libs/react-helpers/package.json
  libs/tailwindcss-config/package.json
  libs/tailwindcss-config/src/vega-custom-classes.js
  libs/types/package.json
  libs/ui-toolkit/package.json
  libs/ui-toolkit/src/components/healthbar/healthbar.tsx
  libs/utils/package.json
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#4435 feat(explorer): improve transaction pagination
  apps/explorer/src/app/components/txs/tx-filter.tsx
  apps/explorer/src/app/components/txs/tx-list-navigation.tsx
  apps/explorer/src/app/components/txs/txs-infinite-list-item.spec.tsx
  apps/explorer/src/app/components/txs/txs-infinite-list-item.tsx
  apps/explorer/src/app/components/txs/txs-infinite-list.spec.tsx
  apps/explorer/src/app/components/txs/txs-per-block.tsx
  apps/explorer/src/app/hooks/get-txs-data-url.ts
  apps/explorer/src/app/hooks/use-txs-data.ts
  apps/explorer/src/app/routes/blocks/id/block.spec.tsx
  apps/explorer/src/app/routes/parties/id/index.tsx
  apps/explorer/src/app/routes/txs/home/index.tsx
Labels: explorer-preview

#4454 fix(explorer): add tests and fix transactions url generation
  apps/explorer/src/app/hooks/get-txs-data-url.ts
  apps/explorer/src/app/hooks/get-txs-data-urls.spec.ts
  apps/explorer/src/app/hooks/use-txs-data.ts
  apps/explorer/src/app/routes/txs/home/index.tsx
Labels: explorer-preview

#4455 fix(trading): order stopped misleading message
  libs/orders/src/lib/utils.spec.ts
  libs/orders/src/lib/utils.ts
  libs/web3/src/lib/use-vega-transaction-toasts.tsx
  libs/withdraws/src/lib/withdrawals-table.spec.tsx
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#4452 fix(trading): replace all markets with open markets
  apps/trading-e2e/src/integration/market-all.cy.ts
  apps/trading/client-pages/markets/markets-page.tsx
Labels: trading-preview

#4460 fix(trading): iceberg order fills
  libs/orders/src/lib/components/order-list/order-list.spec.tsx
  libs/orders/src/lib/components/order-list/order-list.tsx
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#4442 feat(trading): 3114 pane context
  apps/trading/client-pages/market/trade-grid.tsx
  apps/trading/client-pages/market/trade-panels.tsx
  apps/trading/client-pages/market/trade-views.tsx
  libs/candles-chart/src/lib/candles-chart.spec.tsx
  libs/candles-chart/src/lib/candles-chart.tsx
  libs/candles-chart/src/lib/candles-menu.spec.tsx
  libs/candles-chart/src/lib/candles-menu.tsx
  libs/candles-chart/src/lib/index.ts
  libs/candles-chart/src/lib/use-candles-chart-settings.ts
  libs/ui-toolkit/src/components/dropdown-menu/dropdown-menu.tsx
  libs/ui-toolkit/src/components/tabs/tabs.spec.tsx
  libs/ui-toolkit/src/components/tabs/tabs.tsx
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#4440 feat(trading): 4322 get started steps
  apps/governance/src/routes/proposals/components/proposal-market-data/proposal-market-data.tsx
  apps/liquidity-provision-dashboard/src/app/components/health-dialog/health-dialog.tsx
  apps/trading-e2e/src/integration/charts-depth.cy.ts
  apps/trading-e2e/src/integration/closed-markets.cy.ts
  apps/trading-e2e/src/integration/home-node-network.cy.ts
  apps/trading-e2e/src/integration/home.cy.ts
  apps/trading-e2e/src/integration/market-all.cy.ts
  apps/trading-e2e/src/integration/market-info.cy.ts
  apps/trading-e2e/src/integration/market-liquidity.cy.ts
  apps/trading-e2e/src/integration/market-selector.cy.ts
  apps/trading-e2e/src/integration/market-summary.cy.ts
  apps/trading-e2e/src/integration/markets-proposed.cy.ts
  apps/trading-e2e/src/integration/markets.cy.ts
  apps/trading-e2e/src/integration/oracle.cy.ts
  apps/trading-e2e/src/integration/order-book.cy.ts
  apps/trading-e2e/src/integration/settings.cy.ts
  apps/trading-e2e/src/integration/trading-chart.cy.ts
  apps/trading-e2e/src/integration/trading-deal-ticket-basics.cy.ts
  apps/trading-e2e/src/integration/trading-deal-ticket-time-in-force.cy.ts
  apps/trading-e2e/src/integration/trading-trades.cy.ts
  apps/trading-e2e/src/integration/wallet-vega.cy.ts
  apps/trading/client-pages/home/home.tsx
  apps/trading/client-pages/market/trade-grid.tsx
  apps/trading/client-pages/portfolio/account-history-container.tsx
  apps/trading/client-pages/portfolio/portfolio.tsx
  apps/trading/client-pages/portfolio/withdrawals-container.tsx
  apps/trading/components/accounts-container/accounts-container.tsx
  apps/trading/components/constants.ts
  apps/trading/components/fills-container/fills-container.tsx
  apps/trading/components/orders-container/orders-container.tsx
  apps/trading/components/sidebar/sidebar.spec.tsx
  apps/trading/components/sidebar/sidebar.tsx
  apps/trading/components/vega-wallet-connect-button/vega-wallet-connect-button.spec.tsx
  apps/trading/components/vega-wallet-connect-button/vega-wallet-connect-button.tsx
  apps/trading/components/welcome-dialog/get-started.tsx
  apps/trading/components/welcome-dialog/index.ts
  apps/trading/components/welcome-dialog/risk-notice-dialog.spec.tsx
  apps/trading/components/welcome-dialog/risk-notice-dialog.tsx
  apps/trading/components/welcome-dialog/welcome-dialog-content.tsx
  apps/trading/components/welcome-dialog/welcome-dialog.tsx
  apps/trading/components/welcome-dialog/welcome-notice-dialog.tsx
  apps/trading/stores/global.ts
  libs/accounts/src/lib/accounts-manager.tsx
  libs/cypress/src/index.ts
  libs/cypress/src/lib/commands/vega-wallet-connect.ts
  libs/environment/src/components/node-switcher/node-switcher-dialog.tsx
  libs/ui-toolkit/src/components/dialog/dialog.tsx
  libs/ui-toolkit/src/components/trading-button/trading-button.tsx
  libs/wallet/src/index.ts
  libs/wallet/src/is-browser-wallet-installed.ts
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#4379 test(explorer): e2e proposal test
  apps/explorer-e2e/src/integration/proposal.cy.js
  apps/trading/.env.mainnet
Labels: explorer-preview, trading-preview

#4469 test(trading): fix for key-to-key test
  apps/trading-e2e/src/integration/withdraw-key-to-key-validation.cy.ts
  apps/trading-e2e/src/integration/withdraw-key-to-key.cy.ts
Labels: Trading, Testing 🧪, trading-preview

#4444 fix(trading,governance): eager connection for browser wallet
  libs/wallet/src/use-eager-connect.ts
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#4472 feat(trading): deposit page
  apps/trading/client-pages/deposit/deposit.tsx
  apps/trading/client-pages/deposit/index.ts
  apps/trading/pages/client-router.tsx
Labels: trading-preview

#4474 feat(trading): add fairground texture background to logo
  apps/trading/components/navbar/navbar.tsx
  apps/trading/public/testnet-logo-bg.png
Labels: trading-preview

#4471 chore(governance): add e2e test for successor market
  apps/governance-e2e/src/fixtures/proposals/successor-market.json
  apps/governance-e2e/src/integration/flow/proposal-forms.cy.ts
  apps/governance-e2e/src/support/common.functions.ts
Labels: governance-preview

#4453 chore(governance): fix failing tests from nightly run
  apps/governance-e2e/src/integration/flow/rewards-flow.cy.ts
  apps/governance-e2e/src/integration/view/wallet-vega.cy.ts
  apps/governance-e2e/src/support/staking.functions.ts
Labels: governance-preview

#4281 feat(trading): order details dialog
  libs/orders/src/lib/components/order-actions-dropdown/index.ts
  libs/orders/src/lib/components/order-actions-dropdown/order-actions-dropdown.tsx
  libs/orders/src/lib/components/order-list-manager/order-list-manager.tsx
  libs/orders/src/lib/components/order-list/order-list.spec.tsx
  libs/orders/src/lib/components/order-list/order-list.stories.tsx
  libs/orders/src/lib/components/order-list/order-list.tsx
  libs/orders/src/lib/components/order-list/order-view-dialog.spec.tsx
  libs/orders/src/lib/components/order-list/order-view-dialog.tsx
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#4477 chore(trading): fix alignment of expire
  libs/deal-ticket/src/components/deal-ticket/deal-ticket-stop-order.tsx
Labels: explorer-preview, governance-preview, trading-preview

#4470 feat(trading): view as button in sidebar
  apps/trading/components/sidebar/sidebar.spec.tsx
  apps/trading/components/sidebar/sidebar.tsx
  apps/trading/pages/dialogs-container.tsx
  libs/ui-toolkit/src/components/icon/vega-icons/svg-icons/icon-eye.tsx
  libs/ui-toolkit/src/components/icon/vega-icons/vega-icon-record.ts
  libs/ui-toolkit/src/components/notification-banner/notification-banner.tsx
  libs/ui-toolkit/src/components/trading-button/trading-button.tsx
  libs/ui-toolkit/src/components/viewing-as-user/index.tsx
  libs/wallet/src/connect-dialog/index.ts
  libs/wallet/src/connect-dialog/view-as-dialog.tsx
  libs/wallet/src/connect-dialog/view-connector-form.tsx
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#4468 chore(deal-ticket): type dropdown icon
  libs/deal-ticket/src/components/deal-ticket/type-selector.tsx
Labels: explorer-preview, governance-preview, trading-preview

#4486 chore(trading): remove unnecessary forwarding of grid refs
  apps/trading/client-pages/portfolio/deposits-container.tsx
  libs/accounts/src/lib/accounts-manager.tsx
  libs/accounts/src/lib/accounts-table.tsx
  libs/datagrid/src/index.ts
  libs/datagrid/src/lib/ag-grid-update.ts
  libs/deposits/src/lib/deposits-table.tsx
  libs/ledger/src/lib/ledger-manager.tsx
  libs/ledger/src/lib/ledger-table.tsx
  libs/markets/src/lib/components/markets-container/market-list-table.tsx
  libs/markets/src/lib/components/markets-container/markets-container.tsx
  libs/orders/src/lib/components/stop-orders-manager/stop-orders-manager.spec.tsx
  libs/orders/src/lib/components/stop-orders-table/stop-orders-table.tsx
  libs/positions/src/lib/positions-table.tsx
  libs/proposals/src/components/proposals-list/proposals-list.tsx
  libs/trades/src/lib/trades-container.tsx
  libs/trades/src/lib/trades-table.tsx
  libs/withdraws/src/lib/withdrawals-table.tsx
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#4487 fix(trading): remove hover state from disabled view as button
  apps/trading/components/sidebar/sidebar.tsx
Labels: trading-preview

#4482 fix(trading): dont show connect wallet message in deal ticket
  apps/trading-e2e/src/integration/trading-deal-ticket-basics.cy.ts
  apps/trading/components/welcome-dialog/get-started.tsx
  apps/trading/components/welcome-dialog/welcome-dialog-content.tsx
  libs/deal-ticket/src/components/deal-ticket/deal-ticket-stop-order.spec.tsx
  libs/deal-ticket/src/components/deal-ticket/deal-ticket-stop-order.tsx
  libs/deal-ticket/src/components/deal-ticket/deal-ticket.tsx
Labels: explorer-preview, governance-preview, trading-preview

#4496 test(trading): update cypress tests
  apps/trading-e2e/cypress.config.js
  apps/trading-e2e/src/integration/charts-depth.cy.ts
  apps/trading-e2e/src/integration/trading-positions.cy.ts
  apps/trading-e2e/src/integration/withdraw-key-to-key-validation-fees.cy.ts
  apps/trading-e2e/src/integration/withdraw-key-to-key-validation.cy.ts
Labels: Trading, Testing 🧪, trading-preview

#4493 chore(trading): update pennant
  apps/trading-e2e/src/integration/charts-depth.cy.ts
  apps/trading-e2e/src/integration/trading-chart.cy.ts
  libs/candles-chart/jest.config.ts
  libs/market-depth/jest.config.ts
  package.json
  yarn.lock
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#4490 fix(trading): dont render get started if connected
  apps/trading/components/welcome-dialog/get-started.spec.tsx
  apps/trading/components/welcome-dialog/get-started.tsx
Labels: trading-preview

#4499 fix(explorer): footer visual tweaks
  apps/explorer/src/app/components/footer/footer.tsx
Labels: explorer-preview

#4491 feat(markets): succession line
  libs/markets/src/lib/SuccessorMarket.graphql
  libs/markets/src/lib/__generated__/SuccessorMarket.ts
  libs/markets/src/lib/components/market-info/market-info-accordion.tsx
  libs/markets/src/lib/components/market-info/market-info-panels.spec.tsx
  libs/markets/src/lib/components/market-info/market-info-panels.tsx
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#4502 fix(trading): order iceberg fills
  libs/orders/src/lib/components/order-list/order-list.spec.tsx
  libs/orders/src/lib/components/order-list/order-list.tsx
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#4501 feat(governance): view as button
  apps/governance/src/components/vega-wallet-dialogs/vega-wallet-dialogs.tsx
  apps/governance/src/components/vega-wallet/download-wallet-prompt.tsx
  apps/governance/src/components/vega-wallet/vega-wallet-prompt.tsx
  apps/governance/src/components/vega-wallet/vega-wallet.tsx
  apps/governance/src/i18n/translations/dev.json
  libs/ui-toolkit/src/components/button/button.tsx
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#4503 test(trading): update cypress tests
  apps/trading-e2e/cypress.config.js
  apps/trading-e2e/src/integration/deposit.cy.ts
  apps/trading-e2e/src/integration/trading-positions.cy.ts
  apps/trading-e2e/src/integration/withdraw-key-to-key-validation-fees.cy.ts
Labels: trading-preview

#4505 chore(specs): succession line specs
  commitlint.config-ci.js
  specs/6002-MDET-market-details.md
Labels: explorer-preview, governance-preview, trading-preview

#4504 fix(trading): positions tooltips update
  libs/positions/src/lib/positions-table.spec.tsx
  libs/positions/src/lib/positions-table.tsx
Labels: explorer-preview, governance-preview, trading-preview

#4494 feat(trading): merge deal ticket stores
  apps/trading-e2e/src/integration/trading-deal-ticket-order.cy.ts
  apps/trading-e2e/src/integration/trading-deal-ticket-submit-suspended.cy.ts
  apps/trading/components/orderbook-container/orderbook-container.tsx
  libs/deal-ticket/src/components/deal-ticket/deal-ticket-amount.tsx
  libs/deal-ticket/src/components/deal-ticket/deal-ticket-container.tsx
  libs/deal-ticket/src/components/deal-ticket/deal-ticket-limit-amount.tsx
  libs/deal-ticket/src/components/deal-ticket/deal-ticket-market-amount.tsx
  libs/deal-ticket/src/components/deal-ticket/deal-ticket-size-iceberg.tsx
  libs/deal-ticket/src/components/deal-ticket/deal-ticket-stop-order.spec.tsx
  libs/deal-ticket/src/components/deal-ticket/deal-ticket-stop-order.tsx
  libs/deal-ticket/src/components/deal-ticket/deal-ticket.spec.tsx
  libs/deal-ticket/src/components/deal-ticket/deal-ticket.tsx
  libs/deal-ticket/src/components/deal-ticket/time-in-force-selector.tsx
  libs/deal-ticket/src/components/deal-ticket/type-selector.tsx
  libs/deal-ticket/src/hooks/index.ts
  libs/deal-ticket/src/hooks/use-form-values.ts
  libs/deal-ticket/src/hooks/use-order-form.spec.ts
  libs/deal-ticket/src/hooks/use-order-form.ts
  libs/deal-ticket/src/hooks/use-stop-order-form-values.ts
  libs/deal-ticket/src/hooks/use-type-store.ts
  libs/deal-ticket/src/utils/map-form-values-to-submission.ts
  libs/deal-ticket/src/utils/map-form-values-to-submisstion.spec.ts
  libs/orders/src/lib/order-hooks/index.ts
  libs/orders/src/lib/order-hooks/use-order-store.spec.ts
  libs/orders/src/lib/order-hooks/use-order-store.ts
  libs/trades/src/lib/trades-container.tsx
  libs/wallet/src/utils.spec.ts
  libs/wallet/src/utils.ts
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#4508 fix(trading): fix persitance of resizable grid top section
  apps/trading/client-pages/market/trade-grid.tsx
  package.json
  yarn.lock
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#4478 feat(trading): use instrument code instead of name in positions, fills and accounts breakdown tables
  apps/trading-e2e/src/integration/trading-fills.cy.ts
  apps/trading-e2e/src/integration/trading-positions.cy.ts
  libs/accounts/src/lib/breakdown-table.spec.tsx
  libs/accounts/src/lib/breakdown-table.tsx
  libs/fills/src/lib/fills-table.spec.tsx
  libs/fills/src/lib/fills-table.tsx
  libs/positions/src/lib/positions-data-providers.spec.ts
  libs/positions/src/lib/positions-data-providers.ts
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#4476 feat(trading): use custom toast content for stop order related transactions
  libs/orders/src/lib/components/order-data-provider/Orders.graphql
  libs/orders/src/lib/components/order-data-provider/__generated__/Orders.ts
  libs/orders/src/lib/components/stop-orders-table/stop-orders-table.tsx
  libs/utils/src/lib/format/index.ts
  libs/utils/src/lib/format/trigger.ts
  libs/web3/src/lib/use-vega-transaction-toasts.spec.tsx
  libs/web3/src/lib/use-vega-transaction-toasts.tsx
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#4449 feat(governance,markets,ui-toolkit): highlight successor market changes
  apps/governance-e2e/src/integration/flow/proposal-forms.cy.ts
  apps/governance/src/routes/proposals/components/proposal-market-data/proposal-market-data.tsx
  apps/governance/src/routes/proposals/components/proposal/proposal.tsx
  apps/governance/src/routes/proposals/proposal/proposal-container.tsx
  libs/assets/src/lib/asset-data-provider.ts
  libs/markets/src/lib/components/market-info/info-key-value-table.tsx
  libs/markets/src/lib/components/market-info/market-info-panels.tsx
  libs/markets/src/lib/components/oracle-basic-profile/oracle-basic-profile.tsx
  libs/markets/src/lib/components/oracle-dialog/oracle-dialog.tsx
  libs/markets/src/lib/components/oracle-full-profile/oracle-full-profile.tsx
  libs/ui-toolkit/src/utils/intent.ts
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#4513 chore(trading): update console-test runners
  .github/workflows/console-test-run.yml
Labels: explorer-preview, governance-preview, trading-preview

#4520 chore(trading): fulfill spec to 4323
  specs/0007-FUGS-first-use-get-started.md
Labels: explorer-preview, governance-preview, trading-preview

#4522 feat(explorer): successor markets
  apps/explorer/src/app/components/markets/market-details.tsx
  apps/explorer/src/app/components/txs/details/tx-proposal.tsx
  apps/explorer/src/app/components/txs/tx-order-type.tsx
Labels: explorer-preview

#4492 feat(wallet): 4370 new connect wallet modal
  apps/governance-e2e/src/integration/flow/staking-flow.cy.ts
  apps/governance-e2e/src/integration/flow/withdrawal-flow.cy.ts
  apps/governance-e2e/src/integration/view/validators.cy.ts
  apps/governance-e2e/src/integration/view/wallet-vega.cy.ts
  apps/governance/.env
  apps/governance/src/components/vega-wallet/vega-wallet-prompt.tsx
  apps/governance/src/lib/vega-connectors.ts
  apps/trading-e2e/src/integration/home.cy.ts
  apps/trading-e2e/src/integration/wallet-vega.cy.ts
  apps/trading/.env
  apps/trading/client-pages/markets/closed.spec.tsx
  apps/trading/lib/vega-connectors.ts
  libs/cypress/src/lib/commands/add-connect-public-key.ts
  libs/cypress/src/lib/commands/vega-wallet-connect.ts
  libs/cypress/src/lib/mock-rest.ts
  libs/environment/src/hooks/use-environment.ts
  libs/environment/src/hooks/use-links.ts
  libs/environment/src/utils/validate-environment.ts
  libs/ui-toolkit/src/components/icon/vega-icons/svg-icons/icon-arrow-left.tsx
  libs/ui-toolkit/src/components/icon/vega-icons/svg-icons/icon-arrow-top-right.tsx
  libs/ui-toolkit/src/components/icon/vega-icons/vega-icon-record.ts
  libs/ui-toolkit/src/components/index.ts
  libs/ui-toolkit/src/components/pill/index.ts
  libs/ui-toolkit/src/components/pill/pill.stories.tsx
  libs/ui-toolkit/src/components/pill/pill.tsx
  libs/ui-toolkit/src/components/trading-button/trading-button.tsx
  libs/wallet/src/connect-dialog/connect-dialog-elements.tsx
  libs/wallet/src/connect-dialog/connect-dialog.spec.tsx
  libs/wallet/src/connect-dialog/connect-dialog.tsx
  libs/wallet/src/connect-dialog/rest-connector-form.tsx
  libs/wallet/src/connect-dialog/view-connector-form.tsx
  libs/wallet/src/connectors/index.ts
  libs/wallet/src/connectors/json-rpc-connector.ts
  libs/wallet/src/connectors/rest-connector.ts
  libs/wallet/src/index.ts
  libs/wallet/src/is-browser-wallet-installed.ts
  libs/wallet/src/provider.spec.tsx
  libs/wallet/src/storage.ts
  libs/wallet/src/use-is-wallet-service-running.tsx
  libs/wallet/src/utils.ts
  specs/0002-WCON-connect_vega_wallet.md
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#4516 chore(trading): 4384 all markets in switcher
  apps/trading/components/market-selector/market-selector.spec.tsx
  apps/trading/components/market-selector/market-selector.tsx
  apps/trading/components/market-selector/product-selector.tsx
  apps/trading/components/market-selector/use-market-selector-list.spec.tsx
  apps/trading/components/market-selector/use-market-selector-list.ts
  specs/6001-MARK-find_markets.md
Labels: trading-preview

#4519 chore(governance): add e2e for successor market diff
  apps/governance-e2e/.env
  apps/governance-e2e/src/integration/flow/proposal-details.cy.ts
  apps/governance-e2e/src/integration/flow/proposal-forms.cy.ts
  apps/governance-e2e/src/support/governance.functions.ts
  apps/governance-e2e/src/support/proposal.functions.ts
  libs/wallet/src/connectors/vega-connector.ts
  specs/3003-PMAN-propose_new_market.md
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#4526 fix(trading): order single view side
  libs/orders/src/lib/components/order-list/order-view-dialog.tsx
  specs/7003-MORD-manage_orders.md
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#4538 fix(trading): remove redundant connect wallet button
  libs/accounts/src/lib/transfer-container.tsx
Labels: explorer-preview, governance-preview, trading-preview

#4534 fix(governance): fixes settlement oracle display in governance
  apps/governance/.env
  apps/governance/src/routes/proposals/components/proposal-market-data/proposal-market-data.tsx
  apps/governance/src/routes/proposals/components/proposal/proposal.tsx
  apps/governance/src/routes/proposals/proposal/proposal-container.tsx
Labels: governance-preview

#4540 chore(trading): remove iceberg side order details
  libs/orders/src/lib/components/order-list/order-view-dialog.tsx
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#4535 fix(trading): prevent overflow in deal ticket if market fails to load
  libs/deal-ticket/src/components/deal-ticket/deal-ticket-container.tsx
Labels: explorer-preview, governance-preview, trading-preview

#4528 chore(trading,governance): update feature-epic.md
  .github/ISSUE_TEMPLATE/feature-epic.md
Labels: explorer-preview, governance-preview, trading-preview

#4545 chore(trading): remove markets test
  apps/trading-e2e/src/integration/markets.cy.ts
Labels: trading-preview

#4548 chore(trading): remove asset tests
  apps/trading-e2e/src/integration/assets.cy.ts
Labels: trading-preview

#4544 test(explorer): successor market explorer
  apps/explorer-e2e/src/integration/market.cy.js
  apps/explorer-e2e/src/integration/proposal.cy.js
  apps/explorer-e2e/src/support/common.functions.js
  apps/explorer-e2e/src/support/governance.functions.js
  apps/governance-e2e/src/integration/flow/proposal-details.cy.ts
  apps/governance-e2e/src/integration/flow/proposal-enacted.cy.ts
  apps/governance-e2e/src/integration/flow/proposal-flow.cy.ts
  apps/governance-e2e/src/integration/flow/proposal-forms.cy.ts
  apps/governance-e2e/src/integration/flow/proposal-list.cy.ts
  apps/governance-e2e/src/integration/flow/rewards-flow.cy.ts
  apps/governance-e2e/src/integration/flow/staking-flow.cy.ts
  apps/governance-e2e/src/integration/flow/token-association-flow.cy.ts
  apps/governance-e2e/src/integration/flow/withdrawal-flow.cy.ts
  libs/cypress/src/index.ts
  libs/cypress/src/lib/commands/mock-chain-id.ts
Labels: explorer-preview, governance-preview, trading-preview

#4551 chore(trading): remove home tests
  apps/trading-e2e/src/integration/home.cy.ts
Labels: trading-preview

#4524 feat(trading,datagrid): datagrid improvements
  .github/workflows/ci-cd-trigger.yml
  apps/explorer-e2e/cypress.config.js
  apps/governance-e2e/cypress.config.js
  apps/governance-e2e/src/integration/flow/withdrawal-flow.cy.ts
  apps/governance-e2e/src/integration/view/proposal.cy.ts
  apps/trading-e2e/cypress.config.js
  apps/trading-e2e/src/integration/trading-positions.cy.ts
  apps/trading-e2e/src/integration/trading-trades.cy.ts
  apps/trading/client-pages/market/trade-views.tsx
  apps/trading/client-pages/markets/closed.tsx
  apps/trading/components/positions-container/positions-container.tsx
  apps/trading/components/trades-container/index.ts
  apps/trading/components/trades-container/trades-container.tsx
  apps/trading/pages/styles.css
  libs/accounts/src/lib/accounts-table.tsx
  libs/accounts/src/lib/breakdown-table.tsx
  libs/datagrid/src/lib/ag-grid/ag-grid-lazy-themed.tsx
  libs/datagrid/src/lib/cells/market-name-cell.tsx
  libs/datagrid/src/lib/column-definitions.ts
  libs/datagrid/src/lib/use-datagrid-events.spec.tsx
  libs/datagrid/src/lib/use-datagrid-events.ts
  libs/deposits/src/lib/deposits-table.tsx
  libs/fills/src/lib/fills-table.tsx
  libs/ledger/src/lib/ledger-table.tsx
  libs/liquidity/src/lib/liquidity-table.tsx
  libs/markets/src/lib/components/markets-container/market-list-table.tsx
  libs/markets/src/lib/components/markets-container/use-column-defs.tsx
  libs/orders/src/lib/components/order-list-manager/order-list-manager.tsx
  libs/orders/src/lib/components/order-list/order-list.tsx
  libs/orders/src/lib/components/stop-orders-table/stop-orders-table.tsx
  libs/positions/src/lib/positions-manager.tsx
  libs/positions/src/lib/positions-table.spec.tsx
  libs/positions/src/lib/positions-table.tsx
  libs/proposals/src/components/proposals-list/proposals-list.tsx
  libs/proposals/src/components/proposals-list/use-column-defs.tsx
  libs/trades/src/index.ts
  libs/trades/src/lib/trades-manager.tsx
  libs/trades/src/lib/trades-table.spec.tsx
  libs/trades/src/lib/trades-table.tsx
  libs/ui-toolkit/src/components/trading-dropdown/actions-dropdown.tsx
  libs/withdraws/src/lib/withdrawals-table.tsx
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#4557 test(trading): remove charts depth test
  apps/trading-e2e/src/integration/charts-depth.cy.ts
  apps/trading-e2e/src/integration/markets-proposed.cy.ts
Labels: Trading, Testing 🧪, trading-preview

#4543 feat(trading): distinguish between product types
  apps/trading-e2e/src/integration/closed-markets.cy.ts
  apps/trading-e2e/src/integration/market-all.cy.ts
  apps/trading-e2e/src/integration/market-selector.cy.ts
  apps/trading-e2e/src/integration/markets-proposed.cy.ts
  apps/trading-e2e/src/integration/trading-orders.cy.ts
  apps/trading-e2e/src/integration/trading-positions.cy.ts
  apps/trading/client-pages/markets/closed.spec.tsx
  apps/trading/client-pages/markets/closed.tsx
  apps/trading/client-pages/markets/successor-market-cell.spec.tsx
  apps/trading/client-pages/markets/successor-market-cell.tsx
  apps/trading/components/market-selector/market-selector-item.spec.tsx
  apps/trading/components/market-selector/market-selector-item.tsx
  apps/trading/components/market-selector/market-selector.tsx
  libs/accounts/src/lib/breakdown-table.spec.tsx
  libs/accounts/src/lib/breakdown-table.tsx
  libs/cypress/src/lib/utils.ts
  libs/datagrid/src/lib/cells/centered-grid-cell.tsx
  libs/datagrid/src/lib/cells/market-name-cell.tsx
  libs/ledger/src/lib/ledger-entries-data-provider.ts
  libs/ledger/src/lib/ledger-table.tsx
  libs/positions/src/lib/positions-data-providers.ts
  libs/positions/src/lib/positions-table.spec.tsx
  libs/proposals/src/components/proposals-list/proposals-list.tsx
  libs/proposals/src/components/proposals-list/use-column-defs.tsx
  libs/proposals/src/utils/get-market-product-type.spec.ts
  libs/proposals/src/utils/get-market-product-type.ts
  libs/ui-toolkit/src/components/pill/pill.tsx
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#4554 test(governance): add timeout and fix withdrawal test
  .github/workflows/cypress-run.yml
  apps/governance-e2e/src/integration/flow/withdrawal-flow.cy.ts
  apps/governance-e2e/src/support/staking.functions.ts
Labels: governance-preview

#4561 fix(governance): proposal vote status header component
  apps/governance/src/routes/proposals/components/proposal-detail-header/proposal-header.spec.tsx
  apps/governance/src/routes/proposals/components/proposal-detail-header/proposal-header.tsx
  apps/governance/src/routes/proposals/components/proposal/proposal.spec.tsx
  apps/governance/src/routes/proposals/components/proposal/proposal.tsx
  apps/governance/src/routes/proposals/components/proposals-list-item/proposals-list-item.tsx
  apps/governance/src/routes/proposals/components/vote-details/vote-buttons.tsx
  apps/governance/src/routes/proposals/components/vote-details/vote-details.tsx
Labels: governance-preview

#4549 chore(trading): metadata console updates
  apps/explorer/src/index.html
  apps/governance/src/index.html
  apps/trading/pages/_document.page.tsx
  apps/trading/pages/index.page.tsx
Labels: explorer-preview, governance-preview, trading-preview

#4547 fix(governance): validators display fixes
  apps/governance/src/i18n/translations/dev.json
  apps/governance/src/routes/staking/home/validator-tables/consensus-validators-table.tsx
  apps/governance/src/routes/staking/home/validator-tables/standby-pending-validators-table.tsx
  apps/governance/src/routes/staking/home/validator-tables/validator-tables.tsx
  apps/governance/src/routes/staking/shared.ts
  libs/network-parameters/src/use-network-params.ts
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#4521 feat(explorer): view 'Cancel Stop Order' Transactions
  apps/explorer/src/app/components/txs/details/tx-details-wrapper.tsx
  apps/explorer/src/app/components/txs/details/tx-stop-order-cancel.tsx
  apps/explorer/src/app/components/txs/tx-filter.tsx
Labels: explorer-preview

#4558 feat(positions): table layout changes
  apps/trading-e2e/src/integration/trading-positions.cy.ts
  apps/trading/components/market-selector/market-selector-item.tsx
  libs/datagrid/src/lib/cells/market-name-cell.tsx
  libs/positions/src/lib/liquidation-price.tsx
  libs/positions/src/lib/positions-data-providers.spec.ts
  libs/positions/src/lib/positions-data-providers.ts
  libs/positions/src/lib/positions-manager.tsx
  libs/positions/src/lib/positions-table.spec.tsx
  libs/positions/src/lib/positions-table.tsx
  libs/positions/src/lib/stacked-cell.tsx
  libs/proposals/src/components/proposals-list/use-column-defs.tsx
  libs/proposals/src/utils/get-market-product-type.spec.ts
  libs/proposals/src/utils/get-market-product-type.ts
  libs/types/src/global-types-mappings.ts
  libs/types/src/index.ts
  libs/types/src/product.ts
  libs/ui-toolkit/src/components/tooltip/tooltip.tsx
  libs/utils/src/lib/format/number.spec.ts
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#4568 chore(positions): spec updates for positions table changes
  specs/7004-POSI-positions.md
Labels: explorer-preview, governance-preview, trading-preview

#4572 chore(trading): remove market selector test
  apps/trading-e2e/src/integration/market-selector.cy.ts
Labels: trading-preview

#4564 chore(markets): distinguish between product types - add specs
  specs/6001-MARK-find_markets.md
  specs/7001-COLL-collateral.md
  specs/7003-MORD-manage_orders.md
  specs/9001-DATA-data_display.md
Labels: explorer-preview, governance-preview, trading-preview

#4571 chore(governance): add assertion for vote change
  apps/governance-e2e/src/integration/flow/proposal-details.cy.ts
  apps/governance-e2e/src/support/staking.functions.ts
Labels: governance-preview

#4578 test(trading): split and skip deal ticket account tests
  apps/trading-e2e/src/integration/trading-deal-ticket-basic-submit.cy.ts
  apps/trading-e2e/src/integration/trading-deal-ticket-submit-account-validation.cy.ts
  apps/trading-e2e/src/integration/trading-deal-ticket-submit-account.cy.ts
Labels: trading-preview

#4579 fix(governance): better vote error handling
  apps/governance/src/routes/proposals/components/proposal/proposal.tsx
  apps/governance/src/routes/proposals/components/vote-details/vega-transaction-dialog.spec.tsx
  apps/governance/src/routes/proposals/components/vote-details/vote-buttons.spec.tsx
  apps/governance/src/routes/proposals/components/vote-details/vote-buttons.tsx
  apps/governance/src/routes/proposals/components/vote-details/vote-details.tsx
  apps/governance/src/routes/proposals/components/vote-details/vote-transaction-dialog.tsx
Labels: governance-preview

#4580 chore(trading): remove settings test
  apps/trading-e2e/src/integration/settings.cy.ts
Labels: trading-preview

#4582 chore(trading): remove trading chart tests
  apps/trading-e2e/src/integration/trading-chart.cy.ts
Labels: trading-preview

#4569 feat(positions): filter closed markets in positions table
  apps/trading/client-pages/market/trade-grid.tsx
  apps/trading/client-pages/market/trade-views.tsx
  apps/trading/components/positions-container/positions-container.tsx
  apps/trading/components/positions-menu/index.ts
  apps/trading/components/positions-menu/positions-menu.tsx
  libs/positions/src/lib/positions-data-providers.spec.ts
  libs/positions/src/lib/positions-data-providers.ts
  libs/positions/src/lib/positions-manager.tsx
  libs/positions/src/lib/positions-table.spec.tsx
  libs/positions/src/lib/positions-table.tsx
  specs/7004-POSI-positions.md
Labels: explorer-preview, governance-preview, trading-preview

#4577 chore(governance): add acs for network nodes
  apps/governance-e2e/src/integration/view/home.cy.ts
  specs/1005-VEST-vesting.md
Labels: governance-preview

#4591 chore(trading): revert metadata update - viewport meta tags should not be used in _document.js's
  apps/trading/pages/_document.page.tsx
  apps/trading/pages/index.page.tsx
Labels: trading-preview

#4525 feat(ui-toolkit): form element design changes
  apps/trading/components/market-selector/market-selector.tsx
  apps/trading/components/welcome-dialog/telemetry-approval.tsx
  libs/accounts/src/lib/transfer-form.tsx
  libs/assets/src/lib/asset-option.tsx
  libs/datagrid/src/lib/filters/date-range-filter.tsx
  libs/deal-ticket/src/components/deal-ticket/deal-ticket-limit-amount.tsx
  libs/deal-ticket/src/components/deal-ticket/deal-ticket-market-amount.tsx
  libs/deal-ticket/src/components/deal-ticket/deal-ticket-size-iceberg.tsx
  libs/deal-ticket/src/components/deal-ticket/deal-ticket-stop-order.tsx
  libs/deal-ticket/src/components/deal-ticket/deal-ticket.tsx
  libs/deal-ticket/src/components/deal-ticket/expiry-selector.tsx
  libs/deal-ticket/src/components/deal-ticket/time-in-force-selector.tsx
  libs/deal-ticket/src/components/deal-ticket/type-selector.tsx
  libs/deposits/src/lib/deposit-form.tsx
  libs/environment/src/components/node-switcher/node-switcher.tsx
  libs/environment/src/components/node-switcher/row-data.tsx
  libs/orders/src/lib/components/order-list/order-edit-dialog.tsx
  libs/tailwindcss-config/src/theme.js
  libs/ui-toolkit/src/components/index.ts
  libs/ui-toolkit/src/components/trading-checkbox/checkbox.spec.tsx
  libs/ui-toolkit/src/components/trading-checkbox/checkbox.stories.tsx
  libs/ui-toolkit/src/components/trading-checkbox/checkbox.tsx
  libs/ui-toolkit/src/components/trading-checkbox/index.ts
  libs/ui-toolkit/src/components/trading-form-group/form-group.spec.tsx
  libs/ui-toolkit/src/components/trading-form-group/form-group.tsx
  libs/ui-toolkit/src/components/trading-form-group/from-group.stories.tsx
  libs/ui-toolkit/src/components/trading-form-group/index.tsx
  libs/ui-toolkit/src/components/trading-input-error/index.ts
  libs/ui-toolkit/src/components/trading-input-error/input-error.spec.tsx
  libs/ui-toolkit/src/components/trading-input-error/input-error.stories.tsx
  libs/ui-toolkit/src/components/trading-input-error/input-error.tsx
  libs/ui-toolkit/src/components/trading-input/index.ts
  libs/ui-toolkit/src/components/trading-input/input.spec.tsx
  libs/ui-toolkit/src/components/trading-input/input.stories.tsx
  libs/ui-toolkit/src/components/trading-input/input.tsx
  libs/ui-toolkit/src/components/trading-radio-group/index.ts
  libs/ui-toolkit/src/components/trading-radio-group/radio-group.stories.tsx
  libs/ui-toolkit/src/components/trading-radio-group/radio-group.tsx
  libs/ui-toolkit/src/components/trading-select/index.ts
  libs/ui-toolkit/src/components/trading-select/select.spec.tsx
  libs/ui-toolkit/src/components/trading-select/select.stories.tsx
  libs/ui-toolkit/src/components/trading-select/select.tsx
  libs/ui-toolkit/src/utils/shared.ts
  libs/wallet/src/connect-dialog/connect-dialog.tsx
  libs/wallet/src/connect-dialog/view-connector-form.tsx
  libs/withdraws/src/lib/withdraw-form.tsx
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#4573 fix(proposals): error policy guard for proposal data provider
  libs/proposals/src/lib/proposals-data-provider/proposals-data-provider.tsx
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#4602 chore(ui-toolkit,react-helpers,announcements): bump versions add react react-dom to peer deps
  libs/announcements/package.json
  libs/react-helpers/package.json
  libs/types/package.json
  libs/ui-toolkit/package.json
  libs/utils/package.json
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#4583 fix(trading): fix hidden sidebars on load
  apps/trading-e2e/src/integration/trading-deal-ticket-basics.cy.ts
  apps/trading/components/sidebar/sidebar.tsx
Labels: trading-preview

#4589 test(trading): tests for distinguish between product types
  apps/trading-e2e/src/integration/closed-markets.cy.ts
  apps/trading-e2e/src/integration/market-all.cy.ts
  apps/trading-e2e/src/integration/markets-proposed.cy.ts
  apps/trading-e2e/src/integration/trading-orders.cy.ts
Labels: Trading, Testing 🧪, trading-preview

#4575 test(trading): update cypress to version 12.17.0
  package.json
  yarn.lock
Labels: Trading, Testing 🧪, explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#4586 feat(trading): view stop order history
  libs/orders/src/lib/components/order-data-provider/Orders.graphql
  libs/orders/src/lib/components/order-data-provider/__generated__/Orders.ts
  libs/orders/src/lib/components/order-list/order-list.tsx
  libs/orders/src/lib/components/stop-orders-manager/stop-orders-manager.tsx
  libs/orders/src/lib/components/stop-orders-table/stop-orders-table.spec.tsx
  libs/orders/src/lib/components/stop-orders-table/stop-orders-table.tsx
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#4609 chore(trading): add dist loadfile to console-test run
  .github/workflows/console-test-run.yml
Labels: explorer-preview

#4565 feat(trading): 4351 get started steps enhancement
  apps/governance/.env
  apps/governance/.env.capsule
  apps/governance/.env.devnet
  apps/governance/.env.mainnet
  apps/governance/.env.mainnet-mirror
  apps/governance/.env.stagnet1
  apps/governance/.env.testnet
  apps/governance/.env.validators-testnet
  apps/trading-e2e/.env
  apps/trading-e2e/src/integration/trading-deal-ticket-basics.cy.ts
  apps/trading/.env
  apps/trading/.env.capsule
  apps/trading/.env.devnet
  apps/trading/.env.mainnet
  apps/trading/.env.mainnet-mirror
  apps/trading/.env.stagnet1
  apps/trading/.env.testnet
  apps/trading/.env.validators-testnet
  apps/trading/components/constants.ts
  apps/trading/components/welcome-dialog/get-started.spec.tsx
  apps/trading/components/welcome-dialog/get-started.tsx
  apps/trading/components/welcome-dialog/use-get-onboarding-step.spec.tsx
  apps/trading/components/welcome-dialog/use-get-onboarding-step.ts
  apps/trading/components/welcome-dialog/welcome-dialog-content.tsx
  apps/trading/components/welcome-dialog/welcome-dialog.tsx
  apps/trading/pages/_app.page.tsx
  apps/trading/stores/global.ts
  libs/positions/src/lib/positions-data-providers.ts
  libs/wallet/src/connect-dialog/connect-dialog.tsx
  libs/wallet/src/use-is-wallet-service-running.tsx
  nx.json
  specs/0007-FUGS-first-use-get-started.md
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#4574 feat(trading): sort by top traded in market selector
  apps/trading/components/market-banner/market-successor-proposal-banner.tsx
  apps/trading/components/market-header/market-header.tsx
  apps/trading/components/market-selector/market-selector.spec.tsx
  apps/trading/components/market-selector/market-selector.tsx
  apps/trading/components/market-selector/sort-dropdown.tsx
  apps/trading/components/market-selector/use-market-selector-list.ts
  apps/trading/components/navbar/nav-header.tsx
  libs/markets/src/lib/market-utils.spec.tsx
  libs/markets/src/lib/market-utils.ts
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#4616 test(explorer): add e2e test for asset proposal on explorer
  apps/explorer-e2e/src/fixtures/mocks/new-asset-proposal.json
  apps/explorer-e2e/src/integration/proposal.cy.js
  apps/explorer-e2e/src/support/governance.functions.js
  libs/cypress/src/lib/capsule/propose-market.ts
Labels: explorer-preview, governance-preview, trading-preview

#4610 fix(explorer): properly render issue signatures tx
  apps/explorer/src/app/components/txs/details/tx-issue-signatures.tsx
Labels: explorer-preview

#4539 feat(deal-ticket): submit oco stop orders
  apps/trading-e2e/src/integration/trading-deal-ticket-order.cy.ts
  apps/trading/components/stop-orders-container/stop-orders-container.tsx
  apps/trading/pages/styles.css
  libs/deal-ticket/src/components/deal-ticket/deal-ticket-amount.tsx
  libs/deal-ticket/src/components/deal-ticket/deal-ticket-limit-amount.tsx
  libs/deal-ticket/src/components/deal-ticket/deal-ticket-market-amount.tsx
  libs/deal-ticket/src/components/deal-ticket/deal-ticket-stop-order.spec.tsx
  libs/deal-ticket/src/components/deal-ticket/deal-ticket-stop-order.tsx
  libs/deal-ticket/src/components/deal-ticket/deal-ticket.spec.tsx
  libs/deal-ticket/src/components/deal-ticket/deal-ticket.tsx
  libs/deal-ticket/src/components/deal-ticket/expiry-selector.tsx
  libs/deal-ticket/src/components/deal-ticket/index.ts
  libs/deal-ticket/src/components/deal-ticket/time-in-force-selector.tsx
  libs/deal-ticket/src/components/deal-ticket/type-selector.tsx
  libs/deal-ticket/src/hooks/use-form-values.ts
  libs/deal-ticket/src/utils/map-form-values-to-submission.ts
  libs/orders/src/lib/components/stop-orders-table/stop-orders-table.tsx
  libs/web3/src/lib/use-vega-transaction-toasts.tsx
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#4562 feat(markets,governance): small UX improvements to successor market panels
  apps/governance/src/routes/proposals/components/proposal-market-data/proposal-market-data.tsx
  libs/markets/src/lib/components/market-info/info-key-value-table.tsx
  libs/markets/src/lib/components/market-info/market-info-panels.tsx
  libs/markets/src/lib/components/oracle-basic-profile/oracle-basic-profile.tsx
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#4623 chore(trading): show test run time
  .github/workflows/console-test-run.yml
Labels: explorer-preview, governance-preview, trading-preview

#4599 feat(ui-toolkit,governance): description preview and read more pattern
  apps/governance/src/routes/proposals/components/proposal-description/proposal-description.tsx
  libs/ui-toolkit/src/components/index.ts
  libs/ui-toolkit/src/components/show-more/index.ts
  libs/ui-toolkit/src/components/show-more/show-more.spec.tsx
  libs/ui-toolkit/src/components/show-more/show-more.stories.tsx
  libs/ui-toolkit/src/components/show-more/show-more.tsx
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#4622 chore(trading): adjust the get started checkboxes slightly
  apps/trading/components/welcome-dialog/get-started.tsx
  libs/ui-toolkit/src/components/icon/vega-icons/vega-icon.tsx
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#4626 fix(deal-ticket): show expiresAt field value from state only, add required validation
  libs/deal-ticket/src/components/deal-ticket/deal-ticket-stop-order.tsx
  libs/deal-ticket/src/components/deal-ticket/deal-ticket.tsx
  libs/deal-ticket/src/components/deal-ticket/expiry-selector.tsx
Labels: explorer-preview, governance-preview, trading-preview

#4628 chore(trading): remove deal ticket basic submit
  apps/trading-e2e/src/integration/trading-deal-ticket-basic-submit.cy.ts
Labels: trading-preview

#4629 fix(deal-ticket): disable iceberg for IOC and FOK
  libs/deal-ticket/src/components/deal-ticket/deal-ticket-stop-order.tsx
  libs/deal-ticket/src/components/deal-ticket/deal-ticket.tsx
  libs/deal-ticket/src/components/deal-ticket/expiry-selector.tsx
  libs/deal-ticket/src/utils/map-form-values-to-submission.ts
  libs/deal-ticket/src/utils/map-form-values-to-submisstion.spec.ts
  libs/deal-ticket/src/utils/time-in-force-persistance.spec.ts
  libs/deal-ticket/src/utils/time-in-force-persistance.ts
Labels: explorer-preview, governance-preview, trading-preview

#4633 chore(trading): remove market-all-cy.ts as it was moved to console-test
  apps/trading-e2e/src/integration/market-all.cy.ts
Labels: trading-preview

#4634 feat(trading): change to system monospace font
  apps/trading/pages/styles.css
  libs/markets/src/lib/components/last-24h-price-change/last-24h-price-change.tsx
  libs/tailwindcss-config/src/theme.js
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#4613 fix(proposals): parsing block duration value
  libs/proposals/src/lib/protocol-upgrade-proposals/use-time-to-upgrade.spec.ts
  libs/proposals/src/lib/protocol-upgrade-proposals/use-time-to-upgrade.ts
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#4636 fix(trading): update fonts for pennant
  apps/trading/pages/styles.css
Labels: trading-preview

#4632 test(governance): successor market proposal changes
  apps/governance-e2e/src/integration/flow/proposal-details.cy.ts
  apps/governance-e2e/src/support/governance.functions.ts
  libs/ui-toolkit/src/components/show-more/show-more.tsx
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#4631 fix(explorer): correctly display data source matches
  apps/explorer/src/app/routes/oracles/Oracles.graphql
  apps/explorer/src/app/routes/oracles/__generated__/Oracles.ts
  apps/explorer/src/app/routes/oracles/components/oracle-data.spec.tsx
  apps/explorer/src/app/routes/oracles/components/oracle-data.tsx
  apps/explorer/src/app/routes/oracles/components/oracle-markets.tsx
  apps/explorer/src/app/routes/oracles/components/oracle.tsx
  apps/explorer/src/app/routes/oracles/home/index.tsx
  apps/explorer/src/app/routes/oracles/id/index.tsx
Labels: explorer-preview

#4611 chore(ledger): remove ledger entries table, adjust download form
  apps/trading-e2e/src/integration/trading-portfolio.cy.ts
  apps/trading/components/ledger-container/ledger-container.tsx
  libs/assets/src/lib/Assets.graphql
  libs/assets/src/lib/__generated__/Assets.ts
  libs/assets/src/lib/party-assets.mock.ts
  libs/cypress/mock.ts
  libs/ledger/src/index.ts
  libs/ledger/src/lib/LedgerEntries.graphql
  libs/ledger/src/lib/__generated__/LedgerEntries.ts
  libs/ledger/src/lib/ledger-entries-data-provider.ts
  libs/ledger/src/lib/ledger-entries.mock.ts
  libs/ledger/src/lib/ledger-export-form.spec.tsx
  libs/ledger/src/lib/ledger-export-form.tsx
  libs/ledger/src/lib/ledger-export-link.spec.tsx
  libs/ledger/src/lib/ledger-export-link.tsx
  libs/ledger/src/lib/ledger-manager.tsx
  libs/ledger/src/lib/ledger-table.tsx
  libs/types/src/__generated__/types.ts
  libs/utils/src/lib/validate/common.ts
  specs/7007-LEEN-ledger-entries.md
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#4645 chore(trading,governance,explorer): update pr template to not close issues
  .github/PULL_REQUEST_TEMPLATE.md
Labels: explorer-preview, governance-preview, trading-preview

#4612 fix(explorer): format iceberg size according to market
  apps/explorer/src/app/components/txs/details/order/tx-order-iceberg.tsx
  apps/explorer/src/app/components/txs/details/tx-order.tsx
Labels: explorer-preview

#4638 chore(wallet): prepare wallet lib for publishing
  .github/workflows/publish-npm.yml
  apps/governance-e2e/.env
  apps/governance/.env
  apps/governance/src/app.tsx
  apps/governance/src/lib/vega-connectors.ts
  apps/governance/src/routes/proposals/components/proposal/proposal.spec.tsx
  apps/governance/src/routes/proposals/components/vote-details/vote-buttons.spec.tsx
  apps/governance/src/routes/proposals/propose/raw/proposal-raw.spec.tsx
  apps/governance/src/routes/proposals/test-helpers/mocks.ts
  apps/trading/.env
  apps/trading/components/app-loader/app-loader.tsx
  apps/trading/components/sidebar/sidebar.spec.tsx
  apps/trading/components/welcome-dialog/get-started.tsx
  apps/trading/lib/vega-connectors.ts
  libs/wallet/package.json
  libs/wallet/project.json
  libs/wallet/src/connect-dialog/chrome-icon.tsx
  libs/wallet/src/connect-dialog/connect-dialog-elements.tsx
  libs/wallet/src/connect-dialog/connect-dialog.spec.tsx
  libs/wallet/src/connect-dialog/connect-dialog.tsx
  libs/wallet/src/connect-dialog/index.ts
  libs/wallet/src/connect-dialog/json-rpc-connector-form.tsx
  libs/wallet/src/connect-dialog/mozilla-icon.tsx
  libs/wallet/src/connect-dialog/vega-wallet-dialog-store.ts
  libs/wallet/src/connectors/index.ts
  libs/wallet/src/connectors/snap-connector.ts
  libs/wallet/src/context.ts
  libs/wallet/src/index.ts
  libs/wallet/src/manage-dialog/manage-dialog.tsx
  libs/wallet/src/provider.spec.tsx
  libs/wallet/src/provider.tsx
  libs/wallet/src/types.ts
  libs/wallet/src/use-eager-connect.ts
  libs/wallet/src/use-injected-connector.spec.tsx
  libs/wallet/src/use-injected-connector.ts
  libs/wallet/src/use-is-snap-running.ts
  libs/wallet/src/use-is-wallet-service-running.tsx
  libs/wallet/src/use-vega-transaction-manager.spec.tsx
  libs/wallet/src/use-vega-transaction-manager.tsx
  libs/wallet/src/use-vega-transaction-store.spec.tsx
  libs/wallet/src/use-vega-transaction-store.tsx
  libs/wallet/src/use-vega-transaction.spec.tsx
  libs/wallet/src/use-vega-transaction.tsx
  libs/wallet/src/use-vega-wallet.ts
  libs/wallet/src/vega-transaction-dialog/vega-transaction-dialog.spec.tsx
  libs/wallet/src/vega-transaction-dialog/vega-transaction-dialog.tsx
  package.json
  yarn.lock
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#4635 feat(deal-ticket): update deal ticket submit buttons
  apps/trading-e2e/src/integration/trading-deal-ticket-order.cy.ts
  libs/deal-ticket/src/components/deal-ticket/deal-ticket-button.tsx
  libs/deal-ticket/src/components/deal-ticket/deal-ticket-fee-details.tsx
  libs/deal-ticket/src/components/deal-ticket/deal-ticket-size-iceberg.tsx
  libs/deal-ticket/src/components/deal-ticket/deal-ticket-stop-order.spec.tsx
  libs/deal-ticket/src/components/deal-ticket/deal-ticket-stop-order.tsx
  libs/deal-ticket/src/components/deal-ticket/deal-ticket.spec.tsx
  libs/deal-ticket/src/components/deal-ticket/deal-ticket.tsx
  libs/deal-ticket/src/components/deal-ticket/key-value.tsx
  libs/ui-toolkit/src/components/trading-input/input.tsx
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#4660 chore(trading): delete closed market tests
  apps/trading-e2e/src/integration/closed-markets.cy.ts
Labels: trading-preview

#4670 fix(wallet): mozilla vega wallet links
  apps/governance/.env
  apps/governance/.env.capsule
  apps/governance/.env.devnet
  apps/governance/.env.mainnet
  apps/governance/.env.mainnet-mirror
  apps/governance/.env.stagnet1
  apps/governance/.env.testnet
  apps/governance/.env.validators-testnet
  apps/trading/.env
  apps/trading/.env.capsule
  apps/trading/.env.devnet
  apps/trading/.env.mainnet
  apps/trading/.env.mainnet-mirror
  apps/trading/.env.stagnet1
  apps/trading/.env.testnet
  apps/trading/.env.validators-testnet
Labels: governance-preview, trading-preview

#4677 chore(ci): update config.hcl file
  vegacapsule/config.hcl
Labels: explorer-preview, governance-preview, trading-preview

#4667 feat(deal-ticket): fix flaky tests
  libs/deal-ticket/src/components/deal-ticket/deal-ticket-stop-order.spec.tsx
  libs/deal-ticket/src/components/deal-ticket/deal-ticket.spec.tsx
  libs/deal-ticket/src/components/deal-ticket/deal-ticket.tsx
Labels: explorer-preview, governance-preview, trading-preview

#4652 feat(trading): orderbook changes
  apps/trading-e2e/src/integration/order-book.cy.ts
  apps/trading/components/market-selector/market-selector-item.spec.tsx
  libs/market-depth/src/lib/orderbook-controls.tsx
  libs/market-depth/src/lib/orderbook-data.spec.ts
  libs/market-depth/src/lib/orderbook-data.ts
  libs/market-depth/src/lib/orderbook-manager.tsx
  libs/market-depth/src/lib/orderbook-row.tsx
  libs/market-depth/src/lib/orderbook.spec.tsx
  libs/market-depth/src/lib/orderbook.stories.tsx
  libs/market-depth/src/lib/orderbook.tsx
  libs/markets/src/lib/__generated__/market-data.ts
  libs/markets/src/lib/market-data.graphql
  libs/markets/src/lib/market-data.mock.ts
  specs/6003-ORDB-order_book.md
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview
