Repository vegaprotocol/frontend-monorepo, pull requests merged in 2023-09, with the labels that each got.

#4669 test(trading): add stop order oco spec
  specs/0002-WCON-connect_vega_wallet.md
  specs/7002-SORD-submit_orders.md
Labels: explorer-preview, governance-preview, trading-preview

#4681 chore(trading): get started specs update
  specs/0007-FUGS-first-use-get-started.md
Labels: explorer-preview, governance-preview, trading-preview

#4665 fix(proposals): protocol upgrade notification block querying
  libs/proposals/src/components/protocol-upgrade-in-progress-notification.tsx
  libs/proposals/src/lib/protocol-upgrade-proposals/use-block-rising.ts
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#4671 fix(wallet): check if snaps are supported
  libs/wallet/src/connect-dialog/connect-dialog.tsx
  libs/wallet/src/connectors/snap-connector.ts
  libs/wallet/src/use-is-snap-running.ts
  libs/wallet/src/use-snap-status.ts
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#4680 chore(trading): change pane context buttons color
  apps/trading/components/accounts-menu/accounts-menu.tsx
  apps/trading/components/deposits-menu/deposits-menu.tsx
  apps/trading/components/positions-menu/positions-menu.tsx
  apps/trading/components/withdrawals-menu/withdrawals-menu.tsx
  libs/candles-chart/src/lib/candles-menu.spec.tsx
  libs/candles-chart/src/lib/candles-menu.tsx
  libs/orders/src/lib/components/open-orders-menu/open-orders-menu.tsx
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#4637 chore(trading): make top traded default sort for market selector
  apps/trading/components/market-selector/market-selector.spec.tsx
  apps/trading/components/market-selector/market-selector.tsx
  apps/trading/components/market-selector/sort-dropdown.tsx
  apps/trading/components/market-selector/use-market-selector-list.spec.tsx
  apps/trading/components/market-selector/use-market-selector-list.ts
Labels: trading-preview

#4659 chore(trading): handle negative decimals
  libs/deal-ticket/src/components/deal-ticket/deal-ticket.spec.tsx
  libs/fills/src/lib/fills-table.spec.tsx
  libs/orders/src/lib/components/order-list/order-list.spec.tsx
  libs/positions/src/lib/positions-table.spec.tsx
  libs/utils/src/lib/format/number.spec.ts
  libs/utils/src/lib/format/number.ts
  libs/utils/src/lib/validate/validate-amount.ts
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#4655 chore(explorer,trading,governance): reconfigure hooks
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
Labels: explorer-preview, governance-preview, trading-preview

#4657 test(explorer): add e2e test for explorer oracles
  apps/explorer-e2e/src/integration/oracles.cy.js
  apps/explorer/src/app/routes/oracles/home/index.tsx
Labels: explorer-preview

#4678 fix(governance,utils,react-helpers): token locale formatting issue
  apps/governance/src/components/wallet-card/wallet-card.tsx
  libs/react-helpers/src/hooks/use-number-parts.ts
  libs/utils/src/lib/format/number.spec.ts
  libs/utils/src/lib/format/number.ts
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#4658 feat(market-depth): additional orderbook grouping levels
  apps/trading-e2e/src/integration/order-book.cy.ts
  libs/market-depth/src/lib/orderbook-controls.tsx
  libs/market-depth/src/lib/orderbook-data.ts
  libs/market-depth/src/lib/orderbook-row.tsx
  libs/market-depth/src/lib/orderbook.spec.tsx
  libs/market-depth/src/lib/orderbook.tsx
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#4694 chore(trading): update dropdowns
  apps/trading/components/market-selector/asset-dropdown.tsx
  apps/trading/components/market-selector/index.ts
  apps/trading/components/market-selector/market-selector-button.tsx
  apps/trading/components/market-selector/market-selector-item.tsx
  apps/trading/components/market-selector/market-selector.tsx
  apps/trading/components/market-selector/product-selector.tsx
  apps/trading/components/market-selector/sort-dropdown.tsx
  libs/markets/src/lib/markets-provider.ts
  libs/ui-toolkit/src/components/trading-input/input.tsx
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#4664 feat(deal-ticket): make margin values section expandable
  apps/trading-e2e/src/integration/trading-deal-ticket-order.cy.ts
  libs/deal-ticket/src/components/deal-ticket/deal-ticket-fee-details.tsx
  libs/deal-ticket/src/components/deal-ticket/key-value.tsx
  libs/ui-toolkit/src/components/tooltip/tooltip.tsx
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#4696 chore(trading): minor style tweaks
  apps/trading/client-pages/markets/markets-page.tsx
  apps/trading/client-pages/markets/proposed.tsx
  apps/trading/client-pages/portfolio/account-history-container.tsx
  apps/trading/components/vega-wallet-container/index.ts
  apps/trading/components/vega-wallet-container/vega-wallet-container.spec.tsx
  apps/trading/components/vega-wallet-container/vega-wallet-container.tsx
  apps/trading/components/welcome-dialog/telemetry-approval.tsx
  apps/trading/components/welcome-dialog/welcome-dialog.tsx
  libs/accounts/src/lib/accounts-actions-dropdown.tsx
  libs/accounts/src/lib/accounts-table.tsx
  libs/accounts/src/lib/transfer-form.tsx
  libs/assets/src/lib/asset-details-dialog.tsx
  libs/assets/src/lib/asset-details-table.tsx
  libs/candles-chart/src/lib/candles-menu.spec.tsx
  libs/candles-chart/src/lib/use-candles-chart-settings.ts
  libs/deposits/src/lib/deposit-form.spec.tsx
  libs/deposits/src/lib/deposit-form.tsx
  libs/ledger/src/lib/ledger-export-form.tsx
  libs/orders/src/lib/components/order-list/order-list.tsx
  libs/orders/src/lib/components/stop-orders-table/stop-orders-table.tsx
  libs/positions/src/lib/positions-table.spec.tsx
  libs/positions/src/lib/positions-table.tsx
  libs/proposals/src/components/proposals-list/proposals-list.tsx
  libs/ui-toolkit/src/components/icon/vega-icons/svg-icons/icon-info.tsx
  libs/ui-toolkit/src/components/toast/toast.tsx
  libs/ui-toolkit/src/components/toast/toasts-container.tsx
  libs/ui-toolkit/src/components/trading-dropdown/trading-dropdown.tsx
  libs/ui-toolkit/src/components/trading-select/select.tsx
  libs/web3/src/lib/use-vega-transaction-toasts.tsx
  libs/withdraws/src/lib/use-ready-to-complete-withdrawals-toast.tsx
  libs/withdraws/src/lib/withdraw-form.tsx
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#4698 chore(trading): minor style changes 2
  libs/orders/src/lib/components/order-list/order-edit-dialog.tsx
  libs/orders/src/lib/components/order-list/order-list.tsx
  libs/positions/src/lib/positions-table.tsx
  libs/ui-toolkit/src/components/trading-select/select.tsx
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#4654 feat(governance): vote status improvements
  apps/governance/src/i18n/translations/dev.json
  apps/governance/src/routes/home/index.tsx
  apps/governance/src/routes/proposals/components/proposal-detail-header/proposal-header.spec.tsx
  apps/governance/src/routes/proposals/components/proposal-detail-header/proposal-header.tsx
  apps/governance/src/routes/proposals/components/proposal-votes-table/index.tsx
  apps/governance/src/routes/proposals/components/proposal-votes-table/proposal-votes-table.spec.tsx
  apps/governance/src/routes/proposals/components/proposal-votes-table/proposal-votes-table.tsx
  apps/governance/src/routes/proposals/components/proposal-voting-status/index.tsx
  apps/governance/src/routes/proposals/components/proposal-voting-status/proposal-voting-status.spec.tsx
  apps/governance/src/routes/proposals/components/proposal-voting-status/proposal-voting-status.tsx
  apps/governance/src/routes/proposals/components/proposal/proposal.spec.tsx
  apps/governance/src/routes/proposals/components/proposal/proposal.tsx
  apps/governance/src/routes/proposals/components/proposals-list-item/proposals-list-item-details.spec.tsx
  apps/governance/src/routes/proposals/components/proposals-list-item/proposals-list-item-details.tsx
  apps/governance/src/routes/proposals/components/proposals-list-item/proposals-list-item.tsx
  apps/governance/src/routes/proposals/components/proposals-list/proposals-list.tsx
  apps/governance/src/routes/proposals/components/proposals-list/rejected-proposals-list.tsx
  apps/governance/src/routes/proposals/components/vote-breakdown/index.ts
  apps/governance/src/routes/proposals/components/vote-breakdown/vote-breakdown.spec.tsx
  apps/governance/src/routes/proposals/components/vote-breakdown/vote-breakdown.tsx
  apps/governance/src/routes/proposals/components/vote-details/index.tsx
  apps/governance/src/routes/proposals/components/vote-details/user-vote.tsx
  apps/governance/src/routes/proposals/components/vote-details/vote-buttons.tsx
  apps/governance/src/routes/proposals/components/vote-details/vote-details.tsx
  libs/ui-toolkit/src/components/icon/blueprint-icons/icon.tsx
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#4691 feat(explorer): add headings and anchors to net params page
  apps/explorer/src/app/routes/network-parameters/index.tsx
  apps/explorer/src/app/routes/network-parameters/network-parameters.spec.tsx
  apps/explorer/src/app/routes/network-parameters/network-parameters.tsx
  apps/explorer/src/app/routes/network-parameters/structure-network-params.spec.tsx
  apps/explorer/src/app/routes/network-parameters/structure-network-params.tsx
Labels: explorer-preview

#4704 fix(governance,environment,proposals): network upgrade proposal urls include block height
  apps/governance-e2e/src/integration/view/proposal.cy.ts
  apps/governance/src/routes/proposals/components/protocol-upgrade-proposals-list-item/protocol-upgrade-proposals-list-item.tsx
  apps/governance/src/routes/router-config.tsx
  libs/environment/src/hooks/use-links.ts
  libs/proposals/src/components/protocol-upgrade-countdown.tsx
  libs/proposals/src/components/protocol-upgrade-in-progress-notification.tsx
  libs/proposals/src/components/protocol-upgrade-proposal-notification.tsx
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#4688 chore(trading): 4594 ci optimisations
  .github/workflows/ci-cd-trigger.yml
  .github/workflows/cypress-run.yml
  .nvmrc
Labels: explorer-preview, governance-preview, trading-preview

#4707 chore(trading): remove duplicate stylesheet and icon references
  apps/trading/pages/_document.page.tsx
  apps/trading/pages/index.page.tsx
Labels: trading-preview

#4721 fix(trading,governance,explorer): peer deps for published packages
  apps/governance/src/routes/rewards/epoch-total-rewards/epoch-total-rewards.tsx
  libs/announcements/package.json
  libs/announcements/project.json
  libs/i18n/package.json
  libs/i18n/project.json
  libs/react-helpers/package.json
  libs/react-helpers/project.json
  libs/tailwindcss-config/package.json
  libs/tailwindcss-config/project.json
  libs/types/package.json
  libs/types/project.json
  libs/ui-toolkit/package.json
  libs/ui-toolkit/project.json
  libs/utils/package.json
  libs/utils/project.json
  libs/wallet/package.json
  libs/wallet/project.json
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#4687 feat(deal-ticket): show maximum number of active stop orders limit warning
  apps/trading/client-pages/markets/markets-page.tsx
  libs/deal-ticket/src/components/deal-ticket/deal-ticket-stop-order.spec.tsx
  libs/deal-ticket/src/components/deal-ticket/deal-ticket-stop-order.tsx
  libs/orders/src/lib/components/order-data-provider/Orders.graphql
  libs/orders/src/lib/components/order-data-provider/__generated__/Orders.ts
  libs/orders/src/lib/components/order-data-provider/index.ts
  libs/orders/src/lib/components/stop-orders-manager/stop-orders-manager.tsx
  libs/ui-toolkit/src/components/trading-button/trading-button.tsx
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#4711 chore(trading): add console-test runner
  .github/workflows/console-test-run.yml
Labels: explorer-preview, governance-preview, trading-preview

#4706 chore(governance): update tests with vote changes
  apps/governance-e2e/src/integration/flow/proposal-details.cy.ts
  apps/governance-e2e/src/integration/flow/proposal-enacted.cy.ts
  apps/governance-e2e/src/integration/flow/proposal-flow.cy.ts
  apps/governance-e2e/src/integration/flow/proposal-forms.cy.ts
  apps/governance-e2e/src/integration/flow/proposal-list.cy.ts
  apps/governance-e2e/src/support/governance.functions.ts
  apps/governance-e2e/src/support/staking.functions.ts
  apps/governance/src/routes/proposals/components/vote-breakdown/vote-breakdown.tsx
  specs/3001-VOTE-vote.md
Labels: governance-preview

#4710 test(explorer): test for network param grouping
  apps/explorer-e2e/src/integration/network.cy.js
  specs/0006-NETW-network-and-nodes.md
Labels: explorer-preview

#4729 fix(governance): corrected sorting of upgrade proposals by blockheight
  apps/governance/src/routes/proposals/components/proposals-list/proposals-list.tsx
Labels: governance-preview

#4724 feat(governance): improve the display of Governance app on mobile
  apps/governance/src/app.tsx
  apps/governance/src/routes/home/index.tsx
  apps/governance/src/routes/proposals/components/proposal-detail-header/proposal-header.tsx
  apps/governance/src/routes/proposals/components/proposals-list/proposals-list.tsx
  apps/governance/src/routes/proposals/components/vote-breakdown/vote-breakdown.tsx
  apps/governance/src/routes/rewards/home/rewards-page.tsx
  apps/governance/src/routes/token/index.tsx
  apps/governance/src/styles.css
Labels: governance-preview

#4736 chore(trading): maintenance on ipfs build process
  Makefile
  README.md
  docker/docker-build.sh
  docker/node-inside-docker.Dockerfile
  tools/ipfs-deploy.js
Labels: explorer-preview, governance-preview, trading-preview

#4734 chore(candles-chart): show more candles by default
  libs/candles-chart/src/lib/candles-chart.tsx
Labels: explorer-preview, governance-preview, trading-preview

#4735 chore(trading,governance,explorer): add frontend-qa to codeowners
  CODEOWNERS
Labels: explorer-preview, governance-preview, trading-preview

#4737 chore(trading): initial number of candles depended on pane width
  apps/trading/pages/styles.css
  libs/candles-chart/src/lib/candles-chart.tsx
Labels: explorer-preview, governance-preview, trading-preview

#4726 feat(trading): improve connect wallet description
  libs/wallet/src/connect-dialog/connect-dialog-elements.tsx
  libs/wallet/src/connect-dialog/connect-dialog.spec.tsx
  libs/wallet/src/connect-dialog/connect-dialog.tsx
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#4739 test(trading): update acs for deal ticket
  specs/7002-SORD-submit_orders.md
Labels: explorer-preview, governance-preview, trading-preview

#4708 feat(trading): store and pass study sizes to chart, reduce candles gap
  apps/trading/pages/styles.css
  libs/candles-chart/src/lib/candles-chart.tsx
  libs/candles-chart/src/lib/use-candles-chart-settings.ts
  package.json
  yarn.lock
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#4753 chore(trading): tweak some pennant css var
  apps/trading/pages/styles.css
Labels: trading-preview

#4756 chore(trading): market list tweaks
  libs/datagrid/src/lib/cells/market-name-cell.tsx
  libs/markets/src/lib/components/markets-container/markets-container.spec.tsx
  libs/markets/src/lib/components/markets-container/markets-container.tsx
  libs/markets/src/lib/components/markets-container/use-column-defs.tsx
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#4754 chore(trading): adjust onboarding experience
  apps/trading/components/market-selector/market-selector.spec.tsx
  apps/trading/components/market-selector/use-market-selector-list.spec.tsx
  apps/trading/components/market-selector/use-market-selector-list.ts
  apps/trading/components/welcome-dialog/welcome-dialog-content.tsx
  apps/trading/lib/utils/index.ts
Labels: trading-preview

#4749 chore(trading): make deal ticket open on market change
  apps/trading/client-pages/market/market.tsx
Labels: trading-preview

#4722 chore(trading): replace successor cols with market code cell
  apps/trading/client-pages/markets/closed.spec.tsx
  apps/trading/client-pages/markets/closed.tsx
  apps/trading/client-pages/markets/market-code-cell.spec.tsx
  apps/trading/client-pages/markets/market-code-cell.tsx
  apps/trading/client-pages/markets/market-list-table.tsx
  apps/trading/client-pages/markets/market-table-actions.tsx
  apps/trading/client-pages/markets/markets-page.tsx
  apps/trading/client-pages/markets/markets.tsx
  apps/trading/client-pages/markets/open-markets.tsx
  apps/trading/client-pages/markets/oracle-status.tsx
  apps/trading/client-pages/markets/parent-market-cell.tsx
  apps/trading/client-pages/markets/proposed.tsx
  apps/trading/client-pages/markets/successor-market-cell.spec.tsx
  apps/trading/client-pages/markets/successor-market-cell.tsx
  apps/trading/client-pages/markets/use-column-defs.tsx
  apps/trading/lib/hooks/use-market-click-handler.ts
  libs/datagrid/src/index.ts
  libs/datagrid/src/lib/cells/stacked-cell.tsx
  libs/markets/src/lib/__generated__/markets.ts
  libs/markets/src/lib/components/index.ts
  libs/markets/src/lib/components/markets-container/index.ts
  libs/markets/src/lib/components/markets-container/market-list-table.tsx
  libs/markets/src/lib/components/markets-container/markets-container.spec.tsx
  libs/markets/src/lib/components/markets-container/markets-container.tsx
  libs/markets/src/lib/components/markets-container/oracle-status.tsx
  libs/markets/src/lib/components/markets-container/summary-cell.tsx
  libs/markets/src/lib/components/markets-container/use-column-defs.tsx
  libs/markets/src/lib/components/oracle-basic-profile/oracle-basic-profile.tsx
  libs/markets/src/lib/markets-provider.ts
  libs/markets/src/lib/markets.graphql
  libs/markets/src/lib/markets.mock.ts
  libs/positions/src/lib/positions-table.tsx
  libs/proposals/src/components/proposals-list/proposal-list.spec.tsx
  libs/proposals/src/components/proposals-list/proposals-list.tsx
  libs/proposals/src/components/proposals-list/use-column-defs.tsx
  libs/proposals/src/lib/proposals-data-provider/Proposals.graphql
  libs/proposals/src/lib/proposals-data-provider/__generated__/Proposals.ts
  libs/proposals/src/lib/proposals-data-provider/proposals.mock.ts
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#4755 feat(trading): margin required progressive disclosure
  apps/trading/.env
  libs/deal-ticket/src/components/deal-ticket/deal-ticket-fee-details.tsx
  libs/deal-ticket/src/components/deal-ticket/deal-ticket-stop-order.tsx
  libs/deal-ticket/src/components/deal-ticket/deal-ticket.tsx
  libs/deal-ticket/src/components/deal-ticket/key-value.tsx
  libs/deal-ticket/src/constants.ts
  libs/ui-toolkit/src/components/accordion/accordion.tsx
  libs/ui-toolkit/src/components/tooltip/tooltip.tsx
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#4760 test(governance): flaky test fixes
  apps/governance-e2e/src/integration/flow/staking-flow.cy.ts
  apps/governance-e2e/src/support/staking.functions.ts
Labels: governance-preview

#4742 test(governance): add assert for numerical sort
  apps/governance-e2e/src/fixtures/mocks/network-upgrade.ts
  apps/governance-e2e/src/integration/view/proposal.cy.ts
Labels: governance-preview

#4765 chore(trading): add governance link back
  apps/trading/components/navbar/navbar.spec.tsx
  apps/trading/components/navbar/navbar.tsx
Labels: trading-preview

#4787 fix(trading): use asset decimals to format liquidation price in posions table
  libs/deal-ticket/src/components/deal-ticket/deal-ticket-stop-order.spec.tsx
  libs/positions/src/lib/liquidation-price.tsx
  libs/positions/src/lib/positions-table.tsx
Labels: explorer-preview, governance-preview, trading-preview

#4781 fix(trading): simplify onboarding and explore button to use top traded
  apps/trading/client-pages/home/home.tsx
  apps/trading/components/constants.ts
  apps/trading/components/telemetry/index.ts
  apps/trading/components/telemetry/telemetry-approval.spec.tsx
  apps/trading/components/telemetry/telemetry-approval.tsx
  apps/trading/components/telemetry/telemetry.tsx
  apps/trading/components/welcome-dialog/get-started.spec.tsx
  apps/trading/components/welcome-dialog/get-started.tsx
  apps/trading/components/welcome-dialog/use-get-onboarding-step.ts
  apps/trading/components/welcome-dialog/welcome-dialog-content.tsx
  apps/trading/components/welcome-dialog/welcome-dialog.tsx
  apps/trading/lib/hooks/use-top-traded-markets.tsx
  apps/trading/pages/_app.page.tsx
  libs/cypress/src/lib/commands/vega-wallet-connect.ts
  libs/ui-toolkit/src/components/icon/vega-icons/svg-icons/icon-eye-off.tsx
  libs/ui-toolkit/src/components/trading-button/trading-button.tsx
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#4766 chore(trading): update governance variables
  apps/explorer/src/app/components/proposals/proposals-table.tsx
  apps/explorer/src/app/components/txs/details/proposal/signature-bundle/bundle-signers.tsx
  apps/explorer/src/app/routes/validators/validators-page.tsx
  apps/trading/client-pages/markets/markets-page.tsx
  apps/trading/components/market-banner/market-successor-proposal-banner.tsx
  apps/trading/components/navbar/navbar.tsx
  apps/trading/components/welcome-dialog/proposed-markets.tsx
  libs/environment/src/components/network-switcher/network-switcher.tsx
  libs/environment/src/hooks/use-links.ts
  libs/markets/src/lib/components/market-info/market-info-panels.tsx
  libs/proposals/src/components/asset-proposal-notification.tsx
  libs/proposals/src/components/market-proposal-notification.tsx
  libs/proposals/src/components/proposal-actions-dropdown.tsx
  libs/proposals/src/lib/proposals-hooks/use-update-network-paramaters-toasts.tsx
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#4793 chore(trading): add oracle proofs url to all envs
  apps/explorer-e2e/.env.devnet
  apps/explorer-e2e/.env.mainnet
  apps/explorer-e2e/.env.testnet
  apps/explorer/.env.capsule
  apps/explorer/.env.devnet
  apps/explorer/.env.mainnet
  apps/explorer/.env.mainnet-mirror
  apps/explorer/.env.stagnet1
  apps/explorer/.env.testnet
  apps/explorer/.env.validators-testnet
  apps/explorer/.env.vegacapsule
  apps/governance-e2e/.env
  apps/governance-e2e/.env.devnet
  apps/governance-e2e/.env.mainnet
  apps/governance-e2e/.env.testnet
  apps/governance/.env.capsule
  apps/governance/.env.devnet
  apps/governance/.env.mainnet
  apps/governance/.env.mainnet-mirror
  apps/governance/.env.stagnet1
  apps/governance/.env.testnet
  apps/governance/.env.validators-testnet
  apps/trading-e2e/.env
  apps/trading-e2e/.env.capsule
  apps/trading/.env.mainnet
  apps/trading/.env.stagnet1
  apps/trading/.env.testnet
  apps/trading/.env.validators-testnet
Labels: explorer-preview, governance-preview, trading-preview

#4780 fix(trading): missing styles for tooltip in positions table
  libs/positions/src/lib/positions-table.tsx
Labels: explorer-preview, governance-preview, trading-preview

#4802 chore(trading): fix wallet test
  apps/trading-e2e/src/integration/wallet-vega.cy.ts
Labels: trading-preview

#4804 chore(trading): delete market info tests
  apps/trading-e2e/src/integration/market-info.cy.ts
Labels: trading-preview

#4801 chore(governance): fix failing staking test
  apps/governance-e2e/src/integration/flow/staking-flow.cy.ts
Labels: governance-preview

#4782 fix(trading): correct link for get started prompt
  apps/trading/components/welcome-dialog/get-started.tsx
Labels: trading-preview

#4803 fix(trading): add overflow hidden to candles tab container
  apps/trading/client-pages/market/trade-grid.tsx
  libs/ui-toolkit/src/components/tabs/tabs.tsx
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#4798 chore(trading): layout adjustments to accomodate default 13 inch screens
  apps/trading/client-pages/market/trade-grid.tsx
  apps/trading/components/layouts/layout-with-sidebar.tsx
  apps/trading/pages/styles.css
  libs/candles-chart/src/lib/candles-chart.tsx
  libs/candles-chart/src/lib/use-candles-chart-settings.ts
Labels: explorer-preview, governance-preview, trading-preview

#4799 chore(trading): 4764 remember closed sidebar
  apps/trading-e2e/src/integration/deposit.cy.ts
  apps/trading/client-pages/market/market.tsx
  apps/trading/client-pages/portfolio/portfolio.tsx
  apps/trading/components/accounts-container/accounts-container.tsx
  apps/trading/components/accounts-menu/accounts-menu.tsx
  apps/trading/components/deposits-menu/deposits-menu.tsx
  apps/trading/components/layouts/layout-with-sidebar.tsx
  apps/trading/components/orderbook-container/orderbook-container.tsx
  apps/trading/components/sidebar/sidebar.spec.tsx
  apps/trading/components/sidebar/sidebar.tsx
  apps/trading/components/vega-wallet-connect-button/vega-wallet-connect-button.spec.tsx
  apps/trading/components/vega-wallet-connect-button/vega-wallet-connect-button.tsx
  apps/trading/components/vega-wallet/vega-wallet-menu.tsx
  apps/trading/components/welcome-dialog/get-started.tsx
  apps/trading/components/withdrawals-menu/withdrawals-menu.tsx
  apps/trading/lib/hooks/use-get-current-route-id.ts
  apps/trading/pages/client-router.tsx
Labels: trading-preview

#4797 fix(trading,web3): prevent deposit toasts reappearing
  libs/web3/src/lib/use-ethereum-transaction-manager.spec.tsx
  libs/web3/src/lib/use-ethereum-transaction-manager.tsx
  libs/web3/src/lib/use-ethereum-transaction-store.tsx
  libs/web3/src/lib/use-ethereum-transaction-toasts.tsx
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#4770 chore(deal-ticket): 4743 preserve estimate position cache in deal ticket
  libs/deal-ticket/src/components/deal-ticket/deal-ticket.tsx
  libs/deal-ticket/src/hooks/index.ts
  libs/deal-ticket/src/hooks/use-position-estimate.spec.ts
  libs/deal-ticket/src/hooks/use-position-estimate.ts
Labels: explorer-preview, governance-preview, trading-preview

#4783 chore(trading): get started section for deposit
  apps/trading/.env
  apps/trading/client-pages/deposit/deposit.tsx
  apps/trading/components/sidebar/sidebar.tsx
  apps/trading/components/welcome-dialog/get-started.spec.tsx
  apps/trading/components/welcome-dialog/get-started.tsx
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#4806 test(trading): fix test for release v0.21.2
  .github/workflows/console-test-run.yml
  apps/trading-e2e/src/integration/trading-deal-ticket-order.cy.ts
  apps/trading-e2e/src/integration/trading-trades.cy.ts
Labels: trading-preview

#4752 chore(trading): cache console test vega binaries
  .github/workflows/console-test-run.yml
Labels: Trading, Testing 🧪, explorer-preview, governance-preview, trading-preview

#4728 chore(withdraws): standalone pages for withdraw and transfer
  apps/trading/client-pages/deposit/index.ts
  apps/trading/client-pages/transfer/index.ts
  apps/trading/client-pages/transfer/transfer.spec.tsx
  apps/trading/client-pages/transfer/transfer.tsx
  apps/trading/client-pages/withdraw/index.ts
  apps/trading/client-pages/withdraw/withdraw.spec.tsx
  apps/trading/client-pages/withdraw/withdraw.tsx
  apps/trading/pages/client-router.tsx
  libs/accounts/src/lib/transfer-container.tsx
  libs/accounts/src/lib/transfer-form.tsx
  package.json
  specs/1001-DEPO-desposit.md
  specs/1002-WITH-withdraw.md
  specs/1003-TRAN-transfer.md
  yarn.lock
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#4825 chore(trading): remove static assets console coming from vega.xyz
  apps/trading/components/banner/announcement-banner.tsx
  apps/trading/pages/_document.page.tsx
  apps/trading/pages/index.page.tsx
  apps/trading/pages/styles.css
  apps/trading/public/AlphaLyrae-Medium.woff2
  apps/trading/public/banner-bg.jpg
  apps/trading/public/favicon.ico
  libs/announcements/src/lib/announcements.tsx
  libs/ui-toolkit/src/components/announcement-banner/announcement-banner.tsx
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#4827 chore(trading,governance,explorer): prevent jobs if PR is in draft
  .github/workflows/ci-cd-trigger.yml
Labels: explorer-preview, governance-preview, trading-preview

#4833 fix(accounts): hide no rows label when there is only pinned row
  libs/accounts/src/lib/accounts-table.tsx
Labels: explorer-preview, governance-preview, trading-preview

#4846 chore(trading): disable console-test run until CI fixed
  .github/workflows/ci-cd-trigger.yml
Labels: explorer-preview, governance-preview, trading-preview

#4816 feat(trading): referrals (Mk1)
  apps/trading/.env
  apps/trading/.env.capsule
  apps/trading/.env.devnet
  apps/trading/.env.mainnet
  apps/trading/.env.mainnet-mirror
  apps/trading/.env.stagnet1
  apps/trading/.env.testnet
  apps/trading/.env.validators-testnet
  apps/trading/client-pages/markets/use-column-defs.tsx
  apps/trading/client-pages/referrals/apply-code-form.tsx
  apps/trading/client-pages/referrals/buttons.tsx
  apps/trading/client-pages/referrals/constants.ts
  apps/trading/client-pages/referrals/create-code-form.tsx
  apps/trading/client-pages/referrals/error-boundary.tsx
  apps/trading/client-pages/referrals/graphics/dude.tsx
  apps/trading/client-pages/referrals/hooks/use-referral-program.ts
  apps/trading/client-pages/referrals/hooks/use-referral.ts
  apps/trading/client-pages/referrals/hooks/use-stake-available.ts
  apps/trading/client-pages/referrals/how-it-works-table.tsx
  apps/trading/client-pages/referrals/landing-banner.tsx
  apps/trading/client-pages/referrals/layout.tsx
  apps/trading/client-pages/referrals/referral-statistics.tsx
  apps/trading/client-pages/referrals/referrals.tsx
  apps/trading/client-pages/referrals/table.tsx
  apps/trading/client-pages/referrals/tag.tsx
  apps/trading/client-pages/referrals/tiers.tsx
  apps/trading/client-pages/referrals/tile.tsx
  apps/trading/components/navbar/navbar.spec.tsx
  apps/trading/components/navbar/navbar.tsx
  apps/trading/lib/links.ts
  apps/trading/pages/client-router.tsx
  apps/trading/public/1x.png
  apps/trading/public/2x.png
  apps/trading/public/3x.png
  apps/trading/public/sky-dark.png
  apps/trading/public/sky-light.png
  apps/trading/tailwind.config.js
  libs/environment/src/hooks/use-environment.ts
  libs/environment/src/hooks/use-links.ts
  libs/environment/src/types.ts
  libs/environment/src/utils/validate-environment.ts
  libs/wallet/src/connectors/vega-connector.ts
  package.json
  yarn.lock
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#4852 chore(trading): remove upgrade banner
  apps/governance/src/routes/proposals/proposal/proposal-container.spec.tsx
  apps/trading/.env.mainnet
  apps/trading/components/banner/index.tsx
  apps/trading/components/banner/upgrade-banner.tsx
  apps/trading/pages/_app.page.tsx
  package.json
  yarn.lock
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#4847 feat(trading): improve funding rate formatting
  apps/trading/client-pages/market/market-header-stats.tsx
  apps/trading/components/funding-container/funding-container.tsx
  apps/trading/components/market-header/market-header.tsx
Labels: trading-preview

#4835 chore(governance): fix failing proposal submission
  apps/governance-e2e/src/support/proposal.functions.ts
Labels: Testing 🧪, Governance, governance-preview

#4845 chore(trading): 4774 put connect dialog inside onboarding dialog
  apps/governance/src/routes/proposals/proposal/proposal-container.spec.tsx
  apps/trading/components/welcome-dialog/get-started.tsx
  apps/trading/components/welcome-dialog/use-get-onboarding-step.ts
  apps/trading/components/welcome-dialog/welcome-dialog.tsx
  libs/wallet/src/connect-dialog/connect-dialog.tsx
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#4855 chore(trading): disable apply code when applied
  apps/trading/client-pages/referrals/apply-code-form.tsx
  apps/trading/client-pages/referrals/buttons.tsx
  apps/trading/client-pages/referrals/referrals.tsx
  libs/wallet/src/connectors/vega-connector.ts
  libs/web3/src/lib/use-vega-transaction-toasts.tsx
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#4842 chore(trading): deal ticket test to jest
  apps/trading-e2e/src/integration/trading-deal-ticket-basics.cy.ts
  libs/deal-ticket/src/components/deal-ticket/deal-ticket.spec.tsx
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#4856 chore(trading): 4811 make market table columns resizable
  apps/trading/client-pages/markets/market-list-table.tsx
  libs/proposals/src/components/proposals-list/proposals-list.tsx
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#4864 fix(governance): removed loop caused by rewards epoch refresh
  apps/governance/src/routes/rewards/epoch-individual-rewards/epoch-individual-rewards.tsx
Labels: governance-preview

#4865 fix(governance): mainnet rewards query looping
  apps/governance/src/routes/rewards/epoch-individual-rewards/epoch-individual-rewards.tsx
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#4649 feat(trading): liquidity SLA in market info
  apps/explorer-e2e/src/integration/market.cy.js
  apps/explorer/src/app/components/markets/market-details.tsx
  apps/governance/src/routes/proposals/components/proposal-market-data/proposal-market-data.tsx
  libs/cypress/src/lib/capsule/constants.ts
  libs/cypress/src/lib/capsule/create-market.ts
  libs/cypress/src/lib/capsule/propose-market.ts
  libs/markets/src/lib/components/market-info/MarketInfo.graphql
  libs/markets/src/lib/components/market-info/__generated__/MarketInfo.ts
  libs/markets/src/lib/components/market-info/market-info-accordion.tsx
  libs/markets/src/lib/components/market-info/market-info-panels.tsx
  libs/markets/src/lib/components/market-info/market-info.mock.ts
  libs/markets/src/lib/components/market-info/tooltip-mapping.tsx
  libs/network-parameters/src/use-network-params.ts
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#4875 fix(trading): allotment breaking [main]
  apps/explorer/src/app/components/assets/assets-table.tsx
  apps/explorer/src/app/components/markets/markets-table.tsx
  apps/explorer/src/app/components/proposals/proposals-table.tsx
  apps/governance/src/routes/staking/home/validator-tables/consensus-validators-table.tsx
  apps/governance/src/routes/staking/home/validator-tables/standby-pending-validators-table.tsx
  apps/trading/client-pages/markets/closed.tsx
  apps/trading/client-pages/markets/market-list-table.tsx
  libs/accounts/src/lib/accounts-table.tsx
  libs/accounts/src/lib/breakdown-table.tsx
  libs/datagrid/src/index.ts
  libs/datagrid/src/lib/ag-grid/ag-grid-lazy.tsx
  libs/datagrid/src/lib/ag-grid/ag-grid-themed.tsx
  libs/datagrid/src/lib/ag-grid/ag-grid.tsx
  libs/datagrid/src/lib/use-datagrid-events.spec.tsx
  libs/deposits/src/lib/deposits-table.tsx
  libs/fills/src/lib/fills-table.tsx
  libs/liquidity/src/lib/liquidity-table.tsx
  libs/orders/src/lib/components/order-list/order-list.tsx
  libs/orders/src/lib/components/stop-orders-table/stop-orders-table.tsx
  libs/positions/src/lib/positions-table.tsx
  libs/proposals/src/components/proposals-list/proposal-list.spec.tsx
  libs/proposals/src/components/proposals-list/proposals-list.tsx
  libs/trades/src/lib/trades-table.tsx
  libs/withdraws/src/lib/withdrawals-table.tsx
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#4876 fix(wallet): reduce time to check for wallet running [main]
  libs/wallet/src/connect-dialog/connect-dialog.tsx
  libs/wallet/src/use-is-wallet-service-running.spec.ts
  libs/wallet/src/use-is-wallet-service-running.ts
  libs/wallet/src/use-is-wallet-service-running.tsx
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#4877 fix(trading): remove upgrade banner [main]
  apps/trading/.env.mainnet
  apps/trading/components/banner/index.tsx
  apps/trading/components/banner/upgrade-banner.tsx
  apps/trading/pages/_app.page.tsx
  package.json
  yarn.lock
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#4885 chore(trading): temporary disable console-test to unblock CI queue
  .github/workflows/ci-cd-trigger.yml
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#4870 feat(deal-ticket): show worst case instead of ranges in estimated values
  libs/deal-ticket/src/components/deal-ticket/deal-ticket-fee-details.tsx
  libs/deal-ticket/src/components/deal-ticket/deal-ticket.tsx
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#4881 chore(trading): make volume bars color match candle color
  apps/trading/pages/styles.css
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#4884 chore(trading): remove underlines on tooltips
  apps/trading/components/header/header.tsx
  libs/deal-ticket/src/components/deal-ticket/deal-ticket-fee-details.tsx
  libs/deal-ticket/src/components/deal-ticket/key-value.tsx
  libs/ui-toolkit/src/components/tooltip/tooltip.tsx
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#4840 fix(trading): prevent deposit sidebar showing on corresponding standalone page
  apps/trading/components/sidebar/sidebar.tsx
Labels: trading-preview

#4880 chore(trading,governance): update develop with mainnet fixes
  apps/explorer/src/app/components/assets/assets-table.tsx
  apps/explorer/src/app/components/markets/markets-table.tsx
  apps/explorer/src/app/components/proposals/proposals-table.tsx
  apps/governance/src/routes/staking/home/validator-tables/consensus-validators-table.tsx
  apps/governance/src/routes/staking/home/validator-tables/standby-pending-validators-table.tsx
  apps/trading/client-pages/markets/closed.tsx
  apps/trading/client-pages/markets/market-list-table.tsx
  apps/trading/components/banner/announcement-banner.tsx
  apps/trading/pages/_document.page.tsx
  apps/trading/pages/index.page.tsx
  apps/trading/pages/styles.css
  apps/trading/public/AlphaLyrae-Medium.woff2
  apps/trading/public/banner-bg.jpg
  apps/trading/public/favicon.ico
  docker/entrypoint.sh
  libs/accounts/src/lib/accounts-table.tsx
  libs/accounts/src/lib/breakdown-table.tsx
  libs/announcements/src/lib/announcements.tsx
  libs/datagrid/src/index.ts
  libs/datagrid/src/lib/ag-grid/ag-grid-lazy.tsx
  libs/datagrid/src/lib/ag-grid/ag-grid-themed.tsx
  libs/datagrid/src/lib/ag-grid/ag-grid.tsx
  libs/datagrid/src/lib/use-datagrid-events.spec.tsx
  libs/deposits/src/lib/deposits-table.tsx
  libs/fills/src/lib/fills-table.tsx
  libs/liquidity/src/lib/liquidity-table.tsx
  libs/orders/src/lib/components/order-list/order-list.tsx
  libs/orders/src/lib/components/stop-orders-table/stop-orders-table.tsx
  libs/positions/src/lib/positions-table.tsx
  libs/proposals/src/components/proposals-list/proposal-list.spec.tsx
  libs/proposals/src/components/proposals-list/proposals-list.tsx
  libs/trades/src/lib/trades-table.tsx
  libs/ui-toolkit/src/components/announcement-banner/announcement-banner.tsx
  libs/wallet/src/connect-dialog/connect-dialog.tsx
  libs/wallet/src/use-is-wallet-service-running.spec.ts
  libs/wallet/src/use-is-wallet-service-running.ts
  libs/wallet/src/use-is-wallet-service-running.tsx
  libs/withdraws/src/lib/withdrawals-table.tsx
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#4905 chore(trading,deal-ticket,market-depth,ci): update develop with mainnet fixes
  apps/trading/components/header/header.tsx
  apps/trading/pages/styles.css
  libs/deal-ticket/src/components/deal-ticket/deal-ticket-fee-details.tsx
  libs/deal-ticket/src/components/deal-ticket/deal-ticket.tsx
  libs/deal-ticket/src/components/deal-ticket/key-value.tsx
  libs/deal-ticket/src/hooks/use-estimate-fees.spec.tsx
  libs/deal-ticket/src/hooks/use-estimate-fees.tsx
  libs/market-depth/src/lib/orderbook.tsx
  libs/markets/src/lib/components/fees-breakdown/fees-breakdown.tsx
  libs/markets/src/lib/get-price.ts
  libs/ui-toolkit/src/components/tooltip/tooltip.tsx
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#4908 chore(trading): add possibility to manualy trigger console-test (#4899)
  .github/workflows/console-test-run.yml
Labels: explorer-preview, governance-preview, trading-preview

#4863 feat(governance): show perp or future pills
  apps/governance-e2e/.env.devnet
  apps/governance-e2e/.env.mainnet
  apps/governance-e2e/.env.testnet
  apps/governance/.env
  apps/governance/.env.capsule
  apps/governance/.env.devnet
  apps/governance/.env.mainnet
  apps/governance/.env.stagnet1
  apps/governance/.env.testnet
  apps/governance/.env.validators-testnet
  apps/governance/src/i18n/translations/dev.json
  apps/governance/src/routes/home/index.tsx
  apps/governance/src/routes/proposals/components/proposal-detail-header/proposal-header.tsx
  apps/governance/src/routes/proposals/components/proposal/proposal.tsx
  apps/governance/src/routes/proposals/components/proposals-list-item/proposals-list-item.tsx
  apps/governance/src/routes/proposals/components/proposals-list/proposals-list.tsx
  apps/governance/src/routes/proposals/components/proposals-list/rejected-proposals-list.tsx
  apps/governance/src/routes/proposals/proposal/Proposal.graphql
  apps/governance/src/routes/proposals/proposal/__generated__/Proposal.ts
  apps/governance/src/routes/proposals/proposal/proposal-container.tsx
  apps/governance/src/routes/proposals/proposals/Proposals.graphql
  apps/governance/src/routes/proposals/proposals/__generated__/Proposals.ts
  apps/governance/src/routes/proposals/proposals/proposals-container.tsx
  apps/governance/src/routes/proposals/rejected/rejected-proposals-container.tsx
  libs/types/src/__generated__/types.ts
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#4904 chore(trading): separate workflow for lint-pr
  .github/workflows/ci-cd-trigger.yml
  .github/workflows/lint-pr.yml
Labels: explorer-preview, governance-preview, trading-preview

#4918 chore(ci): add logic for choosing correct runner for cypress tests depending on base branch
  .github/workflows/cypress-run.yml
Labels: Trading, Testing 🧪, trading-preview

#4911 chore(ci): fix node version (main)
  .github/workflows/console-test-run.yml
Labels: trading-preview

#4892 test(governance): perpetual market e2e test
  apps/explorer-e2e/src/integration/market.cy.js
  apps/explorer-e2e/src/support/governance.functions.js
  apps/governance-e2e/src/fixtures/proposals/new-market-perpetual-raw.json
  apps/governance-e2e/src/integration/flow/proposal-details.cy.ts
  apps/governance-e2e/src/integration/flow/proposal-list.cy.ts
  apps/governance-e2e/src/support/governance.functions.ts
  vegacapsule/genesis.tmpl
Labels: explorer-preview, governance-preview

#4910 chore(ci): fix node version (develop)
  .github/workflows/console-test-run.yml
Labels: explorer-preview, governance-preview, trading-preview

#4917 chore(ci): separate lint pr (main)
  .github/workflows/ci-cd-trigger.yml
  .github/workflows/lint-pr.yml
Labels: trading-preview

#4924 chore(ci): sync main to develop
  .github/workflows/cypress-run.yml
  .github/workflows/lint-pr.yml
  vegacapsule/genesis.tmpl
Labels: explorer-preview, governance-preview, trading-preview

#4927 chore(trading): deal ticket order tests move
  apps/trading-e2e/src/integration/trading-deal-ticket-order.cy.ts
  libs/deal-ticket/src/components/deal-ticket/deal-ticket.spec.tsx
Labels: explorer-preview, governance-preview, trading-preview

#4928 chore(governance): remove explorer market diff test
  apps/explorer-e2e/src/integration/market.cy.js
  apps/governance-e2e/.env
  apps/governance-e2e/src/integration/flow/proposal-details.cy.ts
  apps/governance-e2e/src/integration/flow/proposal-enacted.cy.ts
Labels: explorer-preview, governance-preview

#4888 chore(trading): add handle of autosizing selected columns - main branch
  apps/trading-e2e/src/integration/trading-orders.cy.ts
  apps/trading/components/orders-container/orders-container.tsx
  apps/trading/components/positions-container/positions-container.tsx
  libs/datagrid/src/lib/use-datagrid-events.spec.tsx
  libs/datagrid/src/lib/use-datagrid-events.ts
  libs/orders/src/lib/components/order-list/order-list.tsx
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#4935 feat(governance): market state update proposals
  apps/governance-e2e/.env.devnet
  apps/governance-e2e/.env.mainnet
  apps/governance-e2e/.env.testnet
  apps/governance/.env
  apps/governance/.env.capsule
  apps/governance/.env.devnet
  apps/governance/.env.mainnet
  apps/governance/.env.mainnet-mirror
  apps/governance/.env.stagnet1
  apps/governance/.env.testnet
  apps/governance/.env.validators-testnet
  apps/governance/src/app.tsx
  apps/governance/src/i18n/translations/dev.json
  apps/governance/src/routes/home/index.tsx
  apps/governance/src/routes/proposals/components/proposal-detail-header/proposal-header.tsx
  apps/governance/src/routes/proposals/components/proposal-update-market-state/index.tsx
  apps/governance/src/routes/proposals/components/proposal-update-market-state/proposal-update-market-state.spec.tsx
  apps/governance/src/routes/proposals/components/proposal-update-market-state/proposal-update-market-state.tsx
  apps/governance/src/routes/proposals/components/proposal/proposal.tsx
  apps/governance/src/routes/proposals/hooks/use-proposal-network-params.ts
  apps/governance/src/routes/proposals/proposal/Proposal.graphql
  apps/governance/src/routes/proposals/proposal/__generated__/Proposal.ts
  apps/governance/src/routes/proposals/proposal/proposal-container.tsx
  apps/governance/src/routes/proposals/proposals/Proposals.graphql
  apps/governance/src/routes/proposals/proposals/__generated__/Proposals.ts
  apps/governance/src/routes/proposals/proposals/proposals-container.tsx
  apps/governance/src/routes/proposals/rejected/rejected-proposals-container.tsx
  libs/environment/src/hooks/use-environment.ts
  libs/environment/src/types.ts
  libs/environment/src/utils/validate-environment.ts
  libs/markets/src/lib/components/market-info/__generated__/MarketInfo.ts
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#4936 chore(ci): add mainnet compatible runner to release mainnet branch push actions
  .github/workflows/cypress-run.yml
Labels: Trading, Testing 🧪, explorer-preview, governance-preview, trading-preview

#4937 chore(ci): trigger lint-pr on repoened and sync
  .github/workflows/lint-pr.yml
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#4920 chore(trading): 4774 put connect dialog inside onboarding dialog - main branch
  apps/governance/src/routes/proposals/proposal/proposal-container.spec.tsx
  apps/trading/components/welcome-dialog/get-started.tsx
  apps/trading/components/welcome-dialog/use-get-onboarding-step.ts
  apps/trading/components/welcome-dialog/welcome-dialog.tsx
  libs/wallet/src/connect-dialog/connect-dialog.tsx
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#4941 chore(ci): add main develop merge condition to runner
  .github/workflows/cypress-run.yml
Labels: explorer-preview, governance-preview, trading-preview

#4943 chore(ci): merge main to develop
  .github/workflows/cypress-run.yml
Labels: explorer-preview, governance-preview, trading-preview

#4944 chore(explorer): ignore errors on oracle page
  apps/explorer/src/app/routes/oracles/home/index.tsx
Labels: explorer-preview
