Repository vegaprotocol/frontend-monorepo, pull requests merged in 2023-10, with the labels that each got.

#4946 chore(ci): add conditions to run e2e tests
  .github/workflows/ci-cd-trigger.yml
Labels: explorer-preview, governance-preview, trading-preview

#4954 chore(trading): delete duplicate asset details test
  apps/trading-e2e/src/integration/trading-accounts.cy.ts
  libs/assets/src/lib/asset-details-dialog.spec.tsx
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#4953 chore(ci): fix some minor issues in workflows
  .github/workflows/ci-cd-trigger.yml
  .github/workflows/cypress-run.yml
  .github/workflows/publish-dist.yml
Labels: explorer-preview

#4940 feat(positions): close position with max possible size
  libs/positions/src/lib/positions-manager.spec.tsx
  libs/positions/src/lib/positions-manager.tsx
  libs/positions/src/lib/positions-table.spec.tsx
  libs/positions/src/lib/positions.mock.ts
  libs/utils/src/index.ts
  libs/utils/src/lib/constants.ts
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#4916 fix(trading): remove market value proxy and formatting
  apps/explorer-e2e/src/integration/market.cy.js
  apps/trading/components/liquidity-header/liquidity-header.tsx
  apps/trading/components/market-selector/market-selector-item.spec.tsx
  apps/trading/components/market-selector/market-selector.tsx
  libs/deal-ticket/src/test-helpers.ts
  libs/fills/src/lib/test-helpers.ts
  libs/markets/src/lib/__generated__/market-data.ts
  libs/markets/src/lib/__generated__/markets.ts
  libs/markets/src/lib/components/market-info/market-info-panels.spec.tsx
  libs/markets/src/lib/components/market-info/market-info-panels.tsx
  libs/markets/src/lib/market-data.graphql
  libs/markets/src/lib/market-data.mock.ts
  libs/markets/src/lib/markets.graphql
  libs/markets/src/lib/markets.mock.ts
  libs/orders/src/lib/components/mocks/generate-orders.ts
  libs/orders/src/lib/components/mocks/generate-stop-orders.ts
  libs/orders/src/lib/components/order-list/order-view-dialog.spec.tsx
  libs/withdraws/src/lib/withdraw-form-container.spec.tsx
  specs/6002-MDET-market-details.md
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#4950 fix(deal-ticket): prevent empty call estimate position
  libs/deal-ticket/src/components/deal-ticket/deal-ticket.tsx
  libs/deal-ticket/src/hooks/use-position-estimate.ts
Labels: explorer-preview, governance-preview, trading-preview

#4914 feat(trading): ethereum oracle spec in oracle panels
  apps/explorer/src/app/routes/oracles/Oracles.graphql
  apps/explorer/src/app/routes/oracles/__generated__/Oracles.ts
  apps/trading/.env.devnet
  libs/markets/src/lib/__generated__/OracleMarketsSpec.ts
  libs/markets/src/lib/__generated__/markets.ts
  libs/markets/src/lib/components/market-info/MarketInfo.graphql
  libs/markets/src/lib/components/market-info/__generated__/MarketInfo.ts
  libs/markets/src/lib/components/market-info/market-info-panels.tsx
  libs/markets/src/lib/components/market-info/tooltip-mapping.tsx
  libs/types/src/__generated__/types.ts
  libs/ui-toolkit/src/components/copy-with-tooltip/copy-with-tooltip.tsx
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#4957 fix(trading): update filter for market selector to include suspended via governance
  apps/trading/components/market-state/market-state.tsx
  apps/trading/lib/utils/index.ts
  libs/deal-ticket/src/components/trading-mode-tooltip/trading-mode-tooltip.tsx
  libs/environment/src/hooks/use-links.ts
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#4945 chore(governance): add e2e tests for market update proposals
  apps/governance-e2e/.env
  apps/governance-e2e/src/fixtures/proposals/asset.json
  apps/governance-e2e/src/fixtures/proposals/resume-market-raw.json
  apps/governance-e2e/src/fixtures/proposals/suspend-market-raw.json
  apps/governance-e2e/src/fixtures/proposals/terminate-market-raw.json
  apps/governance-e2e/src/fixtures/proposals/update-market-old.json
  apps/governance-e2e/src/integration/flow/proposal-details.cy.ts
  apps/governance-e2e/src/support/governance.functions.ts
Labels: governance-preview

#4959 fix(trading): missing wallet connect button
  apps/trading/.env
Labels: trading-preview

#4963 chore(ci): add missing quote marks that may have caused some workflow fails
  .github/workflows/ci-cd-trigger.yml
  .github/workflows/cypress-run.yml
Labels: explorer-preview

#4960 fix(trading): missing wallet connect button
  apps/trading/.env
Labels: explorer-preview, trading-preview

#4951 feat(trading): show fills for all markets
  apps/trading/client-pages/market/trade-grid.tsx
  apps/trading/components/fills-container/fills-container.tsx
  libs/fills/src/lib/fills-manager.tsx
Labels: explorer-preview, governance-preview, trading-preview

#4958 chore(trading): cant view settled market
  apps/trading/client-pages/closed-market/closed-market.tsx
  apps/trading/client-pages/closed-market/index.ts
  apps/trading/client-pages/market/market.tsx
  apps/trading/client-pages/markets/closed.tsx
  apps/trading/components/layouts/layout-with-sidebar.tsx
  apps/trading/components/sidebar/sidebar.tsx
  apps/trading/lib/hooks/use-market-click-handler.ts
  apps/trading/lib/links.ts
  apps/trading/pages/client-router.tsx
Labels: trading-preview

#4901 fix(wallet): dont show error state if user rejects connection
  libs/wallet/src/connect-dialog/injected-connector-form.tsx
  libs/wallet/src/connectors/injected-connector.ts
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#4964 chore(trading): 4947 cant view settled market main
  apps/trading/client-pages/closed-market/closed-market.tsx
  apps/trading/client-pages/closed-market/index.ts
  apps/trading/client-pages/market/market.tsx
  apps/trading/client-pages/markets/closed.tsx
  apps/trading/components/layouts/layout-with-sidebar.tsx
  apps/trading/components/sidebar/sidebar.tsx
  apps/trading/lib/hooks/use-market-click-handler.ts
  apps/trading/pages/client-router.tsx
Labels: explorer-preview, governance-preview, trading-preview

#4965 chore(ci): quotes and double brackets change
  .github/workflows/ci-cd-trigger.yml
  .github/workflows/cypress-run.yml
Labels: explorer-preview, governance-preview, trading-preview

#4972 chore(trading): merge main to develop
  .github/workflows/ci-cd-trigger.yml
  .github/workflows/cypress-run.yml
  .github/workflows/publish-dist.yml
  apps/explorer/src/app/routes/oracles/home/index.tsx
  apps/governance/.env
  apps/governance/.env.mainnet
  apps/governance/.env.stagnet1
  apps/governance/.env.testnet
  apps/trading/.env.mainnet
  apps/trading/.env.stagnet1
  apps/trading/.env.testnet
  apps/trading/client-pages/market/trade-grid.tsx
  apps/trading/components/fills-container/fills-container.tsx
  libs/fills/src/lib/fills-manager.tsx
  libs/wallet/src/connect-dialog/injected-connector-form.tsx
  libs/wallet/src/connectors/injected-connector.ts
  package.json
  yarn.lock
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#4978 chore(trading): set default sort order
  libs/accounts/src/lib/breakdown-table.tsx
Labels: explorer-preview, governance-preview, trading-preview

#4956 feat(deal-ticket): fix margin and fees alignment
  libs/deal-ticket/src/components/deal-ticket/deal-ticket-fee-details.tsx
  libs/deal-ticket/src/components/deal-ticket/key-value.tsx
Labels: explorer-preview, governance-preview, trading-preview

#4983 test(trading): remove account test
  apps/trading-e2e/src/integration/vega-wallet-prompt.cy.ts
Labels: trading-preview

#4985 chore(ci): add release label on release
  .github/workflows/add-ipfs-notes-to-release.yml
  apps/governance-e2e/src/integration/view/proposal.cy.ts
Labels: explorer-preview, governance-preview, trading-preview

#4974 test(governance): skip staking test
  apps/governance-e2e/src/integration/flow/proposal-details.cy.ts
  apps/governance-e2e/src/integration/flow/staking-flow.cy.ts
  apps/governance-e2e/src/integration/view/proposal.cy.ts
Labels: Testing 🧪, Governance, governance-preview

#4991 fix(trading,wallet): set version for vega snap
  libs/wallet/src/connect-dialog/connect-dialog.tsx
  libs/wallet/src/connectors/snap-connector.ts
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#4992 chore(explorer): fix failing market test
  apps/explorer-e2e/src/integration/market.cy.js
Labels: Block Explorer, explorer-preview

#4980 chore(ci): separate export docker image job in console-test workflow
  .github/workflows/console-test-run.yml
Labels: Trading, Testing 🧪, explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#4993 chore(ci,governance): update develop with latest main changes
  .github/workflows/console-test-run.yml
  apps/governance-e2e/src/integration/view/proposal.cy.ts
  libs/wallet/src/connect-dialog/connect-dialog.tsx
  libs/wallet/src/connectors/snap-connector.ts
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#4996 chore(ci): merge main changes to develop
  .github/workflows/ci-cd-trigger.yml
  .github/workflows/console-test-run.yml
Labels: explorer-preview, governance-preview, trading-preview

#4982 feat(positions): add closed markets filter to positions in portfolio
  apps/trading/client-pages/portfolio/portfolio.tsx
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#4984 chore(trading): accounts test to jest
  apps/trading-e2e/src/integration/trading-accounts.cy.ts
  libs/accounts/src/lib/accounts-table.spec.tsx
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#4989 feat(trading): add funding payment history
  apps/trading/client-pages/market/trade-grid.tsx
  apps/trading/client-pages/market/trade-views.tsx
  apps/trading/client-pages/portfolio/portfolio.tsx
  apps/trading/components/funding-payments-container/funding-payments-container.tsx
  apps/trading/components/funding-payments-container/index.ts
  libs/cypress/mock.ts
  libs/funding-payments/.babelrc
  libs/funding-payments/.eslintrc.json
  libs/funding-payments/README.md
  libs/funding-payments/__mocks__/react-markdown.js
  libs/funding-payments/jest.config.ts
  libs/funding-payments/postcss.config.js
  libs/funding-payments/project.json
  libs/funding-payments/src/index.ts
  libs/funding-payments/src/lib/FundingPayments.graphql
  libs/funding-payments/src/lib/__generated__/FundingPayments.ts
  libs/funding-payments/src/lib/funding-payments-data-provider.ts
  libs/funding-payments/src/lib/funding-payments-manager.tsx
  libs/funding-payments/src/lib/funding-payments-table.spec.tsx
  libs/funding-payments/src/lib/funding-payments-table.tsx
  libs/funding-payments/src/lib/funding-payments.mock.ts
  libs/funding-payments/src/lib/test-helpers.ts
  libs/funding-payments/src/setup-tests.ts
  libs/funding-payments/tailwind.config.js
  libs/funding-payments/tsconfig.json
  libs/funding-payments/tsconfig.lib.json
  libs/funding-payments/tsconfig.spec.json
  libs/types/src/__generated__/types.ts
  tsconfig.base.json
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5002 chore(ci): fix badly written condition in workflow
  .github/workflows/ci-cd-trigger.yml
Labels: Trading, Testing 🧪, explorer-preview, governance-preview, trading-preview

#5004 chore(ci): merge main fixes to develop
  .github/workflows/ci-cd-trigger.yml
Labels: explorer-preview, governance-preview, trading-preview

#4976 chore(trading): 4858 redesign market header
  apps/trading-e2e/src/integration/market-summary.cy.ts
  apps/trading/client-pages/market/market-header-stats.tsx
  libs/environment/src/hooks/use-links.ts
  libs/markets/src/lib/market-data-provider.ts
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5007 test(trading): remove portfolio test
  apps/trading-e2e/src/integration/trading-portfolio.cy.ts
Labels: Trading, Testing 🧪, trading-preview

#5001 chore(trading): move trades tests to jest
  apps/trading-e2e/src/integration/trading-trades.cy.ts
  libs/trades/src/lib/trades-table.spec.tsx
Labels: explorer-preview, governance-preview, trading-preview

#5010 chore(trading): transfer form test to jest
  apps/trading-e2e/src/integration/withdraw-key-to-key.cy.ts
  libs/accounts/src/lib/transfer-form.spec.tsx
Labels: explorer-preview, governance-preview, trading-preview

#4912 feat(trading): 4387 market terminate warning banner
  apps/trading/client-pages/market/trade-grid.tsx
  apps/trading/client-pages/market/trade-panels.tsx
  apps/trading/components/market-banner/index.ts
  apps/trading/components/market-banner/market-successor-proposal-banner.spec.tsx
  apps/trading/components/market-banner/market-successor-proposal-banner.tsx
  apps/trading/components/market-banner/market-termination-banner.spec.tsx
  apps/trading/components/market-banner/market-termination-banner.tsx
  libs/proposals/src/lib/proposals-data-provider/Proposals.graphql
  libs/proposals/src/lib/proposals-data-provider/__generated__/Proposals.ts
  libs/proposals/src/lib/proposals-data-provider/proposals-data-provider.tsx
  libs/proposals/src/lib/proposals-hooks/index.ts
  libs/proposals/src/lib/proposals-hooks/use-market-view-proposals.ts
  specs/6002-MDET-market-details.md
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#4987 feat(trading): display empty values for funding and countdown if perp market is in auction
  apps/trading/client-pages/market/market-header-stats.tsx
  libs/markets/src/lib/market-data-provider.ts
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5013 feat(governance): referral proposals
  apps/governance-e2e/.env
  apps/governance-e2e/.env.devnet
  apps/governance-e2e/.env.mainnet
  apps/governance-e2e/.env.testnet
  apps/governance/.env
  apps/governance/.env.capsule
  apps/governance/.env.devnet
  apps/governance/.env.mainnet
  apps/governance/.env.mainnet-mirror
  apps/governance/.env.stagnet1
  apps/governance/.env.testnet
  apps/governance/.env.validators-testnet
  apps/governance/src/i18n/translations/dev.json
  apps/governance/src/routes/home/index.tsx
  apps/governance/src/routes/proposals/components/proposal-detail-header/proposal-header.tsx
  apps/governance/src/routes/proposals/components/proposal-referral-program-details/index.tsx
  apps/governance/src/routes/proposals/components/proposal-referral-program-details/proposal-referral-program-details.spec.tsx
  apps/governance/src/routes/proposals/components/proposal-referral-program-details/proposal-referral-program-details.tsx
  apps/governance/src/routes/proposals/components/proposal/proposal.tsx
  apps/governance/src/routes/proposals/hooks/use-proposal-network-params.ts
  apps/governance/src/routes/proposals/proposal/Proposal.graphql
  apps/governance/src/routes/proposals/proposal/__generated__/Proposal.ts
  apps/governance/src/routes/proposals/proposal/proposal-container.tsx
  apps/governance/src/routes/proposals/proposals/Proposals.graphql
  apps/governance/src/routes/proposals/proposals/__generated__/Proposals.ts
  apps/governance/src/routes/proposals/proposals/proposals-container.tsx
  apps/governance/src/routes/proposals/rejected/rejected-proposals-container.tsx
  libs/network-parameters/src/use-network-params.ts
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5020 chore(trading): oracle banner test
  apps/trading-e2e/src/integration/oracle.cy.ts
  libs/markets/src/lib/components/oracle-banner/oracle-banner.spec.tsx
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5022 feat(governance): volume discount proposals
  apps/governance-e2e/.env
  apps/governance-e2e/.env.devnet
  apps/governance-e2e/.env.mainnet
  apps/governance-e2e/.env.testnet
  apps/governance/.env
  apps/governance/.env.capsule
  apps/governance/.env.devnet
  apps/governance/.env.mainnet
  apps/governance/.env.mainnet-mirror
  apps/governance/.env.stagnet1
  apps/governance/.env.testnet
  apps/governance/.env.validators-testnet
  apps/governance/src/i18n/translations/dev.json
  apps/governance/src/routes/home/index.tsx
  apps/governance/src/routes/proposals/components/proposal-detail-header/proposal-header.tsx
  apps/governance/src/routes/proposals/components/proposal-referral-program-details/proposal-referral-program-details.spec.tsx
  apps/governance/src/routes/proposals/components/proposal-volume-discount-program-details/index.tsx
  apps/governance/src/routes/proposals/components/proposal-volume-discount-program-details/proposal-volume-discount-program-details.spec.tsx
  apps/governance/src/routes/proposals/components/proposal-volume-discount-program-details/proposal-volume-discount-program-details.tsx
  apps/governance/src/routes/proposals/components/proposal/proposal.tsx
  apps/governance/src/routes/proposals/hooks/use-proposal-network-params.ts
  apps/governance/src/routes/proposals/proposal/Proposal.graphql
  apps/governance/src/routes/proposals/proposal/__generated__/Proposal.ts
  apps/governance/src/routes/proposals/proposal/proposal-container.tsx
  apps/governance/src/routes/proposals/proposals/Proposals.graphql
  apps/governance/src/routes/proposals/proposals/__generated__/Proposals.ts
  apps/governance/src/routes/proposals/proposals/proposals-container.tsx
  apps/governance/src/routes/proposals/rejected/rejected-proposals-container.tsx
  libs/environment/src/hooks/use-environment.ts
  libs/environment/src/types.ts
  libs/environment/src/utils/validate-environment.ts
  libs/network-parameters/src/use-network-params.ts
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5018 chore(trading): add timezone note to the ledger entries form
  apps/governance/jest.config.ts
  libs/ledger/src/lib/ledger-export-form.spec.tsx
  libs/ledger/src/lib/ledger-export-form.tsx
Labels: governance-preview, trading-preview

#5028 test(trading): add funding spec
  specs/7007-LEEN-ledger-entries.md
  specs/7008-FUND-funding-payment.md
  specs/README.md
Labels: explorer-preview, governance-preview, trading-preview

#5023 chore(trading): upgrade pennant version
  package.json
  yarn.lock
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#4800 feat(trading): display fees discounts
  libs/deal-ticket/src/components/deal-ticket/deal-ticket-fee-details.tsx
  libs/deal-ticket/src/components/deal-ticket/key-value.tsx
  libs/deal-ticket/src/components/fees-breakdown/fees-breakdown.tsx
  libs/deal-ticket/src/components/fees-breakdown/index.ts
  libs/deal-ticket/src/components/index.ts
  libs/deal-ticket/src/hooks/EstimateOrder.graphql
  libs/deal-ticket/src/hooks/__generated__/EstimateOrder.ts
  libs/deal-ticket/src/hooks/use-estimate-fees.spec.tsx
  libs/deal-ticket/src/hooks/use-estimate-fees.tsx
  libs/fills/src/lib/Fills.graphql
  libs/fills/src/lib/__generated__/Fills.ts
  libs/fills/src/lib/fills-table.spec.tsx
  libs/fills/src/lib/fills-table.tsx
  libs/fills/src/lib/test-helpers.ts
  libs/markets/src/lib/components/fees-breakdown/fees-breakdown.tsx
  libs/markets/src/lib/components/index.ts
  libs/markets/src/lib/components/market-info/market-info-panels.tsx
  libs/markets/src/lib/market-utils.spec.tsx
  libs/markets/src/lib/market-utils.ts
  libs/orders/src/lib/components/order-list/order-view-dialog.tsx
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5011 test(governance): governance transfer proposal tests
  apps/governance-e2e/.env
  apps/governance-e2e/src/fixtures/proposals/cancel-transfer-raw.json
  apps/governance-e2e/src/integration/flow/proposal-details.cy.ts
  apps/governance-e2e/src/support/proposal.functions.ts
  apps/governance-e2e/src/support/wallet-functions.ts
  libs/cypress/src/index.ts
  libs/cypress/src/lib/commands/vega-wallet-fund-network-account.ts
  libs/cypress/src/lib/commands/vega-wallet-top-up-rewards-pool.ts
  libs/wallet/src/connectors/vega-connector.ts
Labels: Testing 🧪, Governance, explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5038 chore(trading): fix hydration errors and improve loading experience
  apps/static/src/assets/preloader.css
  apps/static/src/preloader.scss
  apps/trading/components/bootstrapper/bootstrapper.tsx
  apps/trading/components/bootstrapper/index.tsx
  apps/trading/components/bootstrapper/web3-provider.tsx
  apps/trading/components/preloader/preloader.tsx
  apps/trading/pages/_app.page.tsx
  apps/trading/pages/_document.page.tsx
  apps/trading/pages/ssr-loader.tsx
  apps/trading/public/preloader.css
  libs/environment/src/components/app-failure/app-failure.tsx
  libs/environment/src/components/app-loader/app-loader.tsx
  libs/environment/src/components/app-loader/index.ts
  libs/environment/src/components/index.ts
  libs/ui-toolkit/src/components/loader/loader.tsx
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5037 chore(trading): add background to sidebar and minor tweaks
  apps/trading/client-pages/market/market-header-stats.tsx
  apps/trading/components/header/header.tsx
  apps/trading/components/layouts/layout-with-sidebar.tsx
  apps/trading/components/market-header/market-header.tsx
Labels: trading-preview

#5034 feat(trading): adjust layout for funding payments
  apps/trading/client-pages/market/trade-grid.tsx
  apps/trading/components/funding-payments-container/funding-payments-container.tsx
  libs/funding-payments/src/lib/FundingPayments.graphql
  libs/funding-payments/src/lib/__generated__/FundingPayments.ts
  libs/funding-payments/src/lib/funding-payments-manager.tsx
Labels: explorer-preview, governance-preview, trading-preview

#5046 chore(trading): code owners fix for two reviewers
  CODEOWNERS
Labels: explorer-preview, governance-preview, trading-preview

#5025 fix(governance): governance initiated transfers tweaks
  apps/governance/src/i18n/translations/dev.json
  apps/governance/src/routes/proposals/components/proposal-detail-header/proposal-header.tsx
  apps/governance/src/routes/proposals/hooks/use-proposal-network-params.ts
  libs/network-parameters/src/use-network-params.ts
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5044 chore(assets): add testnet deny list
  libs/assets/src/lib/assets-data-provider.ts
  libs/assets/src/lib/constants.ts
  libs/deposits/src/lib/deposit-container.tsx
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5030 fix(trading): update referral program proposal changes
  apps/governance/src/routes/proposals/components/proposal-referral-program-details/proposal-referral-program-details.spec.tsx
  apps/governance/src/routes/proposals/components/proposal-referral-program-details/proposal-referral-program-details.tsx
  apps/governance/src/routes/proposals/proposal/Proposal.graphql
  apps/governance/src/routes/proposals/proposal/__generated__/Proposal.ts
  apps/governance/src/routes/proposals/proposals/Proposals.graphql
  apps/governance/src/routes/proposals/proposals/__generated__/Proposals.ts
  libs/trades/src/lib/trades-table.spec.tsx
  libs/types/src/__generated__/types.ts
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5039 fix(trading): glitchy waterfall loading
  apps/explorer/src/app/app.tsx
  apps/governance/src/app.tsx
  apps/trading/components/bootstrapper/bootstrapper.tsx
  apps/trading/components/bootstrapper/web3-provider.tsx
  apps/trading/pages/_app.page.tsx
  apps/trading/pages/maybe-connect-eagerly.tsx
  apps/trading/pages/party-active-orders-handler.tsx
  apps/trading/pages/transaction-handlers.tsx
  libs/environment/src/components/app-failure/app-failure.tsx
  libs/environment/src/components/index.ts
  libs/environment/src/components/network-loader/network-loader.tsx
  libs/environment/src/components/node-failure/index.ts
  libs/environment/src/components/node-failure/node-failure.tsx
  libs/environment/src/components/node-guard/node-guard.tsx
  libs/environment/src/hooks/use-environment.ts
  libs/environment/src/utils/validate-environment.ts
  libs/ui-toolkit/src/components/index.ts
  libs/ui-toolkit/src/components/maintenance-page/index.ts
  libs/ui-toolkit/src/components/maintenance-page/maintenance-page.stories.tsx
  libs/ui-toolkit/src/components/maintenance-page/maintenance-page.tsx
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5054 chore(trading,explorer,governance): adjust codeowners to require reviews from both teams
  CODEOWNERS
Labels: explorer-preview, governance-preview, trading-preview

#5042 fix(trading): remove additional page for closed markets
  apps/trading/client-pages/closed-market/closed-market.tsx
  apps/trading/client-pages/closed-market/index.ts
  apps/trading/client-pages/liquidity/liquidity-sidebar.tsx
  apps/trading/client-pages/market/market.tsx
  apps/trading/client-pages/markets/closed.spec.tsx
  apps/trading/client-pages/markets/closed.tsx
  apps/trading/client-pages/markets/markets-sidebar.tsx
  apps/trading/client-pages/portfolio/portfolio-sidebar.tsx
  apps/trading/components/layouts/layout-with-sidebar.tsx
  apps/trading/components/market-header/market-header.tsx
  apps/trading/components/navbar/navbar.spec.tsx
  apps/trading/components/navbar/navbar.tsx
  apps/trading/components/orders-container/orders-container.tsx
  apps/trading/components/sidebar/sidebar.spec.tsx
  apps/trading/components/sidebar/sidebar.tsx
  apps/trading/lib/hooks/use-market-click-handler.ts
  apps/trading/lib/links.ts
  apps/trading/pages/client-router.tsx
Labels: trading-preview

#5036 chore(trading): deposit test to jest
  apps/trading-e2e/src/integration/deposit.cy.ts
  libs/accounts/src/lib/accounts-table.spec.tsx
  libs/deposits/src/lib/deposit-form.spec.tsx
Labels: explorer-preview, governance-preview, trading-preview

#5050 fix(trading): liquidation price tooltip link
  libs/deal-ticket/src/components/deal-ticket/deal-ticket-fee-details.tsx
  libs/deal-ticket/src/constants.ts
Labels: explorer-preview, governance-preview, trading-preview

#5058 chore(trading): move transfer test to jest
  apps/trading-e2e/src/integration/withdraw-key-to-key-validation.cy.ts
  libs/accounts/src/lib/transfer-form.spec.tsx
Labels: explorer-preview, governance-preview, trading-preview

#5053 chore(ledger): 4895 refactor ledger csv extract
  apps/trading/components/telemetry/telemetry.tsx
  apps/trading/pages/transaction-handlers.tsx
  libs/ledger/src/index.ts
  libs/ledger/src/lib/ledger-download-store.tsx
  libs/ledger/src/lib/ledger-export-form.spec.tsx
  libs/ledger/src/lib/ledger-export-form.tsx
  specs/7007-LEEN-ledger-entries.md
Labels: trading-preview

#5027 fix(trading): market selector dropdown not updating
  apps/trading/components/market-selector/market-selector-item.tsx
  apps/trading/components/market-selector/market-selector.spec.tsx
  apps/trading/components/market-selector/use-market-selector-list.spec.tsx
  apps/trading/components/market-selector/use-market-selector-list.ts
  libs/datagrid/src/lib/cells/market-name-cell.tsx
  libs/markets/src/lib/__generated__/markets-data.ts
  libs/markets/src/lib/markets-data.graphql
  libs/markets/src/lib/markets-data.mock.ts
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5043 fix(trading): hydration error due to loader
  apps/trading/pages/ssr-loader.tsx
  libs/ui-toolkit/src/components/loader/loader.tsx
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5059 chore(trading): update snap version to 0.3.1
  libs/wallet/src/connectors/snap-connector.ts
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5063 chore(ui-toolkit): 4970 async renderer - improve error handling
  libs/ui-toolkit/src/components/async-renderer/async-renderer.spec.tsx
  libs/ui-toolkit/src/components/async-renderer/async-renderer.tsx
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5056 feat(trading): show successor banner if market is settled or successor market exists
  apps/trading/components/market-banner/market-successor-banner.spec.tsx
  apps/trading/components/market-banner/market-successor-banner.tsx
  libs/markets/src/lib/market-data-provider.ts
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5075 chore(trading): add button for copying asset id
  libs/assets/src/lib/asset-details-table.tsx
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5092 feat(governance): transfers destination field can fallback to type
  apps/governance/src/routes/proposals/components/proposal-detail-header/proposal-header.spec.tsx
  apps/governance/src/routes/proposals/components/proposal-detail-header/proposal-header.tsx
Labels: governance-preview

#5076 chore(orders): 4970 add no rows and error info
  apps/trading/components/orders-container/orders-container.tsx
  libs/candles-chart/src/lib/candles-chart.tsx
  libs/market-depth/src/lib/depth-chart.tsx
  libs/market-depth/src/lib/orderbook-manager.tsx
  libs/market-depth/src/lib/orderbook.tsx
  libs/orders/src/lib/components/order-list-manager/order-list-manager.spec.tsx
  libs/orders/src/lib/components/order-list-manager/order-list-manager.tsx
  libs/orders/src/lib/components/order-list/order-list.tsx
  libs/react-helpers/src/hooks/use-theme-switcher.ts
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5094 feat(explorer): add restricted route
  apps/explorer/src/app/routes/layout.tsx
  apps/explorer/src/app/routes/restricted/index.tsx
  apps/explorer/src/app/routes/route-names.tsx
  apps/explorer/src/app/routes/router-config.tsx
Labels: explorer-preview

#5097 feat(governance): add restricted page
  apps/governance/src/app.tsx
  apps/governance/src/i18n/translations/dev.json
  apps/governance/src/routes/restricted/index.tsx
  apps/governance/src/routes/router-config.tsx
  apps/governance/src/routes/routes.ts
Labels: governance-preview

#5100 chore(trading): fix cancel all button and move trading orders tests
  apps/trading-e2e/src/integration/trading-orders.cy.ts
  apps/trading/client-pages/market/trade-grid.tsx
  apps/trading/client-pages/market/trade-panels.tsx
  libs/orders/src/lib/components/open-orders-menu/open-orders-menu.tsx
  libs/orders/src/lib/components/order-data-provider/order-data-provider.ts
  libs/orders/src/lib/components/order-list/order-edit-dialog.spec.tsx
  libs/orders/src/lib/components/order-list/order-list.spec.tsx
  libs/orders/src/lib/order-hooks/use-has-amendable-order.ts
Labels: Trading, Testing 🧪, explorer-preview, governance-preview, trading-preview

#5099 chore(trading): use quantum for liquidity supplied
  apps/trading/client-pages/market/market-header-stats.tsx
  apps/trading/components/liquidity-supplied/liquidity-supplied.tsx
  libs/deal-ticket/src/components/deal-ticket/deal-ticket-stop-order.tsx
  libs/deal-ticket/src/components/deal-ticket/deal-ticket.tsx
Labels: explorer-preview, governance-preview, trading-preview

#5057 feat(trading): show when a market may be closed through governance
  apps/trading/components/market-banner/market-successor-proposal-banner.tsx
  apps/trading/components/market-banner/market-termination-banner.spec.tsx
  apps/trading/components/market-banner/market-termination-banner.tsx
  libs/proposals/src/lib/proposals-data-provider/index.ts
  libs/proposals/src/lib/proposals-data-provider/proposals-data-provider.spec.tsx
  libs/proposals/src/lib/proposals-data-provider/proposals-data-provider.tsx
  libs/proposals/src/lib/proposals-hooks/index.ts
  libs/proposals/src/lib/proposals-hooks/use-market-view-proposals.ts
  libs/proposals/src/lib/proposals-hooks/use-update-proposal.ts
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5021 feat(trading): referrals (Mk2), referrals stats, apply preview
  apps/governance/src/routes/proposals/proposal/__generated__/Proposal.ts
  apps/governance/src/routes/proposals/proposals/__generated__/Proposals.ts
  apps/governance/src/routes/proposals/test-helpers/generate-proposals.ts
  apps/trading/client-pages/markets/closed.spec.tsx
  apps/trading/client-pages/referrals/apply-code-form.tsx
  apps/trading/client-pages/referrals/buttons.tsx
  apps/trading/client-pages/referrals/constants.ts
  apps/trading/client-pages/referrals/create-code-form.tsx
  apps/trading/client-pages/referrals/hooks/CurrentReferralProgram.graphql
  apps/trading/client-pages/referrals/hooks/Epoch.graphql
  apps/trading/client-pages/referrals/hooks/Referees.graphql
  apps/trading/client-pages/referrals/hooks/ReferralSetStats.graphql
  apps/trading/client-pages/referrals/hooks/ReferralSets.graphql
  apps/trading/client-pages/referrals/hooks/__generated__/CurrentReferralProgram.ts
  apps/trading/client-pages/referrals/hooks/__generated__/Epoch.ts
  apps/trading/client-pages/referrals/hooks/__generated__/Referees.ts
  apps/trading/client-pages/referrals/hooks/__generated__/ReferralSetStats.ts
  apps/trading/client-pages/referrals/hooks/__generated__/ReferralSets.ts
  apps/trading/client-pages/referrals/hooks/use-referral-program.ts
  apps/trading/client-pages/referrals/hooks/use-referral.ts
  apps/trading/client-pages/referrals/referral-statistics.tsx
  apps/trading/client-pages/referrals/referrals.tsx
  apps/trading/client-pages/referrals/table.tsx
  apps/trading/client-pages/referrals/tag.tsx
  apps/trading/client-pages/referrals/tiers.tsx
  apps/trading/client-pages/referrals/tile.tsx
  apps/trading/components/navbar/navbar.tsx
  apps/trading/public/1x.png
  apps/trading/public/2x.png
  apps/trading/public/3x.png
  apps/trading/tailwind.config.js
  libs/types/src/__generated__/types.ts
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5032 feat(trading): add liquidity provision new SLA parameters to liquidity tables
  apps/governance/src/routes/proposals/components/proposal-referral-program-details/proposal-referral-program-details.spec.tsx
  apps/trading-e2e/src/integration/live-env.cy.ts
  apps/trading-e2e/src/integration/market-liquidity.cy.ts
  apps/trading-e2e/src/support/trading.ts
  apps/trading/.env
  libs/liquidity/src/lib/MarketLiquidity.graphql
  libs/liquidity/src/lib/__generated__/MarketLiquidity.ts
  libs/liquidity/src/lib/liquidity-data-provider.spec.tsx
  libs/liquidity/src/lib/liquidity-data-provider.ts
  libs/liquidity/src/lib/liquidity-table.spec.tsx
  libs/liquidity/src/lib/liquidity-table.tsx
  libs/liquidity/src/lib/liquidity.mock.ts
  libs/ui-toolkit/src/components/tooltip/tooltip.tsx
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5113 chore(trading): i18n-friendly referrals
  apps/trading/client-pages/referrals/apply-code-form.tsx
  apps/trading/client-pages/referrals/create-code-form.tsx
  apps/trading/client-pages/referrals/error-boundary.tsx
  apps/trading/client-pages/referrals/how-it-works-table.tsx
  apps/trading/client-pages/referrals/landing-banner.tsx
  apps/trading/client-pages/referrals/referral-statistics.tsx
  apps/trading/client-pages/referrals/referrals.tsx
  apps/trading/client-pages/referrals/tiers.tsx
Labels: trading-preview

#5112 feat(explorer): add determinsitic id to transfer tx
  apps/explorer/src/app/components/txs/details/tx-transfer.tsx
  apps/explorer/src/app/components/txs/tx-transfer.spec.tsx
Labels: explorer-preview

#5005 chore(trading,positions): update estimatePosition query to use market decimals for liquidation price
  libs/accounts/src/lib/accounts-table.tsx
  libs/deal-ticket/src/components/deal-ticket/deal-ticket-fee-details.tsx
  libs/positions/src/lib/Positions.graphql
  libs/positions/src/lib/__generated__/Positions.ts
  libs/positions/src/lib/liquidation-price.spec.tsx
  libs/positions/src/lib/liquidation-price.tsx
  libs/positions/src/lib/positions-table.tsx
Labels: explorer-preview, governance-preview, trading-preview

#5109 chore(trading): withdraw tests to jest
  apps/trading-e2e/src/integration/withdraw.cy.ts
  libs/withdraws/src/lib/withdraw-manager.spec.tsx
Labels: explorer-preview, governance-preview, trading-preview

#5117 chore(trading): referrals with sidebar
  apps/trading/client-pages/referrals/landing-banner.tsx
  apps/trading/client-pages/referrals/layout.tsx
  apps/trading/components/layouts/layout-with-sidebar.tsx
  apps/trading/pages/client-router.tsx
  apps/trading/public/sky-dark.png
  apps/trading/public/sky-light.png
Labels: trading-preview

#5119 feat(trading): add tooltips for iceberg and post or reduce only
  libs/deal-ticket/src/components/deal-ticket/deal-ticket.tsx
  libs/environment/src/hooks/use-links.ts
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5124 fix(trading): quote base unit for size
  libs/deal-ticket/src/components/deal-ticket/deal-ticket.tsx
Labels: explorer-preview, governance-preview, trading-preview

#5116 test(trading): fix capsule test
  apps/trading-e2e/src/integration/capsule.cy.ts
Labels: Trading, Testing 🧪, trading-preview

#5120 feat(trading): upgrade pennant@1.14.0
  package.json
  yarn.lock
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5121 chore(trading): delete dupe transfer tests
  apps/trading-e2e/src/integration/withdraw-key-to-key-validation-fees.cy.ts
Labels: trading-preview

#5122 chore(trading): delete fills cypress tests
  apps/trading-e2e/src/integration/trading-fills.cy.ts
  libs/fills/src/lib/fills-table.spec.tsx
Labels: explorer-preview, governance-preview, trading-preview

#5128 chore(trading): suspend market test to console test
  apps/trading-e2e/src/integration/trading-deal-ticket-submit-suspended.cy.ts
Labels: trading-preview

#5055 feat(trading): fees page
  apps/trading/client-pages/fees/fees.tsx
  apps/trading/client-pages/fees/index.ts
  apps/trading/client-pages/portfolio/portfolio.tsx
  apps/trading/components/fees-container/Fees.graphql
  apps/trading/components/fees-container/__generated__/Fees.ts
  apps/trading/components/fees-container/fees-card.tsx
  apps/trading/components/fees-container/fees-container.spec.tsx
  apps/trading/components/fees-container/fees-container.tsx
  apps/trading/components/fees-container/index.ts
  apps/trading/components/fees-container/market-fees.tsx
  apps/trading/components/fees-container/stat.tsx
  apps/trading/components/fees-container/table.tsx
  apps/trading/components/fees-container/use-referral-stats.spec.ts
  apps/trading/components/fees-container/use-referral-stats.ts
  apps/trading/components/fees-container/use-volume-stats.spec.ts
  apps/trading/components/fees-container/use-volume-stats.ts
  apps/trading/components/fees-container/utils.ts
  apps/trading/components/layouts/layout-with-sidebar.tsx
  apps/trading/components/navbar/navbar.spec.tsx
  apps/trading/components/navbar/navbar.tsx
  apps/trading/lib/links.ts
  apps/trading/pages/client-router.tsx
  apps/trading/pages/styles.css
  libs/network-parameters/src/use-network-params.ts
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5130 feat(trading): add row click for fees table
  apps/trading/components/fees-container/market-fees.tsx
Labels: trading-preview

#5131 feat(ui-toolkit): sparkline shaded area
  libs/ui-toolkit/src/components/sparkline/sparkline.spec.tsx
  libs/ui-toolkit/src/components/sparkline/sparkline.stories.tsx
  libs/ui-toolkit/src/components/sparkline/sparkline.tsx
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5123 feat(trading): add earmarked fees
  apps/trading-e2e/src/integration/market-liquidity.cy.ts
  apps/trading/.env
  libs/liquidity/src/lib/MarketLiquidity.graphql
  libs/liquidity/src/lib/MarketsLiquidity.graphql
  libs/liquidity/src/lib/__generated__/MarketLiquidity.ts
  libs/liquidity/src/lib/__generated__/MarketsLiquidity.ts
  libs/liquidity/src/lib/liquidity-data-provider.spec.tsx
  libs/liquidity/src/lib/liquidity-data-provider.ts
  libs/liquidity/src/lib/liquidity-table.spec.tsx
  libs/liquidity/src/lib/liquidity-table.tsx
  libs/liquidity/src/lib/liquidity.mock.ts
  libs/liquidity/src/lib/utils/liquidity-utils.ts
  libs/markets/src/lib/components/market-info/market-info-panels.tsx
  libs/network-parameters/src/use-network-params.ts
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5134 feat(proposals): generic proposal toasts
  apps/trading/pages/toasts-manager.tsx
  libs/proposals/src/lib/proposals-hooks/Proposal.graphql
  libs/proposals/src/lib/proposals-hooks/__generated__/Proposal.ts
  libs/proposals/src/lib/proposals-hooks/index.ts
  libs/proposals/src/lib/proposals-hooks/use-proposal-toasts.spec.tsx
  libs/proposals/src/lib/proposals-hooks/use-proposal-toasts.tsx
  libs/proposals/src/lib/proposals-hooks/use-update-network-paramaters-toasts.tsx
  libs/proposals/src/lib/proposals-hooks/use-update-network-parameters-toasts.spec.tsx
  libs/types/src/__generated__/types.ts
  libs/types/src/global-types-mappings.ts
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5139 fix(trading): referrals next tier tiles
  apps/trading/client-pages/referrals/referral-statistics.tsx
Labels: trading-preview

#5138 chore(trading): update fee factor with discount calculation
  apps/trading/components/fees-container/fees-container.tsx
  apps/trading/components/fees-container/utils.spec.ts
  apps/trading/components/fees-container/utils.ts
  libs/utils/src/lib/format/number.ts
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5132 chore(cypress): fix failing assertions
  apps/explorer-e2e/src/integration/market.cy.js
  apps/governance-e2e/src/integration/flow/proposal-details.cy.ts
Labels: explorer-preview, governance-preview

#5129 feat(candles-chart): combine overlays and studies into indicators dropdown
  libs/candles-chart/src/lib/candles-menu.spec.tsx
  libs/candles-chart/src/lib/candles-menu.tsx
  libs/candles-chart/src/lib/use-candles-chart-settings.ts
Labels: explorer-preview, governance-preview, trading-preview

#5105 feat(trading): show full history of orders, fills and trades
  libs/data-provider/src/use-data-provider.ts
  libs/deal-ticket/src/components/deal-ticket/deal-ticket.spec.tsx
  libs/fills/src/lib/Fills.graphql
  libs/fills/src/lib/__generated__/Fills.ts
  libs/fills/src/lib/fills-manager.tsx
  libs/fills/src/lib/fills-table.tsx
  libs/orders/src/lib/components/order-data-provider/order-data-provider.ts
  libs/orders/src/lib/components/order-list-manager/order-list-manager.spec.tsx
  libs/orders/src/lib/components/order-list-manager/order-list-manager.tsx
  libs/orders/src/lib/components/stop-orders-manager/stop-orders-manager.spec.tsx
  libs/trades/src/lib/trades-manager.tsx
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5150 feat(funding-payments): add load more button to the funding payments table
  libs/funding-payments/src/lib/funding-payments-data-provider.ts
  libs/funding-payments/src/lib/funding-payments-manager.tsx
Labels: explorer-preview, governance-preview, trading-preview

#5143 fix(trading): referrer stats tiles
  apps/trading/client-pages/referrals/apply-code-form.tsx
  apps/trading/client-pages/referrals/hooks/Referees.graphql
  apps/trading/client-pages/referrals/hooks/ReferralSetStats.graphql
  apps/trading/client-pages/referrals/hooks/__generated__/Referees.ts
  apps/trading/client-pages/referrals/hooks/__generated__/ReferralSetStats.ts
  apps/trading/client-pages/referrals/hooks/use-referral.ts
  apps/trading/client-pages/referrals/referral-statistics.tsx
  apps/trading/client-pages/referrals/tiers.tsx
  apps/trading/client-pages/referrals/tile.tsx
  libs/types/src/__generated__/types.ts
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5147 feat(deal-ticket): calculate fees and discount base on volumeDiscountStats and referralSetStats
  libs/deal-ticket/src/components/deal-ticket/deal-ticket-fee-details.tsx
  libs/deal-ticket/src/components/discounts.spec.ts
  libs/deal-ticket/src/components/discounts.ts
  libs/deal-ticket/src/components/fees-breakdown/fees-breakdown.tsx
  libs/deal-ticket/src/hooks/EstimateOrder.graphql
  libs/deal-ticket/src/hooks/__generated__/EstimateOrder.ts
  libs/deal-ticket/src/hooks/estimate-order.mock.ts
  libs/deal-ticket/src/hooks/use-estimate-fees.spec.tsx
  libs/deal-ticket/src/hooks/use-estimate-fees.tsx
  libs/markets/src/lib/market-utils.spec.tsx
  libs/markets/src/lib/market-utils.ts
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5154 feat(trading): show fees paid across whole market
  apps/trading/components/liquidity-header/liquidity-header.tsx
  libs/liquidity/src/lib/MarketLiquidity.graphql
  libs/liquidity/src/lib/__generated__/MarketLiquidity.ts
Labels: explorer-preview, governance-preview, trading-preview

#5137 fix(ui-toolkit): sparkline appearing to go up when the price moved down
  libs/ui-toolkit/src/components/sparkline/sparkline.stories.tsx
  libs/ui-toolkit/src/components/sparkline/sparkline.tsx
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5152 feat(trading): liquidity provision current and pending on update
  libs/liquidity/src/lib/liquidity-data-provider.ts
  libs/liquidity/src/lib/liquidity-table.tsx
Labels: explorer-preview, governance-preview, trading-preview
