Repository vegaprotocol/frontend-monorepo, pull requests merged in 2023-06, with the labels that each got.

#3992 test(trading): reverted node tests
  apps/trading-e2e/src/integration/capsule.cy.ts
  apps/trading-e2e/src/integration/home-node-network.cy.ts
Labels: trading-preview

#4014 test(trading): key to key transfer tests
  apps/trading-e2e/src/integration/capsule.cy.ts
  apps/trading-e2e/src/integration/trading-accounts.cy.ts
  apps/trading-e2e/src/integration/withdraw-key-to-key.cy.ts
Labels: trading-preview

#3988 feat(explorer): do not colourise votes in tx list
  apps/explorer/src/app/components/txs/tx-order-type.tsx
  apps/explorer/src/app/components/vote-icon/vote-icon.spec.tsx
  apps/explorer/src/app/components/vote-icon/vote-icon.tsx
Labels: explorer-preview

#4019 feat(explorer): properly represent batch error 71
  apps/explorer/src/app/components/txs/details/chain-response-code/chain-reponse.code.tsx
Labels: explorer-preview

#4025 test(trading): 6001-MARK-find_markets e2e tests
  apps/trading-e2e/src/integration/market-all.cy.ts
  apps/trading-e2e/src/integration/markets-proposed.cy.ts
  apps/trading-e2e/src/integration/markets.cy.ts
Labels: trading-preview

#4026 test(trading): 6501-ASSE-assets e2e tests
  apps/trading-e2e/src/integration/assets.cy.ts
  apps/trading-e2e/src/integration/trading-accounts.cy.ts
Labels: Trading, Testing 🧪, trading-preview

#4012 fix(trading): use ag grid to handle error,loading and no data message
  apps/trading-e2e/src/integration/trading-positions.cy.ts
  apps/trading/client-pages/liquidity/liquidity.tsx
  apps/trading/client-pages/markets/closed.tsx
  apps/trading/client-pages/portfolio/deposits-container.tsx
  apps/trading/client-pages/portfolio/withdrawals-container.tsx
  libs/accounts/src/lib/accounts-manager.spec.tsx
  libs/accounts/src/lib/accounts-manager.tsx
  libs/datagrid/src/lib/ag-grid/ag-grid-lazy-themed.tsx
  libs/fills/src/lib/fills-manager.tsx
  libs/ledger/src/lib/ledger-manager.tsx
  libs/markets/src/lib/components/markets-container/markets-container.tsx
  libs/orders/src/lib/components/order-list-manager/order-list-manager.spec.tsx
  libs/orders/src/lib/components/order-list-manager/order-list-manager.tsx
  libs/orders/src/lib/components/order-list/order-list.spec.tsx
  libs/positions/src/lib/positions-data-providers.ts
  libs/positions/src/lib/positions-manager.tsx
  libs/proposals/src/components/proposals-list/proposal-list.spec.tsx
  libs/proposals/src/components/proposals-list/proposals-list.tsx
  libs/trades/src/lib/trades-container.tsx
  libs/trades/src/lib/trades-data-provider.ts
  libs/trades/src/lib/trades-table.tsx
Labels: explorer-preview, governance-preview, trading-preview

#4038 chore(governance): nightly e2e test fixes
  .github/workflows/cypress-run.yml
  apps/governance-e2e/src/integration/flow/proposal-details.cy.ts
  apps/governance-e2e/src/integration/flow/proposal-enacted.cy.ts
  apps/governance-e2e/src/integration/flow/proposal-forms.cy.ts
  apps/governance-e2e/src/integration/flow/proposal-list.cy.ts
  apps/governance-e2e/src/integration/flow/rewards-flow.cy.ts
  apps/governance-e2e/src/integration/flow/staking-flow.cy.ts
  apps/governance-e2e/src/integration/flow/token-association-flow.cy.ts
  apps/governance-e2e/src/support/common.functions.ts
  apps/governance-e2e/src/support/governance.functions.ts
  apps/governance-e2e/src/support/staking.functions.ts
  apps/governance-e2e/src/support/wallet-teardown.functions.ts
Labels: governance-preview

#4034 feat(governance,proposals,web3): remove use of word "we" in copy
  apps/governance/src/i18n/translations/dev.json
  apps/governance/src/routes/proposals/components/propose/proposal-form-vote-and-enactment-deadline.spec.tsx
  libs/proposals/src/utils/get-closing-timestamp.ts
  libs/proposals/src/utils/get-enactment-timestamp.ts
  libs/web3/src/lib/withdrawal-approval-dialog.tsx
Labels: explorer-preview, governance-preview, trading-preview

#3994 feat(governance): multisig warning
  apps/governance/src/components/multisig-incorrect-notice/index.ts
  apps/governance/src/components/multisig-incorrect-notice/multisig-incorrect-notice.spec.tsx
  apps/governance/src/components/multisig-incorrect-notice/multisig-incorrect-notice.tsx
  apps/governance/src/i18n/translations/dev.json
  apps/governance/src/lib/get-multisig-status-info.spec.ts
  apps/governance/src/lib/get-multisig-status-info.ts
  apps/governance/src/routes/rewards/home/rewards-page.tsx
  apps/governance/src/routes/staking/home/epoch-data.tsx
  libs/environment/src/hooks/use-links.ts
Labels: explorer-preview, governance-preview, trading-preview

#3989 fix(trading): market selector volume update
  apps/trading-e2e/src/integration/market-info.cy.ts
  apps/trading-e2e/src/integration/market-selector.cy.ts
  apps/trading/client-pages/market/market-selector-item.spec.tsx
  apps/trading/client-pages/market/market-selector-item.tsx
  apps/trading/client-pages/market/use-market-selector-list.ts
  libs/markets/src/lib/components/last-24h-price-change/last-24h-price-change.tsx
  libs/markets/src/lib/components/last-24h-volume/last-24h-volume.tsx
  libs/markets/src/lib/hooks/index.ts
  libs/markets/src/lib/hooks/use-candles.spec.ts
  libs/markets/src/lib/hooks/use-candles.ts
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#4016 feat(trading): 3945 orderbook enhancements
  apps/trading/client-pages/market/trade-grid.tsx
  libs/datagrid/src/lib/cells/numeric-cell.tsx
  libs/datagrid/src/lib/cells/order-type-cell.tsx
  libs/datagrid/src/lib/cells/price-cell.tsx
  libs/market-depth/src/lib/orderbook-data.spec.ts
  libs/market-depth/src/lib/orderbook-data.ts
  libs/market-depth/src/lib/orderbook-manager.tsx
  libs/market-depth/src/lib/orderbook-row.tsx
  libs/market-depth/src/lib/orderbook.spec.tsx
  libs/market-depth/src/lib/orderbook.stories.tsx
  libs/market-depth/src/lib/orderbook.tsx
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#4030 chore(trading): add quantum formatting to deal ticket
  apps/trading-e2e/src/integration/trading-deal-ticket-order.cy.ts
  libs/deal-ticket/src/components/deal-ticket/deal-ticket-fee-details.tsx
  libs/deal-ticket/src/hooks/use-fee-deal-ticket-details.spec.tsx
  libs/deal-ticket/src/hooks/use-fee-deal-ticket-details.tsx
  libs/deal-ticket/src/test-helpers.ts
  libs/fills/src/lib/test-helpers.ts
  libs/markets/src/lib/__generated__/markets.ts
  libs/markets/src/lib/markets.graphql
  libs/markets/src/lib/markets.mock.ts
  libs/orders/src/lib/components/mocks/generate-orders.ts
  libs/utils/src/lib/format/number.spec.ts
  libs/utils/src/lib/format/number.ts
  libs/withdraws/src/lib/withdraw-form-container.spec.tsx
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#4049 chore(ui-toolkit,react-helpers,utils): publish new versions of ui-toolkit, react-helpers and utils
  libs/react-helpers/package.json
  libs/ui-toolkit/package.json
  libs/utils/package.json
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#4056 fix(ui-toolkit): display of loader in large variant
  apps/static/src/assets/preloader.css
  apps/static/src/preloader.scss
  libs/ui-toolkit/src/components/loader/loader.module.scss
  libs/ui-toolkit/src/components/loader/loader.tsx
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#4044 fix(withdraws): clear eth network errors
  libs/utils/src/index.ts
  libs/utils/src/lib/resolve-network-name.ts
  libs/web3/src/lib/use-ethereum-withdraw-approval-toasts.tsx
  libs/web3/src/lib/use-ethereum-withdraw-approvals-manager.spec.tsx
  libs/web3/src/lib/use-ethereum-withdraw-approvals-manager.tsx
  libs/web3/src/lib/use-ethereum-withdraw-approvals-store.tsx
  libs/web3/src/lib/withdrawal-approval-status.tsx
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#4064 test(trading): 3502-POSI-e2e-tests
  apps/trading-e2e/src/integration/trading-positions.cy.ts
  libs/positions/src/lib/positions.mock.ts
  package.json
  yarn.lock
Labels: Trading, explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#4036 chore(trading): cleanup paginated data solution, improve performance
  libs/data-provider/src/generic-data-provider.spec.ts
  libs/data-provider/src/generic-data-provider.ts
  libs/data-provider/src/use-data-provider.ts
  libs/deal-ticket/src/components/deal-ticket/deal-ticket.tsx
  libs/fills/src/index.ts
  libs/fills/src/lib/Fills.graphql
  libs/fills/src/lib/__generated__/Fills.ts
  libs/fills/src/lib/fills-data-provider.ts
  libs/fills/src/lib/fills-manager.tsx
  libs/fills/src/lib/use-fills-list.spec.ts
  libs/fills/src/lib/use-fills-list.ts
  libs/ledger/src/lib/ledger-entries-data-provider.ts
  libs/ledger/src/lib/ledger-manager.tsx
  libs/orders/src/lib/components/order-data-provider/order-data-provider.spec.ts
  libs/orders/src/lib/components/order-data-provider/order-data-provider.ts
  libs/orders/src/lib/components/order-list-manager/order-list-manager.spec.tsx
  libs/orders/src/lib/components/order-list-manager/order-list-manager.tsx
  libs/trades/src/lib/Trades.graphql
  libs/trades/src/lib/__generated__/Trades.ts
  libs/trades/src/lib/trades-container.tsx
  libs/trades/src/lib/trades-data-provider.ts
  libs/trades/src/lib/trades.mock.ts
Labels: explorer-preview, governance-preview, trading-preview

#4057 fix(trading): update click area in network switcher
  libs/environment/src/components/network-switcher/network-switcher.spec.tsx
  libs/environment/src/components/network-switcher/network-switcher.tsx
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#4059 fix(markets): back with updating by grid api
  libs/markets/src/lib/components/markets-container/market-list-table.tsx
  libs/markets/src/lib/components/markets-container/markets-container.spec.tsx
  libs/markets/src/lib/components/markets-container/use-column-defs.tsx
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#4073 feat(governance): hide proposal details for freeform proposals
  apps/governance/src/routes/proposals/components/proposal/proposal.tsx
Labels: governance-preview

#4081 fix(liquidity): update liquidity table row id
  libs/liquidity/src/lib/liquidity-table.tsx
Labels: trading-preview

#4080 fix(trading): oracle markets matching
  libs/markets/src/lib/components/oracle-full-profile/oracle-full-profile.tsx
  libs/markets/src/lib/hooks/use-market-oracle.spec.ts
  libs/markets/src/lib/hooks/use-market-oracle.ts
  libs/markets/src/lib/hooks/use-oracle-markets.spec.ts
  libs/markets/src/lib/hooks/use-oracle-markets.ts
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#4088 test(trading): #3506 orderbook AC coverage
  apps/trading-e2e/src/integration/order-book.cy.ts
Labels: trading-preview

#4074 feat(governance): add 'all proposals' link on proposal details page
  apps/governance/src/i18n/translations/dev.json
  apps/governance/src/routes/proposals/components/proposal/proposal.spec.tsx
  apps/governance/src/routes/proposals/components/proposal/proposal.tsx
  apps/governance/src/routes/staking/node/node.tsx
Labels: governance-preview

#4076 feat(accounts): accounts table quantum formatting
  apps/trading-e2e/src/integration/assets.cy.ts
  apps/trading-e2e/src/integration/trading-accounts.cy.ts
  apps/trading-e2e/src/integration/trading-deal-ticket-order.cy.ts
  apps/trading-e2e/src/integration/trading-positions.cy.ts
  apps/trading/client-pages/market/trade-grid.tsx
  apps/trading/components/accounts-container/accounts-container.tsx
  libs/accounts/src/lib/accounts-manager.tsx
  libs/accounts/src/lib/accounts-table.tsx
  libs/accounts/src/lib/accounts.mock.ts
  libs/accounts/src/lib/breakdown-table.tsx
  libs/datagrid/src/lib/ag-grid/ag-grid-lazy-themed.tsx
  libs/datagrid/src/lib/cells/grid-progress-bar.tsx
  libs/ui-toolkit/src/components/tooltip/tooltip.tsx
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#4078 feat(ci): turn off nx cloud
  nx.json
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#4107 test(trading): markets selector ACs update
  apps/trading-e2e/src/integration/market-liquidity.cy.ts
  apps/trading-e2e/src/integration/market-selector.cy.ts
  apps/trading-e2e/src/integration/trading-accounts.cy.ts
  apps/trading/client-pages/market/market-selector.tsx
Labels: trading-preview

#4111 feat(ci): align releases for all apps
  .github/workflows/add-ipfs-notes-to-release.yml
  .github/workflows/ci-cd-trigger.yml
  .github/workflows/publish-dist.yml
Labels: explorer-preview, governance-preview, trading-preview

#4120 chore(trading): clear apollo warnings
  apps/trading/components/app-loader/app-loader.tsx
  libs/accounts/src/lib/accounts-data-provider.ts
  libs/positions/src/lib/positions-data-providers.ts
  libs/trades/src/lib/trades-data-provider.ts
Labels: explorer-preview, governance-preview, trading-preview

#4093 fix(governance): earned by me reward percentage
  apps/governance/src/routes/rewards/epoch-individual-rewards/epoch-individual-rewards.tsx
  apps/governance/src/routes/rewards/epoch-individual-rewards/generate-epoch-individual-rewards-list.spec.ts
  apps/governance/src/routes/rewards/epoch-individual-rewards/generate-epoch-individual-rewards-list.ts
  apps/governance/src/routes/rewards/home/Rewards.graphql
  apps/governance/src/routes/rewards/home/__generated__/Rewards.ts
Labels: governance-preview

#4048 feat(trading): show margin level visualisation in asset breakdown modal
  apps/trading-e2e/src/integration/trading-accounts.cy.ts
  apps/trading-e2e/src/integration/trading-deal-ticket-basics.cy.ts
  apps/trading-e2e/src/integration/trading-deal-ticket-order.cy.ts
  apps/trading-e2e/src/integration/trading-deal-ticket-submit-account.cy.ts
  apps/trading-e2e/src/integration/trading-deal-ticket-submit-suspended.cy.ts
  apps/trading/client-pages/market/trade-grid.tsx
  apps/trading/client-pages/portfolio/portfolio.tsx
  apps/trading/components/accounts-container/accounts-container.tsx
  libs/accounts/src/lib/Margins.graphql
  libs/accounts/src/lib/__generated__/Margins.ts
  libs/accounts/src/lib/accounts-manager.tsx
  libs/accounts/src/lib/breakdown-table.spec.tsx
  libs/accounts/src/lib/breakdown-table.tsx
  libs/accounts/src/lib/index.ts
  libs/accounts/src/lib/margin-data-provider.ts
  libs/accounts/src/lib/margin-health-chart.tsx
  libs/accounts/src/lib/margin-heath-chart.spec.tsx
  libs/accounts/src/lib/use-account-balance.tsx
  libs/accounts/src/lib/use-market-account-balance.tsx
  libs/datagrid/src/lib/cells/market-name-cell.tsx
  libs/deal-ticket/src/components/deal-ticket-validation/margin-warning.tsx
  libs/deal-ticket/src/components/deal-ticket-validation/zero-balance-error.tsx
  libs/deal-ticket/src/components/deal-ticket/deal-ticket-container.tsx
  libs/deal-ticket/src/components/deal-ticket/deal-ticket-fee-details.spec.tsx
  libs/deal-ticket/src/components/deal-ticket/deal-ticket-fee-details.tsx
  libs/deal-ticket/src/components/deal-ticket/deal-ticket-limit-amount.tsx
  libs/deal-ticket/src/components/deal-ticket/deal-ticket-market-amount.tsx
  libs/deal-ticket/src/components/deal-ticket/deal-ticket.tsx
  libs/deal-ticket/src/components/deal-ticket/expiry-selector.tsx
  libs/deal-ticket/src/components/deal-ticket/time-in-force-selector.tsx
  libs/deal-ticket/src/components/deal-ticket/type-selector.tsx
  libs/deal-ticket/src/hooks/index.ts
  libs/deal-ticket/src/hooks/use-estimate-fees.tsx
  libs/deal-ticket/src/hooks/use-fee-deal-ticket-details.tsx
  libs/positions/src/index.ts
  libs/positions/src/lib/Positions.graphql
  libs/positions/src/lib/__generated__/Positions.ts
  libs/positions/src/lib/positions.mock.ts
  libs/positions/src/lib/use-market-margin.tsx
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#4112 chore(governance): un-skip staking test and increase test coverage for smoke tests
  apps/governance-e2e/cypress.config.js
  apps/governance-e2e/src/integration/flow/proposal-forms.cy.ts
  apps/governance-e2e/src/integration/flow/staking-flow.cy.ts
  apps/governance-e2e/src/integration/flow/token-association-flow.cy.ts
  apps/governance-e2e/src/integration/flow/withdrawal-flow.cy.ts
  apps/governance-e2e/src/integration/view/validators.cy.ts
  apps/governance-e2e/src/integration/view/wallet-vega.cy.ts
Labels: governance-preview

#4123 chore(governance): update staking acs
  apps/governance-e2e/src/integration/flow/staking-flow.cy.ts
  apps/governance-e2e/src/integration/view/validators.cy.ts
Labels: governance-preview

#4139 test(trading): #3508 tests for Trades ACs
  apps/trading-e2e/src/integration/trading-trades.cy.ts
  libs/trades/src/lib/trades.mock.ts
Labels: explorer-preview, governance-preview, trading-preview

#4040 fix(governance): ensure cached finalized vote is only used when pubkey is c…
  apps/governance/src/routes/proposals/components/vote-details/use-user-vote.tsx
  libs/proposals/src/lib/voting-hooks/index.ts
  libs/proposals/src/lib/voting-hooks/use-vote-submit.ts
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#4122 feat(deal-ticket): improve no collateral validation
  apps/trading-e2e/src/integration/trading-deal-ticket-submit-account.cy.ts
  libs/accounts/src/lib/accounts.mock.ts
  libs/deal-ticket/src/components/deal-ticket/deal-ticket.tsx
Labels: explorer-preview, governance-preview, trading-preview

#4143 fix(trading): deposit table loading state
  apps/trading/client-pages/portfolio/deposits-container.tsx
  libs/deposits/src/lib/deposits-table.tsx
Labels: explorer-preview, governance-preview, trading-preview

#4115 feat(positions): add liquidation to positions view
  apps/explorer/src/app/components/markets/markets-table.tsx
  libs/datagrid/src/lib/type-helpers.ts
  libs/deal-ticket/src/components/deal-ticket/deal-ticket-fee-details.tsx
  libs/markets/src/lib/components/markets-container/use-column-defs.tsx
  libs/positions/src/lib/liquidation-price.tsx
  libs/positions/src/lib/positions-data-providers.ts
  libs/positions/src/lib/positions-table.spec.tsx
  libs/positions/src/lib/positions-table.tsx
  libs/utils/src/lib/format/index.ts
  libs/utils/src/lib/format/range.spec.ts
  libs/utils/src/lib/format/range.ts
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#4106 feat(governance): new market details improvements
  apps/governance/src/i18n/translations/dev.json
  apps/governance/src/lib/collapsible-toggle-styles.ts
  apps/governance/src/routes/proposals/components/proposal-description/proposal-description.tsx
  apps/governance/src/routes/proposals/components/proposal-json/proposal-json.tsx
  apps/governance/src/routes/proposals/components/proposal-market-data/index.tsx
  apps/governance/src/routes/proposals/components/proposal-market-data/proposal-market-data.tsx
  apps/governance/src/routes/proposals/components/proposal-votes-table/proposal-votes-table.tsx
  apps/governance/src/routes/proposals/components/proposal/proposal.spec.tsx
  apps/governance/src/routes/proposals/components/proposal/proposal.tsx
  apps/governance/src/routes/proposals/proposal/proposal-container.tsx
Labels: governance-preview

#4150 fix(governance): proposal deadline validation missing
  apps/governance/src/i18n/translations/dev.json
  apps/governance/src/routes/proposals/components/propose/proposal-form-vote-and-enactment-deadline.spec.tsx
  apps/governance/src/routes/proposals/components/propose/proposal-form-vote-and-enactment-deadline.tsx
Labels: governance-preview

#4149 test(trading): cover post and reduce only ACs
  apps/trading-e2e/src/integration/home-node-network.cy.ts
  apps/trading-e2e/src/integration/trading-deal-ticket-time-in-force.cy.ts
Labels: Trading, Testing 🧪, trading-preview

#4147 chore(governance): add e2e test for voting with different pub keys
  apps/governance-e2e/src/integration/flow/proposal-details.cy.ts
  apps/governance-e2e/src/integration/flow/proposal-enacted.cy.ts
  apps/governance-e2e/src/integration/flow/proposal-flow.cy.ts
  apps/governance-e2e/src/integration/flow/proposal-forms.cy.ts
  apps/governance-e2e/src/integration/flow/proposal-list.cy.ts
  apps/governance-e2e/src/integration/flow/rewards-flow.cy.ts
  apps/governance-e2e/src/integration/flow/staking-flow.cy.ts
  apps/governance-e2e/src/integration/flow/token-association-flow.cy.ts
  apps/governance-e2e/src/integration/flow/withdrawal-flow.cy.ts
  apps/governance-e2e/src/integration/view/pubkey-view.cy.ts
  apps/governance-e2e/src/integration/view/wallet-vega.cy.ts
  apps/governance-e2e/src/support/index.js
  apps/governance-e2e/src/support/staking.functions.ts
  apps/governance-e2e/src/support/wallet-functions.ts
  apps/governance-e2e/src/support/wallet-vega.functions.ts
Labels: governance-preview

#4144 fix(fills): fix mapping fill update
  libs/fills/src/lib/fills-data-provider.ts
Labels: explorer-preview, governance-preview, trading-preview

#4114 fix(trading): quantum formatting changes
  apps/trading-e2e/src/integration/market-liquidity.cy.ts
  apps/trading-e2e/src/integration/trading-accounts.cy.ts
  apps/trading/client-pages/liquidity/liquidity.tsx
  apps/trading/client-pages/market/trade-grid.tsx
  apps/trading/client-pages/market/trade-panels.tsx
  apps/trading/client-pages/portfolio/portfolio.tsx
  apps/trading/components/liquidity-supplied/liquidity-supplied.tsx
  apps/trading/lib/hooks/use-market-click-handler.ts
  libs/accounts/src/lib/accounts-manager.tsx
  libs/accounts/src/lib/transfer-form.tsx
  libs/cypress/src/lib/utils.ts
  libs/deal-ticket/src/components/deal-ticket/deal-ticket-fee-details.tsx
  libs/liquidity/src/lib/liquidity-table.tsx
  libs/utils/src/lib/format/number.spec.ts
  libs/utils/src/lib/format/number.ts
  libs/utils/src/lib/format/range.spec.ts
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#4152 fix(ui-toolkit): healthbar fee decimals
  libs/ui-toolkit/package.json
  libs/ui-toolkit/src/components/healthbar/healthbar.tsx
  libs/utils/package.json
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#4156 fix(ui-toolkit): visual fixes for healthbar - % and text colours
  libs/ui-toolkit/package.json
  libs/ui-toolkit/src/components/healthbar/healthbar.tsx
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#4153 test(governance): test market details specifications
  apps/governance-e2e/src/integration/flow/proposal-enacted.cy.ts
  apps/governance-e2e/src/integration/flow/proposal-flow.cy.ts
  apps/governance-e2e/src/integration/flow/proposal-forms.cy.ts
  apps/governance-e2e/src/integration/view/wallet-vega.cy.ts
  libs/cypress/src/lib/capsule/submit-proposal.ts
  libs/cypress/src/lib/commands/vega-wallet-submit-proposal.ts
Labels: explorer-preview, governance-preview, trading-preview

#4140 feat(governance): show multisig penalty in tooltip
  apps/governance-e2e/src/integration/view/validators.cy.ts
  apps/governance/src/i18n/translations/dev.json
  apps/governance/src/routes/staking/home/validator-tables/consensus-validators-table.tsx
  apps/governance/src/routes/staking/home/validator-tables/shared.tsx
  libs/ui-toolkit/src/components/tooltip/tooltip.tsx
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#4163 fix(trading): market info number formatting
  apps/trading-e2e/src/integration/market-info.cy.ts
  libs/markets/src/lib/components/market-info/info-key-value-table.tsx
  libs/markets/src/lib/components/market-info/market-info.mock.ts
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#4171 test(trading): chart depth e2e tests
  apps/trading-e2e/src/integration/charts-depth.cy.ts
Labels: Trading, Testing 🧪, trading-preview

#4170 chore(orders): use columnDefs in orders list, fix sorting by size and filled
  libs/orders/src/lib/components/order-list/order-list.tsx
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#4162 fix(trading): avoid items remounting in MarketSelector List
  apps/trading/client-pages/market/market-selector.tsx
Labels: trading-preview

#4160 chore(ui-toolkit): remove forwardRef as refs weren't being passed
  libs/ui-toolkit/src/components/dropdown-menu/dropdown-menu.tsx
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#4169 test(governance): 3802 multisig error test
  apps/governance-e2e/src/fixtures/mocks/previous-epoch.ts
  apps/governance-e2e/src/integration/view/validators.cy.ts
  apps/governance-e2e/src/integration/view/wallet-vega.cy.ts
Labels: governance-preview

#4154 feat(positions): live update market data in positions table
  libs/markets/src/lib/markets-data-provider.ts
  libs/markets/src/lib/markets-provider.ts
  libs/positions/src/index.ts
  libs/positions/src/lib/positions-data-providers.ts
  libs/positions/src/lib/positions-manager.tsx
  libs/positions/src/lib/positions-table.tsx
  libs/positions/src/lib/use-positions-data.spec.tsx
  libs/positions/src/lib/use-positions-data.tsx
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#4182 chore(trading,governance,explorer): re-enable nx-cloud
  nx.json
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#4191 fix(liquidity): use LiquidityProvision id
  libs/liquidity/src/lib/MarketLiquidity.graphql
  libs/liquidity/src/lib/__generated__/MarketLiquidity.ts
  libs/liquidity/src/lib/liquidity-data-provider.ts
  libs/liquidity/src/lib/liquidity-table.tsx
Labels: explorer-preview, governance-preview, trading-preview

#4119 refactor(trading): pane stores for grid state
  apps/trading-e2e/src/integration/trading-positions.cy.ts
  apps/trading/client-pages/liquidity/liquidity.tsx
  apps/trading/client-pages/market/trade-grid.tsx
  apps/trading/client-pages/market/trade-views.tsx
  apps/trading/client-pages/markets/closed.tsx
  apps/trading/client-pages/portfolio/deposits-container.tsx
  apps/trading/client-pages/portfolio/portfolio.tsx
  apps/trading/components/accounts-container/accounts-container.tsx
  apps/trading/components/fills-container/fills-container.tsx
  apps/trading/components/fills-container/index.ts
  apps/trading/components/ledger-container/index.ts
  apps/trading/components/ledger-container/ledger-container.tsx
  apps/trading/components/liquidity-container/index.ts
  apps/trading/components/liquidity-container/liquidity-container.tsx
  apps/trading/components/orders-container/index.ts
  apps/trading/components/orders-container/orders-container.spec.tsx
  apps/trading/components/orders-container/orders-container.tsx
  apps/trading/components/positions-container/index.ts
  apps/trading/components/positions-container/positions-container.tsx
  apps/trading/stores/datagrid-store-slice.ts
  libs/accounts/src/lib/accounts-manager.spec.tsx
  libs/accounts/src/lib/accounts-manager.tsx
  libs/accounts/src/lib/accounts-table.tsx
  libs/datagrid/src/index.ts
  libs/datagrid/src/lib/ag-grid/ag-grid-lazy-themed.tsx
  libs/datagrid/src/lib/ag-grid/ag-grid-lazy.tsx
  libs/datagrid/src/lib/ag-grid/use-column-sizes.spec.ts
  libs/datagrid/src/lib/ag-grid/use-column-sizes.ts
  libs/datagrid/src/lib/use-bottom-placeholder.tsx
  libs/datagrid/src/lib/use-datagrid-events.spec.tsx
  libs/datagrid/src/lib/use-datagrid-events.ts
  libs/deposits/src/lib/deposits-table.tsx
  libs/fills/src/index.ts
  libs/fills/src/lib/fills-container.tsx
  libs/fills/src/lib/fills-manager.tsx
  libs/fills/src/lib/fills-table.tsx
  libs/ledger/src/index.ts
  libs/ledger/src/lib/ledger-container.tsx
  libs/ledger/src/lib/ledger-manager.tsx
  libs/ledger/src/lib/ledger-table.tsx
  libs/liquidity/src/lib/liquidity-table.tsx
  libs/markets/src/lib/components/markets-container/market-list-table.tsx
  libs/orders/src/lib/components/index.ts
  libs/orders/src/lib/components/order-list-container.tsx
  libs/orders/src/lib/components/order-list-manager/order-list-manager.tsx
  libs/orders/src/lib/components/order-list/order-list.tsx
  libs/positions/src/index.ts
  libs/positions/src/lib/positions-manager.tsx
  libs/positions/src/lib/positions-table.tsx
  libs/proposals/src/components/proposals-list/proposals-list.tsx
  libs/trades/src/lib/trades-table.tsx
  libs/withdraws/src/lib/withdrawals-table.tsx
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#4159 chore(trading): allow window._env_ override
  apps/trading-e2e/.env
  apps/trading/.env.devnet
  apps/trading/.env.mainnet
  apps/trading/.env.stagnet1
  apps/trading/.env.testnet
  apps/trading/.env.validators-testnet
  apps/trading/components/welcome-dialog/telemetry-approval.spec.tsx
  apps/trading/components/welcome-dialog/welcome-dialog.tsx
  apps/trading/lib/config/env.ts
  apps/trading/lib/config/index.ts
  apps/trading/lib/hooks/use-telemetry-approval.spec.ts
  apps/trading/lib/hooks/use-telemetry-approval.ts
  apps/trading/pages/_app.page.tsx
  apps/trading/pages/_document.page.tsx
  libs/environment/src/hooks/use-environment.spec.ts
  libs/environment/src/hooks/use-environment.ts
  libs/environment/src/hooks/use-node-health.ts
  libs/environment/src/utils/validate-environment.ts
  libs/proposals/src/lib/protocol-upgrade-proposals/use-next-protocol-upgrade-proposals.ts
  libs/proposals/src/lib/protocol-upgrade-proposals/use-time-to-upgrade.ts
  libs/utils/src/index.ts
  libs/utils/src/lib/is-test-env.ts
  libs/wallet/src/use-json-rpc-connect.ts
  libs/web3/src/lib/use-eager-connect.ts
  nx.json
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#4192 fix(trading): notional size formatting
  libs/deal-ticket/src/components/deal-ticket/deal-ticket.tsx
Labels: explorer-preview, governance-preview, trading-preview

#4183 fix(explorer): liquidity provision fee percentage
  apps/explorer/src/app/components/txs/details/tx-liquidity-amend.test.tsx
  apps/explorer/src/app/components/txs/details/tx-liquidity-amend.tsx
  apps/explorer/src/app/components/txs/details/tx-liquidity-submission.test.tsx
  apps/explorer/src/app/components/txs/details/tx-liquidity-submission.tsx
Labels: explorer-preview

#4198 test(governance): fix staking tooltip test
  apps/governance-e2e/src/integration/flow/proposal-details.cy.ts
  apps/governance-e2e/src/integration/flow/proposal-enacted.cy.ts
  apps/governance-e2e/src/integration/flow/proposal-flow.cy.ts
  apps/governance-e2e/src/integration/flow/proposal-forms.cy.ts
  apps/governance-e2e/src/integration/flow/proposal-list.cy.ts
  apps/governance-e2e/src/integration/flow/rewards-flow.cy.ts
  apps/governance-e2e/src/integration/flow/staking-flow.cy.ts
  apps/governance-e2e/src/integration/flow/token-association-flow.cy.ts
  apps/governance-e2e/src/integration/view/proposal.cy.ts
  apps/governance-e2e/src/integration/view/rewards.cy.ts
  apps/governance-e2e/src/integration/view/token.cy.ts
  apps/governance-e2e/src/integration/view/validators.cy.ts
  apps/governance-e2e/src/integration/view/vesting.cy.ts
  apps/governance-e2e/src/integration/view/wallet-eth.cy.ts
  apps/governance-e2e/src/integration/view/wallet-vega.cy.ts
  apps/governance-e2e/src/integration/view/withdraw.cy.ts
  apps/governance-e2e/src/support/wallet-functions.ts
Labels: governance-preview

#4190 feat(governance): add toggle for closed proposals list
  apps/governance-e2e/src/integration/flow/proposal-list.cy.ts
  apps/governance-e2e/src/integration/view/proposal.cy.ts
  apps/governance/src/components/collapsible-toggle/collapsible-toggle.spec.tsx
  apps/governance/src/components/collapsible-toggle/collapsible-toggle.tsx
  apps/governance/src/components/collapsible-toggle/index.ts
  apps/governance/src/i18n/translations/dev.json
  apps/governance/src/lib/collapsible-toggle-styles.ts
  apps/governance/src/routes/proposals/components/proposal-description/proposal-description.tsx
  apps/governance/src/routes/proposals/components/proposal-json/proposal-json.tsx
  apps/governance/src/routes/proposals/components/proposal-market-data/proposal-market-data.tsx
  apps/governance/src/routes/proposals/components/proposal-votes-table/proposal-votes-table.tsx
  apps/governance/src/routes/proposals/components/proposal/proposal.spec.tsx
  apps/governance/src/routes/proposals/components/proposal/proposal.tsx
  apps/governance/src/routes/proposals/components/proposals-list-filter/proposals-list-filter.spec.tsx
  apps/governance/src/routes/proposals/components/proposals-list-filter/proposals-list-filter.tsx
  apps/governance/src/routes/proposals/components/proposals-list/proposals-list.spec.tsx
  apps/governance/src/routes/proposals/components/proposals-list/proposals-list.tsx
  apps/governance/src/routes/proposals/components/proposals-list/rejected-proposals-list.tsx
  apps/governance/src/routes/proposals/test-helpers/generate-proposals.ts
Labels: governance-preview

#4179 test(trading): 6004-CHAR-chart e2e tests
  apps/trading-e2e/src/integration/trading-chart.cy.ts
  libs/candles-chart/src/lib/candles.mock.ts
Labels: Trading, Testing 🧪, explorer-preview, governance-preview, trading-preview

#4213 test(governance,markets): tidy up minor test quibbles
  apps/governance/src/__mocks__/react-markdown.js
  libs/announcements/src/lib/announcements.spec.tsx
  libs/environment/src/hooks/use-links.ts
  libs/environment/src/hooks/use-vega-release.spec.ts
  libs/markets/src/lib/hooks/use-oracle-markets.spec.ts
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#4210 feat(trading): show fills across all markets
  apps/trading/client-pages/market/trade-grid.tsx
Labels: trading-preview

#4199 fix(ui-toolkit): healthbar tooltips text colour
  libs/ui-toolkit/package.json
  libs/ui-toolkit/src/components/healthbar/healthbar.tsx
  libs/utils/package.json
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview, ui-toolkit-preview

#4197 fix(explorer): fix order amend tx view
  apps/explorer/src/app/components/order-details/amend-order-details.spec.tsx
  apps/explorer/src/app/components/order-details/amend-order-details.tsx
Labels: explorer-preview

#4216 feat(governance): improve asset proposal details view
  apps/governance/src/i18n/translations/dev.json
  apps/governance/src/routes/proposals/components/proposal-asset-details/index.tsx
  apps/governance/src/routes/proposals/components/proposal-asset-details/proposal-asset-details.tsx
  apps/governance/src/routes/proposals/components/proposal/proposal.tsx
  apps/governance/src/routes/proposals/components/proposals-list/proposals-list.tsx
  apps/governance/src/routes/proposals/proposal/proposal-container.tsx
  libs/assets/src/lib/asset-details-table.spec.tsx
  libs/assets/src/lib/asset-details-table.tsx
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#4203 chore(trading): vega icons for withrawals table and wallet dropdown
  apps/trading/components/vega-wallet-connect-button/vega-wallet-connect-button.tsx
  libs/ui-toolkit/src/components/copy-with-tooltip/copy-with-tooltip.tsx
  libs/ui-toolkit/src/components/dialog/dialog.tsx
  libs/ui-toolkit/src/components/dropdown-menu/dropdown-menu.tsx
  libs/ui-toolkit/src/components/icon/vega-icons/svg-icons/icon-tick.tsx
  libs/ui-toolkit/src/components/icon/vega-icons/vega-icon-record.ts
  libs/web3/src/lib/withdrawal-approval-dialog.tsx
  libs/withdraws/src/lib/withdrawals-table.tsx
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview, ui-toolkit-preview

#4225 fix(positions): use market decimal places to format realized and unrealized PnL
  libs/positions/src/lib/positions-table.spec.tsx
  libs/positions/src/lib/positions-table.tsx
Labels: explorer-preview, governance-preview, trading-preview
