Repository vegaprotocol/frontend-monorepo, pull requests merged in 2023-03, with the labels that each got.

#3098 test(trading): revert nonparallel tests option
  .github/workflows/cypress-run.yml
Labels: Trading, Testing 🧪

#3137 test(trading): increase coverage for 0002 wcon
  apps/trading-e2e/src/integration/wallets.cy.ts
Labels: Trading, Testing 🧪

#3209 test(trading): fixed settlement asset displayed test
  apps/trading-e2e/src/integration/market-info.cy.ts
Labels: Trading, Testing 🧪

#3246 test(trading): 0003-WTXN submit vega transaction e2e tests
  apps/trading-e2e/src/integration/capsule.cy.ts
  apps/trading-e2e/src/integration/trading-deal-ticket.cy.ts
  apps/trading-e2e/src/integration/wallet-vega.cy.ts
  libs/cypress/src/lib/commands/mock-transaction-response.ts
Labels: Trading, Testing 🧪

#3245 feat(explorer): build docker image on pull request + refactor dockerfile for ipfs
  .github/workflows/publish-docker-containers.yml
  dockerfiles/Dockerfile
  dockerfiles/Dockerfile.cra
  dockerfiles/Dockerfile.cra.dist
  dockerfiles/Dockerfile.next
  dockerfiles/Dockerfile.next.dist
  entrypoint.sh
Labels: explorer-preview

#3278 fix(trading): handle lack of approval in trading deposit flow
  libs/deposits/src/lib/approve-notification.tsx
  libs/deposits/src/lib/deposit-form.tsx
Labels: explorer-preview, governance-preview, trading-preview

#3282 fix(trading): throttle deal ticket submit
  libs/deal-ticket/src/components/deal-ticket/deal-ticket.tsx
Labels: explorer-preview, governance-preview, trading-preview

#3279 chore(ci): update name of release issue template
  .github/ISSUE_TEMPLATE/release.md
Labels: explorer-preview, governance-preview, trading-preview

#3287 chore(ui-toolkit): version 0.9.0 - includes healthbar in ui-toolkit
  libs/ui-toolkit/package.json
Labels: explorer-preview, governance-preview, trading-preview

#3295 test(governance): my stake e2e tests
  apps/governance-e2e/src/integration/flow/staking-flow.cy.ts
  apps/governance-e2e/src/integration/view/pubkey-view.cy.ts
  apps/governance-e2e/src/support/wallet-teardown.functions.ts
Labels: governance-preview

#3261 feat(trading): persist state of chart intervals studies and overlays
  apps/trading-e2e/src/integration/trading-chart.cy.ts
  libs/candles-chart/src/lib/candles-chart.tsx
  libs/react-helpers/src/lib/index.ts
  libs/react-helpers/src/lib/validation.ts
  libs/ui-toolkit/src/components/tabs/tabs.tsx
Labels: trading-preview

#3288 fix(governance): paginate rewards as well as delegations data
  apps/governance/src/routes/rewards/epoch-individual-rewards/epoch-individual-rewards.tsx
  apps/governance/src/routes/rewards/home/Rewards.graphql
  apps/governance/src/routes/rewards/home/__generated__/Rewards.ts
Labels: governance-preview

#3293 fix(trading): volumes formatting
  apps/trading-e2e/src/integration/market-info.cy.ts
  libs/market-info/src/components/market-info/info-key-value-table.tsx
  libs/market-info/src/components/market-info/market-info-panels.tsx
Labels: explorer-preview, governance-preview, trading-preview

#3263 chore(wallet,positions): use reduceOnly and IOC order for close position tx
  libs/positions/src/lib/positions-manager.tsx
  libs/wallet/src/connectors/vega-connector.ts
Labels: explorer-preview, governance-preview, trading-preview

#3303 chore(trading): remove files of envs to kill
  apps/trading/.env.mirror
  apps/trading/.env.sandbox
Labels: explorer-preview, governance-preview, trading-preview

#3304 chore(cypress): fix error seen in CI for staking test
  apps/governance-e2e/src/integration/flow/staking-flow.cy.ts
  apps/governance-e2e/src/integration/view/pubkey-view.cy.ts
Labels: governance-preview

#3277 chore(orders): update orders filters
  libs/orders/src/lib/components/order-data-provider/Orders.graphql
  libs/orders/src/lib/components/order-data-provider/__generated__/Orders.ts
  libs/orders/src/lib/components/order-data-provider/order-data-provider.spec.ts
  libs/orders/src/lib/components/order-data-provider/order-data-provider.ts
  libs/orders/src/lib/components/order-list-manager/use-order-list-data.ts
  libs/orders/src/lib/order-hooks/OrdersSubscription.graphql
  libs/orders/src/lib/order-hooks/__generated__/OrdersSubscription.ts
  libs/orders/src/lib/order-hooks/use-pending-orders-volume.ts
  libs/positions/src/lib/positions-data-providers.ts
  libs/types/src/__generated__/types.ts
  libs/wallet/src/TransactionResult.graphql
  libs/wallet/src/__generated__/TransactionResult.ts
Labels: explorer-preview, governance-preview, trading-preview

#3307 test(trading): update live e2e tests
  apps/trading-e2e/src/integration/capsule.cy.ts
  apps/trading-e2e/src/integration/live-env.cy.ts
  apps/trading-e2e/src/integration/market-info.cy.ts
Labels: Trading, Testing 🧪, trading-preview

#3317 feat(market-depth): always show the same number of decimal places in order book
  libs/market-depth/src/lib/orderbook-row.tsx
Labels: explorer-preview, governance-preview, trading-preview

#3322 chore(governance): additional acs added for governance proposals
  apps/governance-e2e/src/integration/flow/proposal-details.cy.ts
  apps/governance-e2e/src/integration/flow/proposal-enacted.cy.ts
  apps/governance-e2e/src/integration/flow/proposal-flow.cy.ts
  apps/governance-e2e/src/integration/flow/proposal-forms.cy.ts
  apps/governance-e2e/src/integration/flow/token-association-flow.cy.ts
  apps/governance-e2e/src/support/common.functions.ts
  apps/governance-e2e/src/support/governance.functions.ts
  apps/governance-e2e/src/support/staking.functions.ts
Labels: governance-preview

#3297 feat(oracles,trading): 3224 add oracle links to market info
  apps/trading-e2e/.env
  apps/trading-e2e/src/integration/market-info.cy.ts
  apps/trading-e2e/src/support/trading.ts
  apps/trading/.env
  libs/environment/src/hooks/use-environment.ts
  libs/environment/src/utils/validate-environment.ts
  libs/market-info/src/components/market-info/MarketInfo.graphql
  libs/market-info/src/components/market-info/__generated__/MarketInfo.ts
  libs/market-info/src/components/market-info/info-market.tsx
  libs/market-info/src/components/market-info/market-info-panels.spec.tsx
  libs/market-info/src/components/market-info/market-info-panels.tsx
  libs/market-info/src/components/market-info/market-info.mock.ts
  libs/oracles/.babelrc
  libs/oracles/.eslintrc.json
  libs/oracles/README.md
  libs/oracles/jest.config.ts
  libs/oracles/package.json
  libs/oracles/project.json
  libs/oracles/src/index.ts
  libs/oracles/src/lib/oracle-schema.ts
  libs/oracles/src/lib/use-oracle-proofs.spec.ts
  libs/oracles/src/lib/use-oracle-proofs.ts
  libs/oracles/tsconfig.json
  libs/oracles/tsconfig.lib.json
  libs/oracles/tsconfig.spec.json
  libs/types/src/global-types-mappings.ts
  tsconfig.base.json
  workspace.json
Labels: trading-preview

#3320 fix(trading): stabilize the liquidity provision table
  apps/trading/client-pages/liquidity/liquidity.tsx
  libs/liquidity/src/lib/liquidity-data-provider.ts
  libs/utils/src/lib/generic-data-provider.ts
Labels: trading-preview

#3335 chore(trading): liquidity provision, change query for set flag live on true
  libs/liquidity/src/lib/MarketLiquidity.graphql
  libs/liquidity/src/lib/MarketsLiquidity.graphql
  libs/liquidity/src/lib/__generated__/MarketLiquidity.ts
  libs/liquidity/src/lib/__generated__/MarketsLiquidity.ts
  libs/liquidity/src/lib/liquidity-data-provider.ts
Labels: explorer-preview, governance-preview, trading-preview

#3273 chore(trading): add "holding CMD + click" external link
  apps/trading/client-pages/market/market.tsx
  apps/trading/client-pages/market/trade-grid.tsx
  apps/trading/client-pages/market/trade-market-header.tsx
  apps/trading/client-pages/markets/markets.tsx
  apps/trading/client-pages/portfolio/portfolio.tsx
  apps/trading/components/market-trading-mode/market-trading-mode.tsx
  apps/trading/components/select-market/select-market-columns.tsx
  apps/trading/components/select-market/select-market-table.tsx
  apps/trading/components/select-market/select-market.spec.tsx
  apps/trading/components/select-market/select-market.tsx
  apps/trading/lib/hooks/use-market-click-handler.ts
  apps/trading/pages/_app.page.tsx
  libs/datagrid/src/index.ts
  libs/datagrid/src/lib/cells/market-name-cell.tsx
  libs/deal-ticket/src/components/trading-mode-tooltip/compile-grid-data.tsx
  libs/deal-ticket/src/components/trading-mode-tooltip/trading-mode-tooltip.tsx
  libs/fills/src/lib/fills-container.tsx
  libs/fills/src/lib/fills-manager.tsx
  libs/fills/src/lib/fills-table.spec.tsx
  libs/fills/src/lib/fills-table.tsx
  libs/market-info/src/components/market-info/info-market.tsx
  libs/market-list/src/lib/components/markets-container/market-list-table.tsx
  libs/market-list/src/lib/components/markets-container/markets-container.tsx
  libs/orders/src/lib/components/order-list-container.tsx
  libs/orders/src/lib/components/order-list-manager/order-list-manager.tsx
  libs/orders/src/lib/components/order-list/order-list.spec.tsx
  libs/orders/src/lib/components/order-list/order-list.tsx
  libs/positions/src/lib/positions-table.spec.tsx
  libs/positions/src/lib/positions-table.tsx
Labels: trading-preview

#3290 feat(utils): make release script
  .github/workflows/pr-trigger.yml
  package.json
  scripts/make-release.js
Labels: explorer-preview, governance-preview, trading-preview
