Repository vegaprotocol/frontend-monorepo, pull requests merged in 2023-04, with the labels that each got.

#3340 test(governance): add e2e tests for banner and footer links
  apps/governance-e2e/.env
  apps/governance-e2e/src/integration/view/home.cy.ts
  apps/governance/.env.capsule
Labels: governance-preview

#3337 chore(trading): add metaKey detection - clean up some unit tests
  libs/fills/src/lib/fills-table.spec.tsx
  libs/orders/src/lib/components/order-list/order-list.spec.tsx
  libs/positions/src/lib/positions-table.spec.tsx
Labels: explorer-preview, governance-preview, trading-preview

#3346 chore(trading): liquidity table DRY
  apps/trading/client-pages/liquidity/liquidity.tsx
  libs/liquidity/src/lib/liquidity-data-provider.ts
Labels: trading-preview

#3347 fix(trading): order stopped intent toasts
  apps/trading/lib/hooks/use-vega-transaction-toasts.tsx
  libs/deal-ticket/src/components/deal-ticket/deal-ticket.spec.tsx
  libs/deal-ticket/src/components/deal-ticket/deal-ticket.tsx
  libs/orders/src/lib/components/order-data-provider/Orders.graphql
  libs/orders/src/lib/components/order-data-provider/__generated__/Orders.ts
  libs/orders/src/lib/components/order-list/order-list.tsx
  libs/ui-toolkit/src/components/checkbox/checkbox.tsx
Labels: explorer-preview, governance-preview, trading-preview

#3310 chore(governance,explorer,multisig-signer): delete rest of sandbox/mirror env files
  apps/explorer/.env
  apps/explorer/.env.mirror
  apps/explorer/.env.sandbox
  apps/governance/.env.mirror
  apps/governance/.env.sandbox
  apps/governance/src/config/env.ts
  apps/multisig-signer/.env.sandbox
  apps/static/src/assets/mirror-network.json
  apps/static/src/assets/sandbox-network.json
  libs/environment/src/components/network-switcher/network-switcher.spec.tsx
  libs/environment/src/components/network-switcher/network-switcher.tsx
  libs/environment/src/hooks/use-links.ts
  libs/environment/src/types.ts
  libs/environment/src/utils/validate-environment.ts
Labels: explorer-preview, governance-preview, trading-preview

#3352 chore(governance): add hardcoded token vesting contract address
  apps/governance/src/config/env.ts
  apps/governance/src/contexts/contracts/contracts-provider.tsx
  apps/governance/src/routes/token/token-details/token-details.tsx
Labels: governance-preview

#3342 fix(orders): restore filter by marketId
  libs/orders/src/lib/components/order-data-provider/Orders.graphql
  libs/orders/src/lib/components/order-data-provider/__generated__/Orders.ts
  libs/orders/src/lib/components/order-data-provider/order-data-provider.spec.ts
  libs/orders/src/lib/components/order-data-provider/order-data-provider.ts
  libs/orders/src/lib/components/order-list-manager/use-order-list-data.ts
  libs/orders/src/lib/order-hooks/use-pending-orders-volume.ts
  libs/positions/src/lib/close-position-dialog/shared.tsx
  libs/positions/src/lib/positions-data-providers.ts
  libs/positions/src/lib/use-request-close-position-data.ts
Labels: explorer-preview, governance-preview, trading-preview

#3350 chore(trading): remove not used close position code and liquidity subscription
  libs/liquidity/src/lib/MarketLiquidity.graphql
  libs/liquidity/src/lib/__generated__/MarketLiquidity.ts
  libs/liquidity/src/lib/liquidity-data-provider.ts
  libs/positions/src/index.ts
  libs/positions/src/lib/close-position-dialog/complete.tsx
  libs/positions/src/lib/close-position-dialog/requested.spec.tsx
  libs/positions/src/lib/close-position-dialog/requested.tsx
  libs/positions/src/lib/close-position-dialog/shared.tsx
  libs/positions/src/lib/use-close-position.spec.tsx
  libs/positions/src/lib/use-close-position.ts
  libs/positions/src/lib/use-request-close-position-data.ts
Labels: explorer-preview, governance-preview, trading-preview

#3367 fix(governance): add missing announcement config url
  apps/governance/.env.validator-testnet
Labels: governance-preview

#3354 chore(trading): fix bad grammar on approval notification
  libs/deposits/src/lib/approve-notification.tsx
Labels: explorer-preview, governance-preview, trading-preview

#3348 chore(deposits): persistence of deposit form state
  libs/deposits/src/lib/deposit-form.spec.tsx
  libs/deposits/src/lib/deposit-form.tsx
  libs/deposits/src/lib/deposit-manager.tsx
  libs/deposits/src/lib/use-persistent-deposit.spec.ts
  libs/deposits/src/lib/use-persistent-deposit.ts
Labels: explorer-preview, governance-preview, trading-preview

#3381 fix(governance): fix incorrect validator penalties
  apps/governance/src/routes/staking/PreviousEpoch.graphql
  apps/governance/src/routes/staking/__generated__/PreviousEpoch.ts
  apps/governance/src/routes/staking/home/validator-tables/consensus-validators-table.spec.tsx
  apps/governance/src/routes/staking/home/validator-tables/consensus-validators-table.tsx
  apps/governance/src/routes/staking/home/validator-tables/standby-pending-validators-table.tsx
  apps/governance/src/routes/staking/node/validator-table.tsx
  apps/governance/src/routes/staking/shared.spec.ts
  apps/governance/src/routes/staking/shared.ts
Labels: governance-preview

#3375 chore(trading): add filters to the proposals table
  apps/trading-e2e/src/integration/markets.cy.ts
  libs/cypress/src/lib/utils.ts
  libs/market-list/src/lib/components/markets-container/market-list-table.tsx
  libs/market-list/src/lib/components/markets-container/markets-container.tsx
  libs/proposals/src/lib/proposals-list/proposal-list.spec.tsx
  libs/proposals/src/lib/proposals-list/proposals-list.tsx
  libs/proposals/src/lib/proposals-list/use-column-defs.tsx
Labels: explorer-preview, governance-preview, trading-preview

#3403 fix(trading): add liquidity provision docs
  apps/trading/client-pages/liquidity/liquidity.tsx
  apps/trading/components/liquidity-supplied/liquidity-supplied.tsx
  libs/utils/src/lib/links.ts
Labels: explorer-preview, governance-preview, trading-preview

#3368 fix(trading): order tx toasts title and intent should be set by status
  apps/trading/lib/hooks/use-vega-transaction-toasts.tsx
  libs/orders/src/lib/order-hooks/index.ts
  libs/orders/src/lib/order-hooks/use-order-cancel.spec.tsx
  libs/orders/src/lib/order-hooks/use-order-cancel.tsx
  libs/orders/src/lib/order-hooks/use-order-edit.spec.tsx
  libs/orders/src/lib/order-hooks/use-order-edit.tsx
  libs/orders/src/lib/order-hooks/use-order-submit.spec.tsx
  libs/orders/src/lib/order-hooks/use-order-submit.tsx
  libs/orders/src/lib/utils.ts
Labels: explorer-preview, governance-preview, trading-preview

#3400 test(trading): tests for post and reduce functionality
  apps/trading-e2e/src/integration/trading-deal-ticket-submit.cy.ts
  apps/trading-e2e/src/integration/trading-deal-ticket-validations.cy.ts
Labels: Trading, Testing 🧪, trading-preview

#3395 chore(trading): update approval amount to be max uint256
  libs/deposits/src/lib/use-submit-approval.ts
Labels: explorer-preview, governance-preview, trading-preview

#3361 fix(market-depth): make market data up to date, use fixed number of decimals in cumulative vol
  libs/datagrid/src/lib/cells/cumulative-vol-cell.tsx
  libs/market-depth/src/lib/orderbook-manager.tsx
Labels: explorer-preview, governance-preview, trading-preview

#3399 chore(candles-chart): upgrade pennant to v1.8.1
  apps/trading/client-pages/portfolio/account-history-container.tsx
  apps/trading/pages/styles.css
  libs/candles-chart/src/lib/candles-chart.tsx
  package.json
  yarn.lock
Labels: explorer-preview, governance-preview, trading-preview

#3401 chore(deposits): impove UX on deposit dialog
  apps/trading-e2e/src/integration/deposit.cy.ts
  libs/deposits/src/lib/approve-notification.tsx
  libs/deposits/src/lib/deposit-form.spec.tsx
  libs/deposits/src/lib/deposit-form.tsx
  libs/deposits/src/lib/deposit-limits.tsx
  libs/deposits/src/setup-tests.ts
Labels: explorer-preview, governance-preview, trading-preview

#3411 chore(trading): prevent node poll if query fails
  libs/environment/src/components/node-switcher/row-data.spec.tsx
  libs/environment/src/components/node-switcher/row-data.tsx
Labels: explorer-preview, governance-preview, trading-preview

#3405 fix(trading): make light theme sell volume bar match candle color
  apps/trading/pages/styles.css
Labels: trading-preview

#3404 fix(trading): welcome dialog with markets list click on market close window
  apps/trading/components/select-market/select-market-columns.tsx
  apps/trading/components/select-market/select-market-table.tsx
  apps/trading/components/welcome-dialog/welcome-landing-dialog.spec.tsx
  apps/trading/components/welcome-dialog/welcome-landing-dialog.tsx
  libs/datagrid/src/lib/cells/market-name-cell.tsx
  libs/deal-ticket/src/components/trading-mode-tooltip/compile-grid-data.tsx
  libs/market-info/src/components/market-info/info-market.tsx
  libs/market-list/src/lib/components/markets-container/markets-container.tsx
Labels: explorer-preview, governance-preview, trading-preview

#3412 test(trading): increase coverage for the remaining ACs
  apps/trading-e2e/src/integration/capsule.cy.ts
  apps/trading-e2e/src/integration/deposit.cy.ts
  apps/trading-e2e/src/integration/trading-deal-ticket-submit.cy.ts
  apps/trading-e2e/src/integration/trading-deal-ticket-validations.cy.ts
  apps/trading-e2e/src/integration/wallet-vega.cy.ts
Labels: Trading, Testing 🧪, trading-preview

#3409 fix(trading): fix formatting on clicking on orderbook cell after decimal resolution update
  libs/market-depth/src/lib/orderbook-manager.tsx
  libs/market-depth/src/lib/orderbook-row.tsx
  libs/market-depth/src/lib/orderbook.spec.tsx
  libs/market-depth/src/lib/orderbook.tsx
Labels: explorer-preview, governance-preview, trading-preview

#3414 fix(deposits): deposit dialog doesn't respect given assetId
  libs/deposits/src/lib/deposit-form.tsx
  libs/deposits/src/lib/deposit-manager.tsx
  libs/deposits/src/lib/use-persistent-deposit.spec.ts
  libs/deposits/src/lib/use-persistent-deposit.ts
Labels: explorer-preview, governance-preview, trading-preview

#3402 feat(withdraws): improve ux surrounding withdraw balances thresholds and delays
  libs/assets/src/lib/asset-details-table.tsx
  libs/assets/src/lib/constants.ts
  libs/assets/src/lib/index.ts
  libs/ui-toolkit/src/components/notification/notification.tsx
  libs/withdraws/src/lib/withdraw-form.tsx
  libs/withdraws/src/lib/withdraw-limits.tsx
  libs/withdraws/src/lib/withdraw-manager.spec.tsx
  package.json
  yarn.lock
Labels: explorer-preview, governance-preview, trading-preview

#3424 fix(orders): update order toast intent and title
  apps/trading/lib/hooks/use-vega-transaction-toasts.spec.tsx
  apps/trading/lib/hooks/use-vega-transaction-toasts.tsx
  libs/orders/src/lib/utils.spec.ts
  libs/orders/src/lib/utils.ts
Labels: explorer-preview, governance-preview, trading-preview

#3351 fix(governance): failing nightly tests
  apps/governance-e2e/src/integration/flow/proposal-details.cy.ts
  apps/governance-e2e/src/integration/flow/proposal-enacted.cy.ts
  apps/governance-e2e/src/integration/flow/proposal-flow.cy.ts
  apps/governance-e2e/src/integration/flow/proposal-forms.cy.ts
  apps/governance-e2e/src/integration/flow/token-association-flow.cy.ts
  apps/governance-e2e/src/support/governance.functions.ts
  apps/governance-e2e/src/support/wallet-teardown.functions.ts
Labels: governance-preview

#3418 fix(explorer): tweak footer to show more detail on smaller screens
  apps/explorer/src/app/components/footer/footer.tsx
Labels: explorer-preview

#3425 chore(assets): make query for asset list lighter
  apps/trading-e2e/src/integration/trading-accounts.cy.ts
  libs/assets/src/lib/Assets.graphql
  libs/assets/src/lib/__generated__/Assets.ts
  libs/assets/src/lib/asset-details-dialog.spec.tsx
  libs/assets/src/lib/asset-details-dialog.tsx
  libs/assets/src/lib/assets.mock.ts
Labels: explorer-preview, governance-preview, trading-preview

#3433 fix(trading): fix order toast intent on amendments
  apps/trading/lib/hooks/use-vega-transaction-toasts.spec.tsx
  apps/trading/lib/hooks/use-vega-transaction-toasts.tsx
Labels: trading-preview

#3431 feat(governance): toggles design review tweaks
  apps/governance/src/i18n/translations/dev.json
  apps/governance/src/routes/rewards/home/rewards-page.tsx
  apps/governance/src/routes/staking/home/validator-tables/validator-tables.tsx
Labels: governance-preview

#3430 chore(trading): maintain always up to date active orders list
  apps/trading/pages/_app.page.tsx
  libs/datagrid/src/lib/filters/date-range-filter.spec.tsx
  libs/datagrid/src/lib/filters/date-range-filter.tsx
  libs/datagrid/src/lib/filters/set-filter.tsx
  libs/deal-ticket/src/hooks/use-initial-margin.ts
  libs/ledger/src/lib/ledger-table.tsx
  libs/orders/src/lib/components/order-data-provider/order-data-provider.ts
  libs/orders/src/lib/components/order-list-manager/order-list-manager.tsx
  libs/orders/src/lib/components/order-list-manager/use-order-list-data.ts
  libs/orders/src/lib/order-hooks/index.ts
  libs/orders/src/lib/order-hooks/use-has-amendable-order.ts
  libs/orders/src/lib/order-hooks/use-pending-orders-volume.ts
  libs/positions/src/lib/positions-data-providers.ts
  libs/react-helpers/src/hooks/use-data-provider.ts
  libs/utils/src/lib/generic-data-provider.spec.ts
  libs/utils/src/lib/generic-data-provider.ts
Labels: explorer-preview, governance-preview, trading-preview

#3453 feat(governance): full width Governance and Explorer header
  apps/explorer/src/app/routes/layout.tsx
  apps/governance/src/components/page-templates/app-layout.tsx
  apps/governance/src/components/page-templates/template-sidebar.tsx
Labels: explorer-preview, governance-preview

#3450 fix(trading): update cached Order objects
  libs/orders/src/lib/components/order-data-provider/order-data-provider.ts
  libs/utils/src/lib/generic-data-provider.ts
Labels: explorer-preview, governance-preview, trading-preview

#3391 feat(governance): paginate rewards
  apps/governance/src/hooks/use-refresh-after-epoch.ts
  apps/governance/src/lib/epoch-pagination.ts
  apps/governance/src/routes/rewards/epoch-individual-rewards/epoch-individual-rewards-table.spec.tsx
  apps/governance/src/routes/rewards/epoch-individual-rewards/epoch-individual-rewards.tsx
  apps/governance/src/routes/rewards/epoch-individual-rewards/generate-epoch-individual-rewards-list.spec.ts
  apps/governance/src/routes/rewards/epoch-individual-rewards/generate-epoch-individual-rewards-list.ts
  apps/governance/src/routes/rewards/epoch-total-rewards/epoch-total-rewards-table.spec.tsx
  apps/governance/src/routes/rewards/epoch-total-rewards/epoch-total-rewards-table.tsx
  apps/governance/src/routes/rewards/epoch-total-rewards/epoch-total-rewards.tsx
  apps/governance/src/routes/rewards/epoch-total-rewards/generate-epoch-total-rewards-list.spec.ts
  apps/governance/src/routes/rewards/epoch-total-rewards/generate-epoch-total-rewards-list.ts
  apps/governance/src/routes/rewards/home/Rewards.graphql
  apps/governance/src/routes/rewards/home/__generated__/Rewards.ts
  apps/governance/src/routes/rewards/home/rewards-page.tsx
  libs/ui-toolkit/src/components/index.ts
  libs/ui-toolkit/src/components/pagination/index.tsx
  libs/ui-toolkit/src/components/pagination/pagination.stories.tsx
  libs/ui-toolkit/src/components/pagination/pagination.tsx
Labels: explorer-preview, governance-preview, trading-preview

#3426 feat(environment): github releases
  libs/environment/src/hooks/index.ts
  libs/environment/src/hooks/mocks/github-releases.ts
  libs/environment/src/hooks/use-vega-release.spec.ts
  libs/environment/src/hooks/use-vega-release.ts
  libs/environment/src/hooks/use-vega-releases.spec.ts
  libs/environment/src/hooks/use-vega-releases.ts
Labels: explorer-preview, governance-preview, trading-preview

#3458 chore(ui-toolkit): bump ui toolkit to 0.10.0
  libs/ui-toolkit/package.json
Labels: explorer-preview, governance-preview, trading-preview

#3460 fix(governance): fix flaky tests due to wallet teardown
  apps/explorer/.env.capsule
  apps/explorer/.env.vegacapsule
  apps/governance-e2e/.env
  apps/governance-e2e/src/integration/flow/proposal-list.cy.ts
  apps/governance-e2e/src/integration/view/home.cy.ts
  apps/governance-e2e/src/integration/view/wallet-vega.cy.ts
  apps/governance-e2e/src/support/governance.functions.ts
  apps/governance-e2e/src/support/wallet-teardown.functions.ts
  apps/governance/.env.capsule
  apps/trading/.env.capsule
Labels: explorer-preview, governance-preview, trading-preview

#3363 feat(governance): protocol upgrade proposals list and details
  apps/governance-e2e/src/integration/view/home.cy.ts
  apps/governance/src/i18n/translations/dev.json
  apps/governance/src/routes/home/index.tsx
  apps/governance/src/routes/proposals/components/proposals-list/proposals-list.spec.tsx
  apps/governance/src/routes/proposals/components/proposals-list/proposals-list.tsx
  apps/governance/src/routes/proposals/components/protocol-upgrade-proposal-detail-approvals/index.tsx
  apps/governance/src/routes/proposals/components/protocol-upgrade-proposal-detail-approvals/protocol-update-proposal-detail-approvals.tsx
  apps/governance/src/routes/proposals/components/protocol-upgrade-proposal-detail-approvals/protocol-upgrade-proposal-detail-approvals.spec.tsx
  apps/governance/src/routes/proposals/components/protocol-upgrade-proposal-detail-header/index.tsx
  apps/governance/src/routes/proposals/components/protocol-upgrade-proposal-detail-header/protocol-upgrade-proposal-detail-header.spec.tsx
  apps/governance/src/routes/proposals/components/protocol-upgrade-proposal-detail-header/protocol-upgrade-proposal-detail-header.tsx
  apps/governance/src/routes/proposals/components/protocol-upgrade-proposal-detail-info/index.tsx
  apps/governance/src/routes/proposals/components/protocol-upgrade-proposal-detail-info/protocol-upgrade-proposal-detail-info.spec.tsx
  apps/governance/src/routes/proposals/components/protocol-upgrade-proposal-detail-info/protocol-upgrade-proposal-detail-info.tsx
  apps/governance/src/routes/proposals/components/protocol-upgrade-proposals-list-item/protocol-upgrade-proposals-list-item.spec.tsx
  apps/governance/src/routes/proposals/components/protocol-upgrade-proposals-list-item/protocol-upgrade-proposals-list-item.tsx
  apps/governance/src/routes/proposals/proposals/proposals-container.tsx
  apps/governance/src/routes/proposals/protocol-upgrade/ProtocolUpgradeProposals.graphql
  apps/governance/src/routes/proposals/protocol-upgrade/__generated__/ProtocolUpgradeProposals.ts
  apps/governance/src/routes/proposals/protocol-upgrade/index.tsx
  apps/governance/src/routes/proposals/protocol-upgrade/protocol-upgrade-proposal-container.tsx
  apps/governance/src/routes/proposals/protocol-upgrade/protocol-upgrade-proposal.spec.tsx
  apps/governance/src/routes/proposals/protocol-upgrade/protocol-upgrade-proposal.tsx
  apps/governance/src/routes/router-config.tsx
  apps/governance/src/routes/staking/shared.ts
  libs/utils/src/lib/format/strings.spec.ts
  libs/utils/src/lib/format/strings.ts
Labels: explorer-preview, governance-preview, trading-preview

#3468 feat(governance): associate form associate link
  apps/governance/src/i18n/translations/dev.json
  apps/governance/src/routes/staking/node/staking-form.tsx
  libs/ui-toolkit/src/components/notification/notification.tsx
Labels: explorer-preview, governance-preview, trading-preview

#3447 fix(trading): refactor market info accordion to avoid remount on candle reload
  .github/workflows/ci-cd-trigger.yml
  apps/explorer/src/app/components/markets/market-details.tsx
  apps/trading-e2e/src/integration/market-info.cy.ts
  apps/trading/client-pages/market/trade-grid.tsx
  apps/trading/client-pages/market/trade-market-header.tsx
  apps/trading/components/select-market/select-market-columns.tsx
  libs/deal-ticket/src/hooks/use-initial-margin.ts
  libs/market-info/src/components/index.ts
  libs/market-info/src/components/last-24h-price-change/index.ts
  libs/market-info/src/components/last-24h-price-change/last-24h-price-change.tsx
  libs/market-info/src/components/last-24h-volume/index.ts
  libs/market-info/src/components/last-24h-volume/last-24h-volume.tsx
  libs/market-info/src/components/market-info/index.ts
  libs/market-info/src/components/market-info/info-key-value-table.tsx
  libs/market-info/src/components/market-info/market-info-accordion.tsx
  libs/market-info/src/components/market-info/market-info-data-provider.ts
  libs/market-info/src/components/market-info/market-info-panels.tsx
  libs/positions/src/lib/positions-data-providers.ts
  libs/react-helpers/src/hooks/use-data-provider.spec.ts
  libs/react-helpers/src/hooks/use-data-provider.ts
Labels: explorer-preview, governance-preview, trading-preview

#3444 chore(ci): bump typescript
  .github/workflows/ci-cd-trigger.yml
  .github/workflows/cypress-run.yml
  .github/workflows/publish-dist.yml
  apps/explorer-e2e/cypress.config.js
  apps/governance-e2e/cypress.config.js
  apps/governance-e2e/src/integration/flow/staking-flow.cy.ts
  apps/governance-e2e/src/integration/view/pubkey-view.cy.ts
  apps/governance-e2e/src/integration/view/validators.cy.ts
  apps/governance-e2e/src/integration/view/vesting.cy.ts
  apps/governance-e2e/src/integration/view/wallet-eth.cy.ts
  apps/governance-e2e/src/integration/view/wallet-vega.cy.ts
  apps/governance-e2e/src/support/common.functions.ts
  apps/governance-e2e/src/support/staking.functions.ts
  apps/governance-e2e/src/support/wallet-teardown.functions.ts
  apps/trading-e2e/cypress.config.js
  apps/trading-e2e/src/integration/market-proposal-notification.cy.ts
  apps/trading-e2e/src/integration/market-split-bottom-panels.cy.ts
  apps/trading-e2e/src/integration/market-summary.cy.ts
  apps/trading-e2e/src/integration/navbar.cy.ts
  apps/trading-e2e/src/integration/trading-accounts.cy.ts
  apps/trading-e2e/src/integration/trading-deal-ticket-basic-submit.cy.ts
  apps/trading-e2e/src/integration/trading-deal-ticket-basics.cy.ts
  apps/trading-e2e/src/integration/trading-deal-ticket-order.cy.ts
  apps/trading-e2e/src/integration/trading-deal-ticket-submit-account.cy.ts
  apps/trading-e2e/src/integration/trading-deal-ticket-submit-batch-auction.cy.ts
  apps/trading-e2e/src/integration/trading-deal-ticket-submit-monitoring-auction.cy.ts
  apps/trading-e2e/src/integration/trading-deal-ticket-submit-opening-auction.cy.ts
  apps/trading-e2e/src/integration/trading-deal-ticket-submit-suspended.cy.ts
  apps/trading-e2e/src/integration/trading-deal-ticket-submit.cy.ts
  apps/trading-e2e/src/integration/trading-deal-ticket-time-in-force.cy.ts
  apps/trading-e2e/src/integration/trading-deal-ticket-validations.cy.ts
  apps/trading-e2e/src/integration/trading-orders.cy.ts
  apps/trading-e2e/src/integration/trading-positions.cy.ts
  apps/trading-e2e/src/integration/wallet-eth.cy.ts
  apps/trading-e2e/src/integration/wallet-vega.cy.ts
  apps/trading-e2e/src/integration/withdraw-key-to-key.cy.ts
  apps/trading-e2e/src/integration/withdraw.cy.ts
  apps/trading-e2e/src/support/deal-ticket.ts
  libs/cypress/src/lib/commands/add-connect-public-key.ts
  libs/cypress/src/lib/commands/vega-wallet-connect.ts
  libs/cypress/tsconfig.json
  libs/datagrid/src/lib/cell-class-rules.ts
  libs/react-helpers/src/hooks/use-fetch.ts
  package.json
  yarn.lock
Labels: explorer-preview, governance-preview, trading-preview

#3467 fix(wallet): fetch new keys without re-connecting the wallet
  apps/trading/components/vega-wallet-connect-button/vega-wallet-connect-button.spec.tsx
  apps/trading/components/vega-wallet-connect-button/vega-wallet-connect-button.tsx
  libs/wallet/src/context.ts
  libs/wallet/src/provider.spec.tsx
  libs/wallet/src/provider.tsx
  libs/wallet/src/use-json-rpc-connect.ts
Labels: explorer-preview, governance-preview, trading-preview

#3473 test(governance): e2e tests for rewards pagination
  apps/governance-e2e/src/integration/view/home.cy.ts
  apps/governance-e2e/src/integration/view/rewards.cy.ts
  libs/ui-toolkit/src/components/pagination/pagination.tsx
Labels: explorer-preview, governance-preview, trading-preview

#3443 fix(governance): withdrawals bug
  apps/governance-e2e/.env
  apps/governance/.env.capsule
  apps/governance/src/app.tsx
Labels: governance-preview

#3477 test(governance): e2e network upgrade proposal tests
  apps/governance-e2e/src/fixtures/mocks/network-upgrade.ts
  apps/governance-e2e/src/fixtures/mocks/nodes.ts
  apps/governance-e2e/src/fixtures/mocks/proposals.ts
  apps/governance-e2e/src/integration/view/proposal.cy.ts
  apps/governance-e2e/src/support/proposal.functions.ts
  apps/governance/src/routes/proposals/components/protocol-upgrade-proposal-detail-approvals/protocol-update-proposal-detail-approvals.tsx
  apps/governance/src/routes/proposals/components/protocol-upgrade-proposal-detail-approvals/protocol-upgrade-proposal-detail-approvals.spec.tsx
Labels: governance-preview

#3465 test(trading): mocha reporter for e2e tests
  .github/workflows/cypress-run.yml
  .gitignore
  apps/trading-e2e/cypress.config.js
  apps/trading-e2e/src/support/index.js
  package.json
  yarn.lock
Labels: Trading, Testing 🧪, explorer-preview, governance-preview, trading-preview

#3487 fix(trading): amend market list settlement asset column getter
  libs/market-list/src/lib/components/markets-container/market-list-table.tsx
Labels: explorer-preview, governance-preview, trading-preview

#3518 chore(ui-toolkit,react-helpers,utils,tailwindcss-config): add more build targets
  libs/react-helpers/package.json
  libs/react-helpers/project.json
  libs/tailwindcss-config/package.json
  libs/tailwindcss-config/project.json
  libs/ui-toolkit/package.json
  libs/ui-toolkit/project.json
  libs/utils/package.json
  libs/utils/project.json
Labels: explorer-preview, governance-preview, trading-preview

#3485 chore(ui-toolkit): leftover dependencies
  apps/governance-e2e/src/integration/view/wallet-vega.cy.ts
  apps/governance-e2e/src/integration/view/withdraw.cy.ts
  apps/trading/client-pages/market/trade-grid.tsx
  apps/trading/client-pages/portfolio/portfolio.tsx
  apps/trading/components/resizable-grid/index.ts
  apps/trading/components/resizable-grid/resizable-grid.tsx
  libs/accounts/src/lib/breakdown-table.tsx
  libs/datagrid/src/index.ts
  libs/datagrid/src/lib/cells/grid-progress-bar.tsx
  libs/positions/src/lib/positions-table.tsx
  libs/ui-toolkit/src/components/index.ts
  libs/ui-toolkit/src/components/progress-bar/index.ts
  libs/ui-toolkit/src/components/resizable-grid/resizable-grid.stories.tsx
Labels: explorer-preview, governance-preview, trading-preview

#3486 feat(trading): add negative oracle status banner
  apps/trading/client-pages/market/market.tsx
  apps/trading/client-pages/market/trade-grid.tsx
  apps/trading/components/banner/announcement-banner.tsx
  apps/trading/components/banner/index.tsx
  apps/trading/components/banner/oracle-banner.tsx
  apps/trading/pages/_app.page.tsx
  libs/market-info/src/hooks/index.ts
  libs/market-info/src/hooks/use-market-oracle.spec.ts
  libs/market-info/src/hooks/use-market-oracle.ts
  libs/market-info/src/index.ts
  libs/ui-toolkit/src/components/icon/icon.tsx
  libs/ui-toolkit/src/components/index.ts
  libs/ui-toolkit/src/components/notification-banner/index.tsx
  libs/ui-toolkit/src/components/notification-banner/notification-banner.stories.tsx
  libs/ui-toolkit/src/components/notification-banner/notification-banner.tsx
  libs/ui-toolkit/src/components/toast/toast.tsx
Labels: explorer-preview, governance-preview, trading-preview

#3527 fix(ui-toolkit): box size being wrong for multiline check boxes
  libs/ui-toolkit/src/components/checkbox/checkbox.tsx
Labels: explorer-preview, governance-preview, trading-preview

#3519 test(trading): separated artifacts for logs and html report
  .github/workflows/cypress-run.yml
Labels: Trading, Testing 🧪, explorer-preview, governance-preview, trading-preview

#3529 test(trading): tests for ac - 7005-FILL-fills
  apps/trading-e2e/src/integration/trading-fills.cy.ts
Labels: Trading, Testing 🧪, trading-preview

#3481 fix(governance): scroll to top on route change
  apps/governance-e2e/src/support/staking.functions.ts
  apps/governance/src/app.tsx
Labels: governance-preview

#3533 fix(governance): validator tables - user staking fixes
  apps/governance/src/routes/staking/home/epoch-data.tsx
  apps/governance/src/routes/staking/home/validator-tables/consensus-validators-table.tsx
  apps/governance/src/routes/staking/home/validator-tables/shared.tsx
  apps/governance/src/routes/staking/home/validator-tables/standby-pending-validators-table.tsx
Labels: governance-preview

#3003 chore(static): remove unusable mainnet data nodes
  apps/static/src/assets/mainnet-network.json
Labels: explorer-preview, governance-preview, trading-preview

#3549 feat(governance): ensure the data node urls in the monorepo are valid
  README.md
  apps/explorer-e2e/.env.testnet
  apps/governance-e2e/.env.testnet
  apps/governance/.env.testnet
  apps/liquidity-provision-dashboard/.env
  apps/liquidity-provision-dashboard/.env.testnet
  apps/multisig-signer/.env.testnet
  apps/static/src/assets/testnet-network.json
Labels: explorer-preview, governance-preview, trading-preview

#3550 fix(fills): handle side_unspecified added for the aggresor
  libs/fills/src/lib/fills-table.spec.tsx
  libs/fills/src/lib/fills-table.tsx
  libs/types/src/__generated__/types.ts
  libs/types/src/global-types-mappings.ts
Labels: explorer-preview, governance-preview, trading-preview

#3448 feat(trading): make Sentry only after opt in
  apps/trading-e2e/src/integration/navbar.cy.ts
  apps/trading-e2e/src/integration/settings.cy.ts
  apps/trading/.env.testnet
  apps/trading/client-pages/settings/index.ts
  apps/trading/client-pages/settings/settings-button.tsx
  apps/trading/client-pages/settings/settings.tsx
  apps/trading/components/navbar/navbar.tsx
  apps/trading/components/welcome-dialog/risk-notice-dialog.spec.tsx
  apps/trading/components/welcome-dialog/risk-notice-dialog.tsx
  apps/trading/components/welcome-dialog/telemetry-approval.spec.tsx
  apps/trading/components/welcome-dialog/telemetry-approval.tsx
  apps/trading/components/welcome-dialog/welcome-dialog.tsx
  apps/trading/lib/hooks/use-telemetry-approval.spec.ts
  apps/trading/lib/hooks/use-telemetry-approval.ts
  apps/trading/pages/_app.page.tsx
  apps/trading/pages/client-router.tsx
  apps/trading/sentry.client.config.js
  libs/react-helpers/src/hooks/use-logger.ts
  libs/ui-toolkit/src/components/divider/divider.stories.tsx
  libs/ui-toolkit/src/components/divider/divider.tsx
  libs/ui-toolkit/src/components/divider/index.ts
  libs/ui-toolkit/src/components/index.ts
  libs/ui-toolkit/src/components/switch/index.ts
  libs/ui-toolkit/src/components/switch/switch.stories.tsx
  libs/ui-toolkit/src/components/switch/switch.tsx
  libs/ui-toolkit/src/components/theme-switcher/theme-switcher.tsx
  libs/utils/src/index.ts
  libs/utils/src/lib/sentry-utils.spec.ts
  libs/utils/src/lib/sentry-utils.ts
  libs/web3/src/lib/use-eager-connect.ts
  package.json
  yarn.lock
Labels: explorer-preview, governance-preview, trading-preview

#3558 feat(trading): settings page quick adjust a css
  apps/trading/components/welcome-dialog/telemetry-approval.tsx
Labels: explorer-preview, governance-preview, trading-preview

#3472 feat(trading): data grid dropdown menu in collateral table and vega icons
  apps/trading-e2e/src/integration/trading-accounts.cy.ts
  libs/accounts/src/lib/accounts-table.spec.tsx
  libs/accounts/src/lib/accounts-table.tsx
  libs/environment/src/components/network-switcher/network-switcher.tsx
  libs/ui-toolkit/src/components/dialog/dialog.tsx
  libs/ui-toolkit/src/components/dropdown-menu/dropdown-menu.tsx
  libs/ui-toolkit/src/components/icon/blueprint-icons/icon.spec.tsx
  libs/ui-toolkit/src/components/icon/blueprint-icons/icon.stories.tsx
  libs/ui-toolkit/src/components/icon/blueprint-icons/icon.tsx
  libs/ui-toolkit/src/components/icon/blueprint-icons/index.ts
  libs/ui-toolkit/src/components/icon/index.ts
  libs/ui-toolkit/src/components/icon/vega-icons/index.ts
  libs/ui-toolkit/src/components/icon/vega-icons/svg-icons/icon-breakdown.tsx
  libs/ui-toolkit/src/components/icon/vega-icons/svg-icons/icon-copy.tsx
  libs/ui-toolkit/src/components/icon/vega-icons/svg-icons/icon-deposit.tsx
  libs/ui-toolkit/src/components/icon/vega-icons/svg-icons/icon-edit.tsx
  libs/ui-toolkit/src/components/icon/vega-icons/svg-icons/icon-forum.tsx
  libs/ui-toolkit/src/components/icon/vega-icons/svg-icons/icon-globe.tsx
  libs/ui-toolkit/src/components/icon/vega-icons/svg-icons/icon-linkedin.tsx
  libs/ui-toolkit/src/components/icon/vega-icons/svg-icons/icon-moon.tsx
  libs/ui-toolkit/src/components/icon/vega-icons/svg-icons/icon-open-external.tsx
  libs/ui-toolkit/src/components/icon/vega-icons/svg-icons/icon-question-mark.tsx
  libs/ui-toolkit/src/components/icon/vega-icons/svg-icons/icon-transfer.tsx
  libs/ui-toolkit/src/components/icon/vega-icons/svg-icons/icon-twitter.tsx
  libs/ui-toolkit/src/components/icon/vega-icons/svg-icons/icon-withdraw.tsx
  libs/ui-toolkit/src/components/icon/vega-icons/vega-icon-record.ts
  libs/ui-toolkit/src/components/icon/vega-icons/vega-icon.spec.tsx
  libs/ui-toolkit/src/components/icon/vega-icons/vega-icon.stories.tsx
  libs/ui-toolkit/src/components/icon/vega-icons/vega-icon.tsx
Labels: explorer-preview, governance-preview, trading-preview

#3559 test(ci): capsule update v0.71.1
  apps/explorer-e2e/.env
  apps/explorer-e2e/cypress.config.js
  apps/explorer-e2e/src/integration/node-switcher.cy.js
  apps/explorer-e2e/src/integration/parties.cy.js
  apps/governance-e2e/.env
  apps/governance-e2e/src/integration/flow/proposal-forms.cy.ts
  apps/governance-e2e/src/integration/flow/staking-flow.cy.ts
  apps/governance-e2e/src/integration/view/home.cy.ts
  apps/governance-e2e/src/integration/view/pubkey-view.cy.ts
  apps/governance-e2e/src/integration/view/rewards.cy.ts
  apps/governance-e2e/src/integration/view/wallet-vega.cy.ts
  apps/governance-e2e/src/support/staking.functions.ts
  apps/governance-e2e/src/support/wallet-teardown.functions.ts
  apps/governance/.env.capsule
  apps/liquidity-provision-dashboard/.env.capsule
  apps/trading-e2e/.env
  apps/trading-e2e/.env.capsule
  apps/trading-e2e/src/integration/settings.cy.ts
  apps/trading-e2e/src/integration/trading-accounts.cy.ts
  apps/trading-e2e/src/support/helpers.ts
  apps/trading/.env.capsule
  libs/cypress/src/lib/capsule/contants.ts
  libs/cypress/src/lib/capsule/propose-market.ts
  libs/cypress/src/lib/commands/get-assets.ts
  libs/cypress/src/lib/commands/get-network-parameters.ts
  libs/cypress/src/lib/commands/get-nodes.ts
  vegacapsule/genesis.tmpl
Labels: explorer-preview, governance-preview, trading-preview

#3561 test(trading): 7001-COLL-collateral - e2e tests
  apps/trading-e2e/src/integration/trading-accounts.cy.ts
  apps/trading-e2e/src/integration/trading-deal-ticket-order.cy.ts
  apps/trading-e2e/src/integration/trading-orders.cy.ts
  libs/accounts/src/lib/accounts-table.tsx
Labels: Trading, Testing 🧪, explorer-preview, governance-preview, trading-preview

#3536 feat(explorer): add epoch to block explorer homepage
  apps/explorer-e2e/src/integration/home.cy.js
  libs/network-stats/src/components/stats-manager/Stats.graphql
  libs/network-stats/src/components/stats-manager/__generated__/Stats.ts
  libs/network-stats/src/components/stats-manager/stats-manager.tsx
  libs/network-stats/src/config/stats-fields.ts
Labels: explorer-preview, governance-preview, trading-preview

#3567 fix(explorer): fix asset links and deterministic order details
  apps/explorer/src/app/components/links/asset-link/asset-link.tsx
  apps/explorer/src/app/components/order-details/deterministic-order-details.tsx
  apps/explorer/src/app/routes/parties/id/components/party-accounts.tsx
Labels: explorer-preview, governance-preview, trading-preview

#3543 feat(governance): default font Alpha
  apps/governance/src/components/page-templates/app-layout.tsx
Labels: explorer-preview, governance-preview, trading-preview
