Repository vegaprotocol/frontend-monorepo, pull requests merged in 2023-07, with the labels that each got.

#4187 chore(trading): ag-grid upgrade
  apps/explorer/src/app/components/assets/assets-table.tsx
  apps/explorer/src/app/components/markets/markets-table.tsx
  apps/explorer/src/app/components/proposals/proposals-table.tsx
  apps/explorer/src/styles.css
  apps/governance/__mocks__/react-markdown.js
  apps/governance/src/styles.css
  apps/liquidity-provision-dashboard/src/app/components/dashboard/market-list/market-list.tsx
  apps/liquidity-provision-dashboard/src/app/components/detail/providers/providers.tsx
  apps/liquidity-provision-dashboard/src/app/components/grid/grid.tsx
  apps/trading-e2e/src/integration/trading-orders.cy.ts
  apps/trading-e2e/src/integration/trading-positions.cy.ts
  apps/trading/pages/styles.css
  libs/accounts/src/lib/accounts-table.spec.tsx
  libs/accounts/src/lib/accounts-table.tsx
  libs/datagrid/src/index.ts
  libs/datagrid/src/lib/cells/cumulative-vol-cell.tsx
  libs/datagrid/src/lib/cells/vol-cell.spec.tsx
  libs/datagrid/src/lib/cells/vol-cell.tsx
  libs/datagrid/src/lib/column-definitions.ts
  libs/datagrid/src/lib/type-helpers.ts
  libs/deposits/src/lib/deposits-table.tsx
  libs/fills/src/lib/fills-table.tsx
  libs/ledger/src/lib/ledger-table.tsx
  libs/liquidity/src/lib/liquidity-table.tsx
  libs/liquidity/src/lib/liquidity.mock.ts
  libs/trades/src/lib/trades-table.tsx
  libs/withdraws/src/lib/withdrawals-table.tsx
  package.json
  yarn.lock
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview, static-preview, ui-toolkit-preview

#4232 fix(governance): reinstate deleted mock
  apps/governance/src/__mocks__/react-markdown.js
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview, static-preview, ui-toolkit-preview

#4228 feat(explorer): add pegged order details
  apps/explorer/.env
  apps/explorer/src/app/components/order-details/Order.graphql
  apps/explorer/src/app/components/order-details/__generated__/Order.ts
  apps/explorer/src/app/components/order-details/amend-order-details.spec.tsx
  apps/explorer/src/app/components/order-details/deterministic-order-details.tsx
  apps/explorer/src/app/components/order-summary/order-summary.spec.tsx
  apps/explorer/src/app/components/txs/details/order/tx-order-peg.test.tsx
  apps/explorer/src/app/components/txs/details/order/tx-order-peg.tsx
  apps/explorer/src/app/components/txs/details/tx-order.tsx
Labels: Block Explorer, explorer-preview, governance-preview, trading-preview, multisig-signer-preview, static-preview, ui-toolkit-preview

#4217 feat(explorer): remove infinite tx loader
  apps/explorer/src/app/components/info-block/info-block.tsx
  apps/explorer/src/app/components/links/party-link/party-link.spec.tsx
  apps/explorer/src/app/components/links/party-link/party-link.tsx
  apps/explorer/src/app/components/txs/details/chain-response-code/chain-reponse.code.tsx
  apps/explorer/src/app/components/txs/tx-filter-label.tsx
  apps/explorer/src/app/components/txs/tx-filter.spec.tsx
  apps/explorer/src/app/components/txs/tx-filter.tsx
  apps/explorer/src/app/components/txs/tx-list-navigation.spec.tsx
  apps/explorer/src/app/components/txs/tx-list-navigation.tsx
  apps/explorer/src/app/components/txs/tx-order-type.tsx
  apps/explorer/src/app/components/txs/txs-infinite-list-item.spec.tsx
  apps/explorer/src/app/components/txs/txs-infinite-list-item.tsx
  apps/explorer/src/app/components/txs/txs-infinite-list.spec.tsx
  apps/explorer/src/app/components/txs/txs-infinite-list.tsx
  apps/explorer/src/app/components/txs/txs-per-block.tsx
  apps/explorer/src/app/components/vote-icon/vote-icon.tsx
  apps/explorer/src/app/hooks/use-txs-data.ts
  apps/explorer/src/app/routes/layout.tsx
  apps/explorer/src/app/routes/oracles/components/oracle-signers.spec.tsx
  apps/explorer/src/app/routes/parties/id/index.tsx
  apps/explorer/src/app/routes/txs/home/index.tsx
  apps/explorer/src/app/routes/txs/id/tx-details.spec.tsx
  apps/explorer/src/app/routes/validators/NodeNames.graphql
  apps/explorer/src/app/routes/validators/__generated__/NodeNames.ts
  libs/ui-toolkit/src/components/viewing-as-user/index.tsx
  libs/utils/src/lib/format/strings.spec.ts
  libs/utils/src/lib/format/strings.ts
Labels: Block Explorer, explorer-preview, governance-preview, trading-preview, multisig-signer-preview, ui-toolkit-preview

#4235 chore(trading): upgrade pennant to v1.9.0
  apps/trading-e2e/src/integration/trading-chart.cy.ts
  libs/candles-chart/src/lib/data-source.ts
  package.json
  yarn.lock
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview, static-preview, ui-toolkit-preview

#4218 chore(governance): add e2e test for proposal filter changes
  apps/governance-e2e/src/integration/view/proposal.cy.ts
Labels: governance-preview, trading-preview

#4231 chore(orders): get rid of unnecessary stores
  apps/trading/client-pages/market/trade-grid.tsx
  apps/trading/client-pages/portfolio/portfolio.tsx
  apps/trading/components/resizable-grid/index.ts
  apps/trading/components/resizable-grid/use-pane-layout.spec.ts
  apps/trading/components/resizable-grid/use-pane-layout.ts
  libs/deal-ticket/src/components/deal-ticket/deal-ticket.spec.tsx
  libs/deal-ticket/src/hooks/use-order-form.spec.ts
  libs/market-depth/src/lib/orderbook-manager.tsx
  libs/orders/src/lib/order-hooks/use-order-store.spec.ts
  libs/orders/src/lib/order-hooks/use-order-store.ts
  libs/react-helpers/src/hooks/index.ts
  libs/trades/src/lib/trades-container.tsx
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview, static-preview, ui-toolkit-preview

#4253 feat(governance,explorer,trading): add env config for mainnet-mirror apps
  apps/explorer/.env.mainnet-mirror
  apps/explorer/README.md
  apps/governance/.env.mainnet-mirror
  apps/governance/README.md
  apps/trading/.env.mainnet-mirror
  apps/trading/README.md
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview, static-preview, ui-toolkit-preview

#4249 fix(proposals): truncated text in network param toast
  libs/proposals/src/lib/proposals-hooks/use-update-network-paramaters-toasts.tsx
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview, static-preview, ui-toolkit-preview

#4239 chore(trading): dropdown alignments, account history default asset, transfer dialog asset selector
  apps/trading-e2e/src/integration/market-all.cy.ts
  apps/trading/client-pages/markets/closed.tsx
  apps/trading/client-pages/portfolio/account-history-container.tsx
  libs/accounts/src/lib/accounts-actions-dropdown.tsx
  libs/accounts/src/lib/transfer-container.tsx
  libs/accounts/src/lib/transfer-form.spec.tsx
  libs/accounts/src/lib/transfer-form.tsx
  libs/assets/src/lib/asset-option.tsx
  libs/fills/src/lib/fill-actions-dropdown.tsx
  libs/markets/src/lib/components/markets-container/market-table-actions.tsx
  libs/markets/src/lib/components/markets-container/use-column-defs.tsx
  libs/orders/src/lib/components/order-actions-dropdown/order-actions-dropdown.tsx
  libs/positions/src/lib/position-actions-dropdown.tsx
  libs/positions/src/lib/positions-table.tsx
  libs/proposals/src/components/proposal-actions-dropdown.tsx
  libs/ui-toolkit/src/components/dropdown-menu/actions-dropdown.tsx
  libs/ui-toolkit/src/components/dropdown-menu/index.ts
  libs/ui-toolkit/src/components/icon/vega-icons/svg-icons/icon-info.tsx
  libs/ui-toolkit/src/components/icon/vega-icons/vega-icon-record.ts
  libs/ui-toolkit/src/components/select/select.tsx
  libs/withdraws/src/lib/asset-balance.tsx
  libs/withdraws/src/lib/withdrawals-table.tsx
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview, ui-toolkit-preview

#4222 fix(governance,trading): proposals not showing
  apps/governance/src/routes/proposals/proposal/Proposal.graphql
  apps/governance/src/routes/proposals/proposal/__generated__/Proposal.ts
  libs/proposals/src/components/proposals-list/proposals-list.tsx
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#4263 chore(governance): skip test
  apps/explorer-e2e/src/integration/asset.cy.js
  apps/governance-e2e/src/integration/flow/proposal-forms.cy.ts
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview, static-preview, ui-toolkit-preview

#4268 test(trading): add withdrawal delayed
  apps/trading-e2e/src/integration/capsule.cy.ts
Labels: Trading, explorer-preview, governance-preview, trading-preview, multisig-signer-preview, static-preview, ui-toolkit-preview

#4238 feat(orders): reduce number of columns in orders table
  apps/trading-e2e/src/integration/trading-orders.cy.ts
  libs/orders/src/lib/components/order-data-provider/order-data-provider.spec.ts
  libs/orders/src/lib/components/order-data-provider/order-data-provider.ts
  libs/orders/src/lib/components/order-list/order-list.spec.tsx
  libs/orders/src/lib/components/order-list/order-list.tsx
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview, static-preview, ui-toolkit-preview

#4226 feat(trading): amend market red and green colors
  apps/trading-e2e/src/integration/trading-positions.cy.ts
  apps/trading/client-pages/market/market-selector-item.tsx
  apps/trading/pages/styles.css
  libs/datagrid/src/lib/cell-class-rules.ts
  libs/datagrid/src/lib/cells/flash-cell.tsx
  libs/datagrid/src/lib/cells/size.tsx
  libs/fills/src/lib/fills-table.spec.tsx
  libs/market-depth/src/lib/orderbook-row.tsx
  libs/positions/src/lib/positions-table.spec.tsx
  libs/tailwindcss-config/src/theme.js
  libs/trades/src/lib/trades-table.tsx
  libs/ui-toolkit/src/components/sparkline/sparkline.spec.tsx
  libs/ui-toolkit/src/components/sparkline/sparkline.tsx
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview, static-preview, ui-toolkit-preview

#4252 chore(trading): ignore parse source map warnings, fix trading readme
  apps/explorer/webpack.config.js
  apps/governance/webpack.config.js
  apps/trading/README.md
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview, static-preview, ui-toolkit-preview

#4284 fix(trading): replace oracle details and deal ticket pink with red
  apps/trading/client-pages/market/trade-grid.tsx
  apps/trading/pages/styles.css
  libs/accounts/src/lib/accounts-table.tsx
  libs/accounts/src/lib/margin-health-chart.tsx
  libs/deal-ticket/src/components/deal-ticket/deal-ticket-button.tsx
  libs/deal-ticket/src/components/deal-ticket/deal-ticket.tsx
  libs/market-depth/src/lib/orderbook-row.tsx
  libs/markets/src/lib/components/oracle-basic-profile/oracle-basic-profile.tsx
  libs/markets/src/lib/components/oracle-full-profile/oracle-full-profile.tsx
  libs/tailwindcss-config/src/theme.js
  libs/ui-toolkit/src/components/notification-banner/notification-banner.tsx
  libs/ui-toolkit/src/components/toggle/toggle.tsx
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview, static-preview, ui-toolkit-preview

#4286 test(trading): fix capsule place order test
  apps/trading-e2e/src/integration/capsule.cy.ts
Labels: Trading, Testing 🧪, explorer-preview, governance-preview, trading-preview, multisig-signer-preview, static-preview, ui-toolkit-preview

#4269 feat(trading): add market banner for successor markets
  apps/trading-e2e/src/integration/market-info.cy.ts
  apps/trading/client-pages/market/trade-grid.tsx
  apps/trading/client-pages/market/trade-panels.tsx
  apps/trading/components/market-banner/index.ts
  apps/trading/components/market-banner/market-successor-banner.spec.tsx
  apps/trading/components/market-banner/market-successor-banner.tsx
  libs/liquidity/src/lib/__generated__/MarketLiquidity.ts
  libs/markets/src/lib/__generated__/markets.ts
  libs/markets/src/lib/components/market-info/MarketInfo.graphql
  libs/markets/src/lib/components/market-info/__generated__/MarketInfo.ts
  libs/markets/src/lib/components/market-info/market-info-panels.tsx
  libs/markets/src/lib/components/market-info/market-info.mock.ts
  libs/markets/src/lib/components/market-info/tooltip-mapping.tsx
  libs/markets/src/lib/markets.graphql
  libs/types/src/__generated__/types.ts
  libs/types/src/global-types-mappings.ts
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview, static-preview, ui-toolkit-preview

#4121 feat(trading,governance,wallet): browser wallet integration
  apps/governance-e2e/src/integration/view/wallet-vega.cy.ts
  apps/governance/src/components/connect-to-vega/connect-to-vega.tsx
  apps/governance/src/components/vega-wallet-container/vega-wallet-container.tsx
  apps/governance/src/components/vega-wallet-dialogs/vega-wallet-dialogs.tsx
  apps/governance/src/components/vega-wallet/vega-wallet.tsx
  apps/governance/src/contexts/app-state/app-state-context.ts
  apps/governance/src/contexts/app-state/app-state-provider.tsx
  apps/governance/src/lib/vega-connectors.ts
  apps/governance/src/routes/proposals/components/vote-details/vote-buttons.tsx
  apps/governance/src/routes/proposals/hooks/use-vote-information.spec.ts
  apps/governance/src/routes/rewards/connect-to-see-rewards.tsx
  apps/trading-e2e/src/integration/wallet-vega.cy.ts
  apps/trading/components/vega-wallet-connect-button/vega-wallet-connect-button.tsx
  apps/trading/lib/vega-connectors.ts
  libs/ui-toolkit/src/components/dialog/dialog.tsx
  libs/ui-toolkit/src/components/dropdown-menu/dropdown-menu.tsx
  libs/ui-toolkit/src/components/icon/vega-icons/svg-icons/icon-chevron-left.tsx
  libs/ui-toolkit/src/components/icon/vega-icons/vega-icon-record.ts
  libs/wallet/src/connect-dialog/connect-dialog-elements.tsx
  libs/wallet/src/connect-dialog/connect-dialog.spec.tsx
  libs/wallet/src/connect-dialog/connect-dialog.tsx
  libs/wallet/src/connect-dialog/injected-connector-form.tsx
  libs/wallet/src/connectors/injected-connector.ts
  libs/wallet/src/connectors/vega-connector.ts
  libs/wallet/src/provider.tsx
  libs/wallet/src/storage.ts
  libs/wallet/src/test-helpers.ts
  libs/wallet/src/use-injected-connector.spec.tsx
  libs/wallet/src/use-injected-connector.ts
  libs/wallet/src/use-json-rpc-connect.ts
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview, static-preview, ui-toolkit-preview

#4271 feat(trading): run console-test on CICD
  .github/workflows/ci-cd-trigger.yml
  .github/workflows/console-test-run.yml
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview, static-preview, ui-toolkit-preview

#4291 fix(positions): use asset decimals for pnl
  apps/trading/.env.mainnet
  libs/positions/src/lib/positions-table.spec.tsx
  libs/positions/src/lib/positions-table.tsx
Labels: explorer-preview, governance-preview, trading-preview

#4303 chore(ci): revert run console-test on CICD
  .github/workflows/ci-cd-trigger.yml
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview, static-preview, ui-toolkit-preview

#4292 test(governance): un-skip governance tests
  apps/governance-e2e/src/integration/flow/proposal-flow.cy.ts
  apps/governance-e2e/src/integration/view/home.cy.ts
  apps/governance-e2e/src/integration/view/pubkey-view.cy.ts
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview, static-preview, ui-toolkit-preview

#4329 fix(ui-toolkit): toolkit bugs
  libs/ui-toolkit/src/components/button/button.tsx
  libs/ui-toolkit/src/components/checkbox/checkbox.stories.tsx
  libs/ui-toolkit/src/components/checkbox/checkbox.tsx
  libs/ui-toolkit/src/utils/shared.ts
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#4207 feat(trading): view iceberg orders
  apps/governance/src/routes/proposals/proposal/__generated__/Proposal.ts
  apps/governance/src/routes/proposals/proposals/__generated__/Proposals.ts
  apps/trading-e2e/src/integration/trading-portfolio.cy.ts
  apps/trading-e2e/src/integration/trading-trades.cy.ts
  libs/datagrid/src/lib/cells/order-type-cell.tsx
  libs/liquidity/src/lib/__generated__/MarketLiquidity.ts
  libs/orders/src/lib/components/order-data-provider/Orders.graphql
  libs/orders/src/lib/components/order-data-provider/__generated__/Orders.ts
  libs/orders/src/lib/components/order-data-provider/order-data-provider.ts
  libs/orders/src/lib/order-hooks/__generated__/OrdersSubscription.ts
  libs/proposals/src/lib/proposals-data-provider/__generated__/Proposals.ts
  libs/proposals/src/lib/proposals-hooks/__generated__/Proposal.ts
  libs/types/src/__generated__/types.ts
  libs/types/src/global-types-mappings.ts
  libs/wallet/src/__generated__/TransactionResult.ts
  yarn.lock
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview, static-preview, ui-toolkit-preview

#4208 fix(trading): add internal termination oracle
  libs/markets/src/lib/components/market-info/MarketInfo.graphql
  libs/markets/src/lib/components/market-info/__generated__/MarketInfo.ts
  libs/markets/src/lib/components/market-info/market-info-accordion.tsx
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview, static-preview, ui-toolkit-preview

#4290 chore(explorer): align staking terminology
  apps/explorer/src/app/routes/parties/id/components/party-block-stake.tsx
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview, static-preview, ui-toolkit-preview

#4336 chore(trading): 4134 see if a closed market was succeeded
  apps/trading-e2e/src/integration/closed-markets.cy.ts
  apps/trading/client-pages/markets/closed.spec.tsx
  apps/trading/client-pages/markets/closed.tsx
  libs/markets/src/lib/markets.mock.ts
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#4333 feat(trading): copy order book volume value to deal ticket
  apps/trading-e2e/src/integration/order-book.cy.ts
  libs/market-depth/src/lib/orderbook-manager.tsx
  libs/market-depth/src/lib/orderbook-row.tsx
  libs/market-depth/src/lib/orderbook.spec.tsx
  libs/market-depth/src/lib/orderbook.tsx
Labels: explorer-preview, governance-preview, trading-preview

#4293 chore(trading): orderbook adjustments
  apps/trading-e2e/src/integration/order-book.cy.ts
  libs/market-depth/src/lib/orderbook-row.tsx
  libs/market-depth/src/lib/orderbook.spec.tsx
  libs/market-depth/src/lib/orderbook.tsx
  libs/ui-toolkit/src/components/icon/vega-icons/svg-icons/icon-arrow-up.tsx
  libs/ui-toolkit/src/components/icon/vega-icons/svg-icons/icon-bullet.tsx
  libs/ui-toolkit/src/components/icon/vega-icons/svg-icons/icon-minus.tsx
  libs/ui-toolkit/src/components/icon/vega-icons/svg-icons/icon-plus.tsx
  libs/ui-toolkit/src/components/icon/vega-icons/vega-icon-record.ts
  libs/ui-toolkit/src/components/tabs/tabs.tsx
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#4320 chore(explorer): clear out slack webhook
  apps/explorer-e2e/src/integration/transactions.cy.js
  libs/cypress/src/index.ts
  libs/cypress/src/lib/commands/slack.ts
Labels: explorer-preview, governance-preview, trading-preview

#4267 fix(governance): filtered out nodes with 0 performance score from homepage list
  apps/governance/src/routes/home/index.tsx
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview, static-preview, ui-toolkit-preview

#4289 feat(governance): protocol upgrade notification, est. time
  apps/explorer/src/app/routes/blocks/id/block.tsx
  apps/governance/.env
  apps/governance/.env.capsule
  apps/governance/.env.devnet
  apps/governance/.env.mainnet
  apps/governance/.env.mainnet-mirror
  apps/governance/.env.stagnet1
  apps/governance/.env.testnet
  apps/governance/.env.validators-testnet
  apps/governance/src/components/nav/nav.tsx
  apps/governance/src/components/page-templates/app-layout.tsx
  apps/governance/src/components/page-templates/template-sidebar.tsx
  apps/governance/src/i18n/translations/dev.json
  apps/governance/src/routes/proposals/components/protocol-upgrade-proposal-detail-info/protocol-upgrade-proposal-detail-info.spec.tsx
  apps/governance/src/routes/proposals/components/protocol-upgrade-proposal-detail-info/protocol-upgrade-proposal-detail-info.tsx
  apps/governance/src/routes/proposals/protocol-upgrade/protocol-upgrade-proposal-container.tsx
  apps/governance/src/routes/proposals/protocol-upgrade/protocol-upgrade-proposal.tsx
  libs/environment/src/hooks/use-environment.ts
  libs/environment/src/utils/validate-environment.ts
  libs/proposals/src/components/protocol-upgrade-proposal-notification.tsx
  libs/react-helpers/src/hooks/use-fetch.ts
  libs/tendermint/.babelrc
  libs/tendermint/.eslintrc.json
  libs/tendermint/README.md
  libs/tendermint/jest.config.ts
  libs/tendermint/package.json
  libs/tendermint/project.json
  libs/tendermint/src/index.ts
  libs/tendermint/src/lib/use-block-info.ts
  libs/tendermint/src/types.ts
  libs/tendermint/tsconfig.json
  libs/tendermint/tsconfig.lib.json
  libs/tendermint/tsconfig.spec.json
  libs/ui-toolkit/src/components/notification-banner/notification-banner.tsx
  libs/ui-toolkit/src/components/viewing-as-user/index.tsx
  nx.json
  package.json
  tsconfig.base.json
  yarn.lock
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#4358 fix(explorer): fix valueformatter in enactment date on proposal table
  apps/explorer/src/app/components/proposals/proposals-table.tsx
Labels: explorer-preview

#4312 chore(trading): remove user pnl from closed market list
  apps/trading-e2e/src/integration/closed-markets.cy.ts
  apps/trading/client-pages/markets/closed.spec.tsx
  apps/trading/client-pages/markets/closed.tsx
Labels: trading-preview

#4347 chore(trading): cherry pick position pnl formatting fix
  libs/positions/src/lib/positions-table.spec.tsx
  libs/positions/src/lib/positions-table.tsx
Labels: explorer-preview, governance-preview, trading-preview

#4363 chore(trading): fix flakey trading-trades test
  apps/trading-e2e/src/integration/trading-trades.cy.ts
Labels: trading-preview

#4343 feat(environment): feature flags
  apps/explorer/src/app/config/env.ts
  apps/explorer/src/app/config/flags.ts
  apps/explorer/src/app/routes/router-config.tsx
  apps/governance/src/app-loader.tsx
  apps/governance/src/config/env.ts
  apps/governance/src/config/flags.ts
  apps/governance/src/config/index.ts
  apps/trading-e2e/.env
  apps/trading-e2e/src/integration/closed-markets.cy.ts
  apps/trading-e2e/src/integration/market-info.cy.ts
  apps/trading-e2e/src/support/trading.ts
  apps/trading/.env
  apps/trading/.env.capsule
  apps/trading/.env.devnet
  apps/trading/.env.mainnet
  apps/trading/.env.mainnet-mirror
  apps/trading/.env.stagnet1
  apps/trading/.env.testnet
  apps/trading/.env.validators-testnet
  apps/trading/client-pages/market/trade-grid.tsx
  apps/trading/client-pages/market/trade-panels.tsx
  apps/trading/client-pages/markets/closed.spec.tsx
  apps/trading/client-pages/markets/closed.tsx
  apps/trading/components/market-banner/market-successor-banner.spec.tsx
  apps/trading/components/market-banner/market-successor-banner.tsx
  libs/environment/src/hooks/use-environment.ts
  libs/environment/src/types.ts
  libs/environment/src/utils/validate-environment.ts
  libs/markets/src/lib/SuccessorMarket.graphql
  libs/markets/src/lib/__generated__/SuccessorMarket.ts
  libs/markets/src/lib/__generated__/index.ts
  libs/markets/src/lib/__generated__/markets.ts
  libs/markets/src/lib/components/market-info/MarketInfo.graphql
  libs/markets/src/lib/components/market-info/__generated__/MarketInfo.ts
  libs/markets/src/lib/components/market-info/market-info-panels.tsx
  libs/markets/src/lib/components/market-info/market-info.mock.ts
  libs/markets/src/lib/hooks/index.ts
  libs/markets/src/lib/hooks/use-successor-market.ts
  libs/markets/src/lib/markets.graphql
  libs/markets/src/lib/markets.mock.ts
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#4335 chore(governance): minor fixes to flaky nightly tests
  apps/governance-e2e/src/integration/flow/staking-flow.cy.ts
  apps/governance-e2e/src/support/staking.functions.ts
Labels: governance-preview

#4361 chore(governance): add e2e test for network upgrade banner
  apps/governance-e2e/src/integration/view/proposal.cy.ts
  libs/proposals/src/components/protocol-upgrade-proposal-notification.tsx
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#4326 feat(governance): proposal list tile and summary enhancements
  apps/governance-e2e/src/integration/view/home.cy.ts
  apps/governance-e2e/src/integration/view/proposal.cy.ts
  apps/governance/src/i18n/translations/dev.json
  apps/governance/src/routes/home/index.tsx
  apps/governance/src/routes/proposals/components/current-proposal-state/current-proposal-state.tsx
  apps/governance/src/routes/proposals/components/proposal-detail-header/proposal-header.spec.tsx
  apps/governance/src/routes/proposals/components/proposal-detail-header/proposal-header.tsx
  apps/governance/src/routes/proposals/components/proposal-info-label/proposal-info-label.tsx
  apps/governance/src/routes/proposals/components/proposal-voting-status/index.tsx
  apps/governance/src/routes/proposals/components/proposal-voting-status/proposal-voting-status.spec.tsx
  apps/governance/src/routes/proposals/components/proposal-voting-status/proposal-voting-status.tsx
  apps/governance/src/routes/proposals/components/proposal/proposal.spec.tsx
  apps/governance/src/routes/proposals/components/proposal/proposal.tsx
  apps/governance/src/routes/proposals/components/proposals-list-item/proposals-list-item-details.spec.tsx
  apps/governance/src/routes/proposals/components/proposals-list-item/proposals-list-item-details.tsx
  apps/governance/src/routes/proposals/components/proposals-list-item/proposals-list-item.tsx
  apps/governance/src/routes/proposals/components/proposals-list/proposals-list.spec.tsx
  apps/governance/src/routes/proposals/components/proposals-list/proposals-list.tsx
  apps/governance/src/routes/proposals/components/proposals-list/rejected-proposals-list.spec.tsx
  apps/governance/src/routes/proposals/components/proposals-list/rejected-proposals-list.tsx
  apps/governance/src/routes/proposals/components/protocol-upgrade-proposals-list-item/protocol-upgrade-proposals-list-item.spec.tsx
  apps/governance/src/routes/proposals/components/protocol-upgrade-proposals-list-item/protocol-upgrade-proposals-list-item.tsx
  apps/governance/src/routes/proposals/components/vote-details/vote-buttons.tsx
  apps/governance/src/routes/proposals/components/vote-details/vote-details.tsx
  apps/governance/src/routes/proposals/proposal/proposal-container.tsx
  apps/governance/src/routes/proposals/protocol-upgrade/protocol-upgrade-proposal.spec.tsx
  apps/governance/src/routes/proposals/test-helpers/mocks.ts
  libs/network-parameters/src/use-network-params.ts
  libs/ui-toolkit/src/components/icon/vega-icons/svg-icons/icon-vote.tsx
  libs/ui-toolkit/src/components/icon/vega-icons/vega-icon-record.ts
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#4355 chore(explorer): explorer market e2e test
  apps/explorer-e2e/.env
  apps/explorer-e2e/src/integration/market.cy.js
  apps/explorer-e2e/src/support/common.functions.js
  apps/explorer/src/app/components/header/header.tsx
Labels: explorer-preview

#4380 feat(explorer): iceberg details on order tx
  apps/explorer/src/app/components/txs/details/order/tx-order-iceberg.tsx
  apps/explorer/src/app/components/txs/details/tx-order.tsx
  apps/explorer/src/app/components/txs/tx-order-type.tsx
Labels: explorer-preview

#4339 chore(trading): market relationship - parent market in proposals list
  apps/trading-e2e/src/integration/closed-markets.cy.ts
  apps/trading-e2e/src/integration/market-all.cy.ts
  apps/trading-e2e/src/integration/markets-proposed.cy.ts
  apps/trading/client-pages/markets/closed.spec.tsx
  apps/trading/client-pages/markets/closed.tsx
  apps/trading/client-pages/markets/markets.tsx
  apps/trading/client-pages/markets/proposed.tsx
  apps/trading/client-pages/markets/successor-market-cell.tsx
  libs/markets/src/lib/SuccessorMarket.graphql
  libs/markets/src/lib/__generated__/SuccessorMarket.ts
  libs/markets/src/lib/components/markets-container/market-list-table.tsx
  libs/markets/src/lib/components/markets-container/markets-container.spec.tsx
  libs/markets/src/lib/components/markets-container/markets-container.tsx
  libs/markets/src/lib/components/markets-container/use-column-defs.tsx
  libs/markets/src/lib/markets-provider.ts
  libs/proposals/src/components/proposals-list/proposal-list.spec.tsx
  libs/proposals/src/components/proposals-list/proposals-list.tsx
  libs/proposals/src/components/proposals-list/use-column-defs.tsx
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#4393 feat(governance): successor market proposal details
  apps/governance/.env
  apps/governance/.env.capsule
  apps/governance/.env.devnet
  apps/governance/.env.mainnet
  apps/governance/.env.mainnet-mirror
  apps/governance/.env.stagnet1
  apps/governance/.env.testnet
  apps/governance/.env.validators-testnet
  apps/governance/src/routes/proposals/components/proposal-detail-header/proposal-header.spec.tsx
  apps/governance/src/routes/proposals/components/proposal-detail-header/proposal-header.tsx
  apps/trading-e2e/src/integration/market-info.cy.ts
  apps/trading-e2e/src/support/trading.ts
  apps/trading/client-pages/markets/closed.spec.tsx
  libs/markets/src/lib/components/market-info/market-info-panels.tsx
  libs/markets/src/lib/components/market-info/tooltip-mapping.tsx
  libs/proposals/src/lib/proposals-data-provider/proposals.mock.ts
  libs/proposals/src/lib/proposals-hooks/Proposal.graphql
  libs/proposals/src/lib/proposals-hooks/__generated__/Proposal.ts
  libs/proposals/src/lib/proposals-hooks/index.ts
  libs/proposals/src/lib/proposals-hooks/use-successor-market-proposal-details.ts
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#4331 chore(trading): upgrade pennant to v1.10.0
  apps/trading-e2e/src/integration/trading-chart.cy.ts
  libs/candles-chart/src/lib/data-source.ts
  package.json
  yarn.lock
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#4260 feat(governance): diff highlighter for update market proposals
  apps/governance/src/components/json-diff/index.ts
  apps/governance/src/components/json-diff/json-diff.spec.tsx
  apps/governance/src/components/json-diff/json-diff.tsx
  apps/governance/src/i18n/translations/dev.json
  apps/governance/src/routes/proposals/components/proposal-market-changes/index.tsx
  apps/governance/src/routes/proposals/components/proposal-market-changes/proposal-market-changes.spec.tsx
  apps/governance/src/routes/proposals/components/proposal-market-changes/proposal-market-changes.tsx
  apps/governance/src/routes/proposals/components/proposal/proposal.tsx
  apps/governance/src/routes/proposals/proposal/proposal-container.tsx
  apps/governance/src/styles.css
  libs/react-helpers/src/hooks/use-fetch.ts
  package.json
  yarn.lock
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview, static-preview, ui-toolkit-preview

#4401 feat(trading): add market successor proposal banner
  apps/trading/client-pages/market/trade-grid.tsx
  apps/trading/client-pages/market/trade-panels.tsx
  apps/trading/components/market-banner/index.ts
  apps/trading/components/market-banner/market-successor-proposal-banner.spec.tsx
  apps/trading/components/market-banner/market-successor-proposal-banner.tsx
  libs/datagrid/src/lib/cells/centered-grid-cell.tsx
  libs/markets/src/lib/__generated__/SuccessorMarket.ts
  libs/proposals/src/components/proposals-list/use-column-defs.tsx
  libs/proposals/src/lib/proposals-data-provider/Proposals.graphql
  libs/proposals/src/lib/proposals-data-provider/__generated__/Proposals.ts
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#4402 chore(governance): add acs for network upgrade banner and estimate
  apps/governance-e2e/src/integration/view/proposal.cy.ts
Labels: governance-preview

#4421 test(governance): add e2e test and acs for proposal enhancements
  apps/governance-e2e/src/integration/flow/proposal-details.cy.ts
  apps/governance-e2e/src/integration/flow/proposal-enacted.cy.ts
  apps/governance-e2e/src/integration/flow/proposal-list.cy.ts
Labels: governance-preview

#4420 chore(trading): move cumulative vol testid in orderbook
  libs/market-depth/src/lib/orderbook-row.tsx
Labels: Trading, Testing 🧪, explorer-preview, governance-preview, trading-preview

#4427 feat(governance): remove max limit on associate function
  apps/governance/src/routes/staking/associate/wallet-associate.tsx
Labels: governance-preview

#4434 chore(governance): fix failing proposal test
  apps/governance-e2e/src/integration/flow/proposal-list.cy.ts
  apps/governance-e2e/src/integration/flow/token-association-flow.cy.ts
Labels: governance-preview

#4443 fix(governance): remove incorrect individual reward percentage
  apps/governance/src/routes/rewards/epoch-individual-rewards/epoch-individual-rewards-table.tsx
  apps/governance/src/routes/rewards/epoch-individual-rewards/generate-epoch-individual-rewards-list.spec.ts
  apps/governance/src/routes/rewards/epoch-individual-rewards/generate-epoch-individual-rewards-list.ts
Labels: governance-preview
