Repository vegaprotocol/frontend-monorepo, pull requests merged in 2023-02, with the labels that each got.

#2853 chore(trading): increase withdraw ac test coverage
  apps/trading-e2e/src/integration/capsule.cy.ts
  apps/trading-e2e/src/integration/withdraw.cy.ts
Labels: Trading, Testing 🧪

#2859 fix(explorer): type generation broken in an oracle refactor
  apps/explorer/src/app/routes/oracles/__generated__/Oracles.ts
  apps/explorer/src/app/routes/oracles/components/oracle.tsx
  apps/explorer/src/app/routes/oracles/home/index.tsx
Labels: Block Explorer, 🐛 bug, common

#2779 chore(trading): new toasts designs
  apps/trading/lib/hooks/use-ethereum-transaction-toasts.tsx
  apps/trading/lib/hooks/use-ethereum-withdraw-approval-toasts.tsx
  apps/trading/lib/hooks/use-vega-transaction-toasts.spec.tsx
  apps/trading/lib/hooks/use-vega-transaction-toasts.tsx
  apps/trading/pages/toasts-manager.tsx
  libs/governance/src/lib/proposals-hooks/use-update-network-paramaters-toasts.tsx
  libs/governance/src/lib/proposals-hooks/use-update-network-parameters-toasts.spec.tsx
  libs/tailwindcss-config/src/theme.js
  libs/ui-toolkit/src/components/progress-bar/progress-bar.tsx
  libs/ui-toolkit/src/components/toast/toast.module.css
  libs/ui-toolkit/src/components/toast/toast.stories.tsx
  libs/ui-toolkit/src/components/toast/toast.tsx
  libs/ui-toolkit/src/components/toast/toasts-container.spec.tsx
  libs/ui-toolkit/src/components/toast/toasts-container.stories.tsx
  libs/ui-toolkit/src/components/toast/toasts-container.tsx
  libs/ui-toolkit/src/components/toast/use-toasts.spec.tsx
  libs/ui-toolkit/src/components/toast/use-toasts.ts
  libs/wallet/src/use-vega-transaction-store.tsx
  libs/web3/src/lib/use-ethereum-transaction-store.tsx
  libs/web3/src/lib/use-ethereum-withdraw-approvals-manager.tsx
  libs/web3/src/lib/use-ethereum-withdraw-approvals-store.tsx
  libs/withdraws/src/lib/withdrawals-table.tsx
Labels: Trading
