Repository vegaprotocol/frontend-monorepo, pull requests merged in 2023-12, with the labels that each got.

#5405 fix(trading): fills fees fixes for maker
  libs/fills/src/lib/fills-table.spec.tsx
  libs/fills/src/lib/fills-table.tsx
Labels: explorer-preview, governance-preview, trading-preview

#5359 chore(trading): don't redirect to inactive markets
  apps/trading/client-pages/home/home.tsx
  apps/trading/lib/hooks/use-navigate-to-last-market.spec.ts
  apps/trading/lib/hooks/use-navigate-to-last-market.ts
Labels: trading-preview

#5411 fix(trading): use discount stats only from previous epoch
  apps/trading/client-pages/referrals/referral-statistics.tsx
  apps/trading/components/fees-container/Fees.graphql
  apps/trading/components/fees-container/__generated__/Fees.ts
  apps/trading/components/fees-container/fees-container.tsx
  apps/trading/components/fees-container/use-referral-stats.spec.ts
  apps/trading/components/fees-container/use-referral-stats.ts
  apps/trading/components/fees-container/use-volume-stats.spec.ts
  apps/trading/components/fees-container/use-volume-stats.ts
  apps/trading/components/fees-container/utils.ts
  libs/types/src/__generated__/types.ts
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5406 fix(trading): fills fees maker discounts
  libs/fills/src/lib/fills-table.spec.tsx
  libs/fills/src/lib/fills-table.tsx
  libs/fills/src/lib/fills-utils.spec.ts
  libs/fills/src/lib/fills-utils.ts
Labels: explorer-preview, governance-preview, trading-preview

#5407 chore(trading): add close position button back to console
  apps/trading/.env.mainnet
  libs/environment/src/hooks/use-environment.ts
  libs/environment/src/types.ts
  libs/environment/src/utils/validate-environment.ts
  libs/orders/src/lib/components/order-list/order-list.tsx
  libs/positions/src/lib/positions-manager.spec.tsx
  libs/positions/src/lib/positions-manager.tsx
  libs/utils/src/lib/constants.ts
  libs/web3/src/lib/use-vega-transaction-toasts.tsx
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5415 chore(trading): merge main back in develop (fees discounts, discount stats from prev epoch)
  apps/explorer/src/app/components/assets/assets-table.tsx
  apps/explorer/src/app/components/proposals/proposals-table.tsx
  apps/trading/client-pages/referrals/referral-statistics.tsx
  apps/trading/components/fees-container/Fees.graphql
  apps/trading/components/fees-container/__generated__/Fees.ts
  apps/trading/components/fees-container/fees-container.tsx
  apps/trading/components/fees-container/use-referral-stats.spec.ts
  apps/trading/components/fees-container/use-referral-stats.ts
  apps/trading/components/fees-container/use-volume-stats.spec.ts
  apps/trading/components/fees-container/use-volume-stats.ts
  apps/trading/components/fees-container/utils.ts
  libs/accounts/src/lib/accounts-data-provider.ts
  libs/data-provider/src/generic-data-provider.spec.ts
  libs/environment/src/hooks/mocks/apollo-client.tsx
  libs/fills/src/lib/fills-table.spec.tsx
  libs/fills/src/lib/fills-table.tsx
  libs/fills/src/lib/fills-utils.spec.ts
  libs/fills/src/lib/fills-utils.ts
  libs/orders/src/lib/components/order-data-provider/order-data-provider.ts
  libs/withdraws/src/lib/use-complete-withdraw.ts
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5420 fix(trading): live time fraction zero redundant check
  libs/liquidity/src/lib/liquidity-table.tsx
Labels: explorer-preview, governance-preview, trading-preview

#5402 chore(trading): move rewards to portfolio part 1
  apps/trading/client-pages/portfolio/portfolio.tsx
  apps/trading/components/navbar/navbar.spec.tsx
  apps/trading/components/navbar/navbar.tsx
  apps/trading/components/rewards-container/rewards-container.tsx
  apps/trading/pages/client-router.tsx
Labels: trading-preview

#5423 chore(trading): disable trades table sorting
  libs/trades/src/lib/trades-table.tsx
Labels: explorer-preview, governance-preview, trading-preview

#5441 chore(trading): revert moving rewards container to portfolio
  apps/trading/client-pages/portfolio/portfolio.tsx
  apps/trading/components/navbar/navbar.spec.tsx
  apps/trading/components/navbar/navbar.tsx
  apps/trading/components/rewards-container/rewards-container.tsx
  apps/trading/pages/client-router.tsx
Labels: trading-preview

#5445 feat(trading): auction uncross fees test
  apps/trading/e2e/tests/market/test_market.py
  apps/trading/e2e/tests/market_lifecycle/test_market_lifecycle.py
  apps/trading/e2e/tests/perpetual_market/test_perpetuals.py
Labels: trading-preview

#5446 fix(trading): missing party ID when there is no SLA data
  libs/liquidity/src/lib/liquidity-data-provider.spec.tsx
  libs/liquidity/src/lib/liquidity-data-provider.ts
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5449 fix(trading): required vol shown if current is zero
  apps/trading/components/fees-container/fees-container.tsx
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5453 chore(trading): sync main
  apps/trading/components/fees-container/fees-container.tsx
  libs/liquidity/src/lib/liquidity-data-provider.spec.tsx
  libs/liquidity/src/lib/liquidity-data-provider.ts
Labels: explorer-preview, governance-preview, trading-preview

#5437 fix(trading): rewards page updates
  apps/trading/components/rewards-container/rewards-container.tsx
  apps/trading/components/rewards-container/rewards-history.spec.tsx
  apps/trading/components/rewards-container/rewards-history.tsx
  apps/trading/components/rewards-container/use-reward-row-data.spec.ts
  apps/trading/components/rewards-container/use-reward-row-data.ts
Labels: trading-preview

#5454 fix(trading): avoid funding LineChart recreate instance on FundingContainer re-render
  apps/trading/components/funding-container/funding-container.tsx
Labels: trading-preview

#5432 feat(explorer): add type details to orders in tx list and details
  apps/explorer/src/app/components/order-details/deterministic-order-details.tsx
  apps/explorer/src/app/components/txs/tx-order-type.tsx
Labels: explorer-preview

#5431 chore(trading): update generic data provider
  libs/data-provider/src/generic-data-provider.ts
  libs/trades/src/lib/trades-data-provider.ts
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5460 fix(governance): markdown link styling, referral details type error, contracts provider error
  apps/governance/src/contexts/contracts/contracts-provider.tsx
  apps/governance/src/routes/proposals/components/proposal-referral-program-details/proposal-referral-program-details.tsx
  apps/governance/src/styles.css
Labels: governance-preview

#5455 fix(environment): node switcher on mobile
  libs/environment/src/components/node-switcher/layout-cell.tsx
  libs/environment/src/components/node-switcher/node-switcher.tsx
  libs/ui-toolkit/src/components/dialog/dialog.tsx
  libs/ui-toolkit/src/components/trading-radio-group/radio-group.tsx
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5438 feat(trading): error boundaries for panes, sidebars, pages
  .eslintrc.json
  apps/trading/client-pages/fees/fees.tsx
  apps/trading/client-pages/liquidity/liquidity.tsx
  apps/trading/client-pages/market/trade-grid.tsx
  apps/trading/client-pages/market/trade-panels.tsx
  apps/trading/client-pages/markets/markets-page.tsx
  apps/trading/client-pages/portfolio/portfolio.tsx
  apps/trading/client-pages/referrals/referrals.tsx
  apps/trading/client-pages/rewards/rewards.tsx
  apps/trading/components/error-boundary/error-boundary.spec.tsx
  apps/trading/components/error-boundary/error-boundary.tsx
  apps/trading/components/error-boundary/index.ts
  apps/trading/components/sidebar/sidebar.tsx
  libs/logger/src/hooks/use-logger.ts
  libs/logger/src/lib/local-logger.spec.ts
  libs/logger/src/lib/local-logger.ts
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5444 chore(i18n): sync json translation files with locize
  libs/i18n/src/locales/en/deal-ticket.json
  libs/i18n/src/locales/en/environment.json
  libs/i18n/src/locales/en/markets.json
  libs/i18n/src/locales/en/proposals.json
  libs/i18n/src/locales/en/trading.json
  libs/i18n/src/locales/en/ui-toolkit.json
  libs/i18n/src/locales/en/utils.json
  libs/i18n/src/locales/en/wallet.json
  libs/i18n/src/locales/en/withdraws.json
  libs/withdraws/src/lib/use-ready-to-complete-withdrawals-toast.tsx
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5463 chore(trading): update market-sim
  apps/trading/e2e/.env
  apps/trading/e2e/.env.develop
  apps/trading/e2e/.env.main
  apps/trading/e2e/poetry.lock
Labels: trading-preview

#5408 chore(trading): referrals text and ui tweaks, bug fixes
  apps/trading/client-pages/referrals/apply-code-form.tsx
  apps/trading/client-pages/referrals/constants.ts
  apps/trading/client-pages/referrals/create-code-form.tsx
  apps/trading/client-pages/referrals/error-boundary.tsx
  apps/trading/client-pages/referrals/hooks/FundsAvailable.graphql
  apps/trading/client-pages/referrals/hooks/__generated__/FundsAvailable.ts
  apps/trading/client-pages/referrals/hooks/use-funds-available.ts
  apps/trading/client-pages/referrals/hooks/use-referral-program.ts
  apps/trading/client-pages/referrals/hooks/use-referral-toasts.tsx
  apps/trading/client-pages/referrals/hooks/use-referral.ts
  apps/trading/client-pages/referrals/hooks/use-stake-available.ts
  apps/trading/client-pages/referrals/landing-banner.tsx
  apps/trading/client-pages/referrals/referral-statistics.spec.tsx
  apps/trading/client-pages/referrals/referral-statistics.tsx
  apps/trading/client-pages/referrals/referrals.tsx
  apps/trading/client-pages/referrals/tag.tsx
  apps/trading/client-pages/referrals/tiers.tsx
  apps/trading/client-pages/referrals/tile.tsx
  libs/i18n/src/locales/en/trading.json
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5466 chore(trading): e2e test fix
  apps/trading/e2e/tests/market/test_market_selector.py
  apps/trading/e2e/tests/perpetual_market/test_perpetuals.py
Labels: trading-preview

#5474 fix(trading): referrals page final commission value and onboarding dialog
  apps/trading/client-pages/referrals/apply-code-form.tsx
  apps/trading/client-pages/referrals/referral-statistics.tsx
  apps/trading/components/welcome-dialog/use-get-onboarding-step.ts
  apps/trading/components/welcome-dialog/welcome-dialog.tsx
  libs/i18n/src/locales/en/trading.json
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5477 fix(trading): rewordings in referrals, qusd tooltip, onboarding
  apps/trading/client-pages/referrals/apply-code-form.tsx
  apps/trading/client-pages/referrals/hooks/use-funds-available.ts
  apps/trading/client-pages/referrals/landing-banner.tsx
  apps/trading/client-pages/referrals/qusd-tooltip.tsx
  apps/trading/client-pages/referrals/referral-statistics.tsx
  apps/trading/client-pages/referrals/tiers.tsx
  apps/trading/components/welcome-dialog/welcome-dialog.tsx
  libs/utils/src/lib/format/strings.spec.ts
  libs/utils/src/lib/format/strings.ts
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5492 test(trading): add referrals tests
  apps/trading/client-pages/referrals/referral-statistics.tsx
  apps/trading/client-pages/referrals/tile.tsx
  apps/trading/e2e/actions/utils.py
  apps/trading/e2e/actions/vega.py
  apps/trading/e2e/fixtures/market.py
  apps/trading/e2e/tests/referrals/test_referrals.py
  apps/trading/e2e/wallet_config.py
Labels: trading-preview

#5425 feat(environment): users controlled feature flags
  apps/explorer/src/app/app.tsx
  apps/explorer/src/app/components/header/header.tsx
  apps/explorer/src/app/routes/router-config.tsx
  apps/governance/src/app-loader.tsx
  apps/governance/src/components/vega-wallet-dialogs/vega-wallet-dialogs.tsx
  apps/governance/src/lib/vega-connectors.ts
  apps/governance/src/routes/home/index.tsx
  apps/governance/src/routes/proposals/components/proposal-detail-header/proposal-header.spec.tsx
  apps/governance/src/routes/proposals/components/proposal-detail-header/proposal-header.tsx
  apps/governance/src/routes/proposals/components/proposal/proposal.tsx
  apps/governance/src/routes/proposals/proposal/proposal-container.tsx
  apps/governance/src/routes/proposals/proposals/proposals-container.tsx
  apps/governance/src/routes/proposals/rejected/rejected-proposals-container.tsx
  apps/trading/client-pages/market/trade-grid.tsx
  apps/trading/client-pages/market/trade-panels.tsx
  apps/trading/components/navbar/navbar.spec.tsx
  apps/trading/components/navbar/navbar.tsx
  apps/trading/components/settings/settings.tsx
  apps/trading/components/welcome-dialog/welcome-dialog.tsx
  apps/trading/lib/hooks/use-get-current-route-id.ts
  apps/trading/lib/vega-connectors.ts
  apps/trading/pages/client-router.tsx
  apps/trading/pages/dialogs-container.tsx
  apps/trading/pages/maybe-connect-eagerly.tsx
  libs/deal-ticket/src/components/deal-ticket/deal-ticket-container.tsx
  libs/deal-ticket/src/components/deal-ticket/deal-ticket-stop-order.spec.tsx
  libs/deal-ticket/src/components/deal-ticket/type-selector.tsx
  libs/environment/src/hooks/use-environment.spec.ts
  libs/environment/src/hooks/use-environment.ts
  libs/markets/src/lib/components/market-info/market-info-accordion.tsx
  libs/markets/src/lib/components/market-info/market-info-panels.tsx
  libs/positions/src/lib/positions-manager.tsx
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5348 feat(trading): trading view
  apps/trading/.env.stagnet1
  apps/trading/.env.testnet
  apps/trading/client-pages/market/trade-grid.tsx
  apps/trading/client-pages/market/trade-panels.tsx
  apps/trading/client-pages/market/trade-views.tsx
  apps/trading/components/chart-container/chart-container.spec.tsx
  apps/trading/components/chart-container/chart-container.tsx
  apps/trading/components/chart-container/chart-menu.spec.tsx
  apps/trading/components/chart-container/chart-menu.tsx
  apps/trading/components/chart-container/index.ts
  apps/trading/components/chart-container/use-chart-settings.ts
  apps/trading/jest.config.ts
  apps/trading/lib/i18n/index.ts
  libs/candles-chart/src/lib/candles-chart.tsx
  libs/candles-chart/src/lib/candles-menu.spec.tsx
  libs/candles-chart/src/lib/constants.ts
  libs/candles-chart/src/lib/index.ts
  libs/environment/src/hooks/use-environment.ts
  libs/environment/src/utils/validate-environment.ts
  libs/i18n/src/index.ts
  libs/i18n/src/locales/en/candles-chart.json
  libs/i18n/src/locales/en/trading-view.json
  libs/i18n/src/locales/en/trading.json
  libs/react-helpers/src/hooks/index.ts
  libs/react-helpers/src/hooks/use-script.spec.ts
  libs/react-helpers/src/hooks/use-script.ts
  libs/trading-view/.babelrc
  libs/trading-view/.eslintrc.json
  libs/trading-view/README.md
  libs/trading-view/jest.config.ts
  libs/trading-view/package.json
  libs/trading-view/project.json
  libs/trading-view/src/index.ts
  libs/trading-view/src/lib/Bars.graphql
  libs/trading-view/src/lib/Symbol.graphql
  libs/trading-view/src/lib/__generated__/Bars.ts
  libs/trading-view/src/lib/__generated__/Symbol.ts
  libs/trading-view/src/lib/constants.ts
  libs/trading-view/src/lib/trading-view-container.spec.tsx
  libs/trading-view/src/lib/trading-view-container.tsx
  libs/trading-view/src/lib/trading-view.tsx
  libs/trading-view/src/lib/use-datafeed.ts
  libs/trading-view/src/lib/use-t.ts
  libs/trading-view/src/setup-tests.ts
  libs/trading-view/tsconfig.json
  libs/trading-view/tsconfig.lib.json
  libs/trading-view/tsconfig.spec.json
  libs/ui-toolkit/src/components/tabs/tabs.tsx
  package.json
  specs/6007-CHAR-chart.md
  tsconfig.base.json
  yarn.lock
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5484 fix(trading): do not add candles if they are older than requested date range
  libs/candles-chart/src/lib/data-source.ts
Labels: explorer-preview, governance-preview, trading-preview

#5493 feat(trading): improve desposit and withraw asset selection
  apps/trading/client-pages/market/market.tsx
  apps/trading/components/accounts-container/accounts-container.tsx
  libs/deposits/src/lib/deposit-manager.tsx
  libs/deposits/src/lib/index.ts
  libs/deposits/src/lib/use-persistent-deposit.ts
  libs/withdraws/src/lib/use-withdraw-asset.tsx
  libs/withdraws/src/lib/withdraw-form.tsx
  libs/withdraws/src/lib/withdraw-limits.tsx
Labels: explorer-preview, governance-preview, trading-preview

#5497 fix(trading): fix tabs covered by orderbook splash
  libs/market-depth/src/lib/orderbook.tsx
Labels: explorer-preview, governance-preview, trading-preview

#5498 chore(trading): update vega version
  apps/trading/e2e/.env
  apps/trading/e2e/.env.develop
  apps/trading/e2e/tests/perpetual_market/test_perpetuals.py
Labels: trading-preview

#5481 feat(positions): improve tooltips
  libs/positions/src/lib/liquidation-price.tsx
  libs/positions/src/lib/positions-table.spec.tsx
  libs/positions/src/lib/positions-table.tsx
Labels: explorer-preview, governance-preview, trading-preview

#5499 chore(trading): avoid portfolio and market page re-rendering on sidebar view change
  apps/trading/client-pages/market/market.tsx
  apps/trading/client-pages/markets/markets-sidebar.tsx
  apps/trading/client-pages/portfolio/portfolio.tsx
Labels: trading-preview

#5503 fix(trading): internal condition timestamp
  libs/markets/src/lib/components/market-info/market-info-panels.spec.tsx
  libs/markets/src/lib/components/market-info/market-info-panels.tsx
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5501 feat(wallet): disconnect if wallet unreachable
  apps/trading/components/vega-wallet-connect-button/vega-wallet-connect-button.tsx
  apps/trading/lib/hooks/use-wallet-disconnected-toasts.tsx
  apps/trading/pages/toasts-manager.tsx
  libs/wallet/src/connectors/injected-connector.ts
  libs/wallet/src/connectors/json-rpc-connector.ts
  libs/wallet/src/connectors/snap-connector.ts
  libs/wallet/src/connectors/vega-connector.ts
  libs/wallet/src/connectors/view-connector.tsx
  libs/wallet/src/context.ts
  libs/wallet/src/provider.spec.tsx
  libs/wallet/src/provider.tsx
  libs/wallet/src/use-is-alive.ts
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5506 chore(trading): black formatting and removed double fixtures
  apps/trading/e2e/tests/assets/test_assets.py
  apps/trading/e2e/tests/deal_ticket/test_basic_submit.py
  apps/trading/e2e/tests/deal_ticket/test_deal_ticket_basics.py
  apps/trading/e2e/tests/deal_ticket/test_fees_margin_estimations.py
  apps/trading/e2e/tests/deal_ticket/test_stop_order.py
  apps/trading/e2e/tests/deal_ticket/test_stop_order_oco.py
  apps/trading/e2e/tests/deal_ticket/test_trading_deal_ticket_submit_account.py
  apps/trading/e2e/tests/get_started/test_get_started.py
  apps/trading/e2e/tests/iceberg_orders/test_iceberg_orders.py
  apps/trading/e2e/tests/liquidity_provision/test_liquidity_provision.py
  apps/trading/e2e/tests/market/test_closed_markets.py
  apps/trading/e2e/tests/market/test_market.py
  apps/trading/e2e/tests/market/test_market_info.py
  apps/trading/e2e/tests/market/test_market_selector.py
  apps/trading/e2e/tests/market/test_markets_no_markets.py
  apps/trading/e2e/tests/market/test_markets_proposed.py
  apps/trading/e2e/tests/market/test_monitoring_auction_price_volatility_market.py
  apps/trading/e2e/tests/market_lifecycle/test_market_lifecycle.py
  apps/trading/e2e/tests/order/test_order_details.py
  apps/trading/e2e/tests/order/test_order_match.py
  apps/trading/e2e/tests/orderbook/test_orderbook.py
  apps/trading/e2e/tests/perpetual_market/test_perpetuals.py
  apps/trading/e2e/tests/pnl/test_pnl.py
  apps/trading/e2e/tests/portfolio/test_ledger_entries.py
  apps/trading/e2e/tests/positions/test_collateral.py
  apps/trading/e2e/tests/positions/test_positions.py
  apps/trading/e2e/tests/settings/test_settings.py
  apps/trading/e2e/tests/successor_market/test_succession_line.py
  apps/trading/e2e/tests/trade_history/test_trade_history.py
  apps/trading/e2e/tests/trade_match/test_trade_match.py
  apps/trading/e2e/tests/trading_chart/test_trading_chart.py
  apps/trading/e2e/tests/transfer/test_transfer_key_to_key.py
  apps/trading/e2e/tests/wallet/test_wallet.py
Labels: trading-preview

#5496 chore(trading): fees e2e tests
  apps/trading/components/card/card.tsx
  apps/trading/components/fees-container/fees-container.tsx
  apps/trading/components/fees-container/table.tsx
  apps/trading/e2e/README.md
  apps/trading/e2e/actions/utils.py
  apps/trading/e2e/fixtures/market.py
  apps/trading/e2e/tests/fees/test_fees.py
  libs/deal-ticket/src/components/deal-ticket/deal-ticket-fee-details.tsx
  libs/deal-ticket/src/components/fees-breakdown/fees-breakdown.tsx
Labels: explorer-preview, governance-preview, trading-preview

#5511 feat(governance): enable snaps
  apps/governance/.env.capsule
  apps/governance/.env.mainnet
  apps/governance/.env.mainnet-mirror
  apps/governance/.env.validators-testnet
Labels: governance-preview

#5507 fix(explorer): pass through tendermint error responses from usefetch
  apps/explorer/src/app/routes/blocks/id/block.tsx
  apps/governance/src/routes/proposals/protocol-upgrade/protocol-upgrade-proposal-container.tsx
  libs/proposals/src/lib/protocol-upgrade-proposals/use-block-rising.ts
  libs/react-helpers/src/hooks/use-fetch.ts
  libs/tendermint/src/lib/use-block-info.ts
  libs/tendermint/src/types.ts
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5520 chore(trading): static vega port
  apps/trading/e2e/.env
  apps/trading/e2e/.env.main
  apps/trading/e2e/README.md
  apps/trading/e2e/conftest.py
  apps/trading/e2e/tests/market/test_market_info.py
  apps/trading/e2e/tests/market/test_markets_no_markets.py
  apps/trading/e2e/tests/navigation/test_navigation.py
  apps/trading/e2e/tests/order/test_order_status.py
Labels: trading-preview

#5521 fix(governance): fix lp vote counts
  apps/governance/src/routes/proposals/components/vote-breakdown/vote-breakdown.spec.tsx
  apps/governance/src/routes/proposals/components/vote-breakdown/vote-breakdown.tsx
  apps/governance/src/routes/proposals/hooks/use-vote-information.spec.ts
  apps/governance/src/routes/proposals/hooks/use-vote-information.ts
  apps/governance/src/routes/proposals/test-helpers/generate-proposals.ts
  libs/i18n/src/locales/en/governance.json
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5527 chore(trading): rollback current traded volume change
  apps/trading/components/fees-container/fees-container.tsx
Labels: trading-preview

#5531 fix(trading): reward pot total value
  apps/trading/components/rewards-container/rewards-container.spec.tsx
  apps/trading/components/rewards-container/rewards-container.tsx
Labels: trading-preview

#5535 chore(trading): update market-sim
  apps/trading/e2e/poetry.lock
  apps/trading/e2e/tests/fees/test_fees.py
  apps/trading/e2e/tests/perpetual_market/test_perpetuals.py
Labels: trading-preview

#5526 feat(trading): poll market info, and last fundingPeriod
  apps/trading/client-pages/market/market-header-stats.tsx
  apps/trading/e2e/poetry.lock
  apps/trading/e2e/tests/market/test_market_info.py
  libs/data-provider/src/generic-data-provider.ts
  libs/markets/src/lib/components/market-info/market-info-data-provider.ts
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5542 feat(ci): fix condition for tools define-dist-variables
  tools/ci/define-dist-variables.py
Labels: explorer-preview, governance-preview, trading-preview

#5536 chore(trading): vegaservice import
  apps/trading/e2e/tests/deal_ticket/test_basic_submit.py
  apps/trading/e2e/tests/deal_ticket/test_fees_margin_estimations.py
  apps/trading/e2e/tests/deal_ticket/test_stop_order.py
  apps/trading/e2e/tests/deal_ticket/test_stop_order_oco.py
  apps/trading/e2e/tests/deal_ticket/test_trading_deal_ticket_submit_account.py
  apps/trading/e2e/tests/fees/test_fees.py
  apps/trading/e2e/tests/get_started/test_get_started.py
  apps/trading/e2e/tests/iceberg_orders/test_iceberg_orders.py
  apps/trading/e2e/tests/liquidity_provision/test_liquidity_provision.py
  apps/trading/e2e/tests/market/test_closed_markets.py
  apps/trading/e2e/tests/market/test_market.py
  apps/trading/e2e/tests/market/test_market_info.py
  apps/trading/e2e/tests/market/test_markets_proposed.py
  apps/trading/e2e/tests/market/test_monitoring_auction_price_volatility_market.py
  apps/trading/e2e/tests/market_lifecycle/test_market_lifecycle.py
  apps/trading/e2e/tests/order/test_order_details.py
  apps/trading/e2e/tests/order/test_order_match.py
  apps/trading/e2e/tests/order/test_order_status.py
  apps/trading/e2e/tests/perpetual_market/test_perpetuals.py
  apps/trading/e2e/tests/pnl/test_pnl.py
  apps/trading/e2e/tests/positions/test_collateral.py
  apps/trading/e2e/tests/positions/test_positions.py
  apps/trading/e2e/tests/referrals/test_referrals.py
  apps/trading/e2e/tests/successor_market/test_succession_line.py
  apps/trading/e2e/tests/trade_history/test_trade_history.py
  apps/trading/e2e/tests/trade_match/test_trade_match.py
  apps/trading/e2e/tests/trading_chart/test_trading_chart.py
  apps/trading/e2e/tests/transfer/test_transfer_key_to_key.py
  apps/trading/e2e/tests/wallet/test_wallet.py
Labels: trading-preview

#5544 chore(trading): check e2e tests issue
  apps/trading/e2e/tests/get_started/test_get_started.py
  apps/trading/e2e/tests/market/test_market.py
  apps/trading/e2e/tests/market/test_market_info.py
  apps/trading/e2e/tests/successor_market/test_succession_line.py
Labels: trading-preview

#5537 fix(trading): use correct interpolation prefix in market info label
  libs/i18n/src/locales/en/markets.json
  libs/markets/src/lib/components/market-info/market-info-panels.tsx
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5547 fix(deal-ticket): stray curly in stop order deal ticket
  libs/deal-ticket/src/components/deal-ticket/deal-ticket-stop-order.tsx
Labels: explorer-preview, governance-preview, trading-preview

#5509 feat(trading): pane settings view
  apps/explorer/src/app/components/assets/assets-table.tsx
  apps/explorer/src/app/components/markets/markets-table.tsx
  apps/explorer/src/app/components/proposals/proposals-table.tsx
  apps/trading/client-pages/market/trade-grid.tsx
  apps/trading/client-pages/market/trade-panels.tsx
  apps/trading/client-pages/market/trade-views.tsx
  apps/trading/client-pages/markets/market-list-table.tsx
  apps/trading/client-pages/markets/markets-page.tsx
  apps/trading/client-pages/markets/markets-settings.tsx
  apps/trading/client-pages/portfolio/portfolio.tsx
  apps/trading/components/accounts-container/accounts-container.tsx
  apps/trading/components/accounts-container/accounts-settings.tsx
  apps/trading/components/accounts-container/index.ts
  apps/trading/components/fills-container/fills-container.tsx
  apps/trading/components/fills-container/fills-settings.tsx
  apps/trading/components/fills-container/index.ts
  apps/trading/components/funding-payments-container/funding-payments-container.tsx
  apps/trading/components/funding-payments-container/funding-payments-settings.tsx
  apps/trading/components/funding-payments-container/index.ts
  apps/trading/components/grid-settings/grid-settings.tsx
  apps/trading/components/market-header/market-header.tsx
  apps/trading/components/orders-container/orders-container.spec.tsx
  apps/trading/components/orders-container/orders-container.tsx
  apps/trading/components/positions-container/index.ts
  apps/trading/components/positions-container/positions-settings.tsx
  apps/trading/components/stop-orders-container/index.ts
  apps/trading/components/stop-orders-container/stop-orders-container.tsx
  apps/trading/components/stop-orders-container/stop-orders-settings.tsx
  apps/trading/components/trades-container/index.ts
  apps/trading/components/trades-container/trades-container.tsx
  apps/trading/components/trades-container/trades-settings.tsx
  apps/trading/e2e/tests/iceberg_orders/test_iceberg_orders.py
  apps/trading/e2e/tests/order/test_order_match.py
  apps/trading/e2e/tests/settings/test_column_settings.py
  libs/accounts/src/lib/accounts-manager.tsx
  libs/datagrid/src/lib/filters/date-range-filter.tsx
  libs/datagrid/src/lib/filters/set-filter.tsx
  libs/datagrid/src/lib/use-datagrid-events.spec.tsx
  libs/datagrid/src/lib/use-datagrid-events.ts
  libs/funding-payments/src/lib/funding-payments-manager.tsx
  libs/i18n/src/locales/en/trading.json
  libs/ui-toolkit/src/components/popover/popover.stories.tsx
  libs/ui-toolkit/src/components/popover/popover.tsx
  libs/ui-toolkit/src/components/tabs/tabs.tsx
  package.json
  yarn.lock
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5548 chore(trading): fix fees tests
  apps/trading/e2e/tests/fees/test_fees.py
  apps/trading/e2e/tests/market/test_market.py
Labels: trading-preview

#5549 feat(trading): competition feature flag and team page
  apps/trading/.env
  apps/trading/client-pages/teams/index.ts
  apps/trading/client-pages/teams/teams.tsx
  apps/trading/pages/client-router.tsx
  libs/environment/src/hooks/use-environment.ts
  libs/environment/src/types.ts
  libs/environment/src/utils/validate-environment.ts
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview
