Repository vegaprotocol/frontend-monorepo, pull requests merged in 2023-05, with the labels that each got.

#3570 test(trading): ac for 6501-ASSE-assets - e2e tests
  apps/trading-e2e/src/integration/trading-accounts.cy.ts
Labels: Testing 🧪, explorer-preview, governance-preview, trading-preview

#3542 feat(governance): update market proposal only available for enacted markets
  apps/governance/src/routes/proposals/propose/update-market/UpdateMarket.graphql
  apps/governance/src/routes/proposals/propose/update-market/__generated__/UpdateMarket.ts
  apps/governance/src/routes/proposals/propose/update-market/__generated___/UpdateMarket.ts
  apps/governance/src/routes/proposals/propose/update-market/propose-update-market.spec.tsx
  apps/governance/src/routes/proposals/propose/update-market/propose-update-market.tsx
Labels: explorer-preview, governance-preview, trading-preview

#3568 feat(governance): eth chain should not inhibit usage
  apps/governance/src/components/disconnected-notice/disconnected-notice.spec.tsx
  apps/governance/src/components/disconnected-notice/disconnected-notice.tsx
  apps/governance/src/components/disconnected-notice/index.tsx
  apps/governance/src/components/eth-wallet/eth-wallet.tsx
  apps/governance/src/components/web3-connector/web3-connector.tsx
  apps/governance/src/contexts/app-state/app-state-context.ts
  apps/governance/src/contexts/app-state/app-state-provider.tsx
  apps/governance/src/i18n/translations/dev.json
  apps/governance/src/routes/proposals/components/list-asset/list-asset.spec.tsx
  apps/governance/src/routes/proposals/hooks/use-vote-information.spec.ts
Labels: explorer-preview, governance-preview, trading-preview

#3429 feat(trading,market-list): closed markets datagrid
  .github/workflows/ci-cd-trigger.yml
  apps/trading-e2e/src/integration/closed-markets.cy.ts
  apps/trading-e2e/src/integration/deposit.cy.ts
  apps/trading-e2e/src/integration/home.cy.ts
  apps/trading-e2e/src/integration/markets.cy.ts
  apps/trading-e2e/src/support/order-update-subscription.ts
  apps/trading-e2e/src/support/trading.ts
  apps/trading/client-pages/markets/closed.spec.tsx
  apps/trading/client-pages/markets/closed.tsx
  apps/trading/client-pages/markets/markets-page.tsx
  apps/trading/client-pages/markets/settlement-date-cell.spec.tsx
  apps/trading/client-pages/markets/settlement-date-cell.tsx
  apps/trading/client-pages/markets/settlement-price-cell.spec.tsx
  apps/trading/client-pages/markets/settlement-price-cell.tsx
  apps/trading/components/select-market/select-market.spec.tsx
  apps/trading/components/welcome-dialog/welcome-landing-dialog.spec.tsx
  libs/cypress/mock.ts
  libs/deal-ticket/src/test-helpers.ts
  libs/environment/src/hooks/use-links.ts
  libs/fills/src/lib/test-helpers.ts
  libs/market-list/src/lib/__generated__/markets.ts
  libs/market-list/src/lib/markets-data.mock.ts
  libs/market-list/src/lib/markets-provider.ts
  libs/market-list/src/lib/markets.graphql
  libs/market-list/src/lib/markets.mock.ts
  libs/market-list/src/lib/utils/market-utils.ts
  libs/oracles/.eslintrc.json
  libs/oracles/src/index.ts
  libs/oracles/src/lib/OracleSpecDataConnection.graphql
  libs/oracles/src/lib/__generated__/OracleSpecDataConnection.ts
  libs/oracles/src/lib/oracle-spec-data-connection.mock.ts
  libs/oracles/src/lib/use-oracle-spec-binding-data.spec.tsx
  libs/oracles/src/lib/use-oracle-spec-binding-data.ts
  libs/oracles/tsconfig.spec.json
  libs/orders/src/lib/components/mocks/generate-orders.ts
  libs/withdraws/src/lib/withdraw-form-container.spec.tsx
  package.json
  yarn.lock
Labels: explorer-preview, governance-preview, trading-preview

#3584 feat(trading): add generic welcome message for non mainnet networks
  apps/trading/client-pages/settings/settings.tsx
  apps/trading/components/constants.ts
  apps/trading/components/welcome-dialog/risk-notice-dialog.spec.tsx
  apps/trading/components/welcome-dialog/risk-notice-dialog.tsx
  apps/trading/components/welcome-dialog/telemetry-approval.spec.tsx
  apps/trading/components/welcome-dialog/telemetry-approval.tsx
  apps/trading/components/welcome-dialog/welcome-dialog.tsx
Labels: explorer-preview, governance-preview, trading-preview

#3537 feat(trading): persistent pane sizes
  apps/trading/client-pages/market/trade-grid.tsx
  apps/trading/client-pages/portfolio/portfolio.tsx
  libs/react-helpers/src/hooks/index.ts
  libs/react-helpers/src/hooks/use-pane-layout.spec.ts
  libs/react-helpers/src/hooks/use-pane-layout.ts
  libs/wallet/src/connect-dialog/connect-dialog.spec.tsx
  nx.json
Labels: explorer-preview, governance-preview, trading-preview

#3588 fix(datagrid): prevent unmount of aggrid on theme change
  apps/explorer/src/app/components/assets/assets-table.tsx
  apps/explorer/src/app/components/markets/markets-table.tsx
  apps/explorer/src/app/components/proposals/proposals-table.tsx
  apps/explorer/src/styles.css
  apps/governance/src/routes/staking/home/validator-tables/consensus-validators-table.tsx
  apps/governance/src/routes/staking/home/validator-tables/shared.tsx
  apps/governance/src/routes/staking/home/validator-tables/standby-pending-validators-table.tsx
  apps/governance/src/styles.css
  apps/trading/client-pages/markets/closed.tsx
  apps/trading/client-pages/markets/proposed.tsx
  apps/trading/pages/styles.css
  libs/accounts/src/lib/accounts-manager.spec.tsx
  libs/accounts/src/lib/accounts-table.tsx
  libs/accounts/src/lib/breakdown-table.tsx
  libs/datagrid/src/index.ts
  libs/datagrid/src/lib/ag-grid/ag-grid-dark.tsx
  libs/datagrid/src/lib/ag-grid/ag-grid-dynamic-themed.tsx
  libs/datagrid/src/lib/ag-grid/ag-grid-dynamic.tsx
  libs/datagrid/src/lib/ag-grid/ag-grid-lazy-themed.tsx
  libs/datagrid/src/lib/ag-grid/ag-grid-lazy.tsx
  libs/datagrid/src/lib/ag-grid/ag-grid-light.tsx
  libs/deposits/src/lib/deposits-table.tsx
  libs/fills/src/lib/fills-table.tsx
  libs/ledger/src/lib/ledger-table.tsx
  libs/liquidity/src/lib/liquidity-table.tsx
  libs/market-list/src/lib/components/markets-container/market-list-table.tsx
  libs/orders/src/lib/components/order-list/order-list.tsx
  libs/positions/src/lib/positions-table.tsx
  libs/proposals/src/lib/proposals-list/proposals-list.tsx
  libs/trades/src/lib/trades-table.tsx
  libs/withdraws/src/lib/withdrawals-table.tsx
Labels: explorer-preview, governance-preview, trading-preview

#3577 feat(governance): add local time zone abbreviation data to proposal form
  apps/governance/src/routes/proposals/components/proposal-change-table/proposal-change-table.spec.tsx
  apps/governance/src/routes/proposals/components/proposal-change-table/proposal-change-table.tsx
  libs/utils/src/lib/format/date.ts
  package.json
  yarn.lock
Labels: explorer-preview, governance-preview, trading-preview

#3582 test(governance): e2e tests updated to cypress 12
  apps/governance-e2e/src/fixtures/proposals/new-market.json
  apps/governance-e2e/src/integration/flow/proposal-details.cy.ts
  apps/governance-e2e/src/integration/flow/proposal-enacted.cy.ts
  apps/governance-e2e/src/integration/flow/proposal-flow.cy.ts
  apps/governance-e2e/src/integration/flow/proposal-forms.cy.ts
  apps/governance-e2e/src/integration/flow/proposal-list.cy.ts
  apps/governance-e2e/src/integration/flow/rewards-flow.cy.ts
  apps/governance-e2e/src/integration/flow/staking-flow.cy.ts
  apps/governance-e2e/src/integration/flow/token-association-flow.cy.ts
  apps/governance-e2e/src/integration/flow/withdrawal-flow.cy.ts
  apps/governance-e2e/src/support/governance.functions.ts
  apps/governance-e2e/src/support/wallet-teardown.functions.ts
Labels: explorer-preview, governance-preview, trading-preview

#3594 test(trading): handle unspecified side in fills table - e2e tests
  apps/trading-e2e/src/integration/trading-fills.cy.ts
  libs/fills/src/lib/fills.mock.ts
Labels: Trading, Testing 🧪, explorer-preview, governance-preview, trading-preview

#3590 feat(trading): asset balances inside asset selector (deposit, withdraw form)
  libs/assets/src/lib/asset-option.tsx
  libs/assets/src/lib/index.ts
  libs/assets/src/lib/use-balances-store.ts
  libs/deposits/src/lib/asset-balance.tsx
  libs/deposits/src/lib/deposit-form.tsx
  libs/deposits/src/lib/index.ts
  libs/deposits/src/lib/use-submit-faucet.ts
  libs/utils/src/lib/is-asset-erc20.ts
  libs/withdraws/src/lib/asset-balance.tsx
  libs/withdraws/src/lib/withdraw-form-container.spec.tsx
  libs/withdraws/src/lib/withdraw-form.spec.tsx
  libs/withdraws/src/lib/withdraw-form.tsx
  libs/withdraws/src/lib/withdraw-manager.spec.tsx
Labels: explorer-preview, governance-preview, trading-preview

#3517 feat(trading): protocol upgrade notification
  apps/governance-e2e/src/support/proposal.functions.ts
  apps/governance/src/routes/home/index.tsx
  apps/governance/src/routes/proposals/components/proposals-list/proposals-list.tsx
  apps/governance/src/routes/proposals/components/protocol-upgrade-proposal-detail-info/protocol-upgrade-proposal-detail-info.tsx
  apps/governance/src/routes/proposals/components/protocol-upgrade-proposals-list-item/protocol-upgrade-proposals-list-item.spec.tsx
  apps/governance/src/routes/proposals/components/protocol-upgrade-proposals-list-item/protocol-upgrade-proposals-list-item.tsx
  apps/governance/src/routes/proposals/proposals/proposals-container.tsx
  apps/governance/src/routes/proposals/protocol-upgrade/__generated__/ProtocolUpgradeProposals.ts
  apps/governance/src/routes/proposals/protocol-upgrade/protocol-upgrade-proposal-container.tsx
  apps/governance/src/routes/proposals/protocol-upgrade/protocol-upgrade-proposal.spec.tsx
  apps/governance/src/routes/proposals/protocol-upgrade/protocol-upgrade-proposal.tsx
  apps/trading/components/navbar/navbar.tsx
  apps/trading/components/viewing-banner/index.tsx
  apps/trading/pages/_app.page.tsx
  libs/environment/src/hooks/use-links.ts
  libs/proposals/src/components/index.ts
  libs/proposals/src/components/protocol-upgrade-countdown.tsx
  libs/proposals/src/components/protocol-upgrade-proposal-notification.tsx
  libs/proposals/src/lib/index.ts
  libs/proposals/src/lib/protocol-upgrade-proposals/BlockStatistics.graphql
  libs/proposals/src/lib/protocol-upgrade-proposals/ProtocolUpgradeProposals.graphql
  libs/proposals/src/lib/protocol-upgrade-proposals/__generated__/BlockStatistics.ts
  libs/proposals/src/lib/protocol-upgrade-proposals/__generated__/ProtocolUpgradeProposals.ts
  libs/proposals/src/lib/protocol-upgrade-proposals/index.ts
  libs/proposals/src/lib/protocol-upgrade-proposals/use-next-protocol-upgrade-proposals.ts
  libs/proposals/src/lib/protocol-upgrade-proposals/use-time-to-upgrade.spec.ts
  libs/proposals/src/lib/protocol-upgrade-proposals/use-time-to-upgrade.ts
  libs/utils/src/lib/time.spec.ts
  libs/utils/src/lib/time.ts
Labels: explorer-preview, governance-preview, trading-preview

#3541 feat(trading): divide order tab into open, closed, rejected and all
  apps/trading-e2e/src/integration/market-split-bottom-panels.cy.ts
  apps/trading-e2e/src/integration/trading-orders.cy.ts
  apps/trading/client-pages/market/trade-grid.tsx
  apps/trading/pages/_app.page.tsx
  libs/accounts/src/lib/accounts-manager.tsx
  libs/accounts/src/lib/accounts-table.tsx
  libs/datagrid/src/lib/filters/set-filter.tsx
  libs/fills/src/lib/fills-manager.tsx
  libs/orders/src/lib/components/order-data-provider/order-data-provider.spec.ts
  libs/orders/src/lib/components/order-data-provider/order-data-provider.ts
  libs/orders/src/lib/components/order-list-container.tsx
  libs/orders/src/lib/components/order-list-manager/index.ts
  libs/orders/src/lib/components/order-list-manager/order-list-manager.tsx
  libs/orders/src/lib/components/order-list-manager/use-order-list-data.spec.ts
  libs/orders/src/lib/components/order-list-manager/use-order-list-data.ts
  libs/orders/src/lib/components/order-list/order-list.tsx
  libs/positions/src/lib/positions-manager.tsx
  libs/react-helpers/src/hooks/use-bottom-placeholder.tsx
Labels: explorer-preview, governance-preview, trading-preview

#3599 fix(governance,trading): validator testnet link for governance app
  apps/trading/.env.validator-testnet
Labels: explorer-preview, governance-preview, trading-preview

#3609 feat(ci): deploy develop to stagnet1
  .github/workflows/publish-dist.yml
Labels: explorer-preview, governance-preview, trading-preview

#3608 chore(explorer,trading,governance): remove stagnet3
  .prettierignore
  apps/explorer-e2e/.env.stagnet3
  apps/explorer/.env
  apps/explorer/.env.capsule
  apps/explorer/.env.stagnet1
  apps/explorer/.env.stagnet3
  apps/explorer/README.md
  apps/governance-e2e/.env
  apps/governance-e2e/.env.stagnet3
  apps/governance/.env
  apps/governance/.env.capsule
  apps/governance/.env.devnet
  apps/governance/.env.mainnet
  apps/governance/.env.stagnet1
  apps/governance/.env.stagnet3
  apps/governance/.env.testnet
  apps/governance/.env.validator-testnet
  apps/governance/README.md
  apps/governance/src/config/env.ts
  apps/liquidity-provision-dashboard/.env
  apps/liquidity-provision-dashboard/.env.devnet
  apps/liquidity-provision-dashboard/.env.stagnet1
  apps/liquidity-provision-dashboard/.env.stagnet3
  apps/multisig-signer/.env
  apps/multisig-signer/.env.stagnet3
  apps/multisig-signer/README.md
  apps/static/src/assets/stagnet3-network.json
  apps/trading-e2e/.env
  apps/trading-e2e/.env.capsule
  apps/trading-e2e/.env.stagnet3
  apps/trading/.env
  apps/trading/.env.capsule
  apps/trading/.env.devnet
  apps/trading/.env.mainnet
  apps/trading/.env.stagnet1
  apps/trading/.env.stagnet3
  apps/trading/.env.testnet
  apps/trading/.env.validator-testnet
  apps/trading/README.md
  apps/trading/components/welcome-dialog/risk-notice-dialog.spec.tsx
  libs/environment/src/components/network-switcher/network-switcher.spec.tsx
  libs/environment/src/components/network-switcher/network-switcher.tsx
  libs/environment/src/hooks/use-environment.spec.ts
  libs/environment/src/hooks/use-links.ts
  libs/environment/src/types.ts
  libs/environment/src/utils/validate-environment.ts
Labels: explorer-preview, governance-preview, trading-preview

#3614 fix(liquidity): rows duplicated wrong ag-grid row ID
  libs/liquidity/src/lib/liquidity-data-provider.ts
Labels: explorer-preview, governance-preview, trading-preview

#3615 fix(liquidity): use LP order ID as ag-grid row ID
  libs/liquidity/src/lib/liquidity-data-provider.ts
  libs/liquidity/src/lib/liquidity-table.tsx
Labels: explorer-preview, governance-preview, trading-preview

#3632 feat(governance): render markdown in proposal view
  apps/governance-e2e/src/integration/view/home.cy.ts
  apps/governance/src/__mocks__/react-markdown.js
  apps/governance/src/routes/proposals/components/proposal-detail-header/proposal-header.spec.tsx
  apps/governance/src/routes/proposals/components/proposal-detail-header/proposal-header.tsx
  apps/governance/src/routes/proposals/components/proposal/proposal.tsx
  apps/governance/src/styles.css
Labels: explorer-preview, governance-preview, trading-preview

#3630 fix(explorer): number formatting for updateasset proposals
  apps/explorer/src/app/routes/network-parameters/network-parameters.tsx
Labels: explorer-preview, governance-preview, trading-preview

#3611 feat(governance): proposal details page improvements
  apps/governance-e2e/src/integration/view/proposal.cy.ts
  apps/governance/src/components/connect-to-vega/connect-to-vega.tsx
  apps/governance/src/components/heading/heading.tsx
  apps/governance/src/i18n/translations/dev.json
  apps/governance/src/routes/proposals/components/current-proposal-state/current-proposal-state.tsx
  apps/governance/src/routes/proposals/components/proposal-change-table/proposal-change-table.spec.tsx
  apps/governance/src/routes/proposals/components/proposal-change-table/proposal-change-table.tsx
  apps/governance/src/routes/proposals/components/proposal-detail-header/proposal-header.spec.tsx
  apps/governance/src/routes/proposals/components/proposal-detail-header/proposal-header.tsx
  apps/governance/src/routes/proposals/components/proposal-info-label/index.tsx
  apps/governance/src/routes/proposals/components/proposal-info-label/proposal-info-label.tsx
  apps/governance/src/routes/proposals/components/proposal-terms-json/proposal-terms-json.tsx
  apps/governance/src/routes/proposals/components/proposal-votes-table/proposal-votes-table.spec.tsx
  apps/governance/src/routes/proposals/components/proposal-votes-table/proposal-votes-table.tsx
  apps/governance/src/routes/proposals/components/proposal/proposal.tsx
  apps/governance/src/routes/proposals/components/proposals-list-item/proposals-list-item-details.spec.tsx
  apps/governance/src/routes/proposals/components/proposals-list-item/proposals-list-item-details.tsx
  apps/governance/src/routes/proposals/components/proposals-list/proposals-list.tsx
  apps/governance/src/routes/proposals/components/protocol-upgrade-proposals-list-item/protocol-upgrade-proposals-list-item.tsx
  apps/governance/src/routes/proposals/components/vote-details/vote-buttons.tsx
  apps/governance/src/routes/proposals/components/vote-details/vote-details.tsx
  libs/ui-toolkit/src/utils/intent.ts
  libs/utils/src/lib/format/date.ts
Labels: explorer-preview, governance-preview, trading-preview

#3635 test(trading): update of capsule and live tests
  apps/explorer-e2e/src/integration/network.cy.js
  apps/governance-e2e/src/integration/view/proposal.cy.ts
  apps/trading-e2e/src/integration/capsule.cy.ts
  apps/trading-e2e/src/integration/live-env.cy.ts
Labels: Trading, Testing 🧪, explorer-preview, governance-preview, trading-preview

#3633 fix(explorer): network params fixture lookup for updateAsset proposals
  apps/explorer-e2e/src/fixtures/net_parameter_format_lookup.json
  apps/explorer/src/app/routes/network-parameters/network-parameters.tsx
  libs/cypress/src/lib/commands/get-network-parameters.ts
Labels: explorer-preview, governance-preview, trading-preview

#3627 chore(utils): remove ethers deps from ui-toolkit
  apps/governance/src/hooks/use-get-user-balances.ts
  apps/governance/src/hooks/use-refresh-associated-balances.ts
  apps/governance/src/hooks/use-refresh-balances.ts
  apps/governance/src/routes/redemption/hooks.ts
  apps/governance/src/routes/staking/associate/wallet-associate.tsx
  libs/react-helpers/.eslintrc.json
  libs/smart-contracts/src/contracts/staking-bridge.ts
  libs/smart-contracts/src/contracts/token-vesting.ts
  libs/utils/.eslintrc.json
  libs/utils/src/lib/format/number.ts
  libs/utils/src/lib/validate/common.spec.ts
  libs/utils/src/lib/validate/common.ts
Labels: explorer-preview, governance-preview, trading-preview

#3610 chore(governance): assert proposal dates
  apps/governance-e2e/src/integration/flow/proposal-details.cy.ts
  apps/governance-e2e/src/support/governance.functions.ts
Labels: explorer-preview, governance-preview, trading-preview

#3619 chore(trading): make limit default order type
  libs/deal-ticket/src/components/deal-ticket/deal-ticket.spec.tsx
  libs/deal-ticket/src/components/deal-ticket/type-selector.tsx
  libs/orders/src/lib/order-hooks/use-order-store.ts
Labels: explorer-preview, governance-preview, trading-preview

#3595 feat(trading): persist table column sizes
  apps/governance/src/setup-tests.ts
  apps/trading/client-pages/market/trade-grid.tsx
  apps/trading/client-pages/markets/closed.tsx
  apps/trading/client-pages/portfolio/portfolio.tsx
  apps/trading/components/accounts-container/accounts-container.tsx
  libs/accounts/src/lib/accounts-manager.tsx
  libs/accounts/src/lib/accounts-table.tsx
  libs/datagrid/src/index.ts
  libs/datagrid/src/lib/ag-grid/ag-grid-lazy-themed.tsx
  libs/datagrid/src/lib/ag-grid/ag-grid-lazy.tsx
  libs/datagrid/src/lib/ag-grid/use-column-sizes.spec.ts
  libs/datagrid/src/lib/ag-grid/use-column-sizes.ts
  libs/datagrid/src/setup-tests.ts
  libs/deposits/src/lib/deposits-table.tsx
  libs/fills/src/lib/fills-container.tsx
  libs/fills/src/lib/fills-manager.tsx
  libs/fills/src/lib/fills-table.tsx
  libs/fills/src/setup-tests.ts
  libs/ledger/src/lib/ledger-table.tsx
  libs/liquidity/src/lib/liquidity-table.tsx
  libs/liquidity/src/setup-tests.ts
  libs/market-list/src/lib/components/markets-container/market-list-table.tsx
  libs/orders/src/lib/components/order-list-container.tsx
  libs/orders/src/lib/components/order-list-manager/order-list-manager.tsx
  libs/orders/src/lib/components/order-list/order-list.tsx
  libs/orders/src/setup-tests.ts
  libs/positions/src/lib/positions-container.tsx
  libs/positions/src/lib/positions-manager.tsx
  libs/positions/src/lib/positions-table.tsx
  libs/proposals/src/lib/proposals-list/proposals-list.tsx
  libs/proposals/src/lib/proposals-list/use-column-defs.tsx
  libs/proposals/src/setup-tests.ts
  libs/trades/src/setup-tests.ts
  libs/withdraws/src/lib/withdrawals-table.tsx
  libs/withdraws/src/setup-tests.ts
Labels: explorer-preview, governance-preview, trading-preview

#3642 fix(datagrid): remove default balham borders
  apps/explorer/src/styles.css
  apps/governance/src/styles.css
  apps/trading/pages/styles.css
Labels: explorer-preview, governance-preview, trading-preview

#3622 fix(explorer): set explorer url env var in explorer
  apps/explorer/.env.capsule
  apps/explorer/.env.devnet
  apps/explorer/.env.mainnet
  apps/explorer/.env.testnet
  apps/explorer/.env.validator-testnet
  apps/explorer/.env.vegacapsule
Labels: explorer-preview, governance-preview, trading-preview

#3624 test(governance): e2e test to include withdrawal toasts
  apps/governance-e2e/src/integration/flow/withdrawal-flow.cy.ts
Labels: explorer-preview, governance-preview, trading-preview

#3628 chore(react-helpers): remove ag-grid deps
  apps/trading/client-pages/liquidity/liquidity.tsx
  apps/trading/client-pages/portfolio/deposits-container.tsx
  libs/accounts/src/lib/accounts-manager.tsx
  libs/datagrid/src/index.ts
  libs/datagrid/src/lib/ag-grid-update.ts
  libs/datagrid/src/lib/cells/size.tsx
  libs/datagrid/src/lib/use-bottom-placeholder.tsx
  libs/fills/src/lib/fills-manager.tsx
  libs/fills/src/lib/use-fills-list.ts
  libs/ledger/src/lib/ledger-entries-data-provider.ts
  libs/orders/src/lib/components/order-list-manager/order-list-manager.tsx
  libs/orders/src/lib/components/order-list/order-edit-dialog.tsx
  libs/positions/src/lib/positions-manager.tsx
  libs/positions/src/lib/use-positions-data.tsx
  libs/react-helpers/.eslintrc.json
  libs/react-helpers/src/hooks/index.ts
  libs/react-helpers/src/hooks/use-apply-grid-transaction.spec.ts
  libs/react-helpers/src/hooks/use-apply-grid-transaction.ts
  libs/react-helpers/src/lib/grid/index.ts
  libs/react-helpers/src/lib/grid/summary-rows.spec.ts
  libs/react-helpers/src/lib/grid/summary-rows.ts
  libs/react-helpers/src/lib/index.ts
  libs/utils/.eslintrc.json
  libs/web3/src/lib/use-vega-transaction-toasts.tsx
  libs/withdraws/src/lib/withdrawals-table.tsx
Labels: explorer-preview, governance-preview, trading-preview

#3636 feat(trading): update fills queries, fix empty fills list issue
  libs/fills/src/lib/Fills.graphql
  libs/fills/src/lib/__generated__/Fills.ts
  libs/fills/src/lib/fills-data-provider.ts
  libs/fills/src/lib/fills.mock.ts
  libs/fills/src/lib/use-fills-list.ts
Labels: explorer-preview, governance-preview, trading-preview

#3274 fix(explorer): improve party page loading
  apps/explorer/src/app/components/asset-balance/asset-balance.tsx
  apps/explorer/src/app/components/asset-balance/governance-asset-balance.tsx
  apps/explorer/src/app/components/page-header/page-header.tsx
  apps/explorer/src/app/components/txs/details/proposal/signature-bundle/bundle-exists.tsx
  apps/explorer/src/app/components/txs/index.tsx
  apps/explorer/src/app/components/txs/tx-list.tsx
  apps/explorer/src/app/components/txs/txs-infinite-list-item.tsx
  apps/explorer/src/app/components/txs/txs-infinite-list.spec.tsx
  apps/explorer/src/app/components/txs/txs-infinite-list.tsx
  apps/explorer/src/app/components/txs/txs-per-block.tsx
  apps/explorer/src/app/routes/blocks/id/block.spec.tsx
  apps/explorer/src/app/routes/blocks/id/block.tsx
  apps/explorer/src/app/routes/genesis/index.tsx
  apps/explorer/src/app/routes/markets/market-page.tsx
  apps/explorer/src/app/routes/oracles/home/index.tsx
  apps/explorer/src/app/routes/oracles/id/index.tsx
  apps/explorer/src/app/routes/parties/id/Party-assets.graphql
  apps/explorer/src/app/routes/parties/id/__generated__/Party-assets.ts
  apps/explorer/src/app/routes/parties/id/accounts/index.tsx
  apps/explorer/src/app/routes/parties/id/components/party-accounts.tsx
  apps/explorer/src/app/routes/parties/id/components/party-block-accounts.tsx
  apps/explorer/src/app/routes/parties/id/components/party-block-stake.tsx
  apps/explorer/src/app/routes/parties/id/components/party-block.tsx
  apps/explorer/src/app/routes/parties/id/index.tsx
  apps/explorer/src/app/routes/parties/id/template.tsx
  apps/explorer/src/app/routes/pending/index.tsx
  apps/explorer/src/app/routes/router-config.tsx
  apps/explorer/src/app/routes/txs/id/tx-details.tsx
  apps/explorer/src/app/routes/validators/validators-page.tsx
  libs/ui-toolkit/src/components/select/select.tsx
Labels: explorer-preview, governance-preview, trading-preview

#3647 fix(trading): wrong hover effect on datagrid
  apps/trading/pages/styles.css
Labels: governance-preview, trading-preview

#3648 fix(explorer): use data provider import
  apps/explorer/src/app/routes/parties/id/index.tsx
Labels: explorer-preview, governance-preview, trading-preview

#3653 chore(explorer,trading,governance): new data node & explorer service urls
  apps/explorer-e2e/.env.mainnet
  apps/explorer/.env.mainnet
  apps/governance-e2e/.env.mainnet
  apps/governance/.env.mainnet
  apps/liquidity-provision-dashboard/.env.mainnet
  apps/multisig-signer/.env.mainnet
Labels: explorer-preview, governance-preview, trading-preview

#3657 feat(governance): token references to governance
  apps/explorer/.env
  apps/explorer/.env.devnet
  apps/explorer/.env.mainnet
  apps/explorer/.env.testnet
  apps/governance-e2e/.env
  apps/governance/.env
  apps/governance/.env.capsule
  apps/governance/.env.devnet
  apps/governance/.env.mainnet
  apps/governance/.env.stagnet1
  apps/governance/.env.testnet
  apps/governance/.env.validator-testnet
  apps/governance/src/hooks/use-document-title.ts
  apps/governance/src/i18n/translations/dev.json
  apps/governance/src/index.html
  apps/trading-e2e/.env
  apps/trading-e2e/.env.capsule
  apps/trading/.env
  apps/trading/.env.capsule
  apps/trading/.env.devnet
  apps/trading/.env.mainnet
  apps/trading/.env.stagnet1
  apps/trading/.env.testnet
  libs/environment/src/hooks/use-links.ts
Labels: explorer-preview, governance-preview, trading-preview

#3658 feat(governance): hide make proposal journey and link to docs instead
  apps/governance-e2e/src/integration/view/home.cy.ts
  apps/governance-e2e/src/integration/view/proposal.cy.ts
  apps/governance-e2e/src/integration/view/pubkey-view.cy.ts
  apps/governance/src/i18n/translations/dev.json
  apps/governance/src/routes/proposals/components/proposals-list/proposals-list.tsx
  apps/governance/src/routes/proposals/propose/freeform/propose-freeform.spec.tsx
  apps/governance/src/routes/proposals/propose/freeform/propose-freeform.tsx
  apps/governance/src/routes/proposals/propose/network-parameter/propose-network-parameter.spec.tsx
  apps/governance/src/routes/proposals/propose/network-parameter/propose-network-parameter.tsx
  apps/governance/src/routes/proposals/propose/new-asset/propose-new-asset.spec.tsx
  apps/governance/src/routes/proposals/propose/new-asset/propose-new-asset.tsx
  apps/governance/src/routes/proposals/propose/new-market/propose-new-market.spec.tsx
  apps/governance/src/routes/proposals/propose/new-market/propose-new-market.tsx
  apps/governance/src/routes/proposals/propose/propose.spec.tsx
  apps/governance/src/routes/proposals/propose/propose.tsx
  apps/governance/src/routes/proposals/propose/raw/propose-raw.tsx
  apps/governance/src/routes/proposals/propose/update-asset/propose-update-asset.spec.tsx
  apps/governance/src/routes/proposals/propose/update-asset/propose-update-asset.tsx
  apps/governance/src/routes/proposals/propose/update-market/propose-update-market.spec.tsx
  apps/governance/src/routes/proposals/propose/update-market/propose-update-market.tsx
Labels: explorer-preview, governance-preview, trading-preview

#3663 fix(governance): consensus table works without previous epoch
  apps/governance/src/routes/staking/home/validator-tables/consensus-validators-table.tsx
Labels: explorer-preview, governance-preview, trading-preview

#3666 fix(governance): total supply displayed
  apps/governance/src/app-loader.tsx
Labels: explorer-preview, governance-preview, trading-preview

#3656 fix(trading): welcome dialog links
  apps/trading/components/welcome-dialog/risk-notice-dialog.tsx
  libs/environment/src/hooks/use-links.ts
Labels: explorer-preview, governance-preview, trading-preview

#3669 fix(trading): fix release script for mainnet
  scripts/make-release.js
Labels: explorer-preview, governance-preview, trading-preview

#3664 chore(candles-chart): fill up missing candles
  libs/candles-chart/src/lib/data-source.spec.ts
  libs/candles-chart/src/lib/data-source.ts
Labels: explorer-preview, governance-preview, trading-preview

#3685 fix(governance): my stake share 2 dp
  apps/governance/src/routes/staking/home/validator-tables/consensus-validators-table.tsx
Labels: explorer-preview, governance-preview, trading-preview

#3695 test(trading): show full oracle profile info in markets test
  apps/trading-e2e/src/integration/market-info.cy.ts
  apps/trading-e2e/src/integration/wallet-eth.cy.ts
  libs/datagrid/src/lib/ag-grid/use-column-sizes.ts
Labels: Trading, Testing 🧪, explorer-preview, governance-preview, trading-preview

#3686 fix(governance): more thorough catch for url in error reporting
  apps/governance/src/app.tsx
Labels: explorer-preview, governance-preview, trading-preview

#3708 fix(governance): tranches data
  apps/governance/src/lib/tranches/tranches-store.tsx
  apps/governance/src/routes/redemption/tranche-item.tsx
Labels: explorer-preview, governance-preview, trading-preview

#3634 feat(trading): hook up new EstimatePosition and EstimateFees api methods
  apps/trading-e2e/src/integration/trading-deal-ticket-order.cy.ts
  apps/trading-e2e/src/integration/trading-deal-ticket-submit-account.cy.ts
  apps/trading-e2e/src/support/trading.ts
  libs/accounts/src/lib/use-account-balance.tsx
  libs/accounts/src/lib/use-market-account-balance.tsx
  libs/cypress/mock.ts
  libs/cypress/src/lib/mock-gql.ts
  libs/cypress/src/lib/mock-ws.ts
  libs/deal-ticket/src/components/deal-ticket-estimates.tsx
  libs/deal-ticket/src/components/deal-ticket/deal-ticket-fee-details.tsx
  libs/deal-ticket/src/components/deal-ticket/deal-ticket.tsx
  libs/deal-ticket/src/components/index.ts
  libs/deal-ticket/src/constants.ts
  libs/deal-ticket/src/hooks/EstimateOrder.graphql
  libs/deal-ticket/src/hooks/__generated__/EstimateOrder.ts
  libs/deal-ticket/src/hooks/estimate-order.mock.ts
  libs/deal-ticket/src/hooks/use-fee-deal-ticket-details.tsx
  libs/deal-ticket/src/hooks/use-initial-margin.ts
  libs/environment/src/hooks/use-node-health.ts
  libs/network-info/src/network-info.tsx
  libs/positions/src/index.ts
  libs/positions/src/lib/Positions.graphql
  libs/positions/src/lib/__generated__/Positions.ts
  libs/positions/src/lib/estimate-position.mock.ts
  libs/positions/src/lib/margin-calculator.ts
  libs/positions/src/lib/positions-data-providers.ts
  libs/proposals/src/lib/protocol-upgrade-proposals/block-statistics.mock.ts
  libs/proposals/src/lib/protocol-upgrade-proposals/protocol-statistics-proposals.mock.ts
  libs/proposals/src/lib/protocol-upgrade-proposals/use-next-protocol-upgrade-proposals.ts
  libs/proposals/src/lib/protocol-upgrade-proposals/use-time-to-upgrade.ts
  libs/utils/src/lib/format/number.ts
Labels: explorer-preview, governance-preview, trading-preview

#3717 feat(governance): voting blog link and button title
  apps/governance/src/i18n/translations/dev.json
  apps/governance/src/routes/proposals/components/vote-details/vote-buttons.spec.tsx
  apps/governance/src/routes/proposals/components/vote-details/vote-buttons.tsx
  apps/governance/src/routes/proposals/components/vote-details/vote-details.tsx
Labels: explorer-preview, governance-preview, trading-preview

#3711 feat(governance): change status labels for network upgrade proposals
  apps/governance/src/i18n/translations/dev.json
  apps/governance/src/routes/proposals/components/protocol-upgrade-proposal-detail-info/protocol-upgrade-proposal-detail-info.spec.tsx
  apps/governance/src/routes/proposals/components/protocol-upgrade-proposals-list-item/protocol-upgrade-proposals-list-item.spec.tsx
Labels: explorer-preview, governance-preview, trading-preview

#3748 fix(governance): network upgrade proposal e2e test tweak
  apps/governance-e2e/src/integration/view/proposal.cy.ts
Labels: explorer-preview, governance-preview, trading-preview

#3740 fix(governance): fix time delay notice for withdrawal of 0.00 assets
  libs/smart-contracts/src/contracts/collateral-bridge.ts
  libs/withdraws/src/lib/withdraw-form.tsx
  libs/withdraws/src/lib/withdraw-manager.spec.tsx
Labels: explorer-preview, governance-preview, trading-preview

#3747 fix(governance): claim not encoding ascii correctly
  libs/smart-contracts/src/contracts/claim.ts
Labels: explorer-preview, governance-preview, trading-preview

#3762 fix(governance): check value of telemetry local storage entry
  apps/governance/src/app.tsx
Labels: explorer-preview, governance-preview, trading-preview

#3775 fix(smart-contracts,deposits): add different abi for tether
  apps/governance-e2e/src/support/wallet-teardown.functions.ts
  libs/deposits/src/lib/deposit-manager.tsx
  libs/deposits/src/lib/use-deposit-balances.ts
  libs/deposits/src/lib/use-submit-approval.ts
  libs/deposits/src/lib/use-submit-faucet.ts
  libs/smart-contracts/src/abis/erc20_abi.json
  libs/smart-contracts/src/abis/erc20_abi_faucet.json
  libs/smart-contracts/src/abis/erc20_abi_tether.json
  libs/smart-contracts/src/contracts/index.ts
  libs/smart-contracts/src/contracts/token-faucetable.ts
  libs/smart-contracts/src/contracts/token.ts
  libs/web3/src/lib/use-ethereum-transaction-store.tsx
  libs/web3/src/lib/use-token-contract.ts
Labels: explorer-preview, governance-preview, trading-preview

#3773 fix(governance): reward aggregation for validator types
  apps/governance/src/routes/rewards/epoch-individual-rewards/generate-epoch-individual-rewards-list.ts
  apps/governance/src/routes/staking/node/nodes-container.tsx
Labels: explorer-preview, governance-preview, trading-preview

#3707 feat(trading): oracle banner check termination and settlement data oracles
  apps/trading-e2e/src/integration/market-info.cy.ts
  libs/market-info/src/lib/components/oracle-banner/oracle-banner.tsx
  libs/market-info/src/lib/components/oracle-full-profile/oracle-full-profile.tsx
  libs/market-info/src/lib/hooks/use-market-oracle.ts
Labels: explorer-preview, governance-preview, trading-preview

#3792 feat(trading): sidebar market list adjustments
  apps/trading/client-pages/market/asset-dropdown.tsx
  apps/trading/client-pages/market/market-selector.tsx
  apps/trading/client-pages/market/sort-dropdown.tsx
  apps/trading/client-pages/market/trade-grid.tsx
  libs/ui-toolkit/src/components/dropdown-menu/dropdown-menu.tsx
  libs/ui-toolkit/src/components/icon/vega-icons/svg-icons/icon-cross.tsx
  libs/ui-toolkit/src/components/icon/vega-icons/svg-icons/icon-trend-up.tsx
  libs/ui-toolkit/src/components/icon/vega-icons/vega-icon-record.ts
  libs/ui-toolkit/src/components/input/input.tsx
  libs/ui-toolkit/src/utils/shared.ts
Labels: explorer-preview, governance-preview, trading-preview

#3726 chore(trading): suppress sentry logs when eth fails
  libs/deposits/src/lib/use-deposit-balances.ts
  libs/deposits/src/lib/use-get-allowance.ts
  libs/deposits/src/lib/use-get-deposit-maximum.ts
  libs/deposits/src/lib/use-get-deposited-amount.ts
  libs/utils/src/lib/local-logger.spec.ts
  libs/utils/src/lib/local-logger.ts
  libs/web3/src/lib/use-get-withdraw-delay.ts
  libs/withdraws/src/lib/use-complete-withdraw.ts
  libs/withdraws/src/lib/use-verify-withdrawal.ts
  libs/withdraws/src/lib/use-withdraw-asset.tsx
  libs/withdraws/src/setup-tests.ts
Labels: explorer-preview, governance-preview, trading-preview

#3787 test(trading): pegged orders e2e tests
  apps/trading-e2e/src/integration/trading-orders.cy.ts
Labels: Trading, Testing 🧪, explorer-preview, governance-preview, trading-preview

#3793 feat(governance): proposal terms in table, full proposal json, description …
  apps/governance/src/i18n/translations/dev.json
  apps/governance/src/routes/proposals/components/proposal-description/index.tsx
  apps/governance/src/routes/proposals/components/proposal-description/proposal-description.tsx
  apps/governance/src/routes/proposals/components/proposal-detail-header/proposal-header.spec.tsx
  apps/governance/src/routes/proposals/components/proposal-detail-header/proposal-header.tsx
  apps/governance/src/routes/proposals/components/proposal-json/index.tsx
  apps/governance/src/routes/proposals/components/proposal-json/proposal-json.tsx
  apps/governance/src/routes/proposals/components/proposal-terms-json/index.tsx
  apps/governance/src/routes/proposals/components/proposal-terms/index.tsx
  apps/governance/src/routes/proposals/components/proposal-terms/proposal-terms.tsx
  apps/governance/src/routes/proposals/components/proposal/proposal.spec.tsx
  apps/governance/src/routes/proposals/components/proposal/proposal.tsx
Labels: explorer-preview, governance-preview, trading-preview

#3782 chore(trading): refactor docs links resolver
  apps/explorer/src/app/components/header/header.spec.tsx
  apps/governance/src/components/vega-wallet/download-wallet-prompt.tsx
  apps/governance/src/routes/home/index.tsx
  apps/governance/src/routes/proposals/components/proposals-list/proposals-list.tsx
  apps/governance/src/routes/proposals/components/propose/proposal-form-terms.spec.tsx
  apps/governance/src/routes/proposals/components/propose/proposal-form-terms.tsx
  apps/governance/src/routes/proposals/propose/freeform/propose-freeform.spec.tsx
  apps/governance/src/routes/proposals/propose/freeform/propose-freeform.tsx
  apps/governance/src/routes/proposals/propose/network-parameter/propose-network-parameter.spec.tsx
  apps/governance/src/routes/proposals/propose/network-parameter/propose-network-parameter.tsx
  apps/governance/src/routes/proposals/propose/new-asset/propose-new-asset.spec.tsx
  apps/governance/src/routes/proposals/propose/new-asset/propose-new-asset.tsx
  apps/governance/src/routes/proposals/propose/new-market/propose-new-market.spec.tsx
  apps/governance/src/routes/proposals/propose/new-market/propose-new-market.tsx
  apps/governance/src/routes/proposals/propose/propose.tsx
  apps/governance/src/routes/proposals/propose/raw/propose-raw.tsx
  apps/governance/src/routes/proposals/propose/update-asset/propose-update-asset.spec.tsx
  apps/governance/src/routes/proposals/propose/update-asset/propose-update-asset.tsx
  apps/governance/src/routes/proposals/propose/update-market/propose-update-market.tsx
  apps/governance/src/routes/rewards/home/rewards-page.tsx
  apps/governance/src/routes/staking/home/staking.tsx
  apps/governance/src/routes/staking/home/validator-tables/validator-tables.tsx
  apps/governance/src/routes/staking/node/validator-table.tsx
  apps/governance/src/routes/token/index.tsx
  apps/trading/client-pages/liquidity/liquidity.tsx
  apps/trading/components/liquidity-supplied/liquidity-supplied.tsx
  apps/trading/components/navbar/navbar.tsx
  apps/trading/components/welcome-dialog/risk-notice-dialog.tsx
  apps/trading/components/welcome-dialog/welcome-notice-dialog.tsx
  libs/deal-ticket/src/components/trading-mode-tooltip/trading-mode-tooltip.tsx
  libs/environment/src/hooks/use-links.ts
  libs/market-info/src/lib/components/market-info/market-info-accordion.tsx
  libs/market-info/src/lib/components/market-info/tooltip-mapping.tsx
  libs/positions/src/lib/positions-table.tsx
  libs/utils/src/index.ts
  libs/utils/src/lib/links.ts
  libs/wallet/src/connect-dialog/connect-dialog-elements.tsx
  libs/wallet/src/connect-dialog/connect-dialog.tsx
  libs/wallet/src/connect-dialog/json-rpc-connector-form.tsx
Labels: explorer-preview, governance-preview, trading-preview

#3800 fix(governance): point to correct data for displayed LP rewards
  apps/governance/src/routes/rewards/epoch-individual-rewards/epoch-individual-rewards-table.spec.tsx
  apps/governance/src/routes/rewards/epoch-individual-rewards/generate-epoch-individual-rewards-list.spec.ts
  apps/governance/src/routes/rewards/epoch-total-rewards/epoch-total-rewards-table.spec.tsx
  apps/governance/src/routes/rewards/epoch-total-rewards/generate-epoch-total-rewards-list.spec.ts
  apps/governance/src/routes/rewards/shared-rewards-table-assets/shared-rewards-table-assets.tsx
Labels: explorer-preview, governance-preview, trading-preview

#3783 feat(ci): update DNS for mainnet console when new version is released
  .github/workflows/publish-dist.yml
Labels: explorer-preview, governance-preview, trading-preview

#3797 fix(ui-toolkit): add keys to healthbar segments
  libs/i18n/package.json
  libs/react-helpers/package.json
  libs/tailwindcss-config/package.json
  libs/types/package.json
  libs/ui-toolkit/package.json
  libs/ui-toolkit/src/components/healthbar/healthbar.tsx
  libs/utils/package.json
Labels: explorer-preview, governance-preview, trading-preview

#3794 fix(governance): ensure no negative overstaked penalty
  apps/governance-e2e/src/integration/view/rewards.cy.ts
  apps/governance/src/routes/staking/shared.ts
Labels: explorer-preview, governance-preview, trading-preview

#3813 fix(governance): clear wallet state if user changes to a non existent party
  apps/governance/src/app.tsx
  apps/governance/src/components/vega-wallet/hooks.ts
  apps/governance/src/lib/party.ts
  apps/governance/src/routes/staking/node/nodes-container.tsx
Labels: explorer-preview, governance-preview, trading-preview

#3814 chore(trading): show markets in opening auction in market selector
  apps/trading/client-pages/market/market-selector.spec.tsx
  apps/trading/client-pages/market/use-market-selector-list.spec.tsx
  apps/trading/client-pages/market/use-market-selector-list.ts
Labels: explorer-preview, governance-preview, trading-preview

#3811 feat(ui-toolkit,trading): allow toast box configuration
  apps/trading/client-pages/settings/settings.tsx
  libs/ui-toolkit/src/components/toast/index.tsx
  libs/ui-toolkit/src/components/toast/toast-position-setter.tsx
  libs/ui-toolkit/src/components/toast/toasts-container.tsx
  libs/ui-toolkit/src/components/toast/use-toasts.ts
Labels: explorer-preview, governance-preview, trading-preview

#3822 feat(ci): fix release body
  .github/workflows/add-ipfs-notes-to-release.yml
Labels: explorer-preview, governance-preview, trading-preview

#3701 feat(web3): withdrawal details
  apps/governance/src/app.tsx
  apps/trading/pages/dialogs-container.tsx
  libs/ui-toolkit/src/components/toast/toast.tsx
  libs/web3/src/index.ts
  libs/web3/src/lib/use-ethereum-withdraw-approval-toasts.tsx
  libs/web3/src/lib/use-vega-transaction-toasts.tsx
  libs/web3/src/lib/withdrawal-approval-dialog.tsx
  libs/withdraws/src/index.ts
  libs/withdraws/src/lib/withdrawals-table.tsx
Labels: explorer-preview, governance-preview, trading-preview

#3827 feat(governance): use rest to expose proposal data
  apps/governance-e2e/.env
  apps/governance/.env
  apps/governance/.env.capsule
  apps/governance/.env.devnet
  apps/governance/.env.mainnet
  apps/governance/.env.stagnet1
  apps/governance/.env.testnet
  apps/governance/.env.validator-testnet
  apps/governance/src/config/env.ts
  apps/governance/src/routes/proposals/components/proposal/proposal.spec.tsx
  apps/governance/src/routes/proposals/components/proposal/proposal.tsx
  apps/governance/src/routes/proposals/proposal/proposal-container.tsx
  libs/ui-toolkit/src/components/syntax-highlighter/syntax-highlighter.tsx
Labels: explorer-preview, governance-preview, trading-preview

#3821 feat(trading): do not show oracle banner when data is loading
  libs/markets/src/lib/components/market-info/market-info-panels.tsx
  libs/markets/src/lib/components/market-info/market-info.mock.ts
  libs/markets/src/lib/components/markets-container/oracle-status.tsx
  libs/markets/src/lib/components/oracle-banner/oracle-banner.tsx
  libs/markets/src/lib/components/oracle-banner/oracle-statuses.ts
  libs/markets/src/lib/components/oracle-dialog/index.tsx
  libs/markets/src/lib/components/oracle-dialog/oracle-dialog.tsx
  libs/markets/src/lib/components/oracle-full-profile/index.ts
  libs/markets/src/lib/components/oracle-full-profile/oracle-full-profile.tsx
  libs/markets/src/lib/hooks/use-market-oracle.spec.ts
  libs/markets/src/lib/hooks/use-market-oracle.ts
  libs/markets/src/lib/markets.mock.ts
Labels: explorer-preview, governance-preview, trading-preview

#3828 test(trading): e2e test for select network and nodes - 0006-NETW
  apps/trading-e2e/src/integration/capsule.cy.ts
  apps/trading-e2e/src/integration/home-node-network.cy.ts
  apps/trading-e2e/src/integration/home.cy.ts
  libs/environment/src/components/network-switcher/network-switcher.tsx
Labels: Trading, Testing 🧪, explorer-preview, governance-preview, trading-preview

#3841 feat(governance): change url of upgrade proposals
  apps/governance/src/routes/proposals/components/protocol-upgrade-proposals-list-item/protocol-upgrade-proposals-list-item.tsx
  apps/governance/src/routes/router-config.tsx
  apps/governance/src/routes/routes.ts
Labels: explorer-preview, governance-preview, trading-preview

#3840 fix(explorer): prevent render of signature component on some proposals
  apps/explorer/src/app/components/txs/details/tx-proposal.spec.tsx
  apps/explorer/src/app/components/txs/details/tx-proposal.tsx
Labels: explorer-preview, governance-preview, trading-preview

#3838 test(governance): 3790 proposal tests refactor
  apps/governance-e2e/src/fixtures/proposals/new-market-raw.json
  apps/governance-e2e/src/integration/flow/proposal-details.cy.ts
  apps/governance-e2e/src/integration/flow/proposal-enacted.cy.ts
  apps/governance-e2e/src/integration/flow/proposal-flow.cy.ts
  apps/governance-e2e/src/integration/flow/proposal-forms.cy.ts
  apps/governance-e2e/src/integration/flow/proposal-list.cy.ts
  apps/governance-e2e/src/integration/flow/staking-flow.cy.ts
  apps/governance-e2e/src/integration/flow/token-association-flow.cy.ts
  apps/governance-e2e/src/integration/flow/withdrawal-flow.cy.ts
  apps/governance-e2e/src/integration/view/pubkey-view.cy.ts
  apps/governance-e2e/src/support/governance.functions.ts
  apps/governance-e2e/src/support/proposal.functions.ts
  apps/governance-e2e/src/support/wallet-teardown.functions.ts
Labels: explorer-preview, governance-preview, trading-preview

#3830 feat(environment): avoid logging node check queries
  libs/apollo-client/src/lib/apollo-client.ts
  libs/environment/src/components/node-switcher/row-data.spec.tsx
  libs/environment/src/components/node-switcher/row-data.tsx
  libs/environment/src/hooks/mocks/apollo-client.tsx
  libs/environment/src/hooks/use-environment.ts
  libs/environment/src/hooks/use-node-health.spec.tsx
  libs/environment/src/hooks/use-node-health.ts
  libs/environment/src/index.ts
  libs/environment/src/utils/NodeCheck.graphql
  libs/environment/src/utils/__generated__/Node.ts
  libs/environment/src/utils/__generated__/NodeCheck.ts
  libs/environment/src/utils/node.mock.ts
Labels: explorer-preview, governance-preview, trading-preview

#3845 feat(governance): hide proposal details on market proposals
  apps/governance/src/routes/proposals/components/proposal/proposal.tsx
Labels: explorer-preview, governance-preview, trading-preview

#3843 fix(orders): cancel all and pegged orders amendable
  apps/trading-e2e/src/integration/trading-orders.cy.ts
  libs/orders/src/lib/components/order-list-manager/order-list-manager.tsx
  libs/orders/src/lib/components/order-list/order-list.spec.tsx
  libs/orders/src/lib/components/order-list/order-list.tsx
Labels: explorer-preview, governance-preview, trading-preview

#3850 fix(governance): penalties calculation
  apps/governance/src/routes/staking/PreviousEpoch.graphql
  apps/governance/src/routes/staking/__generated__/PreviousEpoch.ts
  apps/governance/src/routes/staking/home/validator-tables/consensus-validators-table.spec.tsx
  apps/governance/src/routes/staking/home/validator-tables/consensus-validators-table.tsx
  apps/governance/src/routes/staking/home/validator-tables/standby-pending-validators-table.tsx
  apps/governance/src/routes/staking/node/validator-table.tsx
  apps/governance/src/routes/staking/shared.spec.ts
  apps/governance/src/routes/staking/shared.ts
Labels: explorer-preview, governance-preview, trading-preview

#3851 feat(governance): avoid showing untitled proposals
  apps/governance/src/routes/proposals/components/proposal-detail-header/proposal-header.spec.tsx
  apps/governance/src/routes/proposals/components/proposal-detail-header/proposal-header.tsx
  apps/governance/src/routes/proposals/propose/freeform/propose-freeform.tsx
  apps/governance/src/routes/proposals/propose/network-parameter/propose-network-parameter.tsx
  apps/governance/src/routes/proposals/propose/new-asset/propose-new-asset.tsx
  apps/governance/src/routes/proposals/propose/new-market/propose-new-market.tsx
  apps/governance/src/routes/proposals/propose/update-asset/propose-update-asset.tsx
  apps/governance/src/routes/proposals/propose/update-market/propose-update-market.tsx
Labels: explorer-preview, governance-preview, trading-preview

#3831 fix(trading): settlement price of closed markets
  apps/trading-e2e/src/integration/closed-markets.cy.ts
  apps/trading/client-pages/markets/closed.spec.tsx
  apps/trading/client-pages/markets/closed.tsx
  apps/trading/client-pages/markets/settlement-price-cell.spec.tsx
  apps/trading/client-pages/markets/settlement-price-cell.tsx
  libs/markets/src/lib/OracleMarketsSpec.graphql
  libs/markets/src/lib/__generated__/OracleMarketsSpec.ts
  libs/markets/src/lib/__generated__/markets.ts
  libs/markets/src/lib/hooks/use-market-oracle.ts
  libs/markets/src/lib/markets.graphql
  libs/markets/src/lib/markets.mock.ts
Labels: explorer-preview, governance-preview, trading-preview

#3857 chore(governance,trading): update mainnet envs with new ethereum provider url
  apps/governance/.env.mainnet
  apps/trading/.env.mainnet
Labels: explorer-preview, governance-preview, trading-preview

#3772 feat(trading,governance): improve flow of risk disclaimer presentation
  apps/governance/src/components/vega-wallet-dialogs/risk-message.tsx
  apps/governance/src/components/vega-wallet-dialogs/vega-wallet-dialogs.tsx
  apps/governance/src/i18n/translations/dev.json
  apps/governance/src/routes/disclaimer/index.tsx
  apps/governance/src/routes/router-config.tsx
  apps/governance/src/routes/routes.ts
  apps/trading-e2e/src/integration/navbar.cy.ts
  apps/trading/client-pages/disclaimer/disclaimer.tsx
  apps/trading/client-pages/disclaimer/index.ts
  apps/trading/components/navbar/navbar.tsx
  apps/trading/components/welcome-dialog/index.ts
  apps/trading/components/welcome-dialog/risk-message.tsx
  apps/trading/components/welcome-dialog/risk-notice-dialog.spec.tsx
  apps/trading/components/welcome-dialog/risk-notice-dialog.tsx
  apps/trading/components/welcome-dialog/telemetry-approval.tsx
  apps/trading/components/welcome-dialog/welcome-dialog.tsx
  apps/trading/components/welcome-dialog/welcome-landing-dialog.tsx
  apps/trading/components/welcome-dialog/welcome-notice-dialog.tsx
  apps/trading/pages/client-router.tsx
  apps/trading/pages/dialogs-container.tsx
  libs/cypress/src/lib/commands/vega-wallet-connect.ts
  libs/wallet/src/connect-dialog/connect-dialog.tsx
  libs/wallet/src/connect-dialog/json-rpc-connector-form.tsx
  libs/wallet/src/context.ts
  libs/wallet/src/provider.spec.tsx
  libs/wallet/src/provider.tsx
  libs/wallet/src/storage.ts
  libs/wallet/src/use-eager-connect.ts
  libs/wallet/src/use-json-rpc-connect.ts
Labels: explorer-preview, governance-preview, trading-preview

#3859 fix(trading): fix proposals not showing
  apps/trading/client-pages/markets/proposed.tsx
  libs/proposals/src/components/proposals-list/proposal-list.spec.tsx
  libs/proposals/src/components/proposals-list/proposals-list.tsx
  libs/proposals/src/lib/proposals-data-provider/proposals.mock.ts
Labels: explorer-preview, governance-preview, trading-preview

#3860 chore(governance,explorer,trading): move sentry dsn to env files
  apps/explorer/.env.mainnet
  apps/governance/.env.devnet
  apps/governance/.env.mainnet
  apps/governance/.env.testnet
  apps/governance/.env.validator-testnet
  apps/trading/.env.devnet
  apps/trading/.env.mainnet
  apps/trading/.env.stagnet1
  apps/trading/.env.testnet
  apps/trading/.env.validator-testnet
Labels: explorer-preview, governance-preview, trading-preview

#3867 chore(explorer): update be env for validator testnet
  apps/explorer/.env.validators-testnet
Labels: explorer-preview

#3842 feat(trading): move deal ticket panel to the left
  apps/trading/client-pages/market/trade-grid.tsx
Labels: explorer-preview, governance-preview, trading-preview

#3877 fix(ui-toolkit): test toast configuration
  libs/ui-toolkit/src/components/toast/toast-position-setter.tsx
  libs/ui-toolkit/src/components/toast/use-toasts.ts
Labels: explorer-preview, governance-preview, trading-preview

#3873 fix(trading): positions and markets settlement asset column filter and sort
  apps/explorer/src/app/components/markets/markets-table.tsx
  libs/markets/src/lib/components/markets-container/market-list-table.tsx
  libs/positions/src/lib/positions-table.tsx
Labels: explorer-preview, governance-preview, trading-preview

#3883 feat(trading): upgrade banner
  apps/governance/src/routes/proposals/protocol-upgrade/protocol-upgrade-proposal.tsx
  apps/trading/.env
  apps/trading/components/banner/index.tsx
  apps/trading/components/banner/upgrade-banner.tsx
  apps/trading/pages/_app.page.tsx
  libs/environment/src/hooks/index.ts
  libs/environment/src/hooks/mocks/github-releases.ts
  libs/environment/src/hooks/use-environment.ts
  libs/environment/src/hooks/use-releases.spec.ts
  libs/environment/src/hooks/use-releases.ts
  libs/environment/src/hooks/use-vega-release.spec.ts
  libs/environment/src/hooks/use-vega-release.ts
  libs/environment/src/hooks/use-vega-releases.spec.ts
  libs/environment/src/hooks/use-vega-releases.ts
  libs/environment/src/utils/validate-environment.ts
Labels: explorer-preview, governance-preview, trading-preview

#3884 feat(explorer): footer updates
  apps/explorer/src/app/components/footer/footer.tsx
  apps/explorer/src/app/routes/pages/disclaimer.tsx
  apps/explorer/src/app/routes/route-names.tsx
  apps/explorer/src/app/routes/router-config.tsx
Labels: Block Explorer, explorer-preview

#3868 feat(trading): show positions for all markets
  libs/markets/src/lib/markets-provider.ts
  libs/positions/src/lib/positions-data-providers.ts
Labels: explorer-preview, governance-preview, trading-preview

#3852 fix(explorer): change how internal filters are detected
  apps/explorer/src/app/routes/oracles/components/oracle-details-type.spec.tsx
  apps/explorer/src/app/routes/oracles/components/oracle-details-type.tsx
  apps/explorer/src/app/routes/oracles/components/oracle.tsx
Labels: Block Explorer, explorer-preview, governance-preview, trading-preview

#3865 chore(ui-toolkit): adjust nav styles and banner
  apps/trading/components/navbar/navbar.tsx
  libs/announcements/src/lib/announcements.tsx
  libs/environment/src/components/network-switcher/network-switcher.tsx
  libs/ui-toolkit/src/components/icon/vega-icons/svg-icons/icon-arrow-down.tsx
  libs/ui-toolkit/src/components/icon/vega-icons/svg-icons/icon-chevron-down.tsx
  libs/ui-toolkit/src/components/icon/vega-icons/vega-icon-record.ts
  libs/ui-toolkit/src/components/link/link.tsx
  libs/ui-toolkit/src/components/navigation/navigation.tsx
Labels: explorer-preview, governance-preview, trading-preview

#3886 chore(trading): dont show upgrade banner unless APP_VERSION is set
  apps/trading/.env
  apps/trading/.env.mainnet
  apps/trading/components/banner/upgrade-banner.tsx
Labels: trading-preview

#3887 fix(trading): icon color when navbar is dark
  apps/trading/components/icons/wallet.tsx
  apps/trading/components/vega-wallet-connect-button/vega-wallet-connect-button.tsx
Labels: trading-preview

#3863 feat(trading): market selection changes
  apps/trading-e2e/src/integration/home-node-network.cy.ts
  apps/trading-e2e/src/integration/home.cy.ts
  apps/trading-e2e/src/integration/live-env.cy.ts
  apps/trading-e2e/src/integration/market-selector.cy.ts
  apps/trading-e2e/src/integration/markets.cy.ts
  apps/trading-e2e/src/integration/navbar.cy.ts
  apps/trading-e2e/src/integration/settings.cy.ts
  apps/trading-e2e/src/support/helpers.ts
  apps/trading-e2e/src/support/trading.ts
  apps/trading/client-pages/home/home.tsx
  apps/trading/client-pages/market/market-selector-item.spec.tsx
  apps/trading/client-pages/market/market-selector-item.tsx
  apps/trading/client-pages/market/product-selector.tsx
  apps/trading/client-pages/market/trade-grid.tsx
  apps/trading/client-pages/market/use-market-selector-list.spec.tsx
  apps/trading/client-pages/market/use-market-selector-list.ts
  apps/trading/components/constants.ts
  apps/trading/components/header/header.tsx
  apps/trading/components/select-market/index.ts
  apps/trading/components/select-market/select-market-columns.tsx
  apps/trading/components/select-market/select-market-table.tsx
  apps/trading/components/welcome-dialog/welcome-dialog-header.tsx
  apps/trading/components/welcome-dialog/welcome-dialog.tsx
  apps/trading/components/welcome-dialog/welcome-landing-dialog.spec.tsx
  apps/trading/components/welcome-dialog/welcome-landing-dialog.tsx
  libs/ui-toolkit/src/components/sparkline/sparkline.tsx
Labels: explorer-preview, governance-preview, trading-preview

#3888 fix(trading): redirect to markets all page if no market found
  apps/trading-e2e/src/integration/home.cy.ts
  apps/trading/client-pages/home/home.tsx
Labels: trading-preview

#3890 fix(trading): improve data count on proposed markets
  libs/proposals/src/components/proposals-list/proposals-list.tsx
Labels: explorer-preview, governance-preview, trading-preview

#3892 fix(trading): hide download or export all when no entries
  libs/ledger/src/lib/ledger-export-link.tsx
Labels: explorer-preview, governance-preview, trading-preview

#3894 fix(explorer): wrap routes in suspense
  apps/explorer/src/app/app.tsx
Labels: explorer-preview

#3879 chore(trading): adding mainnet links
  apps/trading/.env.capsule
  apps/trading/.env.devnet
  apps/trading/.env.stagnet1
  apps/trading/.env.testnet
  apps/trading/.env.validators-testnet
Labels: explorer-preview, governance-preview, trading-preview

#3896 chore(trading): console fairground links
  apps/explorer/.env.testnet
  apps/liquidity-provision-dashboard/.env
  apps/liquidity-provision-dashboard/.env.devnet
  apps/liquidity-provision-dashboard/.env.mainnet
  apps/liquidity-provision-dashboard/.env.stagnet1
  apps/liquidity-provision-dashboard/.env.testnet
  apps/trading-e2e/.env
  apps/trading-e2e/.env.capsule
  apps/trading/.env
  apps/trading/.env.capsule
  apps/trading/.env.devnet
  apps/trading/.env.mainnet
  apps/trading/.env.stagnet1
  apps/trading/.env.testnet
  apps/trading/.env.validators-testnet
  libs/environment/src/hooks/use-links.ts
Labels: explorer-preview, governance-preview, trading-preview

#3902 feat(deposits): mark remaining deposit allowance as exempt
  libs/deposits/src/lib/deposit-form.spec.tsx
  libs/deposits/src/lib/deposit-limits.tsx
  libs/deposits/src/lib/use-deposit-balances.ts
  libs/deposits/src/lib/use-get-deposit-maximum.ts
  libs/smart-contracts/src/contracts/collateral-bridge.ts
Labels: explorer-preview, governance-preview, trading-preview

#3909 fix(deposits): validation with exempt
  libs/deposits/src/lib/deposit-form.tsx
Labels: explorer-preview, governance-preview, trading-preview

#3907 fix(trading): console.fairground.wtf links update back
  apps/explorer/.env.testnet
  apps/liquidity-provision-dashboard/.env
  apps/liquidity-provision-dashboard/.env.devnet
  apps/liquidity-provision-dashboard/.env.mainnet
  apps/liquidity-provision-dashboard/.env.stagnet1
  apps/liquidity-provision-dashboard/.env.testnet
  apps/trading-e2e/.env
  apps/trading-e2e/.env.capsule
  apps/trading/.env
  apps/trading/.env.capsule
  apps/trading/.env.devnet
  apps/trading/.env.mainnet
  apps/trading/.env.stagnet1
  apps/trading/.env.testnet
  apps/trading/.env.validators-testnet
  libs/environment/src/hooks/use-links.ts
  libs/markets/src/lib/__generated__/market-data.ts
Labels: explorer-preview, governance-preview, trading-preview

#3875 fix(governance): add enactment date to proposal sorting
  apps/governance/src/routes/proposals/components/proposals-list/proposals-list.spec.tsx
  apps/governance/src/routes/proposals/components/proposals-list/proposals-list.tsx
  apps/governance/src/routes/staking/shared.ts
Labels: governance-preview

#3908 fix(deal-ticket): clear price error on type change
  libs/deal-ticket/src/components/deal-ticket/deal-ticket.tsx
Labels: explorer-preview, governance-preview, trading-preview

#3906 fix(trading): make grids more responsive - suppress sizeColumnsToFit on small screens
  apps/trading/client-pages/markets/closed.tsx
  libs/datagrid/src/lib/ag-grid/use-column-sizes.spec.ts
  libs/datagrid/src/lib/ag-grid/use-column-sizes.ts
  libs/markets/src/lib/components/markets-container/market-list-table.tsx
  libs/proposals/src/components/proposals-list/use-column-defs.tsx
Labels: explorer-preview, governance-preview, trading-preview

#3914 fix(withdraws): link to the withdrawal limits
  libs/environment/src/hooks/use-links.ts
  libs/withdraws/src/lib/withdraw-form.tsx
Labels: explorer-preview, governance-preview, trading-preview

#3913 chore(governance): update nightly tests
  apps/governance-e2e/src/integration/flow/proposal-details.cy.ts
  apps/governance-e2e/src/integration/flow/rewards-flow.cy.ts
  apps/governance-e2e/src/integration/flow/token-association-flow.cy.ts
  apps/governance-e2e/src/integration/flow/withdrawal-flow.cy.ts
  apps/governance-e2e/src/integration/view/proposal.cy.ts
  apps/governance-e2e/src/support/wallet-eth.functions.ts
Labels: governance-preview

#3930 chore(market-depth): replace bid and ask columns with a single volume column when i…
  libs/market-depth/src/lib/orderbook-row.tsx
  libs/market-depth/src/lib/orderbook.spec.tsx
  libs/market-depth/src/lib/orderbook.tsx
Labels: explorer-preview, governance-preview, trading-preview

#3919 chore(trading): upgrade banner semver comparison
  apps/trading/components/banner/upgrade-banner.tsx
  libs/environment/src/hooks/use-releases.ts
  package.json
  yarn.lock
Labels: explorer-preview, governance-preview, trading-preview

#3928 fix(trading): skip market data query if market not present
  apps/trading/components/market-mark-price/market-mark-price.tsx
Labels: trading-preview

#3941 fix(governance): rewards decimals set per asset
  apps/governance/src/routes/rewards/epoch-individual-rewards/epoch-individual-rewards-table.spec.tsx
  apps/governance/src/routes/rewards/epoch-individual-rewards/epoch-individual-rewards-table.tsx
  apps/governance/src/routes/rewards/epoch-individual-rewards/generate-epoch-individual-rewards-list.spec.ts
  apps/governance/src/routes/rewards/epoch-individual-rewards/generate-epoch-individual-rewards-list.ts
  apps/governance/src/routes/rewards/epoch-total-rewards/epoch-total-rewards-table.spec.tsx
  apps/governance/src/routes/rewards/epoch-total-rewards/epoch-total-rewards-table.tsx
  apps/governance/src/routes/rewards/epoch-total-rewards/generate-epoch-total-rewards-list.spec.ts
  apps/governance/src/routes/rewards/epoch-total-rewards/generate-epoch-total-rewards-list.ts
  apps/governance/src/routes/rewards/home/Rewards.graphql
  apps/governance/src/routes/rewards/home/__generated__/Rewards.ts
  libs/markets/src/lib/__generated__/market-data.ts
Labels: explorer-preview, governance-preview, trading-preview

#3927 fix(orders): re-render last column of orders table on data change
  libs/orders/src/lib/components/order-list-manager/order-list-manager.tsx
  libs/orders/src/lib/components/order-list/order-list.spec.tsx
  libs/orders/src/lib/components/order-list/order-list.stories.tsx
  libs/orders/src/lib/components/order-list/order-list.tsx
Labels: explorer-preview, governance-preview, trading-preview

#3870 fix(trading): price and volume in the last 24h can be incorrectly reported
  apps/trading/client-pages/market/header-stats.tsx
  libs/datagrid/src/lib/cells/price-change-cell.tsx
  libs/markets/src/lib/components/last-24h-price-change/last-24h-price-change.tsx
  libs/markets/src/lib/components/last-24h-volume/last-24h-volume.tsx
  libs/react-helpers/src/hooks/use-yesterday.spec.ts
  libs/react-helpers/src/hooks/use-yesterday.ts
Labels: explorer-preview, governance-preview, trading-preview

#3858 feat(trading): show positions for all connected keys
  apps/trading-e2e/src/integration/trading-positions.cy.ts
  apps/trading/client-pages/markets/closed.spec.tsx
  apps/trading/client-pages/markets/closed.tsx
  apps/trading/client-pages/portfolio/portfolio.tsx
  apps/trading/components/app-loader/app-loader.tsx
  libs/accounts/src/lib/accounts-manager.tsx
  libs/accounts/src/lib/accounts-table.tsx
  libs/data-provider/src/generic-data-provider.ts
  libs/datagrid/src/lib/use-bottom-placeholder.tsx
  libs/fills/src/lib/fills-manager.tsx
  libs/markets/src/lib/markets.mock.ts
  libs/orders/src/lib/components/order-list-manager/order-list-manager.tsx
  libs/positions/src/lib/Positions.graphql
  libs/positions/src/lib/__generated__/Positions.ts
  libs/positions/src/lib/positions-container.tsx
  libs/positions/src/lib/positions-data-providers.spec.ts
  libs/positions/src/lib/positions-data-providers.ts
  libs/positions/src/lib/positions-manager.tsx
  libs/positions/src/lib/positions-table.spec.tsx
  libs/positions/src/lib/positions-table.stories.tsx
  libs/positions/src/lib/positions-table.tsx
  libs/positions/src/lib/positions.mock.ts
  libs/positions/src/lib/use-open-volume.ts
  libs/positions/src/lib/use-positions-data.spec.tsx
  libs/positions/src/lib/use-positions-data.tsx
Labels: explorer-preview, governance-preview, trading-preview

#3963 chore(governance): reward tests passing
  apps/governance-e2e/src/integration/flow/rewards-flow.cy.ts
  apps/governance-e2e/src/support/staking.functions.ts
Labels: governance-preview

#3962 fix(explorer,trading): remove vega.trading links
  .github/workflows/add-ipfs-notes-to-release.yml
  apps/explorer/.env.mainnet
  apps/liquidity-provision-dashboard/.env.mainnet
  apps/trading-e2e/src/integration/market-info.cy.ts
  apps/trading/.env
  apps/trading/.env.capsule
  apps/trading/.env.devnet
  apps/trading/.env.mainnet
  apps/trading/.env.stagnet1
  apps/trading/.env.testnet
  apps/trading/.env.validators-testnet
  apps/trading/components/banner/upgrade-banner.tsx
  libs/environment/src/hooks/mocks/github-releases.ts
  libs/environment/src/hooks/use-links.ts
Labels: explorer-preview, governance-preview, trading-preview

#3968 chore(trading): bump version v0.20.13-core-0.71.4
  apps/trading/.env.mainnet
Labels: trading-preview

#3964 chore(trading,governance,explorer): update issue templates to include check in specs repo
  .github/ISSUE_TEMPLATE/chore.md
  .github/ISSUE_TEMPLATE/user-story.md
Labels: explorer-preview, governance-preview, trading-preview

#3969 chore(trading): update vega.trading to console.vega.xyz
  .github/workflows/add-ipfs-notes-to-release.yml
  .github/workflows/publish-dist.yml
  .github/workflows/rollback-console.yml
  apps/trading/components/banner/upgrade-banner.tsx
Labels: trading-preview

#3978 fix(trading): show full node URI in trading footer
  apps/trading/components/footer/footer.spec.tsx
  apps/trading/components/footer/footer.tsx
Labels: trading-preview

#3954 chore(markets): keep market list live updated
  libs/data-provider/src/generic-data-provider.spec.ts
  libs/data-provider/src/generic-data-provider.ts
  libs/data-provider/src/use-data-provider.ts
  libs/markets/src/lib/components/markets-container/market-list-table.tsx
  libs/markets/src/lib/components/markets-container/markets-container.tsx
  libs/markets/src/lib/market-utils.ts
Labels: explorer-preview, governance-preview, trading-preview

#3977 test(trading): withdrawal details for extra security e2e tests
  apps/trading-e2e/src/integration/capsule.cy.ts
  libs/web3/src/lib/withdrawal-approval-dialog.tsx
Labels: explorer-preview, governance-preview, trading-preview

#3975 fix(explorer): fix stagnet1 env
  apps/explorer-e2e/.env
  apps/explorer-e2e/.env.devnet
  apps/explorer-e2e/.env.mainnet
  apps/explorer-e2e/.env.testnet
  apps/explorer/.env
  apps/explorer/.env.stagnet1
Labels: explorer-preview

#3996 fix(governance): dont start listening for pending eth events until connected
  apps/governance/src/hooks/use-listen-for-staking-events.ts
Labels: governance-preview

#3976 fix(explorer,trading): typo in release notes template
  .github/workflows/add-ipfs-notes-to-release.yml
Labels: common, explorer-preview, governance-preview, trading-preview

#3944 fix(trading): performance issues with many orders
  apps/trading/components/app-loader/app-loader.tsx
  apps/trading/pages/_app.page.tsx
  libs/data-provider/src/generic-data-provider.ts
  libs/deal-ticket/src/components/deal-ticket/deal-ticket.tsx
  libs/deal-ticket/src/hooks/use-fee-deal-ticket-details.tsx
  libs/orders/src/lib/components/order-data-provider/order-data-provider.ts
  libs/orders/src/lib/components/order-list-manager/order-list-manager.tsx
  libs/orders/src/lib/components/order-list/order-list.tsx
  libs/wallet/src/use-vega-transaction-updater.tsx
  libs/web3/src/lib/use-vega-transaction-toasts.tsx
Labels: explorer-preview, governance-preview, trading-preview

#4008 chore(governance): 3929 proposal acs
  .gitignore
  apps/governance-e2e/cypress.config.js
  apps/governance-e2e/src/integration/flow/proposal-details.cy.ts
  apps/governance-e2e/src/integration/flow/proposal-flow.cy.ts
  apps/governance-e2e/src/integration/flow/proposal-forms.cy.ts
  apps/governance-e2e/src/integration/view/proposal.cy.ts
  apps/governance-e2e/src/support/governance.functions.ts
Labels: governance-preview

#4001 test(trading): add network param mocks
  apps/trading-e2e/src/support/trading.ts
  libs/cypress/src/lib/mock-gql.ts
  libs/network-parameters/src/network-params.mock.ts
Labels: explorer-preview, governance-preview, trading-preview

#4010 chore(governance): revert governance ethereum endpoint to infura
  apps/governance/.env.mainnet
Labels: governance-preview
