Repository vegaprotocol/frontend-monorepo, pull requests merged in 2023-11, with the labels that each got.

#5160 chore(trading): referrals stats tweaks
  apps/trading/client-pages/referrals/hooks/use-referral.ts
  apps/trading/client-pages/referrals/referral-statistics.tsx
  apps/trading/client-pages/referrals/table.tsx
  apps/trading/client-pages/referrals/tile.tsx
  libs/environment/src/hooks/use-links.ts
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5162 chore(trading): ignore .next from lint
  apps/trading/.eslintrc.json
Labels: trading-preview

#5158 fix(trading): empty items loaded text
  libs/datagrid/src/index.ts
  libs/datagrid/src/lib/pagination.spec.tsx
  libs/datagrid/src/lib/pagination.tsx
  libs/fills/src/lib/fills-manager.tsx
  libs/funding-payments/src/lib/funding-payments-manager.tsx
  libs/orders/src/lib/components/order-list-manager/order-list-manager.tsx
  libs/trades/src/lib/trades-manager.tsx
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5163 feat(deal-ticket): get discounts for estimation from previous epoch
  libs/deal-ticket/src/hooks/use-estimate-fees.spec.tsx
  libs/deal-ticket/src/hooks/use-estimate-fees.tsx
Labels: explorer-preview, governance-preview, trading-preview

#5169 fix(trading): pagination limit for candles
  libs/candles-chart/src/lib/Candles.graphql
  libs/candles-chart/src/lib/__generated__/Candles.ts
  libs/markets/src/lib/__generated__/market-candles.ts
  libs/markets/src/lib/__generated__/markets-candles.ts
  libs/markets/src/lib/market-candles.graphql
  libs/markets/src/lib/markets-candles.graphql
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5173 fix(deal-ticket): fees breakdown rendering issues
  apps/governance/src/routes/proposals/components/proposal-referral-program-details/proposal-referral-program-details.spec.tsx
  libs/deal-ticket/src/components/deal-ticket/deal-ticket-fee-details.tsx
  libs/deal-ticket/src/components/fees-breakdown/fees-breakdown.spec.tsx
  libs/deal-ticket/src/components/fees-breakdown/fees-breakdown.tsx
  libs/markets/src/lib/market-utils.spec.tsx
  libs/utils/src/lib/format/number.spec.ts
  libs/utils/src/lib/format/number.ts
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5175 chore(trading): misc changes to trades and transfer
  libs/accounts/src/lib/accounts-data-provider.ts
  libs/accounts/src/lib/transfer-container.tsx
  libs/accounts/src/lib/transfer-form.tsx
  libs/datagrid/src/lib/pagination.tsx
  libs/trades/src/lib/trades-manager.tsx
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5172 fix(explorer): format new network params correctly
  apps/explorer/src/app/routes/network-parameters/network-parameters.tsx
Labels: explorer-preview

#5174 feat(explorer): add timestamp to tx list
  apps/explorer/src/app/components/txs/txs-infinite-list-item.spec.tsx
  apps/explorer/src/app/components/txs/txs-infinite-list-item.tsx
  apps/explorer/src/app/components/txs/txs-infinite-list.tsx
  apps/explorer/src/app/routes/types/block-explorer-response.d.ts
Labels: explorer-preview

#5182 fix(accounts): dont add vesting account balances to used total
  libs/accounts/src/lib/accounts-data-provider.ts
Labels: explorer-preview, governance-preview, trading-preview

#5181 fix(trading): hide funding tabs if market is not perp
  apps/trading/client-pages/market/trade-panels.tsx
Labels: trading-preview

#5135 feat(explorer): explorer oracle section rework
  apps/explorer-e2e/src/integration/oracles.cy.js
  apps/explorer/project.json
  apps/explorer/src/app/components/links/hash.tsx
  apps/explorer/src/app/components/links/market-link/Market.graphql
  apps/explorer/src/app/components/links/market-link/__generated__/Market.ts
  apps/explorer/src/app/components/links/market-link/market-link.spec.tsx
  apps/explorer/src/app/components/links/market-link/market-link.tsx
  apps/explorer/src/app/components/links/oracle-link/oracle-link.spec.tsx
  apps/explorer/src/app/components/links/oracle-link/oracle-link.tsx
  apps/explorer/src/app/components/order-details/amend-order-details.spec.tsx
  apps/explorer/src/app/components/time-ago/index.tsx
  apps/explorer/src/app/components/txs/details/Governance-asset.graphql
  apps/explorer/src/app/components/txs/details/liquidity-provision/components/liquidity-provision-details-row.spec.tsx
  apps/explorer/src/app/components/txs/details/liquidity-provision/components/liquidity-provision-details-row.tsx
  apps/explorer/src/app/components/txs/details/liquidity-provision/components/liquidity-provision-mid.spec.tsx
  apps/explorer/src/app/components/txs/details/liquidity-provision/components/liquidity-provision-mid.tsx
  apps/explorer/src/app/components/txs/details/liquidity-provision/components/liquidity-provision-offset.spec.tsx
  apps/explorer/src/app/components/txs/details/liquidity-provision/components/liquidity-provision-offset.tsx
  apps/explorer/src/app/components/txs/details/liquidity-provision/liquidity-provision-details.spec.tsx
  apps/explorer/src/app/components/txs/details/liquidity-provision/liquidity-provision-details.tsx
  apps/explorer/src/app/components/txs/details/order/tx-order-peg.tsx
  apps/explorer/src/app/components/txs/details/transfer/blocks/transfer-participants.tsx
  apps/explorer/src/app/components/txs/details/tx-chain-event.tsx
  apps/explorer/src/app/components/txs/details/tx-liquidity-amend.tsx
  apps/explorer/src/app/components/txs/details/tx-liquidity-submission.tsx
  apps/explorer/src/app/routes/oracles/Oracles.graphql
  apps/explorer/src/app/routes/oracles/OraclesForMarkets.graphql
  apps/explorer/src/app/routes/oracles/__generated__/Oracles.ts
  apps/explorer/src/app/routes/oracles/__generated__/OraclesForMarkets.ts
  apps/explorer/src/app/routes/oracles/components/oracle-data.spec.tsx
  apps/explorer/src/app/routes/oracles/components/oracle-data.tsx
  apps/explorer/src/app/routes/oracles/components/oracle-details-type.spec.tsx
  apps/explorer/src/app/routes/oracles/components/oracle-details-type.tsx
  apps/explorer/src/app/routes/oracles/components/oracle-eth-source.tsx
  apps/explorer/src/app/routes/oracles/components/oracle-filter.spec.tsx
  apps/explorer/src/app/routes/oracles/components/oracle-filter.tsx
  apps/explorer/src/app/routes/oracles/components/oracle-markets.spec.tsx
  apps/explorer/src/app/routes/oracles/components/oracle-markets.tsx
  apps/explorer/src/app/routes/oracles/components/oracle-spec/condition.tsx
  apps/explorer/src/app/routes/oracles/components/oracle-spec/internal-time-trigger.tsx
  apps/explorer/src/app/routes/oracles/components/oracle-spec/operator.tsx
  apps/explorer/src/app/routes/oracles/components/oracle.tsx
  apps/explorer/src/app/routes/oracles/home/index.tsx
  apps/explorer/src/app/routes/oracles/id/index.tsx
  apps/explorer/src/types/explorer.d.ts
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5190 feat(explorer): new labels for proposals
  apps/explorer/src/app/components/txs/tx-order-type.tsx
Labels: explorer-preview

#5186 chore(trading): fees page use window length in label
  apps/trading/components/fees-container/fees-container.spec.tsx
  apps/trading/components/fees-container/fees-container.tsx
Labels: trading-preview

#5184 fix(accounts): fix key selection and validation, and add use max to transfers
  libs/accounts/src/lib/transfer-container.tsx
  libs/accounts/src/lib/transfer-form.spec.tsx
  libs/accounts/src/lib/transfer-form.tsx
Labels: explorer-preview, governance-preview, trading-preview

#5187 feat(explorer): update liquidity submission view
  apps/explorer/project.json
  apps/explorer/src/app/components/txs/details/liquidity-provision/Explorer-settlement-asset.graphql
  apps/explorer/src/app/components/txs/details/liquidity-provision/__generated__/Explorer-settlement-asset.ts
  apps/explorer/src/app/components/txs/details/order/tx-order-peg.tsx
  apps/explorer/src/app/components/txs/details/tx-details-wrapper.tsx
  apps/explorer/src/app/components/txs/details/tx-liquidity-submission.test.tsx
  apps/explorer/src/app/components/txs/details/tx-liquidity-submission.tsx
  apps/explorer/src/app/components/txs/tx-filter.tsx
  apps/explorer/src/app/hooks/get-txs-data-url.ts
  apps/explorer/src/app/hooks/get-txs-data-urls.spec.ts
Labels: explorer-preview

#5204 fix(trading): update LP table on Updating next epoch
  apps/trading-e2e/src/integration/market-liquidity.cy.ts
  libs/liquidity/src/lib/liquidity-table.spec.tsx
  libs/liquidity/src/lib/liquidity-table.tsx
Labels: explorer-preview, governance-preview, trading-preview

#5206 feat(governance,accounts): vesting and vested accound in wallet card, fix transfer form to account
  apps/governance/src/components/vega-wallet/hooks.ts
  apps/governance/src/components/wallet-card/wallet-card.tsx
  apps/governance/src/i18n/translations/dev.json
  libs/accounts/src/lib/transfer-form.spec.tsx
  libs/accounts/src/lib/transfer-form.tsx
  libs/environment/src/hooks/use-links.ts
  libs/network-parameters/src/use-network-params.ts
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5205 feat(trading): fee discounts tweaks
  apps/trading/client-pages/transfer/transfer.spec.tsx
  apps/trading/client-pages/withdraw/withdraw.spec.tsx
  libs/deal-ticket/src/components/deal-ticket/deal-ticket-fee-details.tsx
  libs/deal-ticket/src/components/fees-breakdown/fees-breakdown.tsx
  libs/fills/src/lib/fills-table.spec.tsx
  libs/fills/src/lib/fills-table.tsx
Labels: explorer-preview, governance-preview, trading-preview

#5213 chore(candles-chart): update pennant package so chart draws at 60 fps
  package.json
  yarn.lock
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5210 fix(environment): missing block height in node switcher
  libs/environment/src/components/node-switcher/row-data.spec.tsx
  libs/environment/src/components/node-switcher/row-data.tsx
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5214 chore(ci): fix prepare dist
  docker/prepare-dist.sh
Labels: explorer-preview, governance-preview, trading-preview

#5212 feat(accounts): transfer form improvements to handle transfers from vesting accounts
  libs/accounts/src/lib/transfer-container.tsx
  libs/accounts/src/lib/transfer-form.spec.tsx
  libs/accounts/src/lib/transfer-form.tsx
  libs/network-parameters/src/use-network-params.ts
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5217 fix(trading): fees page issues
  apps/trading/components/fees-container/Fees.graphql
  apps/trading/components/fees-container/__generated__/Fees.ts
  apps/trading/components/fees-container/fees-container.tsx
  apps/trading/components/fees-container/stat.tsx
  apps/trading/components/fees-container/use-referral-stats.spec.ts
  apps/trading/components/fees-container/use-referral-stats.ts
  apps/trading/components/fees-container/utils.spec.ts
  apps/trading/components/fees-container/utils.ts
Labels: trading-preview

#5211 feat(trading): close position stopped and IOC behaviour update
  libs/deal-ticket/src/components/deal-ticket/deal-ticket.tsx
  libs/orders/src/lib/components/order-list-manager/order-list-manager.tsx
  libs/orders/src/lib/components/order-list/order-list.tsx
  libs/web3/src/lib/TransactionResult.graphql
  libs/web3/src/lib/__generated__/TransactionResult.ts
  libs/web3/src/lib/use-vega-transaction-store.spec.tsx
  libs/web3/src/lib/use-vega-transaction-toasts.spec.tsx
  libs/web3/src/lib/use-vega-transaction-toasts.tsx
  libs/web3/src/lib/use-vega-transaction-updater.spec.tsx
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5218 fix(trading): display funding rate when market in monitoring auction
  libs/markets/src/lib/market-data-provider.ts
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5250 fix(trading): fix percentage formatter rounding in liquidity table
  libs/liquidity/src/lib/liquidity-table.tsx
Labels: explorer-preview, governance-preview, trading-preview

#5207 chore(trading): add git hash and tag into settings view
  apps/trading/components/settings/settings.tsx
  apps/trading/next.config.js
Labels: trading-preview

#5251 feat(trading): referral preview update
  apps/trading/client-pages/referrals/apply-code-form.tsx
  apps/trading/client-pages/referrals/referral-statistics.tsx
Labels: trading-preview

#5199 chore(trading): add console-test
  .github/workflows/ci-cd-trigger.yml
  .github/workflows/console-test-run.yml
  .gitignore
  apps/trading/e2e/.env
  apps/trading/e2e/.env.develop
  apps/trading/e2e/.env.main
  apps/trading/e2e/README.md
  apps/trading/e2e/actions/utils.py
  apps/trading/e2e/actions/vega.py
  apps/trading/e2e/config.py
  apps/trading/e2e/conftest.py
  apps/trading/e2e/fixtures/market.py
  apps/trading/e2e/poetry.lock
  apps/trading/e2e/pyproject.toml
  apps/trading/e2e/tests/assets/test_assets.py
  apps/trading/e2e/tests/chart_depth/test_chart_depth.py
  apps/trading/e2e/tests/deal_ticket/test_basic_submit.py
  apps/trading/e2e/tests/deal_ticket/test_deal_ticket_basics.py
  apps/trading/e2e/tests/deal_ticket/test_fees_margin_estimations.py
  apps/trading/e2e/tests/deal_ticket/test_stop_order.py
  apps/trading/e2e/tests/deal_ticket/test_stop_order_oco.py
  apps/trading/e2e/tests/deal_ticket/test_trading_deal_ticket_submit_account.py
  apps/trading/e2e/tests/get_started/test_get_started.py
  apps/trading/e2e/tests/iceberg_orders/test_iceberg_orders.py
  apps/trading/e2e/tests/liquidity_provision/test_liquidity_provision.py
  apps/trading/e2e/tests/market/test_closed_markets.py
  apps/trading/e2e/tests/market/test_market.py
  apps/trading/e2e/tests/market/test_market_info.py
  apps/trading/e2e/tests/market/test_market_selector.py
  apps/trading/e2e/tests/market/test_markets_all.py
  apps/trading/e2e/tests/market/test_markets_no_markets.py
  apps/trading/e2e/tests/market/test_markets_proposed.py
  apps/trading/e2e/tests/market/test_monitoring_auction_price_volatility_market.py
  apps/trading/e2e/tests/market_lifecycle/test_market_lifecycle.py
  apps/trading/e2e/tests/navigation/test_navigation.py
  apps/trading/e2e/tests/order/test_order_details.py
  apps/trading/e2e/tests/order/test_order_match.py
  apps/trading/e2e/tests/order/test_order_status.py
  apps/trading/e2e/tests/orderbook/test_orderbook.py
  apps/trading/e2e/tests/pnl/test_pnl.py
  apps/trading/e2e/tests/portfolio/test_ledger_entries.py
  apps/trading/e2e/tests/positions/test_collateral.py
  apps/trading/e2e/tests/positions/test_positions.py
  apps/trading/e2e/tests/settings/test_settings.py
  apps/trading/e2e/tests/successor_market/test_succession_line.py
  apps/trading/e2e/tests/trade_history/test_trade_history.py
  apps/trading/e2e/tests/trade_match/test_trade_match.py
  apps/trading/e2e/tests/trading_chart/test_trading_chart.py
  apps/trading/e2e/tests/transfer/test_transfer_key_to_key.py
  docker/prepare-dist.sh
  package.json
Labels: trading-preview

#5258 chore(trading,governance,explorer): disable prettier tailwind plugin
  .prettierignore
  libs/announcements/.babelrc
  libs/positions/.babelrc
  package.json
  yarn.lock
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5243 fix(explorer): improve chain event tx view for contract calls
  apps/explorer/src/app/components/txs/details/chain-events/index.tsx
  apps/explorer/src/app/components/txs/details/chain-events/tx-contract-call.spec.tsx
  apps/explorer/src/app/components/txs/details/chain-events/tx-contract-call.tsx
  apps/explorer/src/app/components/txs/details/tx-chain-event.tsx
Labels: explorer-preview

#5240 feat(explorer): simplify party accounts page
  apps/explorer/src/app/components/asset-balance/asset-balance.tsx
  apps/explorer/src/app/routes/parties/id/components/party-accounts.tsx
Labels: explorer-preview

#5259 chore(trading): fix tests from i18n
  apps/trading/e2e/README.md
  apps/trading/e2e/tests/deal_ticket/test_trading_deal_ticket_submit_account.py
  apps/trading/e2e/tests/market/test_monitoring_auction_price_volatility_market.py
  yarn.lock
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5237 chore(governance): vesting balances
  apps/governance-e2e/src/integration/view/wallet-vega.cy.ts
  apps/governance-e2e/src/support/staking.functions.ts
  apps/governance/src/components/vega-wallet/hooks.ts
  apps/governance/src/components/vega-wallet/vega-wallet.tsx
  apps/governance/src/components/wallet-card/wallet-card.tsx
Labels: governance-preview

#5278 chore(ci): remove unused netlify configs
  apps/explorer/netlify.toml
  apps/explorer/project.json
  apps/governance/README.md
  apps/governance/netlify.toml
  apps/governance/project.json
  apps/liquidity-provision-dashboard/netlify.toml
  apps/liquidity-provision-dashboard/project.json
  apps/multisig-signer/netlify.toml
  apps/multisig-signer/project.json
  apps/static/netlify.toml
  apps/static/project.json
  apps/trading/netlify.toml
  apps/trading/project.json
  netlify.toml
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5222 feat(trading): rewards page
  apps/trading/client-pages/rewards/index.ts
  apps/trading/client-pages/rewards/rewards.tsx
  apps/trading/components/card/card.tsx
  apps/trading/components/card/index.ts
  apps/trading/components/fees-container/fees-card.tsx
  apps/trading/components/fees-container/fees-container.tsx
  apps/trading/components/fees-container/stat.tsx
  apps/trading/components/navbar/navbar.spec.tsx
  apps/trading/components/navbar/navbar.tsx
  apps/trading/components/rewards-container/Rewards.graphql
  apps/trading/components/rewards-container/__generated__/Rewards.ts
  apps/trading/components/rewards-container/index.ts
  apps/trading/components/rewards-container/rewards-container.spec.tsx
  apps/trading/components/rewards-container/rewards-container.tsx
  apps/trading/components/rewards-container/rewards-history.spec.tsx
  apps/trading/components/rewards-container/rewards-history.tsx
  apps/trading/components/rewards-container/use-reward-row-data.ts
  apps/trading/lib/links.ts
  apps/trading/pages/client-router.tsx
  libs/accounts/src/lib/accounts-data-provider.ts
  libs/assets/src/lib/index.ts
  libs/assets/src/lib/utils.spec.ts
  libs/assets/src/lib/utils.ts
  libs/markets/src/lib/__generated__/index.ts
  libs/markets/src/lib/index.ts
  libs/markets/src/lib/markets-candles.graphql
  libs/network-parameters/src/use-network-params.ts
  libs/ui-toolkit/src/components/icon/vega-icons/svg-icons/icon-chevron-right.tsx
  libs/ui-toolkit/src/components/icon/vega-icons/svg-icons/icon-lock.tsx
  libs/ui-toolkit/src/components/icon/vega-icons/vega-icon-record.ts
  libs/ui-toolkit/src/components/trading-button/trading-button.tsx
  specs/7009-REWA-rewards.md
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5280 fix(trading): do not use stakeToCcyVolume to format fees value
  libs/liquidity/src/lib/liquidity-table.tsx
Labels: explorer-preview, governance-preview, trading-preview

#5281 chore(trading): remove some redundant capsule tests
  apps/trading-e2e/src/integration/capsule.cy.ts
  apps/trading-e2e/src/integration/home-node-network.cy.ts
  libs/environment/src/components/node-switcher/node-swticher.spec.tsx
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5283 feat(trading): perps markets in trading python tests
  apps/trading/e2e/conftest.py
  apps/trading/e2e/fixtures/market.py
Labels: trading-preview

#5287 chore(trading): delete duplicate cypress tests
  apps/trading-e2e/src/integration/trading-deal-ticket-submit-account-validation.cy.ts
  apps/trading-e2e/src/integration/trading-deal-ticket-submit-batch-auction.cy.ts
  apps/trading-e2e/src/integration/trading-deal-ticket-submit-monitoring-auction.cy.ts
  apps/trading-e2e/src/integration/trading-deal-ticket-submit-opening-auction.cy.ts
Labels: trading-preview

#5288 chore(trading): update vega-market-sim
  apps/trading/e2e/poetry.lock
Labels: trading-preview

#5292 fix(trading): show deal ticket in sidebar by default
  apps/trading/client-pages/markets/markets-sidebar.tsx
Labels: explorer-preview, governance-preview, trading-preview

#5290 fix(proposals): perpetual proposed markets
  apps/governance-e2e/src/fixtures/mocks/proposals.ts
  apps/governance/src/routes/proposals/components/proposal-detail-header/proposal-header.spec.tsx
  apps/governance/src/routes/proposals/components/proposal-detail-header/proposal-header.tsx
  apps/governance/src/routes/proposals/proposal/Proposal.graphql
  apps/governance/src/routes/proposals/proposal/__generated__/Proposal.ts
  apps/governance/src/routes/proposals/proposals/Proposals.graphql
  apps/governance/src/routes/proposals/proposals/__generated__/Proposals.ts
  libs/markets/src/lib/__generated__/index.ts
  libs/markets/src/lib/markets-candles.graphql
  libs/proposals/src/components/proposals-list/proposal-list.spec.tsx
  libs/proposals/src/components/proposals-list/use-column-defs.tsx
  libs/proposals/src/lib/proposals-data-provider/Proposals.graphql
  libs/proposals/src/lib/proposals-data-provider/__generated__/Proposals.ts
  libs/proposals/src/lib/proposals-data-provider/proposals.mock.ts
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5303 fix(trading): fees page fixes for mainnet
  apps/trading/components/fees-container/Fees.graphql
  apps/trading/components/fees-container/__generated__/Fees.ts
  apps/trading/components/fees-container/fees-container.tsx
  apps/trading/components/fees-container/stat.tsx
  apps/trading/components/fees-container/use-referral-stats.spec.ts
  apps/trading/components/fees-container/use-referral-stats.ts
  apps/trading/components/fees-container/utils.spec.ts
  apps/trading/components/fees-container/utils.ts
Labels: trading-preview

#5304 feat(governance): enable volume discount update view
  apps/governance/.env
  apps/governance/.env.capsule
  apps/governance/.env.devnet
  apps/governance/.env.mainnet
  apps/governance/.env.mainnet-mirror
  apps/governance/.env.stagnet1
  apps/governance/.env.testnet
  apps/governance/.env.validators-testnet
  apps/governance/src/routes/home/index.tsx
  apps/governance/src/routes/proposals/components/proposal-volume-discount-program-details/proposal-volume-discount-program-details.tsx
  apps/governance/src/routes/proposals/proposal/Proposal.graphql
  apps/governance/src/routes/proposals/proposal/__generated__/Proposal.ts
  apps/governance/src/routes/proposals/proposal/proposal-container.tsx
  apps/governance/src/routes/proposals/proposals/Proposals.graphql
  apps/governance/src/routes/proposals/proposals/__generated__/Proposals.ts
  apps/governance/src/routes/proposals/proposals/proposals-container.tsx
  apps/governance/src/routes/proposals/rejected/rejected-proposals-container.tsx
Labels: governance-preview

#5307 feat(governance): enable volume discount update view (#5304)
  apps/governance/.env
  apps/governance/.env.capsule
  apps/governance/.env.devnet
  apps/governance/.env.mainnet
  apps/governance/.env.mainnet-mirror
  apps/governance/.env.stagnet1
  apps/governance/.env.testnet
  apps/governance/.env.validators-testnet
  apps/governance/src/routes/home/index.tsx
  apps/governance/src/routes/proposals/components/proposal-volume-discount-program-details/proposal-volume-discount-program-details.tsx
  apps/governance/src/routes/proposals/proposal/Proposal.graphql
  apps/governance/src/routes/proposals/proposal/__generated__/Proposal.ts
  apps/governance/src/routes/proposals/proposal/proposal-container.tsx
  apps/governance/src/routes/proposals/proposals/Proposals.graphql
  apps/governance/src/routes/proposals/proposals/__generated__/Proposals.ts
  apps/governance/src/routes/proposals/proposals/proposals-container.tsx
  apps/governance/src/routes/proposals/rejected/rejected-proposals-container.tsx
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5305 chore(deal-ticket,markets): dont show margin estimate for perps
  libs/deal-ticket/src/components/deal-ticket/deal-ticket-fee-details.tsx
  libs/markets/src/lib/market-utils.ts
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5309 chore(governance,trading): sync with mainnet fixes
  apps/governance-e2e/src/fixtures/mocks/proposals.ts
  apps/governance/src/routes/proposals/components/proposal-detail-header/proposal-header.spec.tsx
  apps/governance/src/routes/proposals/components/proposal-detail-header/proposal-header.tsx
  apps/governance/src/routes/proposals/proposal/Proposal.graphql
  apps/governance/src/routes/proposals/proposal/__generated__/Proposal.ts
  apps/governance/src/routes/proposals/proposals/Proposals.graphql
  apps/governance/src/routes/proposals/proposals/__generated__/Proposals.ts
  apps/trading/client-pages/markets/markets-sidebar.tsx
  libs/deal-ticket/src/components/deal-ticket/deal-ticket-fee-details.tsx
  libs/liquidity/src/lib/liquidity-table.tsx
  libs/markets/src/lib/market-utils.ts
  libs/proposals/src/components/proposals-list/proposal-list.spec.tsx
  libs/proposals/src/components/proposals-list/use-column-defs.tsx
  libs/proposals/src/lib/proposals-data-provider/Proposals.graphql
  libs/proposals/src/lib/proposals-data-provider/__generated__/Proposals.ts
  libs/proposals/src/lib/proposals-data-provider/proposals.mock.ts
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5247 feat(liquidity): use i18next
  libs/i18n/src/locales/en/liquidity.json
  libs/liquidity/__mocks__/react-i18next.ts
  libs/liquidity/src/lib/liquidity-table.tsx
  libs/liquidity/src/lib/use-t.jsx
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5248 feat(ledger): use i18next
  libs/i18n/src/locales/en/ledger.json
  libs/ledger/__mocks__/react-i18next.ts
  libs/ledger/src/lib/ledger-download-store.tsx
  libs/ledger/src/lib/ledger-export-form.tsx
  libs/ledger/src/lib/use-t.jsx
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5255 feat(markets): use i18next
  apps/trading/components/liquidity-header/liquidity-header.tsx
  libs/i18n/src/index.ts
  libs/i18n/src/locales/en/markets.json
  libs/markets/src/lib/components/last-24h-price-change/last-24h-price-change.tsx
  libs/markets/src/lib/components/last-24h-volume/last-24h-volume.tsx
  libs/markets/src/lib/components/market-info/info-key-value-table.tsx
  libs/markets/src/lib/components/market-info/market-info-accordion.tsx
  libs/markets/src/lib/components/market-info/market-info-panels.tsx
  libs/markets/src/lib/components/market-info/tooltip-mapping.tsx
  libs/markets/src/lib/components/oracle-banner/oracle-banner.tsx
  libs/markets/src/lib/components/oracle-banner/oracle-statuses.ts
  libs/markets/src/lib/components/oracle-basic-profile/oracle-basic-profile.tsx
  libs/markets/src/lib/components/oracle-full-profile/oracle-full-profile.tsx
  libs/markets/src/lib/use-t.jsx
  libs/markets/src/setup-tests.ts
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5256 feat(web3): use i18next
  libs/i18n/src/index.ts
  libs/i18n/src/locales/en/web3.json
  libs/web3/src/lib/ethereum-transaction-dialog/dialog-rows.tsx
  libs/web3/src/lib/ethereum-transaction-dialog/ethereum-transaction-dialog.tsx
  libs/web3/src/lib/use-ethereum-transaction-toasts.tsx
  libs/web3/src/lib/use-ethereum-transaction.tsx
  libs/web3/src/lib/use-ethereum-withdraw-approval-toasts.tsx
  libs/web3/src/lib/use-ethereum-withdraw-approvals-manager.tsx
  libs/web3/src/lib/use-t.ts
  libs/web3/src/lib/use-vega-transaction-toasts.spec.tsx
  libs/web3/src/lib/use-vega-transaction-toasts.tsx
  libs/web3/src/lib/web3-connect-dialog.tsx
  libs/web3/src/lib/withdrawal-approval-dialog.tsx
  libs/web3/src/lib/withdrawal-approval-status.tsx
  libs/web3/src/setup-tests.ts
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5266 feat(positions): use i18next
  libs/i18n/src/index.ts
  libs/i18n/src/locales/en/positions.json
  libs/positions/src/lib/liquidation-price.tsx
  libs/positions/src/lib/position-actions-dropdown.tsx
  libs/positions/src/lib/positions-manager.tsx
  libs/positions/src/lib/positions-table.tsx
  libs/positions/src/setup-tests.ts
  libs/positions/src/use-t.ts
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5263 feat(orders): use i18next
  libs/deal-ticket/src/components/deal-ticket/deal-ticket-stop-order.tsx
  libs/deal-ticket/src/components/deal-ticket/deal-ticket.spec.tsx
  libs/deal-ticket/src/components/deal-ticket/time-in-force-selector.tsx
  libs/i18n/src/locales/en/deal-ticket.json
  libs/i18n/src/locales/en/orders.json
  libs/orders/src/lib/components/open-orders-menu/open-orders-menu.tsx
  libs/orders/src/lib/components/order-list-manager/order-list-manager.tsx
  libs/orders/src/lib/components/order-list/order-edit-dialog.spec.tsx
  libs/orders/src/lib/components/order-list/order-edit-dialog.tsx
  libs/orders/src/lib/components/order-list/order-list.tsx
  libs/orders/src/lib/components/order-list/order-view-dialog.tsx
  libs/orders/src/lib/components/stop-orders-manager/stop-orders-manager.tsx
  libs/orders/src/lib/components/stop-orders-table/stop-orders-table.spec.tsx
  libs/orders/src/lib/components/stop-orders-table/stop-orders-table.tsx
  libs/orders/src/lib/index.ts
  libs/orders/src/lib/use-t.ts
  libs/orders/src/lib/utils.spec.ts
  libs/orders/src/lib/utils.ts
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5267 feat(market-depth): use i18next
  libs/i18n/src/locales/en/market-depth.json
  libs/market-depth/__mocks__/react-i18next.ts
  libs/market-depth/src/lib/depth-chart.tsx
  libs/market-depth/src/lib/orderbook.tsx
  libs/market-depth/src/lib/use-t.jsx
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5268 feat(trades): use i18next
  libs/i18n/src/index.ts
  libs/i18n/src/locales/en/trades.json
  libs/trades/__mocks__/react-i18next.ts
  libs/trades/src/lib/trades-manager.tsx
  libs/trades/src/lib/trades-table.tsx
  libs/trades/src/lib/use-t.ts
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5269 feat(utils): use i18next
  apps/governance/src/routes/proposals/propose/new-asset/propose-new-asset.tsx
  apps/governance/src/routes/proposals/propose/new-market/propose-new-market.tsx
  apps/governance/src/routes/proposals/propose/raw/propose-raw.tsx
  apps/governance/src/routes/proposals/propose/update-asset/propose-update-asset.tsx
  apps/governance/src/routes/proposals/propose/update-market/propose-update-market.tsx
  libs/accounts/src/lib/transfer-form.tsx
  libs/deal-ticket/src/components/deal-ticket/deal-ticket-size-iceberg.tsx
  libs/deal-ticket/src/components/deal-ticket/deal-ticket-stop-order.tsx
  libs/deal-ticket/src/components/deal-ticket/deal-ticket.tsx
  libs/deposits/src/lib/deposit-form.tsx
  libs/i18n/src/locales/en/utils.json
  libs/orders/src/lib/components/order-list/order-edit-dialog.tsx
  libs/orders/src/lib/components/stop-orders-table/stop-orders-table.tsx
  libs/utils/__mocks__/react-i18next.ts
  libs/utils/src/lib/format/trigger.ts
  libs/utils/src/lib/markets.ts
  libs/utils/src/lib/use-t.ts
  libs/utils/src/lib/validate/common.spec.ts
  libs/utils/src/lib/validate/common.ts
  libs/utils/src/lib/validate/validate-amount.ts
  libs/web3/src/lib/use-vega-transaction-toasts.tsx
  libs/withdraws/src/lib/withdraw-form.tsx
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5289 feat(ui-toolkit): use i18next
  apps/explorer/src/app/app.tsx
  apps/explorer/src/app/setup-tests.ts
  apps/explorer/src/assets/locales
  apps/explorer/src/i18n/index.ts
  libs/i18n/src/index.ts
  libs/i18n/src/locales/en/explorer.json
  libs/i18n/src/locales/en/ui-toolkit.json
  libs/ui-toolkit/__mocks__/react-i18next.ts
  libs/ui-toolkit/src/components/async-renderer/async-renderer.tsx
  libs/ui-toolkit/src/components/dropdown-menu/dropdown-menu.tsx
  libs/ui-toolkit/src/components/healthbar/healthbar.tsx
  libs/ui-toolkit/src/components/show-more/show-more.tsx
  libs/ui-toolkit/src/components/theme-switcher/theme-switcher.tsx
  libs/ui-toolkit/src/components/toast/toast-position-setter.tsx
  libs/ui-toolkit/src/components/toast/toast.tsx
  libs/ui-toolkit/src/components/toast/toasts-container.tsx
  libs/ui-toolkit/src/components/trading-dropdown/trading-dropdown.tsx
  libs/ui-toolkit/src/components/vega-logo/vega-logo.tsx
  libs/ui-toolkit/src/components/viewing-as-user/index.tsx
  libs/ui-toolkit/src/use-t.ts
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5284 feat(proposals): use i18next
  apps/governance/src/routes/proposals/components/propose/proposal-form-transaction-dialog.tsx
  libs/i18n/src/index.ts
  libs/i18n/src/locales/en/proposals.json
  libs/proposals/src/components/asset-proposal-notification.tsx
  libs/proposals/src/components/market-proposal-notification.tsx
  libs/proposals/src/components/proposal-actions-dropdown.tsx
  libs/proposals/src/components/proposals-list/proposals-list.tsx
  libs/proposals/src/components/proposals-list/use-column-defs.tsx
  libs/proposals/src/components/protocol-upgrade-countdown.tsx
  libs/proposals/src/components/protocol-upgrade-in-progress-notification.tsx
  libs/proposals/src/components/protocol-upgrade-proposal-notification.tsx
  libs/proposals/src/components/vega-transaction-dialog/vega-transaction-dialog.tsx
  libs/proposals/src/lib/proposals-hooks/use-proposal-toasts.tsx
  libs/proposals/src/setup-tests.ts
  libs/proposals/src/use-t.ts
  libs/proposals/src/utils/proposal-dialog-helpers.tsx
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5315 fix(trading): remove account balance formatting on use max
  libs/accounts/src/lib/accounts-table.spec.tsx
  libs/accounts/src/lib/transfer-form.spec.tsx
  libs/accounts/src/lib/transfer-form.tsx
Labels: explorer-preview, governance-preview, trading-preview

#5317 chore(deal-ticket): re-enable margin estimates for perps
  libs/deal-ticket/src/components/deal-ticket/deal-ticket-fee-details.tsx
Labels: explorer-preview, governance-preview, trading-preview

#5312 feat(trading): fix markets i18n namespace, add missing label, preload all namespaces
  apps/trading/client-pages/market/market.tsx
  apps/trading/client-pages/referrals/apply-code-form.tsx
  apps/trading/client-pages/rewards/rewards.tsx
  apps/trading/components/rewards-container/rewards-container.tsx
  apps/trading/components/rewards-container/rewards-history.tsx
  apps/trading/e2e/tests/iceberg_orders/test_iceberg_orders.py
  apps/trading/e2e/tests/market/test_markets_proposed.py
  apps/trading/e2e/tests/settings/test_settings.py
  apps/trading/e2e/tests/transfer/test_transfer_key_to_key.py
  apps/trading/lib/i18n/index.ts
  libs/i18n/src/locales/en/markets.json
  libs/i18n/src/locales/en/trading.json
  libs/markets/src/lib/components/market-info/market-info-panels.tsx
  libs/markets/src/lib/components/oracle-full-profile/oracle-full-profile.tsx
  libs/markets/src/lib/use-t.jsx
  libs/web3/src/lib/use-vega-transaction-toasts.tsx
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5299 feat(wallet): use i18next
  libs/i18n/src/index.ts
  libs/i18n/src/locales/en/wallet.json
  libs/wallet/src/connect-dialog/connect-dialog-elements.tsx
  libs/wallet/src/connect-dialog/connect-dialog.tsx
  libs/wallet/src/connect-dialog/injected-connector-form.tsx
  libs/wallet/src/connect-dialog/json-rpc-connector-form.tsx
  libs/wallet/src/connect-dialog/view-connector-form.tsx
  libs/wallet/src/connectors/json-rpc-connector.ts
  libs/wallet/src/manage-dialog/manage-dialog.tsx
  libs/wallet/src/setup-tests.ts
  libs/wallet/src/use-t.ts
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5285 feat(withdraws): use i18next
  libs/i18n/src/locales/en/withdraws.json
  libs/withdraws/__mocks__/react-i18next.ts
  libs/withdraws/src/lib/create-withdrawal-dialog.tsx
  libs/withdraws/src/lib/use-ready-to-complete-withdrawals-toast.tsx
  libs/withdraws/src/lib/use-t.ts
  libs/withdraws/src/lib/use-verify-withdrawal.ts
  libs/withdraws/src/lib/withdraw-form-container.tsx
  libs/withdraws/src/lib/withdraw-form.tsx
  libs/withdraws/src/lib/withdraw-limits.tsx
  libs/withdraws/src/lib/withdrawal-feedback.tsx
  libs/withdraws/src/lib/withdrawals-table.tsx
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5286 chore(trading): migrate LP cypress tests
  apps/trading-e2e/src/integration/market-liquidity.cy.ts
  apps/trading/e2e/actions/utils.py
  apps/trading/e2e/fixtures/market.py
  apps/trading/e2e/tests/deal_ticket/test_fees_margin_estimations.py
  apps/trading/e2e/tests/deal_ticket/test_stop_order.py
  apps/trading/e2e/tests/deal_ticket/test_stop_order_oco.py
  apps/trading/e2e/tests/deal_ticket/test_trading_deal_ticket_submit_account.py
  apps/trading/e2e/tests/get_started/test_get_started.py
  apps/trading/e2e/tests/iceberg_orders/test_iceberg_orders.py
  apps/trading/e2e/tests/liquidity_provision/test_liquidity_provision.py
  apps/trading/e2e/tests/market/test_market.py
  apps/trading/e2e/tests/market/test_markets_proposed.py
  apps/trading/e2e/tests/market/test_monitoring_auction_price_volatility_market.py
  apps/trading/e2e/tests/market_lifecycle/test_market_lifecycle.py
  apps/trading/e2e/tests/orderbook/test_orderbook.py
  apps/trading/e2e/tests/pnl/test_pnl.py
  apps/trading/e2e/tests/trading_chart/test_trading_chart.py
  apps/trading/e2e/tests/transfer/test_transfer_key_to_key.py
  apps/trading/e2e/wallet_config.py
  libs/liquidity/src/lib/liquidity-table.spec.tsx
Labels: explorer-preview, governance-preview, trading-preview

#5321 chore(ci): specific ganache image
  vegacapsule/config.hcl
Labels: explorer-preview, governance-preview, trading-preview

#5322 chore(ci): increase number of tests in parallel
  .github/workflows/console-test-run.yml
Labels: explorer-preview, governance-preview, trading-preview

#5313 chore(trading): python tests update vega version
  .github/workflows/console-test-run.yml
  apps/trading/e2e/.env
  apps/trading/e2e/.env.develop
  apps/trading/e2e/.env.main
Labels: trading-preview

#5324 feat(trading): market list snags and disable column removal
  apps/trading/client-pages/markets/market-list-table.tsx
  apps/trading/client-pages/markets/use-column-defs.tsx
  apps/trading/e2e/tests/market/test_markets_all.py
  libs/datagrid/src/lib/ag-grid/ag-grid-themed.tsx
  libs/markets/src/lib/__generated__/markets-data.ts
  libs/markets/src/lib/markets-data.graphql
  libs/markets/src/lib/markets-data.mock.ts
  libs/positions/src/lib/positions-data-providers.ts
  libs/types/src/__generated__/types.ts
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5332 chore(governance): sensible vote numbers
  apps/governance/src/routes/proposals/components/vote-breakdown/vote-breakdown.spec.tsx
  apps/governance/src/routes/proposals/components/vote-breakdown/vote-breakdown.tsx
  libs/react-helpers/src/lib/format/number.tsx
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5329 chore(trading): move python stop order tests to jest
  apps/trading/e2e/tests/deal_ticket/test_stop_order_oco.py
  libs/deal-ticket/src/components/deal-ticket/deal-ticket-stop-order.spec.tsx
Labels: explorer-preview, governance-preview, trading-preview

#5327 chore(ci): create traces dir
  .github/workflows/console-test-run.yml
  apps/trading/e2e/conftest.py
Labels: trading-preview

#5333 chore(ci): reduce number of runners for python tests
  .github/workflows/console-test-run.yml
Labels: explorer-preview, governance-preview, trading-preview

#5337 chore(trading): fix change keys edge case
  apps/trading/e2e/actions/utils.py
Labels: trading-preview

#5339 chore(trading): migrate python tests to jest
  apps/trading/e2e/tests/chart_depth/test_chart_depth.py
  apps/trading/e2e/tests/deal_ticket/test_basic_submit.py
  apps/trading/e2e/tests/iceberg_orders/test_iceberg_orders.py
  libs/deal-ticket/src/components/deal-ticket/deal-ticket.spec.tsx
  libs/market-depth/src/lib/depth-chart.spec.tsx
Labels: explorer-preview, governance-preview, trading-preview

#5294 feat(trading): referral initial state when no sets are available
  apps/trading/client-pages/referrals/create-code-form.tsx
  apps/trading/client-pages/referrals/tiers.tsx
  libs/environment/src/hooks/use-links.ts
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5338 feat(trading): copy apply referral link from code tile
  apps/trading/client-pages/referrals/tile.tsx
  libs/ui-toolkit/src/components/copy-with-tooltip/copy-with-tooltip.tsx
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5347 feat(trading): update title on rewards and fees pages
  apps/trading/client-pages/fees/fees.tsx
  apps/trading/client-pages/rewards/rewards.tsx
Labels: trading-preview

#5344 feat(trading): reset console to default
  .gitignore
  apps/trading/components/settings/settings.spec.tsx
  apps/trading/components/settings/settings.tsx
Labels: explorer-preview, governance-preview, trading-preview

#5342 feat(trading): show percentage sign on y axis in funding rate chart
  apps/trading/components/funding-container/funding-container.tsx
  package.json
  yarn.lock
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5354 fix(wallet): empty connect dialog
  libs/wallet/src/connect-dialog/use-chain-id.spec.ts
  libs/wallet/src/connect-dialog/use-chain-id.ts
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5352 chore(trading): merge main in develop
  apps/trading/components/settings/settings.spec.tsx
  apps/trading/components/settings/settings.tsx
  apps/trading/e2e/tests/transfer/test_transfer_key_to_key.py
  libs/accounts/src/lib/accounts-table.spec.tsx
  libs/accounts/src/lib/transfer-form.spec.tsx
  libs/accounts/src/lib/transfer-form.tsx
Labels: explorer-preview, governance-preview, trading-preview

#5361 chore(trading): back merge main
  .gitignore
  apps/trading/e2e/tests/transfer/test_transfer_key_to_key.py
  libs/deal-ticket/src/components/deal-ticket/deal-ticket-fee-details.tsx
  libs/positions/src/lib/positions-manager.spec.tsx
  libs/positions/src/lib/positions-manager.tsx
Labels: explorer-preview, governance-preview, trading-preview

#5368 fix(trading): ag-grid styling updates and filter fixes
  apps/trading/client-pages/market/market.tsx
  apps/trading/client-pages/markets/open-markets.tsx
  apps/trading/pages/styles.css
Labels: trading-preview

#5362 feat(trading): refactor ledger export form validation
  apps/trading/components/ledger-container/ledger-container.tsx
  libs/i18n/src/locales/en/ledger.json
  libs/ledger/src/lib/ledger-export-form.spec.tsx
  libs/ledger/src/lib/ledger-export-form.tsx
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5353 feat(deal-ticket): enhance for fee discounts
  libs/deal-ticket/src/components/deal-ticket/deal-ticket-fee-details.tsx
  libs/deal-ticket/src/components/discounts.spec.ts
  libs/deal-ticket/src/components/discounts.ts
  libs/deal-ticket/src/components/fees-breakdown/fees-breakdown.spec.tsx
  libs/deal-ticket/src/components/fees-breakdown/fees-breakdown.tsx
  libs/i18n/src/locales/en/deal-ticket.json
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5320 feat(trading): i18n language switcher
  apps/trading/components/navbar/navbar.spec.tsx
  apps/trading/components/navbar/navbar.tsx
  apps/trading/lib/i18n/index.ts
  apps/trading/lib/use-t.ts
  apps/trading/pages/_app.page.tsx
  libs/i18n/src/locales/en/environment.json
  libs/ui-toolkit/src/components/icon/vega-icons/svg-icons/icon-globe.tsx
  libs/ui-toolkit/src/components/icon/vega-icons/svg-icons/icon-moon.tsx
  libs/ui-toolkit/src/components/icon/vega-icons/svg-icons/icon-sun.tsx
  libs/ui-toolkit/src/components/icon/vega-icons/vega-icon-record.ts
  libs/ui-toolkit/src/components/icon/vega-icons/vega-icon.tsx
  libs/ui-toolkit/src/components/index.ts
  libs/ui-toolkit/src/components/language-selector/index.ts
  libs/ui-toolkit/src/components/language-selector/language-selector.tsx
  libs/ui-toolkit/src/components/theme-switcher/icons.tsx
  libs/ui-toolkit/src/components/theme-switcher/index.tsx
  libs/ui-toolkit/src/components/theme-switcher/theme-switcher.tsx
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5382 fix(trading): ag-grid compactness adjustment
  apps/trading/pages/styles.css
Labels: trading-preview

#5377 fix(trading): fix ag-grid transparent filters
  apps/trading/pages/styles.css
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5379 feat(trading): refactor ledger export form validation
  apps/trading/components/ledger-container/ledger-container.tsx
  libs/ledger/src/lib/ledger-export-form.spec.tsx
  libs/ledger/src/lib/ledger-export-form.tsx
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5385 feat(trading): remove proposal warning from market header
  apps/trading-e2e/src/integration/market-proposal-notification.cy.ts
  apps/trading/client-pages/market/market-header-stats.tsx
  libs/proposals/src/components/market-proposal-notification.tsx
  libs/ui-toolkit/src/components/notification/notification.tsx
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5387 fix(trading): fees accrued tooltip
  libs/datagrid/src/lib/ag-grid/ag-grid-themed.tsx
  libs/liquidity/src/lib/liquidity-table.tsx
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5378 fix(trading): missing volume discount program issue, inverted tiers
  apps/trading/client-pages/referrals/hooks/use-referral-program.ts
  apps/trading/client-pages/referrals/referral-statistics.tsx
  apps/trading/client-pages/referrals/tiers.tsx
  apps/trading/components/fees-container/fees-container.tsx
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5384 fix(governance): sensible vote numbers
  apps/governance/src/routes/proposals/components/vote-breakdown/vote-breakdown.spec.tsx
  apps/governance/src/routes/proposals/components/vote-breakdown/vote-breakdown.tsx
  libs/react-helpers/src/lib/format/number.tsx
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5393 chore(trading, datagrid, liquidity, proposals, ui-toolkit): sync main
  apps/trading/client-pages/market/market-header-stats.tsx
  apps/trading/client-pages/referrals/hooks/use-referral-program.ts
  apps/trading/client-pages/referrals/referral-statistics.tsx
  apps/trading/client-pages/referrals/tiers.tsx
  apps/trading/components/fees-container/fees-container.tsx
  libs/datagrid/src/lib/ag-grid/ag-grid-themed.tsx
  libs/liquidity/src/lib/liquidity-table.tsx
  libs/proposals/src/components/market-proposal-notification.tsx
  libs/ui-toolkit/src/components/notification/notification.tsx
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5331 feat(trading): upgrade i18n, fix plurals
  apps/trading/client-pages/referrals/apply-code-form.tsx
  apps/trading/client-pages/referrals/referral-statistics.tsx
  apps/trading/client-pages/referrals/tiers.tsx
  apps/trading/components/fees-container/fees-container.tsx
  libs/datagrid/__mocks__/react-i18next.ts
  libs/datagrid/src/lib/pagination.spec.tsx
  libs/datagrid/src/lib/pagination.tsx
  libs/datagrid/src/setup-tests.ts
  libs/deal-ticket/src/components/deal-ticket/time-in-force-selector.tsx
  libs/deposits/src/lib/approve-notification.tsx
  libs/environment/__mocks__/react-i18next.ts
  libs/environment/src/hooks/use-node-health.ts
  libs/environment/src/setup-tests.ts
  libs/i18n/src/locales/en/environment.json
  libs/i18n/src/locales/en/markets.json
  libs/i18n/src/locales/en/proposals.json
  libs/i18n/src/locales/en/trading.json
  libs/i18n/src/locales/en/web3.json
  libs/i18n/src/locales/en/withdraws.json
  libs/positions/src/lib/positions-table.tsx
  libs/proposals/src/components/protocol-upgrade-countdown.tsx
  libs/proposals/src/components/protocol-upgrade-proposal-notification.tsx
  libs/web3/src/lib/ethereum-transaction-dialog/ethereum-transaction-dialog.tsx
  libs/web3/src/lib/use-ethereum-transaction-toasts.tsx
  libs/web3/src/lib/use-ethereum-withdraw-approvals-manager.tsx
  libs/web3/src/lib/use-vega-transaction-toasts.spec.tsx
  libs/web3/src/lib/use-vega-transaction-toasts.tsx
  package.json
  yarn.lock
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5367 chore(trading): migrate cypress tests to python
  apps/trading-e2e/src/integration/market-summary.cy.ts
  apps/trading-e2e/src/integration/vega-wallet-prompt.cy.ts
  apps/trading-e2e/src/integration/wallet-eth.cy.ts
  apps/trading-e2e/src/integration/wallet-vega.cy.ts
  apps/trading/e2e/tests/market_lifecycle/test_market_lifecycle.py
  apps/trading/e2e/tests/wallet/test_wallet.py
Labels: trading-preview

#5396 chore(trading): update vega version
  apps/trading/e2e/.env
  apps/trading/e2e/.env.develop
  apps/trading/e2e/.env.main
Labels: trading-preview

#5264 feat(explorer): add signature viewer
  apps/explorer/src/app/components/assets/assets-table.tsx
  apps/explorer/src/app/components/proposals/proposals-table.tsx
  apps/explorer/src/app/components/signature/signature.tsx
  apps/explorer/src/app/components/txs/details/shared/tx-details-shared.tsx
  apps/explorer/src/app/components/txs/tx-transfer.spec.tsx
  apps/explorer/src/app/components/txs/txs-infinite-list.spec.tsx
  apps/explorer/src/app/routes/txs/id/tx-details.spec.tsx
  apps/explorer/src/app/routes/types/block-explorer-response.d.ts
Labels: explorer-preview
