Repository vegaprotocol/frontend-monorepo, pull requests merged in 2024-03, with the labels that each got.

#5875 chore(trading): show staking reward cards
  apps/trading/components/rewards-container/active-rewards.tsx
  apps/trading/lib/hooks/use-rewards.ts
  libs/i18n/src/locales/en/trading.json
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5893 chore(trading): enable isolated margin on testnet
  apps/trading/.env.testnet
Labels: trading-preview

#5895 fix(trading): check for batch proposal in trading mode tooltip
  libs/deal-ticket/src/components/trading-mode-tooltip/trading-mode-tooltip.tsx
  libs/proposals/src/lib/proposals-hooks/Proposal.graphql
  libs/proposals/src/lib/proposals-hooks/__generated__/Proposal.ts
  libs/types/src/__generated__/types.ts
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5874 chore(ci): remove unused release script
  package.json
  scripts/make-release.js
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5896 fix(governance): incorrect penalty information in validators table and page
  apps/governance/src/routes/staking/home/validator-tables/consensus-validators-table.spec.tsx
  apps/governance/src/routes/staking/home/validator-tables/consensus-validators-table.tsx
  apps/governance/src/routes/staking/home/validator-tables/shared.tsx
  apps/governance/src/routes/staking/node/validator-table.tsx
Labels: governance-preview

#5901 chore(trading): delete trading-e2e cypress tests
  .github/workflows/cypress-live-test.yml
  .github/workflows/cypress-manual-trigger.yml
  .github/workflows/cypress-nightly.yml
  apps/trading-e2e/.env
  apps/trading-e2e/.env.capsule
  apps/trading-e2e/.eslintrc.json
  apps/trading-e2e/cypress.config.js
  apps/trading-e2e/declaration.d.ts
  apps/trading-e2e/project.json
  apps/trading-e2e/src/index.d.ts
  apps/trading-e2e/src/integration/capsule.cy.ts
  apps/trading-e2e/src/integration/wallet-eth.cy.ts
  apps/trading-e2e/src/support/create-order.ts
  apps/trading-e2e/src/support/deal-ticket.ts
  apps/trading-e2e/src/support/ethereum-wallet.ts
  apps/trading-e2e/src/support/helpers.ts
  apps/trading-e2e/src/support/index.js
  apps/trading-e2e/src/support/order-update-subscription.ts
  apps/trading-e2e/src/support/order-validation.ts
  apps/trading-e2e/src/support/trading.ts
  apps/trading-e2e/tsconfig.json
  apps/trading/README.md
  tools/ci/check-affected.py
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5903 fix(trading): fix tests due to new wallet connection method
  apps/governance-e2e/src/integration/flow/staking-flow.cy.ts
  apps/governance-e2e/src/integration/flow/token-association-flow.cy.ts
  apps/governance-e2e/src/integration/view/home.cy.ts
  apps/governance-e2e/src/integration/view/validators.cy.ts
  apps/governance-e2e/src/integration/view/wallet-vega.cy.ts
  apps/governance-e2e/src/support/common.functions.ts
  libs/cypress/src/lib/commands/mock-chain-id.ts
  libs/cypress/src/lib/commands/vega-wallet-connect.ts
  libs/cypress/src/lib/mock-rest.ts
Labels: explorer-preview, governance-preview, trading-preview

#5908 fix(trading): 24hr price and volume in header
  libs/i18n/src/locales/en/markets.json
  libs/markets/src/lib/components/last-24h-price-change/last-24h-price-change.tsx
  libs/markets/src/lib/components/last-24h-volume/last-24h-volume.tsx
  libs/markets/src/lib/hooks/use-candles.ts
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5904 fix(governance): rewards moved to console notification
  apps/governance/src/components/notifications/rewards-moved-notification.tsx
  apps/governance/src/components/page-templates/app-layout.tsx
  libs/environment/src/hooks/use-links.ts
  libs/i18n/src/locales/en/governance.json
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5910 fix(trading): market into tab 24hr vol and price fix
  apps/trading/e2e/tests/market/test_market_info.py
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5912 chore(trading,governance): back merge hotfixes
  apps/governance/src/components/notifications/rewards-moved-notification.tsx
  apps/governance/src/components/page-templates/app-layout.tsx
  apps/governance/src/routes/staking/home/validator-tables/consensus-validators-table.spec.tsx
  apps/governance/src/routes/staking/home/validator-tables/consensus-validators-table.tsx
  apps/governance/src/routes/staking/home/validator-tables/shared.tsx
  apps/governance/src/routes/staking/node/validator-table.tsx
  apps/trading/e2e/tests/market/test_market_info.py
  libs/environment/src/hooks/use-links.ts
  libs/i18n/src/locales/en/governance.json
  libs/i18n/src/locales/en/markets.json
  libs/markets/src/lib/components/last-24h-price-change/last-24h-price-change.tsx
  libs/markets/src/lib/components/last-24h-volume/last-24h-volume.tsx
  libs/markets/src/lib/hooks/use-candles.ts
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5919 chore(trading): update vega and market-sim
  apps/trading/e2e/.env
  apps/trading/e2e/poetry.lock
  apps/trading/e2e/tests/perpetual_market/test_perpetuals.py
Labels: trading-preview

#5922 fix(trading): fix ci cypress issue
  package.json
  tools/ci/check-affected.py
Labels: explorer-preview, governance-preview, trading-preview

#5926 chore(trading): remove view as pubkey banner
  apps/trading/pages/_app.page.tsx
Labels: trading-preview

#5928 fix(trading): stored state causing wrong chart data
  apps/trading/components/chart-container/chart-container.tsx
  apps/trading/components/chart-container/use-chart-settings.ts
  libs/trading-view/src/lib/trading-view-container.tsx
  libs/trading-view/src/lib/trading-view.tsx
Labels: trading-preview

#5819 feat(trading): key aliases
  apps/trading/components/profile-dialog/index.ts
  apps/trading/components/profile-dialog/profile-dialog.tsx
  apps/trading/components/vega-wallet-connect-button/PartyProfiles.graphql
  apps/trading/components/vega-wallet-connect-button/__generated__/PartyProfiles.ts
  apps/trading/components/vega-wallet-connect-button/vega-wallet-connect-button.spec.tsx
  apps/trading/components/vega-wallet-connect-button/vega-wallet-connect-button.tsx
  apps/trading/pages/dialogs-container.tsx
  apps/trading/stores/profile-dialog-store.ts
  libs/i18n/src/locales/en/trading.json
  libs/wallet-react/src/hooks/use-simple-transaction.ts
  libs/wallet/src/transaction-types.ts
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5921 fix(trading): add team id to games query
  apps/trading/lib/hooks/Games.graphql
  apps/trading/lib/hooks/__generated__/Games.ts
  apps/trading/lib/hooks/use-games.ts
  libs/types/src/__generated__/types.ts
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5920 chore(trading): scoped to teams games
  apps/trading/e2e/tests/teams/test_teams.py
  apps/trading/lib/hooks/use-rewards.spec.ts
  apps/trading/lib/hooks/use-rewards.ts
Labels: trading-preview

#5935 chore(trading): skip market info volume test
  .github/workflows/ci-cd-trigger.yml
  apps/trading/e2e/tests/market/test_market_info.py
Labels: trading-preview

#5933 chore(trading): fix banners test
  apps/trading/e2e/tests/successor_market/test_succession_line.py
Labels: trading-preview

#5916 feat(trading): add additional intervals
  apps/trading/components/chart-container/constants.ts
  libs/candles-chart/src/lib/constants.ts
  libs/candles-chart/src/lib/data-source.ts
  libs/i18n/src/locales/en/trading.json
  libs/trading-view/src/lib/constants.ts
  libs/trading-view/src/lib/use-datafeed.ts
  package.json
  yarn.lock
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5902 feat(trading): take profit and stop loss
  apps/governance-e2e/src/integration/view/home.cy.ts
  libs/deal-ticket/src/components/deal-ticket/deal-ticket-container.tsx
  libs/deal-ticket/src/components/deal-ticket/deal-ticket-price-tp-sl.tsx
  libs/deal-ticket/src/components/deal-ticket/deal-ticket-stop-order.tsx
  libs/deal-ticket/src/components/deal-ticket/deal-ticket.tsx
  libs/deal-ticket/src/hooks/use-form-values.ts
  libs/deal-ticket/src/utils/map-form-values-to-submission.ts
  libs/deal-ticket/src/utils/map-form-values-to-submisstion.spec.ts
  libs/i18n/src/locales/en/deal-ticket.json
  libs/wallet/src/transaction-types.ts
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5915 chore(trading): staking reward card e2e
  apps/trading/e2e/tests/rewards/test_rewards_combo_tier_1.py
Labels: trading-preview

#5946 chore(trading,governance,explorer): back merge hotfixes
  apps/trading/components/chart-container/chart-container.tsx
  apps/trading/components/chart-container/use-chart-settings.ts
  libs/assets/src/lib/constants.ts
  libs/deposits/src/lib/approve-notification.tsx
  libs/deposits/src/lib/deposit-form.tsx
  libs/deposits/src/lib/use-submit-approval.ts
  libs/i18n/src/locales/en/deposits.json
  libs/trading-view/src/lib/trading-view-container.tsx
  libs/trading-view/src/lib/trading-view.tsx
  libs/web3/src/lib/use-ethereum-transaction-manager.tsx
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5945 chore(trading): fix CI for trading e2e tests
  .github/workflows/ci-cd-trigger.yml
  apps/governance-e2e/src/integration/view/home.cy.ts
Labels: explorer-preview, governance-preview, trading-preview

#5909 fix(trading): pick the best node to connect, slow notification notification, other node picking improvements
  apps/trading/components/bootstrapper/bootstrapper.tsx
  libs/environment/src/components/app-failure/app-failure.tsx
  libs/environment/src/components/app-failure/index.ts
  libs/environment/src/components/index.ts
  libs/environment/src/components/node-switcher/row-data.spec.tsx
  libs/environment/src/components/node-switcher/row-data.tsx
  libs/environment/src/hooks/mocks/apollo-client.tsx
  libs/environment/src/hooks/use-environment.spec.ts
  libs/environment/src/hooks/use-environment.ts
  libs/environment/src/hooks/use-node-health.spec.tsx
  libs/environment/src/utils/NodeCheck.graphql
  libs/environment/src/utils/__generated__/NodeCheck.ts
  libs/environment/src/utils/node.mock.ts
  libs/i18n/src/locales/en/trading.json
  libs/utils/src/lib/is-valid-url.ts
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5929 chore(trading): market's tick size
  apps/trading/e2e/tests/rewards/test_rewards_combo_tier_1.py
  libs/deal-ticket/src/components/deal-ticket/deal-ticket-price-tp-sl.tsx
  libs/deal-ticket/src/components/deal-ticket/deal-ticket-size-iceberg.tsx
  libs/deal-ticket/src/components/deal-ticket/deal-ticket-stop-order.tsx
  libs/deal-ticket/src/components/deal-ticket/deal-ticket.spec.tsx
  libs/deal-ticket/src/components/deal-ticket/deal-ticket.tsx
  libs/deal-ticket/src/test-helpers.ts
  libs/deal-ticket/tsconfig.lib.json
  libs/fills/src/lib/test-helpers.ts
  libs/funding-payments/src/lib/test-helpers.ts
  libs/markets/src/lib/__generated__/markets.ts
  libs/markets/src/lib/components/market-info/MarketInfo.graphql
  libs/markets/src/lib/components/market-info/__generated__/MarketInfo.ts
  libs/markets/src/lib/components/market-info/market-info-panels.tsx
  libs/markets/src/lib/components/market-info/market-info.mock.ts
  libs/markets/src/lib/markets.graphql
  libs/markets/src/lib/markets.mock.ts
  libs/orders/src/lib/components/mocks/generate-orders.ts
  libs/orders/src/lib/components/mocks/generate-stop-orders.ts
  libs/orders/src/lib/components/order-list/order-edit-dialog.spec.tsx
  libs/orders/src/lib/components/order-list/order-edit-dialog.tsx
  libs/orders/src/lib/components/order-list/order-view-dialog.spec.tsx
  libs/utils/src/index.ts
  libs/utils/src/lib/format/number.ts
  libs/utils/src/lib/step.ts
  libs/utils/src/lib/validate/validate-amount.spec.ts
  libs/utils/src/lib/validate/validate-amount.ts
  libs/withdraws/src/lib/withdraw-form-container.spec.tsx
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5950 fix(trading): manifest.json and woff preloading
  apps/trading/assets/apple-touch-icon.png
  apps/trading/assets/logo.png
  apps/trading/assets/logo192.png
  apps/trading/assets/manifest.json
  apps/trading/pages/_document.page.tsx
  apps/trading/public/AlphaLyrae.woff
  apps/trading/public/android-chrome-192x192.png
  apps/trading/public/android-chrome-512x512.png
  apps/trading/public/apple-touch-icon.png
  apps/trading/public/env-config.js
  apps/trading/public/favicon-16x16.png
  apps/trading/public/favicon-32x32.png
  apps/trading/public/favicon.ico
  apps/trading/public/manifest.json
  apps/trading/public/robots.txt
Labels: trading-preview

#5947 fix(trading): party alias snags
  apps/trading/components/bootstrapper/bootstrapper.tsx
  apps/trading/components/navbar/navbar.spec.tsx
  apps/trading/components/profile-dialog/profile-dialog.tsx
  apps/trading/components/vega-wallet-connect-button/vega-wallet-connect-button.tsx
  apps/trading/components/vega-wallet/vega-wallet-menu.tsx
  apps/trading/e2e/tests/rewards/test_rewards_combo_tier_1.py
Labels: trading-preview

#5959 fix(trading,types): fix default build and type generation commands
  libs/types/project.json
  libs/utils/project.json
  libs/wallet/project.json
  package.json
  project.json
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5914 chore(governance): lp votes for batch proposal
  apps/governance/src/routes/proposals/components/proposal-detail-header/proposal-header.tsx
  apps/governance/src/routes/proposals/components/proposal/proposal-utils.ts
  apps/governance/src/routes/proposals/components/proposal/proposal.tsx
  apps/governance/src/routes/proposals/components/vote-breakdown/vote-breakdown.tsx
  apps/governance/src/routes/proposals/hooks/use-vote-information.ts
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5962 chore(trading): e2e test for tp and sl
  apps/trading/e2e/tests/deal_ticket/test_tp_sl.py
Labels: trading-preview

#5955 chore(wallet): reduce bundle size by removing unnecessary deps
  libs/cypress/src/lib/capsule/create-market.ts
  libs/cypress/src/lib/capsule/submit-proposal.ts
  libs/cypress/src/lib/utils.ts
  libs/wallet/package.json
  libs/wallet/project.json
  libs/wallet/src/connectors/view-party-connector.ts
  libs/wallet/src/utils.ts
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5968 chore(trading): update vega version to 75 preview 4
  apps/trading/e2e/.env
  apps/trading/e2e/.env.main
  apps/trading/e2e/poetry.lock
Labels: trading-preview

#5965 chore(governance): lp votes for batch proposal
  apps/governance/src/routes/proposals/components/proposal-detail-header/proposal-header.tsx
  apps/governance/src/routes/proposals/components/proposal/proposal-utils.ts
  apps/governance/src/routes/proposals/components/proposal/proposal.tsx
  apps/governance/src/routes/proposals/components/vote-breakdown/vote-breakdown.tsx
  apps/governance/src/routes/proposals/hooks/use-vote-information.ts
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5969 chore(trading): refactor test fixtures
  apps/trading/e2e/tests/orderbook/test_orderbook.py
  apps/trading/e2e/tests/perpetual_market/test_perpetuals.py
  apps/trading/e2e/tests/positions/test_collateral.py
  apps/trading/e2e/tests/teams/test_teams.py
  apps/trading/e2e/tests/trade_match/test_trade_match.py
  apps/trading/e2e/tests/transfer/test_transfer_key_to_key.py
Labels: trading-preview

#5978 chore(trading): fix volume e2e test
  apps/trading/e2e/conftest.py
  apps/trading/e2e/tests/market/test_closed_markets.py
  apps/trading/e2e/tests/market/test_market_selector.py
Labels: trading-preview

#5980 fix(trading): key details panel throwing error on batch created market
  libs/markets/src/lib/components/market-info/market-info-panels.tsx
  libs/proposals/src/lib/proposals-hooks/Proposal.graphql
  libs/proposals/src/lib/proposals-hooks/__generated__/Proposal.ts
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5973 fix(trading): external explorer link
  apps/explorer/src/app/components/links/external-explorer-link/external-chain-icon.tsx
  apps/explorer/src/app/components/links/external-explorer-link/external-explorer-link.tsx
  apps/explorer/src/app/components/txs/details/chain-events/tx-contract-call.tsx
  apps/explorer/src/app/routes/oracles/components/oracle-eth-source.tsx
  libs/environment/src/components/etherscan-link.tsx
  libs/environment/src/external-chain.ts
  libs/environment/src/hooks/use-links.ts
  libs/environment/src/index.ts
  libs/i18n/src/locales/en/environment.json
  libs/i18n/src/locales/en/markets.json
  libs/markets/src/lib/__generated__/OracleMarketsSpec.ts
  libs/markets/src/lib/__generated__/markets.ts
  libs/markets/src/lib/components/market-info/MarketInfo.graphql
  libs/markets/src/lib/components/market-info/__generated__/MarketInfo.ts
  libs/markets/src/lib/components/market-info/market-info-panels.tsx
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5974 fix(trading): incorrect top gaining and top losing order
  apps/trading/components/market-selector/use-market-selector-list.ts
  libs/ui-toolkit/src/components/sparkline/sparkline.tsx
  libs/utils/src/lib/price-change.ts
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5982 chore(trading): point to main market-sim branch
  apps/trading/e2e/pyproject.toml
Labels: trading-preview

#5983 fix(trading): remove invalid candles from price change calc
  libs/datagrid/src/lib/cells/price-change-cell.tsx
  libs/markets/src/lib/components/last-24h-price-change/last-24h-price-change.tsx
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5989 chore(trading): fix poetry lock file
  apps/trading/e2e/poetry.lock
Labels: trading-preview

#5817 feat(explorer): add epoch to block pages
  apps/explorer/src/app/components/epoch-overview/epoch.tsx
  apps/explorer/src/app/components/links/block-link/EpochByBlock.graphql
  apps/explorer/src/app/components/links/block-link/__generated__/EpochByBlock.ts
  apps/explorer/src/app/components/links/block-link/block-link.tsx
  apps/explorer/src/app/components/links/governance-link/governance-link.spec.tsx
  apps/explorer/src/app/components/links/governance-link/governance-link.tsx
  apps/explorer/src/app/components/txs/details/shared/tx-details-shared.tsx
  apps/explorer/src/app/components/txs/details/tx-transfer.tsx
  apps/explorer/src/app/components/txs/tx-order-type.tsx
  apps/explorer/src/app/routes/blocks/id/block.tsx
  apps/explorer/src/app/routes/treasury/components/network-accounts-table.tsx
  apps/explorer/src/app/routes/treasury/components/network-transfers-table.spec.tsx
  apps/explorer/src/app/routes/treasury/components/network-transfers-table.tsx
  apps/explorer/src/app/routes/treasury/network-treasury.tsx
Labels: explorer-preview

#5907 feat(explorer): fees on transfer component
  apps/explorer/src/app/components/size-in-asset/size-in-asset.tsx
  apps/explorer/src/app/components/txs/details/transfer/Transfer.graphql
  apps/explorer/src/app/components/txs/details/transfer/__generated__/Transfer.ts
  apps/explorer/src/app/components/txs/details/transfer/blocks/transfer-participants.tsx
  apps/explorer/src/app/components/txs/details/transfer/transfer-details.tsx
Labels: explorer-preview

#5988 fix(trading): tick size backwards compatibility
  apps/governance/src/routes/proposals/protocol-upgrade/protocol-upgrade-proposal.spec.tsx
  apps/trading/components/bootstrapper/bootstrapper.tsx
  libs/markets/src/lib/__generated__/markets.ts
  libs/markets/src/lib/components/market-info/MarketInfo.graphql
  libs/markets/src/lib/components/market-info/__generated__/MarketInfo.ts
  libs/markets/src/lib/components/market-info/market-info-data-provider.ts
  libs/markets/src/lib/markets-provider.ts
  libs/markets/src/lib/markets.graphql
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5984 fix(trading): remove invalid candles from price change calc (#5983)
  libs/datagrid/src/lib/cells/price-change-cell.tsx
  libs/markets/src/lib/components/last-24h-price-change/last-24h-price-change.tsx
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5991 chore(trading): refactor order status test
  apps/trading/e2e/tests/order/test_order_status.py
Labels: trading-preview

#5990 feat(positions): do not show liquidation price if position openVolume is 0
  libs/positions/src/lib/positions-table.spec.tsx
  libs/positions/src/lib/positions-table.tsx
Labels: explorer-preview, governance-preview, trading-preview

#5987 feat(trading): update validation and rules on take profit and stop loss
  apps/explorer/src/app/components/txs/details/shared/tx-details-shared.tsx
  apps/explorer/src/app/components/txs/tx-transfer.spec.tsx
  apps/trading/.env
  apps/trading/.env.capsule
  apps/trading/.env.mainnet
  apps/trading/.env.stagnet1
  apps/trading/.env.testnet
  apps/trading/.env.validators-testnet
  libs/deal-ticket/src/components/deal-ticket/deal-ticket-price-tp-sl.tsx
  libs/deal-ticket/src/components/deal-ticket/deal-ticket.tsx
  libs/environment/src/hooks/use-environment.ts
  libs/environment/src/types.ts
  libs/environment/src/utils/validate-environment.ts
  libs/markets/src/lib/components/market-info/market-info-panels.tsx
  libs/utils/src/lib/validate/validate-amount.ts
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5995 fix(trading,wallet): improve errors from browser wallet
  libs/wallet/src/connectors/injected-connector.ts
  libs/web3/src/lib/use-vega-transaction-toasts.tsx
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#6004 fix(deal-ticket): dont trigger deal ticket submit when clicking margin
  libs/deal-ticket/src/components/deal-ticket/key-value.tsx
Labels: explorer-preview, governance-preview, trading-preview

#5998 feat(deal-ticket): change min and max leverage
  libs/deal-ticket/src/components/deal-ticket/margin-mode-selector.tsx
  libs/positions/src/lib/positions-data-providers.ts
  libs/ui-toolkit/src/components/slider/leverage-slider.tsx
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#6008 chore(trading): add missing mock for node health
  apps/trading/components/node-health/node-health.spec.tsx
Labels: trading-preview

#6011 chore(trading,governance,explorer): remove theme-lite and tailwind warning
  libs/tailwindcss-config/src/index.ts
  libs/tailwindcss-config/src/theme-lite.ts
  libs/tailwindcss-config/src/vega-custom-classes-lite.ts
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5999 feat(trading): add cap reward fee multiple on the reward cards
  apps/trading/components/rewards-container/active-rewards.tsx
  apps/trading/lib/hooks/Rewards.graphql
  apps/trading/lib/hooks/__generated__/Rewards.ts
  libs/i18n/src/locales/en/trading.json
  libs/types/src/__generated__/types.ts
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#6014 fix(markets,explorer): fallback to ethereum mainnet chain Id if sourceChain is not provided
  libs/markets/src/lib/components/market-info/market-info-panels.tsx
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#6018 chore(trading): fix ssr loader server mismatch, remove preload
  apps/trading/pages/_document.page.tsx
  apps/trading/pages/ssr-loader.tsx
Labels: trading-preview

#5996 feat(markets): new price monitoring bounds panel
  apps/explorer/src/app/components/markets/market-details.tsx
  apps/governance/src/routes/proposals/components/proposal-market-data/proposal-market-data.tsx
  apps/trading/e2e/tests/market/test_market_info.py
  libs/i18n/src/locales/en/markets.json
  libs/i18n/src/locales/en/react-helpers.json
  libs/markets/src/lib/components/market-info/market-info-accordion.tsx
  libs/markets/src/lib/components/market-info/market-info-panels.tsx
  libs/react-helpers/src/hooks/index.ts
  libs/react-helpers/src/hooks/use-duration.ts
  libs/react-helpers/src/use-t.ts
  libs/utils/src/lib/time.spec.ts
  libs/utils/src/lib/time.ts
  libs/utils/tsconfig.lib.json
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#6010 feat(trading): eligibility active rewards
  apps/trading/client-pages/competitions/competitions-team.tsx
  apps/trading/components/competitions/games-container.tsx
  apps/trading/components/rewards-container/active-rewards.spec.tsx
  apps/trading/components/rewards-container/active-rewards.tsx
  apps/trading/components/rewards-container/reward-card.tsx
  apps/trading/components/rewards-container/rewards-container.tsx
  apps/trading/e2e/tests/teams/test_teams.py
  apps/trading/lib/hooks/Rewards.graphql
  apps/trading/lib/hooks/__generated__/Rewards.ts
  libs/apollo-client/src/lib/apollo-client.ts
  libs/assets/src/lib/assets-data-provider.ts
  libs/i18n/src/locales/en/trading.json
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#6020 fix(markets): fix link to explorer oracle
  libs/markets/src/lib/components/market-info/market-info-panels.tsx
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#6015 fix(explorer): fix lp tx filters
  apps/explorer/src/app/components/txs/tx-filter.tsx
Labels: explorer-preview

#6026 fix(governance): hard coded default chain in vega wallet
  apps/governance/src/hooks/use-vega-wallet-config.ts
Labels: governance-preview

#6025 chore(trading): update sim-tests v0.75.0-preview.8
  .github/workflows/console-test-run.yml
  apps/trading/e2e/.env
  apps/trading/e2e/.env.develop
  apps/trading/e2e/poetry.lock
Labels: trading-preview

#6030 chore(trading): move meta tag to remove nextjs warning
  apps/trading/pages/_document.page.tsx
  apps/trading/pages/index.page.tsx
Labels: trading-preview

#6013 feat(emblem): create example emblem component
  libs/emblem/.eslintrc.json
  libs/emblem/.swcrc
  libs/emblem/README.md
  libs/emblem/jest.config.ts
  libs/emblem/project.json
  libs/emblem/src/components/asset-emblem.test.tsx
  libs/emblem/src/components/asset-emblem.tsx
  libs/emblem/src/components/contract-emblem.test.tsx
  libs/emblem/src/components/contract-emblem.tsx
  libs/emblem/src/components/emblem-base.test.tsx
  libs/emblem/src/components/emblem-base.tsx
  libs/emblem/src/components/emblem.test.tsx
  libs/emblem/src/components/emblem.tsx
  libs/emblem/src/components/lib/type-guard.test.ts
  libs/emblem/src/components/lib/type-guard.ts
  libs/emblem/src/config/index.ts
  libs/emblem/src/index.ts
  libs/emblem/src/setup-tests.ts
  libs/emblem/tsconfig.json
  libs/emblem/tsconfig.lib.json
  libs/emblem/tsconfig.spec.json
  tsconfig.base.json
Labels: explorer-preview, governance-preview, trading-preview

#6031 feat(trading): show inactive rewards
  apps/trading/components/rewards-container/reward-card.tsx
  apps/trading/lib/hooks/use-rewards.spec.ts
  apps/trading/lib/hooks/use-rewards.ts
Labels: trading-preview

#6006 feat(deal-ticket): add size slider
  libs/deal-ticket/src/components/deal-ticket/deal-ticket-container.tsx
  libs/deal-ticket/src/components/deal-ticket/deal-ticket.spec.tsx
  libs/deal-ticket/src/components/deal-ticket/deal-ticket.tsx
  libs/deal-ticket/src/hooks/use-max-size.ts
  libs/deal-ticket/tsconfig.lib.json
  libs/deal-ticket/tsconfig.spec.json
  libs/i18n/src/locales/en/deal-ticket.json
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#6037 feat(trading): rewards container tweaks
  apps/trading/components/rewards-container/active-rewards.tsx
  apps/trading/components/rewards-container/rewards-container.tsx
Labels: trading-preview

#6045 fix(governance): withdrawals dissapearing when the withdraw dialog is opened
  apps/governance/src/i18n/index.ts
Labels: governance-preview

#6053 feat(deal-ticket): add useMaxSize unit tests
  libs/deal-ticket/src/components/deal-ticket/deal-ticket.tsx
  libs/deal-ticket/src/hooks/use-max-size.spec.ts
  libs/deal-ticket/src/hooks/use-max-size.ts
Labels: explorer-preview, governance-preview, trading-preview

#6054 feat(trading): team profile improvements
  apps/trading/client-pages/competitions/competitions-team.tsx
  apps/trading/client-pages/competitions/join-team.tsx
  apps/trading/components/competitions/competitions-leaderboard.tsx
  apps/trading/e2e/tests/teams/test_teams.py
  libs/i18n/src/locales/en/trading.json
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#6029 chore(trading): test filtered future cards
  apps/trading/e2e/tests/rewards/test_filtered_cards.py
Labels: trading-preview

#6065 chore(trading): update the vega version for sim tests 75.1
  .github/workflows/console-test-run.yml
  apps/trading/e2e/.env
  apps/trading/e2e/.env.develop
  apps/trading/e2e/poetry.lock
Labels: trading-preview

#6069 chore(trading): update teams tests
  apps/trading/e2e/tests/teams/test_teams.py
Labels: trading-preview

#6067 fix(markets): make trading app spot compatible
  libs/markets/src/lib/OracleMarketsSpec.graphql
  libs/markets/src/lib/__generated__/OracleMarketsSpec.ts
  libs/markets/src/lib/__generated__/markets.ts
  libs/markets/src/lib/components/market-info/MarketInfo.graphql
  libs/markets/src/lib/components/market-info/__generated__/MarketInfo.ts
  libs/markets/src/lib/market-utils.ts
  libs/markets/src/lib/markets.graphql
  libs/trading-view/src/lib/Symbol.graphql
  libs/trading-view/src/lib/__generated__/Symbol.ts
  libs/types/src/__generated__/types.ts
  libs/types/src/global-types-mappings.ts
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#6073 chore(trading): tests for market to auction
  apps/trading/e2e/tests/market/test_continuous_market_to_price_monitoring_auction.py
Labels: trading-preview

#6057 feat(deal-ticket): use order price if markPrice is not available in useMaxSize
  libs/deal-ticket/src/components/deal-ticket/deal-ticket-container.tsx
  libs/deal-ticket/src/components/deal-ticket/deal-ticket-fee-details.tsx
  libs/deal-ticket/src/components/deal-ticket/deal-ticket.tsx
  libs/deal-ticket/src/hooks/use-max-size.ts
Labels: explorer-preview, governance-preview, trading-preview

#6077 feat(trading): games container search bar
  apps/trading/components/competitions/games-container.tsx
  apps/trading/components/rewards-container/active-rewards.tsx
  apps/trading/components/rewards-container/reward-card.tsx
  libs/i18n/src/locales/en/trading.json
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#6081 fix(trading): wrong team image showing
  apps/trading/components/competitions/competitions-leaderboard.tsx
  apps/trading/components/competitions/team-avatar.tsx
Labels: trading-preview

#6071 chore(trading): date format on team profile page
  apps/trading/client-pages/competitions/competitions-team.tsx
Labels: trading-preview

#6082 feat(trading): align deal ticket checkboxes
  libs/deal-ticket/src/components/deal-ticket/deal-ticket.tsx
Labels: explorer-preview, governance-preview, trading-preview

#6090 fix(markets): use quote asset for settlement in spot markets
  libs/markets/src/lib/market-utils.ts
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#6094 fix(trading): pick the best node to connect, slow notification
  apps/trading/components/bootstrapper/bootstrapper.tsx
  libs/environment/src/components/app-failure/app-failure.tsx
  libs/environment/src/components/app-failure/index.ts
  libs/environment/src/components/index.ts
  libs/environment/src/components/node-switcher/row-data.spec.tsx
  libs/environment/src/components/node-switcher/row-data.tsx
  libs/environment/src/hooks/mocks/apollo-client.tsx
  libs/environment/src/hooks/use-environment.spec.ts
  libs/environment/src/hooks/use-environment.ts
  libs/environment/src/hooks/use-node-health.spec.tsx
  libs/environment/src/utils/NodeCheck.graphql
  libs/environment/src/utils/__generated__/NodeCheck.ts
  libs/environment/src/utils/node.mock.ts
  libs/i18n/src/locales/en/trading.json
  libs/utils/src/lib/is-valid-url.ts
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#6083 fix(trading): game results
  apps/trading/client-pages/competitions/competitions-team.tsx
  apps/trading/components/competitions/games-container.tsx
  apps/trading/components/rewards-container/active-rewards.tsx
  apps/trading/components/rewards-container/reward-card.tsx
  apps/trading/e2e/poetry.lock
  apps/trading/lib/hooks/Games.graphql
  apps/trading/lib/hooks/__generated__/Games.ts
  apps/trading/lib/hooks/use-games.ts
  libs/types/src/__generated__/types.ts
  libs/utils/src/lib/format/number.ts
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#6095 fix(accounts): changing key does not update ticket
  libs/accounts/src/lib/use-account-balance.tsx
  libs/accounts/src/lib/use-margin-account-balance.tsx
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#6100 fix(positions): getColId error
  libs/positions/src/lib/positions-table.tsx
Labels: explorer-preview, governance-preview, trading-preview

#6096 fix(trading): add bg color to depth chart labels to clarify numbers
  apps/trading/pages/styles.css
  package.json
  yarn.lock
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#6078 feat(trading): show rank table in dispatch strategy tooltip
  apps/trading/components/rewards-container/rank-table.spec.tsx
  apps/trading/components/rewards-container/rank-table.tsx
  apps/trading/components/rewards-container/reward-card.tsx
  libs/i18n/src/locales/en/trading.json
  libs/types/src/global-types-mappings.ts
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#6111 fix(trading): do not show alias edit on read only
  apps/trading/components/vega-wallet-connect-button/vega-wallet-connect-button.tsx
Labels: trading-preview

#6119 feat(trading): use notional for candle calcs
  apps/trading/client-pages/market/market-header-stats.tsx
  apps/trading/client-pages/markets/use-column-defs.tsx
  apps/trading/components/market-banner/market-settled-banner.spec.tsx
  apps/trading/components/market-selector/market-selector-item.spec.tsx
  libs/markets/src/lib/__generated__/market-candles.ts
  libs/markets/src/lib/__generated__/markets-candles.ts
  libs/markets/src/lib/components/last-24h-volume/last-24h-volume.tsx
  libs/markets/src/lib/components/market-info/market-info-panels.tsx
  libs/markets/src/lib/market-candles-provider.spec.ts
  libs/markets/src/lib/market-candles.graphql
  libs/markets/src/lib/market-candles.mock.ts
  libs/markets/src/lib/market-utils.spec.tsx
  libs/markets/src/lib/market-utils.ts
  libs/markets/src/lib/markets-candles.mock.ts
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#6118 fix(trading): prevent whole app rerender on price bounds and withdrawals
  apps/trading/lib/i18n/index.ts
Labels: trading-preview

#6121 fix(trading): remove the apploader from bootstrap
  apps/trading/components/bootstrapper/bootstrapper.tsx
  libs/i18n/src/locales/en/trading.json
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#6125 fix(markets): use position decimals in notional calculation
  apps/trading/client-pages/markets/use-column-defs.tsx
  libs/markets/src/lib/components/last-24h-volume/last-24h-volume.tsx
  libs/markets/src/lib/market-utils.spec.tsx
  libs/markets/src/lib/market-utils.ts
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#6117 chore(markets): remove trading mode and type from market query
  apps/explorer/src/app/components/markets/markets-table.tsx
  apps/explorer/src/app/routes/markets/markets-page.tsx
  apps/trading/client-pages/market/market-header-stats.tsx
  apps/trading/client-pages/markets/closed.spec.tsx
  apps/trading/client-pages/markets/closed.tsx
  apps/trading/client-pages/markets/proposals-list/proposal-list.spec.tsx
  apps/trading/client-pages/markets/proposals-list/use-column-defs.tsx
  apps/trading/client-pages/markets/settlement-date-cell.tsx
  apps/trading/client-pages/markets/use-column-defs.tsx
  apps/trading/components/market-selector/market-selector-item.tsx
  apps/trading/components/market-selector/market-selector.tsx
  apps/trading/components/market-selector/use-market-selector-list.spec.tsx
  apps/trading/components/market-state/market-state.tsx
  apps/trading/components/market-trading-mode/market-trading-mode.tsx
  apps/trading/components/rewards-container/reward-card.tsx
  apps/trading/e2e/tests/market/test_continuous_market_to_price_monitoring_auction.py
  apps/trading/lib/hooks/use-rewards.ts
  apps/trading/lib/hooks/use-top-traded-markets.tsx
  libs/deal-ticket/src/components/deal-ticket/deal-ticket.spec.tsx
  libs/deal-ticket/src/test-helpers.ts
  libs/deal-ticket/src/utils/map-form-values-to-submisstion.spec.ts
  libs/fills/src/lib/test-helpers.ts
  libs/funding-payments/src/lib/test-helpers.ts
  libs/markets/src/lib/__generated__/markets.ts
  libs/markets/src/lib/market-utils.spec.tsx
  libs/markets/src/lib/market-utils.ts
  libs/markets/src/lib/markets-provider.ts
  libs/markets/src/lib/markets.graphql
  libs/markets/src/lib/markets.mock.ts
  libs/orders/src/lib/components/mocks/generate-orders.ts
  libs/orders/src/lib/components/mocks/generate-stop-orders.ts
  libs/orders/src/lib/components/order-list/order-view-dialog.spec.tsx
  libs/positions/src/lib/positions-data-providers.spec.ts
  libs/positions/src/lib/positions-data-providers.ts
  libs/utils/src/lib/markets.ts
  libs/withdraws/src/lib/withdraw-form-container.spec.tsx
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#6104 fix(governance): fix market info not showing in proposals
  apps/governance/src/components/heading/heading.tsx
  apps/governance/src/routes/proposals/components/proposal-market-data/proposal-market-data.tsx
  apps/governance/src/routes/proposals/components/proposal/proposal-change-details.tsx
  apps/governance/src/routes/proposals/components/proposal/proposal.tsx
  apps/governance/src/styles.css
Labels: governance-preview

#6113 feat(trading): show oracle spec in index price stats
  apps/trading/client-pages/market/market-header-stats.tsx
  libs/deal-ticket/src/test-helpers.ts
  libs/fills/src/lib/test-helpers.ts
  libs/funding-payments/src/lib/test-helpers.ts
  libs/markets/src/lib/__generated__/OracleMarketsSpec.ts
  libs/markets/src/lib/__generated__/markets.ts
  libs/markets/src/lib/markets.graphql
  libs/markets/src/lib/markets.mock.ts
  libs/orders/src/lib/components/mocks/generate-orders.ts
  libs/orders/src/lib/components/mocks/generate-stop-orders.ts
  libs/orders/src/lib/components/order-data-provider/order-data-provider.ts
  libs/orders/src/lib/components/order-list/order-view-dialog.spec.tsx
  libs/withdraws/src/lib/withdraw-form-container.spec.tsx
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#6133 fix(trading,governance): align validator testnet name, add chain config
  apps/explorer/.env.validators-testnet
  apps/governance/.env.validators-testnet
  apps/governance/src/config/env.ts
  apps/governance/src/hooks/use-vega-wallet-config.ts
  apps/multisig-signer/.env.validators-testnet
  apps/trading/.env.validators-testnet
  apps/trading/lib/hooks/use-vega-wallet-config.ts
  libs/environment/src/chains.ts
  libs/environment/src/components/network-switcher/network-switcher.spec.tsx
  libs/environment/src/components/network-switcher/network-switcher.tsx
  libs/environment/src/hooks/use-links.ts
  libs/environment/src/types.ts
  libs/i18n/src/locales/en/deal-ticket.json
  libs/i18n/src/locales/en/environment.json
  libs/wallet/src/chains.ts
  libs/wallet/src/index.ts
  tools/ci/define-dist-variables.py
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#6122 fix(trading): recurring governance transfers after 0.75.1
  apps/trading/components/competitions/games-container.tsx
  apps/trading/components/rewards-container/active-rewards.tsx
  apps/trading/lib/hooks/Rewards.graphql
  apps/trading/lib/hooks/__generated__/Rewards.ts
  apps/trading/lib/hooks/use-rewards.ts
Labels: trading-preview

#6132 fix(trading): fix market sim tests
  .github/workflows/console-test-run.yml
  apps/trading/e2e/.env
  apps/trading/e2e/.env.develop
  apps/trading/e2e/poetry.lock
  apps/trading/e2e/pyproject.develop.toml
  apps/trading/e2e/pyproject.toml
  apps/trading/e2e/tests/market/test_closed_markets.py
  apps/trading/e2e/tests/perpetual_market/test_perpetuals.py
Labels: trading-preview
