Repository vegaprotocol/frontend-monorepo, pull requests merged in 2024-04, with the labels that each got.

#6143 fix(trading): missing states in market banner for update market state
  apps/trading/client-pages/markets/closed.spec.tsx
  apps/trading/components/market-banner/market-banner.tsx
  apps/trading/components/market-banner/market-update-state-banner.tsx
  apps/trading/e2e/tests/perpetual_market/test_perpetuals.py
  libs/i18n/src/locales/en/trading.json
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#6131 fix(explorer): fix timeout out explorer page for oracles by market
  apps/explorer/src/app/routes/oracles/OraclesForMarkets.graphql
  apps/explorer/src/app/routes/oracles/__generated__/OraclesForMarkets.ts
Labels: explorer-preview

#6146 chore(trading): back merge hotfixes
  apps/trading/components/market-banner/market-banner.tsx
  apps/trading/components/market-banner/market-update-state-banner.tsx
  apps/trading/e2e/poetry.lock
  apps/trading/e2e/tests/perpetual_market/test_perpetuals.py
  libs/i18n/src/locales/en/trading.json
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#6147 fix(markets): open markets list filtering
  apps/trading/client-pages/markets/open-markets.tsx
  libs/markets/src/lib/market-utils.ts
  libs/markets/src/lib/markets-provider.ts
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#6142 fix(trading): remove extra text transfer keys
  libs/accounts/src/lib/transfer-container.tsx
  libs/accounts/src/lib/transfer-form.tsx
  libs/i18n/src/locales/en/accounts.json
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#6154 chore(trading): use github base ref for console tests
  .github/workflows/console-test-run.yml
  apps/trading/e2e/tests/deal_ticket/test_stop_order_oco.py
Labels: explorer-preview, governance-preview, trading-preview

#6155 fix(trading): make rewards backwards compatible
  apps/trading/.env
  apps/trading/.env.capsule
  apps/trading/.env.mainnet
  apps/trading/.env.stagnet1
  apps/trading/.env.testnet
  apps/trading/.env.validators-testnet
  apps/trading/components/rewards-container/reward-card.tsx
  apps/trading/lib/hooks/Rewards.graphql
  apps/trading/lib/hooks/__generated__/Rewards.ts
  libs/environment/src/hooks/use-environment.ts
  libs/environment/src/types.ts
  libs/environment/src/utils/validate-environment.ts
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#6160 fix(markets): add pending markets to active market list
  libs/markets/src/lib/market-utils.ts
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#6115 feat(trading): spot market header
  apps/trading/client-pages/market/market-header-stats.tsx
  apps/trading/components/header/header.tsx
  apps/trading/components/liquidity-header/liquidity-header.tsx
  apps/trading/components/liquidity-supplied/index.ts
  apps/trading/components/market-header/market-header-future.tsx
  apps/trading/components/market-header/market-header-perp.tsx
  apps/trading/components/market-header/market-header-spot.tsx
  apps/trading/components/market-header/market-header-switch.tsx
  apps/trading/components/market-header/market-header.tsx
  apps/trading/components/market-header/mobile-market-header.tsx
  apps/trading/components/market-header/stats/asset.tsx
  apps/trading/components/market-header/stats/expiry.tsx
  apps/trading/components/market-header/stats/funding-rate.tsx
  apps/trading/components/market-header/stats/index-price.tsx
  apps/trading/components/market-header/stats/index.ts
  apps/trading/components/market-header/stats/last-24h-price-change.tsx
  apps/trading/components/market-header/stats/last-24h-volume-change.tsx
  apps/trading/components/market-header/stats/last-trade.tsx
  apps/trading/components/market-header/stats/liquidity.tsx
  apps/trading/components/market-header/stats/mark-price.tsx
  apps/trading/components/market-header/stats/market-state.tsx
  apps/trading/components/market-header/stats/market-trading-mode.tsx
  apps/trading/components/market-state/index.ts
  apps/trading/components/market-trading-mode/index.ts
  apps/trading/components/market-volume/index.ts
  apps/trading/components/market-volume/market-volume.tsx
  libs/markets/src/lib/components/last-24h-volume/last-24h-volume.tsx
  libs/utils/src/lib/markets.ts
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#6162 build(trading,governance,explorer): v0.25.11
  .github/workflows/console-test-run.yml
  apps/trading/e2e/conftest.py
  apps/trading/e2e/tests/rewards/test_rewards_combo_tier_1_capped.py
  libs/markets/src/lib/components/market-info/MarketInfo.graphql
  libs/markets/src/lib/components/market-info/__generated__/MarketInfo.ts
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#6130 feat(trading): game results
  apps/trading/client-pages/competitions/competitions-game.tsx
  apps/trading/client-pages/competitions/competitions-team.tsx
  apps/trading/client-pages/referrals/referral-statistics.tsx
  apps/trading/components/bootstrapper/bootstrapper.tsx
  apps/trading/components/competitions/team-avatar.tsx
  apps/trading/components/rewards-container/reward-card.tsx
  apps/trading/e2e/tests/teams/test_teams.py
  apps/trading/lib/hooks/Games.graphql
  apps/trading/lib/hooks/Rewards.graphql
  apps/trading/lib/hooks/__generated__/Games.ts
  apps/trading/lib/hooks/__generated__/Rewards.ts
  apps/trading/lib/hooks/use-current-epoch.ts
  apps/trading/lib/hooks/use-games.ts
  apps/trading/lib/hooks/use-my-team.ts
  apps/trading/lib/hooks/use-rewards.ts
  apps/trading/lib/hooks/use-teams.tsx
  apps/trading/lib/links.ts
  apps/trading/pages/client-router.tsx
  libs/i18n/src/locales/en/trading.json
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#6124 feat(trading): show current epoch progress bar on rewards page trading
  apps/governance/src/components/progress-bar/index.ts
  apps/governance/src/routes/rewards/home/rewards-page.tsx
  apps/governance/src/routes/staking/home/epoch-data.tsx
  apps/governance/src/routes/staking/node/node.tsx
  apps/trading/client-pages/rewards/rewards.tsx
  apps/trading/components/card/card.tsx
  apps/trading/components/rewards-container/rewards-container.tsx
  apps/trading/e2e/tests/rewards/test_rewards_combo_tier_1.py
  apps/trading/lib/hooks/Rewards.graphql
  apps/trading/lib/hooks/__generated__/Rewards.ts
  libs/ui-toolkit/src/components/epoch-countdown/epoch-countdown.tsx
  libs/ui-toolkit/src/components/epoch-countdown/index.tsx
  libs/ui-toolkit/src/components/highlight-progress-bar/highlight-progress-bar.tsx
  libs/ui-toolkit/src/components/highlight-progress-bar/index.ts
  libs/ui-toolkit/src/components/index.ts
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#6166 chore(trading): tests to pass against main
  apps/trading/e2e/tests/deal_ticket/test_tp_sl.py
  apps/trading/e2e/tests/liquidity_provision/test_liquidity_provision.py
  apps/trading/e2e/tests/order/test_order_match.py
  apps/trading/e2e/tests/perpetual_market/test_perpetuals.py
Labels: trading-preview

#6139 chore(trading): update the vega version in sim tests 0.76.0-preview.1
  .github/workflows/console-test-run.yml
  apps/trading/e2e/.env
  apps/trading/e2e/.env.develop
  apps/trading/e2e/poetry.lock
  apps/trading/e2e/pyproject.develop.toml
  apps/trading/e2e/pyproject.toml
  apps/trading/e2e/tests/perpetual_market/test_perpetuals.py
Labels: trading-preview

#6116 feat(deal-ticket): improve maxSize calculation for limit orders in isolated trading mode
  libs/deal-ticket/src/components/deal-ticket/deal-ticket.tsx
  libs/deal-ticket/src/hooks/use-max-size.spec.ts
  libs/deal-ticket/src/hooks/use-max-size.ts
Labels: explorer-preview, governance-preview, trading-preview

#6173 chore(trading): enable margin mode
  .github/workflows/console-test-run.yml
  apps/trading/.env.mainnet
  apps/trading/e2e/.env
  apps/trading/e2e/.env.develop
  apps/trading/e2e/.env.main
  apps/trading/e2e/poetry.lock
  apps/trading/e2e/pyproject.develop.toml
  apps/trading/e2e/pyproject.main.toml
  apps/trading/e2e/tests/deal_ticket/test_isolated_cross_margin.py
  apps/trading/e2e/tests/order/test_order_match.py
  apps/trading/e2e/tests/perpetual_market/test_perpetuals.py
Labels: trading-preview

#6176 fix(trading): show only active markets on fees page
  apps/trading/components/fees-container/fees-container.tsx
Labels: trading-preview

#6148 chore(governance): allow batch proposals
  apps/governance/src/routes/proposals/components/propose/proposal-form-transaction-dialog.tsx
  apps/governance/src/routes/proposals/propose/freeform/propose-freeform.tsx
  apps/governance/src/routes/proposals/propose/network-parameter/propose-network-parameter.tsx
  apps/governance/src/routes/proposals/propose/new-asset/propose-new-asset.tsx
  apps/governance/src/routes/proposals/propose/new-market/propose-new-market.tsx
  apps/governance/src/routes/proposals/propose/raw/proposal-raw.spec.tsx
  apps/governance/src/routes/proposals/propose/update-asset/propose-update-asset.tsx
  apps/governance/src/routes/proposals/propose/update-market/propose-update-market.tsx
  libs/proposals/src/lib/proposals-hooks/use-proposal-submit.ts
  libs/types/src/global-types-mappings.ts
  libs/ui-toolkit/src/components/text-area/text-area.tsx
  libs/wallet/src/transaction-types.ts
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#6168 chore(trading): improve e2e test workflow
  .github/workflows/ci-cd-trigger.yml
  .github/workflows/trading-e2e-test-run.yml
  apps/trading/e2e/.env
  apps/trading/e2e/pyproject.develop.toml
  apps/trading/e2e/pyproject.main.toml
  apps/trading/e2e/pyproject.toml
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#6152 fix(trading): increase market selector medium width
  apps/trading/components/market-selector/market-selector.tsx
Labels: trading-preview

#6127 feat(explorer): improve explorer handling of segregated margin
  apps/explorer/.env.devnet
  apps/explorer/.env.mainnet
  apps/explorer/.env.mainnet-mirror
  apps/explorer/.env.stagnet1
  apps/explorer/.env.testnet
  apps/explorer/src/app/components/leverage/leverage-tooltip.spec.tsx
  apps/explorer/src/app/components/leverage/leverage-tooltip.tsx
  apps/explorer/src/app/components/leverage/leverage.spec.tsx
  apps/explorer/src/app/components/leverage/leverage.tsx
  apps/explorer/src/app/components/txs/details/tx-update-margin-mode.tsx
  apps/explorer/src/app/config/env.ts
  apps/explorer/src/app/routes/parties/id/Party-assets.graphql
  apps/explorer/src/app/routes/parties/id/__generated__/Party-assets.ts
  apps/explorer/src/app/routes/parties/id/components/party-accounts.tsx
  libs/emblem/src/components/emblem-base.tsx
  libs/types/src/global-types-mappings.ts
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#6192 chore(trading): update workflow to match main
  .github/workflows/ci-cd-trigger.yml
  .github/workflows/trading-e2e-test-run.yml
  apps/trading/e2e/pyproject.develop.toml
  apps/trading/e2e/pyproject.main.toml
Labels: trading-preview

#6185 fix(trading): spot asset copy and dp
  libs/markets/src/lib/components/market-info/market-info-panels.tsx
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#6163 chore(trading): handling of referral set that are not yet teams
  apps/trading/client-pages/competitions/competitions-create-team.tsx
  apps/trading/client-pages/competitions/competitions-home.tsx
  apps/trading/client-pages/competitions/team-form.tsx
  apps/trading/components/competitions/competitions-cta.tsx
  apps/trading/components/competitions/competitions-leaderboard.tsx
  apps/trading/components/competitions/team-card.tsx
  apps/trading/e2e/tests/teams/test_teams.py
  apps/trading/lib/hooks/Teams.graphql
  apps/trading/lib/hooks/TeamsStatistics.graphql
  apps/trading/lib/hooks/__generated__/Teams.ts
  apps/trading/lib/hooks/__generated__/TeamsStatistics.ts
  apps/trading/lib/hooks/use-my-team.ts
  apps/trading/lib/hooks/use-teams.tsx
  apps/trading/pages/client-router.tsx
  libs/i18n/src/locales/en/trading.json
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#6200 chore(trading): adjust a market info spot tests
  apps/trading/e2e/tests/spot_market/test_spot.py
Labels: trading-preview

#6196 fix(trading): spot asset info main
  libs/markets/src/lib/components/market-info/market-info-panels.tsx
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5954 feat(trading): referrals upgrades
  apps/trading/client-pages/referrals/apply-code-form.tsx
  apps/trading/client-pages/referrals/constants.ts
  apps/trading/client-pages/referrals/create-code-form.tsx
  apps/trading/client-pages/referrals/hooks/use-find-referral-set.ts
  apps/trading/client-pages/referrals/hooks/use-referee-stats.ts
  apps/trading/client-pages/referrals/hooks/use-referees.ts
  apps/trading/client-pages/referrals/hooks/use-referral-program.ts
  apps/trading/client-pages/referrals/hooks/use-referral-toasts.tsx
  apps/trading/client-pages/referrals/hooks/use-referral.ts
  apps/trading/client-pages/referrals/hooks/use-referrer-stats.ts
  apps/trading/client-pages/referrals/referee-statistics.tsx
  apps/trading/client-pages/referrals/referees.tsx
  apps/trading/client-pages/referrals/referral-statistics.spec.tsx
  apps/trading/client-pages/referrals/referral-statistics.tsx
  apps/trading/client-pages/referrals/referrals.tsx
  apps/trading/client-pages/referrals/referrer-statistics.tsx
  apps/trading/client-pages/referrals/tiles.tsx
  apps/trading/e2e/tests/referrals/test_referrals.py
  apps/trading/lib/hooks/use-my-team.ts
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#6204 chore(trading): cache playwright
  .github/workflows/trading-e2e-test-run.yml
  apps/trading/e2e/actions/utils.py
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#6195 chore(trading): fix skipped tests
  apps/trading/e2e/tests/deal_ticket/test_stop_order_oco.py
  apps/trading/e2e/tests/market_lifecycle/test_market_lifecycle.py
  apps/trading/e2e/tests/perpetual_market/test_perpetuals.py
  apps/trading/e2e/tests/rewards/test_rewards_activity_tier_0.py
  apps/trading/e2e/tests/trade_match/test_trade_match.py
  apps/trading/e2e/tests/trading_chart/test_trading_chart.py
Labels: trading-preview

#6201 feat(trading): alias transfer display
  libs/accounts/src/lib/Accounts.graphql
  libs/accounts/src/lib/__generated__/Accounts.ts
  libs/accounts/src/lib/transfer-form.spec.tsx
  libs/accounts/src/lib/transfer-form.tsx
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#6197 feat(trading): remove market proposal notification
  libs/i18n/src/locales/en/proposals.json
  libs/markets/src/lib/components/market-info/market-info-accordion.tsx
  libs/proposals/src/components/index.ts
  libs/proposals/src/components/market-proposal-notification.tsx
  libs/proposals/src/components/protocol-upgrade-countdown.tsx
  libs/proposals/src/components/protocol-upgrade-proposal-notification.tsx
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#6177 feat(deal-ticket): handle nagative collateralIncreaseEstimate in margin mode selector
  apps/trading/e2e/tests/deal_ticket/test_isolated_cross_margin.py
  libs/deal-ticket/src/components/deal-ticket/margin-mode-selector.tsx
  libs/i18n/src/locales/en/deal-ticket.json
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#6203 feat(deal-ticket): changes for spot markets
  apps/trading/e2e/tests/spot_market/test_spot.py
  libs/deal-ticket/src/components/deal-ticket/deal-ticket-margin-details.tsx
  libs/deal-ticket/src/components/deal-ticket/deal-ticket-stop-order.tsx
  libs/deal-ticket/src/components/deal-ticket/deal-ticket.tsx
  libs/deal-ticket/src/components/deal-ticket/side-selector.tsx
  libs/i18n/src/locales/en/deal-ticket.json
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#6209 chore(trading): fix hash for playwright cache
  .github/workflows/trading-e2e-test-run.yml
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#6212 chore(trading): remove ticksize query switch
  apps/trading/components/bootstrapper/bootstrapper.tsx
  libs/markets/src/lib/__generated__/market-data.ts
  libs/markets/src/lib/__generated__/markets.ts
  libs/markets/src/lib/components/market-info/MarketInfo.graphql
  libs/markets/src/lib/components/market-info/__generated__/MarketInfo.ts
  libs/markets/src/lib/components/market-info/market-info-data-provider.ts
  libs/markets/src/lib/markets-provider.ts
  libs/markets/src/lib/markets.graphql
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#6210 feat(trading): enhance auction features - part 1 banner and warnings
  apps/trading/components/market-banner/market-banner.tsx
  apps/trading/components/market-banner/market-monitoring-auction.tsx
  libs/deal-ticket/src/components/deal-ticket/deal-ticket.tsx
  libs/i18n/src/locales/en/deal-ticket.json
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#6214 chore(trading,governance,explorer): release v0.25.14
  apps/trading/.env.mainnet
  apps/trading/.env.mainnet-mirror
  apps/trading/lib/hooks/use-vega-wallet-config.ts
  libs/environment/src/chains.ts
  libs/wallet/src/chains.ts
  libs/wallet/src/index.ts
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#6228 chore(trading): release main to develop
  apps/trading/.env.mainnet
  apps/trading/.env.mainnet-mirror
  apps/trading/components/bootstrapper/bootstrapper.tsx
  apps/trading/components/market-banner/market-banner.tsx
  apps/trading/components/market-banner/market-monitoring-auction.tsx
  apps/trading/lib/hooks/use-vega-wallet-config.ts
  libs/deal-ticket/src/components/deal-ticket/deal-ticket.tsx
  libs/environment/src/chains.ts
  libs/i18n/src/locales/en/deal-ticket.json
  libs/markets/src/lib/__generated__/market-data.ts
  libs/markets/src/lib/__generated__/markets.ts
  libs/markets/src/lib/components/market-info/MarketInfo.graphql
  libs/markets/src/lib/components/market-info/__generated__/MarketInfo.ts
  libs/markets/src/lib/components/market-info/market-info-data-provider.ts
  libs/markets/src/lib/markets-provider.ts
  libs/markets/src/lib/markets.graphql
  libs/wallet/src/chains.ts
  libs/wallet/src/index.ts
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#6226 feat(trading): update order tabs
  apps/trading/client-pages/market/trade-grid.tsx
  apps/trading/client-pages/market/trade-panels.tsx
  apps/trading/client-pages/market/trade-views.tsx
  apps/trading/client-pages/portfolio/portfolio.tsx
  apps/trading/components/orders-container/orders-container.spec.tsx
  apps/trading/components/orders-container/orders-container.tsx
  apps/trading/e2e/tests/deal_ticket/test_basic.py
  apps/trading/e2e/tests/deal_ticket/test_isolated_cross_margin.py
  apps/trading/e2e/tests/deal_ticket/test_stop_order.py
  apps/trading/e2e/tests/deal_ticket/test_stop_order_oco.py
  apps/trading/e2e/tests/deal_ticket/test_tp_sl.py
  apps/trading/e2e/tests/fees/fees_test_ids.py
  apps/trading/e2e/tests/fees/test_fees_combo_tier_2.py
  apps/trading/e2e/tests/fees/test_fees_referral_discount_tier_1.py
  apps/trading/e2e/tests/fees/test_fees_referral_discount_tier_2.py
  apps/trading/e2e/tests/fees/test_fees_volume_discount_tier_1.py
  apps/trading/e2e/tests/fees/test_fees_volume_discount_tier_2.py
  apps/trading/e2e/tests/iceberg_orders/test_iceberg_orders.py
  apps/trading/e2e/tests/liquidity_provision/test_liquidity_provision.py
  apps/trading/e2e/tests/market/test_continuous_market_to_price_monitoring_auction.py
  apps/trading/e2e/tests/market/test_monitoring_auction_price_volatility_market.py
  apps/trading/e2e/tests/order/test_order_status.py
  apps/trading/e2e/tests/perpetual_market/test_perpetuals.py
  apps/trading/e2e/tests/referrals/test_referrals.py
  apps/trading/e2e/tests/teams/test_teams.py
  apps/trading/e2e/tests/trade_match/test_trade_match.py
  libs/assets/src/lib/asset-details-dialog.tsx
  libs/i18n/src/locales/en/trading.json
  libs/orders/src/lib/components/order-list-manager/order-list-manager.spec.tsx
  libs/orders/src/lib/components/order-list-manager/order-list-manager.tsx
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#6234 fix(trading): dont show margin mode selector on spot markets
  apps/trading/components/market-selector/market-selector.spec.tsx
  apps/trading/components/market-selector/market-selector.tsx
  libs/deal-ticket/src/components/deal-ticket/deal-ticket-container.tsx
  libs/i18n/src/locales/en/trading.json
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#6232 fix(governance): allow closing the voting dialog
  apps/governance/src/routes/proposals/components/proposal/proposal.tsx
  apps/governance/src/routes/proposals/components/vote-details/user-vote.tsx
  apps/governance/src/routes/proposals/components/vote-details/vote-buttons.tsx
  apps/governance/src/routes/proposals/components/vote-details/vote-transaction-dialog.tsx
  libs/proposals/src/lib/voting-hooks/use-vote-submit.ts
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#6229 feat(positions): use orange for zero open volume only if position was closed out
  libs/data-provider/src/generic-data-provider.ts
  libs/datagrid/src/lib/cell-class-rules.ts
  libs/positions/src/lib/positions-table.tsx
  libs/trades/src/hooks/use-latest-trade.ts
  libs/trades/src/lib/trades-data-provider.ts
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#6213 chore(trading,governance): add mirror configuration for wallet
  apps/governance/src/hooks/use-vega-wallet-config.ts
  apps/trading/lib/hooks/use-vega-wallet-config.ts
  libs/wallet/src/chains.ts
  libs/wallet/src/index.ts
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#6230 fix(governance): slow accounts data retrieval
  apps/governance/src/components/vega-wallet/hooks.ts
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#6164 feat(trading): position take profit / stop loss
  apps/trading/e2e/.env
  apps/trading/e2e/fixtures/market.py
  apps/trading/e2e/poetry.lock
  apps/trading/e2e/pyproject.toml
  apps/trading/e2e/tests/deal_ticket/test_stop_order.py
  apps/trading/e2e/tests/positions/test_position_tp_sl.py
  apps/trading/e2e/tests/spot_market/test_spot.py
  apps/trading/e2e/tests/teams/test_teams.py
  apps/trading/lib/i18n/index.ts
  libs/deal-ticket/src/components/deal-ticket/deal-ticket-container.tsx
  libs/deal-ticket/src/components/deal-ticket/deal-ticket-stop-order.spec.tsx
  libs/deal-ticket/src/components/deal-ticket/deal-ticket-stop-order.tsx
  libs/deal-ticket/src/components/deal-ticket/deal-ticket.tsx
  libs/deal-ticket/src/utils/map-form-values-to-submission.ts
  libs/deal-ticket/src/utils/map-form-values-to-submisstion.spec.ts
  libs/i18n/src/locales/en/deal-ticket.json
  libs/i18n/src/locales/en/positions.json
  libs/markets/src/lib/market-data-provider.ts
  libs/orders/src/lib/components/mocks/generate-stop-orders.ts
  libs/orders/src/lib/components/order-data-provider/Orders.graphql
  libs/orders/src/lib/components/order-data-provider/__generated__/Orders.ts
  libs/orders/src/lib/components/order-data-provider/stop-orders-data-provider.ts
  libs/orders/src/lib/components/stop-orders-manager/stop-orders-manager.tsx
  libs/orders/src/lib/components/stop-orders-table/stop-orders-table.tsx
  libs/positions/src/lib/positions-data-providers.ts
  libs/positions/src/lib/positions-manager.tsx
  libs/positions/src/lib/positions-table.spec.tsx
  libs/positions/src/lib/positions-table.tsx
  libs/positions/src/lib/take-profit-stop-loss.spec.tsx
  libs/positions/src/lib/take-profit-stop-loss.tsx
  libs/positions/src/lib/use-open-volume.ts
  libs/utils/src/lib/format/number.ts
  libs/wallet/src/transaction-types.ts
  libs/web3/src/lib/use-vega-transaction-toasts.spec.tsx
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#6255 fix(trading): revert max trades from 10 to 500
  libs/trades/src/lib/trades-data-provider.ts
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#6244 feat(trading): add back capRewardFeeMultiple
  apps/trading/components/rewards-container/active-rewards.spec.tsx
  apps/trading/e2e/tests/rewards/test_rewards_combo_tier_1_capped.py
  apps/trading/lib/hooks/Rewards.graphql
  apps/trading/lib/hooks/__generated__/Rewards.ts
  libs/types/src/__generated__/types.ts
  libs/types/src/global-types-mappings.ts
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#6248 chore(trading): re-enable tpsl deal ticket test
  apps/trading/e2e/tests/deal_ticket/test_tp_sl.py
Labels: trading-preview

#6259 chore(trading,governance,explorer): release v0.25.17
  README.md
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#6221 feat(trading): improve close position transaction handling
  libs/i18n/src/locales/en/positions.json
  libs/orders/src/lib/components/order-list-manager/order-list-manager.tsx
  libs/positions/src/lib/positions-manager.tsx
  libs/positions/src/lib/positions-table.tsx
  libs/web3/src/lib/TransactionResult.graphql
  libs/web3/src/lib/__generated__/TransactionResult.ts
  libs/web3/src/lib/use-vega-transaction-store.spec.tsx
  libs/web3/src/lib/use-vega-transaction-store.tsx
  libs/web3/src/lib/use-vega-transaction-toasts.spec.tsx
  libs/web3/src/lib/use-vega-transaction-toasts.tsx
  libs/web3/src/lib/use-vega-transaction-updater.tsx
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#6250 feat(trading): spot market improvements
  apps/trading/client-pages/market/market.tsx
  apps/trading/client-pages/market/trade-grid.tsx
  apps/trading/client-pages/market/trade-panels.tsx
  apps/trading/client-pages/markets/use-column-defs.tsx
  apps/trading/components/accounts-container/accounts-container.tsx
  apps/trading/components/market-header/market-header-switch.tsx
  apps/trading/e2e/tests/positions/test_position_tp_sl.py
  libs/accounts/src/lib/accounts-manager.tsx
  libs/accounts/src/lib/accounts-table.spec.tsx
  libs/accounts/src/lib/accounts-table.tsx
  libs/deal-ticket/src/components/deal-ticket/deal-ticket-container.tsx
  libs/deal-ticket/src/components/deal-ticket/deal-ticket-stop-order.tsx
  libs/deal-ticket/src/components/deal-ticket/deal-ticket.tsx
  libs/deal-ticket/src/components/deal-ticket/side-selector.tsx
  libs/deal-ticket/src/components/deal-ticket/type-selector.tsx
  libs/deal-ticket/src/hooks/use-max-size.spec.ts
  libs/deal-ticket/src/hooks/use-max-size.ts
  libs/markets/src/lib/market-utils.ts
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#6266 chore(governance): add link to tx details, add error details
  apps/governance/src/routes/proposals/Proposals.graphql
  apps/governance/src/routes/proposals/__generated__/Proposals.ts
  apps/governance/src/routes/proposals/components/propose/proposal-form-transaction-dialog.tsx
  libs/proposals/src/components/vega-transaction-dialog/vega-transaction-dialog.tsx
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#6258 chore(trading): reward cards tooltips and text changes
  apps/trading/client-pages/competitions/competitions-game.tsx
  apps/trading/components/competitions/games-container.tsx
  apps/trading/components/rewards-container/active-rewards.tsx
  apps/trading/components/rewards-container/reward-card.tsx
  apps/trading/e2e/tests/rewards/test_rewards_combo_tier_1.py
  apps/trading/lib/hooks/use-rewards.ts
  libs/i18n/src/locales/en/trading.json
  libs/types/src/global-types-mappings.ts
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#6256 chore(explorer): change column heading for oracles
  apps/explorer/src/app/components/oracle-table/index.tsx
  apps/explorer/src/app/routes/oracles/components/oracle-markets.spec.tsx
  apps/explorer/src/app/routes/oracles/components/oracle-markets.tsx
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#6275 feat(trading): add deposit/withdraw/transfer pane to portfolio
  apps/trading/client-pages/portfolio/portfolio.tsx
  apps/trading/e2e/tests/transfer/test_transfer_key_to_key.py
  apps/trading/pages/client-router.tsx
  libs/i18n/src/locales/en/trading.json
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#6286 fix(trading): wallet key alias instead of party alias in transfer form
  libs/accounts/src/lib/Accounts.graphql
  libs/accounts/src/lib/__generated__/Accounts.ts
  libs/accounts/src/lib/transfer-container.tsx
  libs/accounts/src/lib/transfer-form.spec.tsx
  libs/accounts/src/lib/transfer-form.tsx
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#6274 feat(utils): round to smallest meaningful number
  libs/utils/src/lib/format/number.spec.ts
  libs/utils/src/lib/format/number.ts
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#6283 chore(types): align to changes introduced in v0.76.0-preview.5
  apps/explorer/src/app/components/txs/details/transfer/transfer-rewards.spec.tsx
  apps/trading/components/rewards-container/active-rewards.spec.tsx
  apps/trading/components/rewards-container/reward-card.tsx
  libs/markets/src/lib/__generated__/OracleMarketsSpec.ts
  libs/markets/src/lib/__generated__/markets.ts
  libs/markets/src/lib/components/market-info/MarketInfo.graphql
  libs/markets/src/lib/components/market-info/__generated__/MarketInfo.ts
  libs/types/src/__generated__/types.ts
  libs/types/src/global-types-mappings.ts
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#6281 feat(trading): market icons in console
  apps/trading/components/liquidity-header/liquidity-header.tsx
  apps/trading/components/market-header/market-header.tsx
  apps/trading/components/market-header/mobile-market-header.tsx
  apps/trading/components/market-selector/market-selector-item.spec.tsx
  apps/trading/components/market-selector/market-selector-item.tsx
  libs/emblem/src/components/market-emblem.tsx
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#6261 chore(explorer,trading): asset view tweak and market view tweak
  apps/explorer/src/app/components/price-in-market/price-in-market.tsx
  apps/explorer/src/app/mocks/assets.ts
  apps/explorer/src/app/routes/assets/asset-page.tsx
  apps/explorer/src/app/routes/assets/components/Asset-Markets.graphql
  apps/explorer/src/app/routes/assets/components/__generated__/Asset-Markets.ts
  apps/explorer/src/app/routes/assets/components/asset-markets.spec.tsx
  apps/explorer/src/app/routes/assets/components/asset-markets.tsx
  apps/explorer/src/app/routes/treasury/components/asset-icon/index.tsx
  apps/explorer/src/app/routes/treasury/components/asset-icon/usdc.tsx
  apps/explorer/src/app/routes/treasury/components/asset-icon/usdt.tsx
  apps/explorer/src/app/routes/treasury/components/asset-icon/vega.tsx
  apps/explorer/src/app/routes/treasury/components/network-accounts-table.tsx
  apps/governance/src/routes/proposals/components/proposal-asset-details/proposal-asset-details.tsx
  apps/trading/e2e/tests/market/test_market_info.py
  libs/assets/src/lib/Asset.graphql
  libs/assets/src/lib/__generated__/Asset.ts
  libs/assets/src/lib/asset-details-dialog.spec.tsx
  libs/assets/src/lib/asset-details-table.spec.tsx
  libs/assets/src/lib/asset-details-table.tsx
  libs/assets/src/lib/asset.mock.ts
  libs/assets/src/lib/test-helpers.ts
  libs/deposits/src/lib/deposit-form.spec.tsx
  libs/emblem/src/components/market-emblem.tsx
  libs/withdraws/src/lib/test-helpers.ts
  libs/withdraws/src/lib/withdraw-form-container.spec.tsx
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#6246 feat(governance): display spot market details on proposal page
  apps/governance/src/routes/proposals/Proposals.graphql
  apps/governance/src/routes/proposals/__generated__/Proposals.ts
  apps/governance/src/routes/proposals/components/proposal-detail-header/proposal-header.tsx
  apps/governance/src/routes/proposals/components/proposal-market-changes/proposal-market-changes.tsx
  apps/governance/src/routes/proposals/components/proposal-market-data/proposal-market-data.tsx
  apps/governance/src/routes/proposals/components/proposal/market-name.tsx
  apps/governance/src/routes/proposals/components/proposal/proposal-change-details.tsx
  apps/governance/src/routes/proposals/components/proposal/proposal.tsx
  apps/governance/src/routes/proposals/components/vote-breakdown/vote-breakdown.tsx
  apps/trading/components/rewards-container/active-rewards.spec.tsx
  libs/i18n/src/locales/en/governance.json
  libs/types/src/global-types-mappings.ts
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#6292 fix(trading): auction countdown
  apps/trading/components/market-banner/market-monitoring-auction.tsx
  apps/trading/components/market-header/market-header.tsx
  apps/trading/components/market-selector/market-selector-item.tsx
  libs/i18n/src/locales/en/trading.json
  libs/utils/src/lib/format/date.ts
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#6288 chore(markets): remove name from Spot
  libs/markets/src/lib/__generated__/OracleMarketsSpec.ts
  libs/markets/src/lib/__generated__/markets.ts
  libs/markets/src/lib/components/market-info/MarketInfo.graphql
  libs/markets/src/lib/components/market-info/__generated__/MarketInfo.ts
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#6306 chore(trading): remove CAF copy from games page
  apps/trading/client-pages/competitions/competitions-home.tsx
  libs/i18n/src/locales/en/trading.json
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#6300 fix(trading): another countdown fix
  apps/trading/components/market-banner/market-monitoring-auction.tsx
  libs/utils/src/lib/format/date.ts
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#6296 fix(explorer): block links and minor fixes
  apps/explorer/.env.mainnet
  apps/explorer/.env.mainnet-mirror
  apps/explorer/.env.validators-testnet
  apps/explorer/src/app/components/links/block-link/block-link.tsx
  apps/explorer/src/app/components/links/node-link/Nodes.graphql
  apps/explorer/src/app/components/links/node-link/node-link.tsx
  apps/explorer/src/app/components/links/node-link/tendermint-node-link.tsx
  apps/explorer/src/app/components/txs/txs-per-block.tsx
  apps/explorer/src/app/hooks/use-tendermint-validators.ts
  apps/explorer/src/app/routes/blocks/id/block.spec.tsx
  apps/explorer/src/app/routes/blocks/id/block.tsx
  apps/explorer/src/app/routes/validators/validators-page.tsx
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#6333 fix(trading): fix quantum formatting tvl
  apps/trading/client-pages/markets/use-markets-stats.tsx
Labels: explorer-preview, governance-preview, multisig-signer-preview

#6336 fix(explorer): remove duplicate named graphql query
  apps/explorer/src/app/components/links/node-link/Nodes.graphql
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#6326 chore(trading): merge main back in develop (markets page and others)
  apps/explorer/.env.mainnet
  apps/explorer/.env.mainnet-mirror
  apps/explorer/.env.validators-testnet
  apps/explorer/src/app/components/links/block-link/block-link.tsx
  apps/explorer/src/app/components/links/node-link/node-link.tsx
  apps/explorer/src/app/components/links/node-link/tendermint-node-link.tsx
  apps/explorer/src/app/components/txs/txs-per-block.tsx
  apps/explorer/src/app/hooks/use-tendermint-validators.ts
  apps/explorer/src/app/routes/blocks/id/block.spec.tsx
  apps/explorer/src/app/routes/blocks/id/block.tsx
  apps/explorer/src/app/routes/validators/validators-page.tsx
  apps/governance/src/routes/proposals/__generated__/Proposals.ts
  apps/trading/.env
  apps/trading/.env.devnet
  apps/trading/.env.mainnet
  apps/trading/.env.mainnet-mirror
  apps/trading/.env.stagnet1
  apps/trading/.env.testnet
  apps/trading/client-pages/competitions/competitions-home.tsx
  apps/trading/client-pages/competitions/competitions-team.tsx
  apps/trading/client-pages/markets/closed.spec.tsx
  apps/trading/client-pages/markets/closed.tsx
  apps/trading/client-pages/markets/market-list-table.tsx
  apps/trading/client-pages/markets/markets-page.tsx
  apps/trading/client-pages/markets/open-markets.spec.tsx
  apps/trading/client-pages/markets/open-markets.tsx
  apps/trading/client-pages/markets/proposals-list/proposals-list.tsx
  apps/trading/client-pages/markets/top-market-list.tsx
  apps/trading/client-pages/markets/use-column-defs.tsx
  apps/trading/client-pages/markets/use-markets-stats.spec.tsx
  apps/trading/client-pages/markets/use-markets-stats.tsx
  apps/trading/client-pages/referrals/hooks/use-referee-stats.ts
  apps/trading/client-pages/referrals/referee-statistics.tsx
  apps/trading/client-pages/referrals/tiers.tsx
  apps/trading/components/market-banner/market-monitoring-auction.tsx
  apps/trading/components/market-header/market-header.tsx
  apps/trading/components/market-selector/market-selector-item.tsx
  apps/trading/components/rewards-container/active-rewards.spec.tsx
  apps/trading/e2e/tests/market/test_closed_markets.py
  apps/trading/e2e/tests/market/test_markets_proposed.py
  apps/trading/e2e/tests/rewards/test_rewards_combo_tier_1_capped.py
  apps/trading/e2e/tests/teams/test_teams.py
  apps/trading/lib/hooks/use-rewards.ts
  libs/emblem/src/components/market-emblem.tsx
  libs/i18n/src/locales/en/markets.json
  libs/i18n/src/locales/en/trading.json
  libs/markets/src/lib/__generated__/markets.ts
  libs/markets/src/lib/components/last-24h-price-change/last-24h-price-change.tsx
  libs/markets/src/lib/components/market-info/MarketInfo.graphql
  libs/markets/src/lib/components/market-info/__generated__/MarketInfo.ts
  libs/markets/src/lib/components/market-info/market-info.mock.ts
  libs/markets/src/lib/components/market-info/tooltip-mapping.tsx
  libs/markets/src/lib/market-utils.ts
  libs/markets/src/lib/markets-provider.ts
  libs/markets/src/lib/markets.graphql
  libs/tailwindcss-config/src/theme.ts
  libs/types/src/__generated__/types.ts
  libs/types/src/global-types-mappings.ts
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#6337 feat(trading): tvl
  apps/trading/client-pages/markets/markets-page.tsx
  apps/trading/lib/hooks/TotalVolumeLocked.graphql
  apps/trading/lib/hooks/__generated__/TotalVolumeLocked.ts
  apps/trading/lib/hooks/use-markets-stats.spec.tsx
  apps/trading/lib/hooks/use-markets-stats.tsx
  apps/trading/lib/hooks/use-total-volume-locked.spec.ts
  apps/trading/lib/hooks/use-total-volume-locked.ts
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#6340 chore(trading): merge main v0.25.19 back in develop
  apps/governance/src/routes/proposals/Proposals.graphql
  apps/governance/src/routes/proposals/__generated__/Proposals.ts
  apps/trading/client-pages/markets/markets-page.tsx
  apps/trading/lib/hooks/TotalVolumeLocked.graphql
  apps/trading/lib/hooks/__generated__/TotalVolumeLocked.ts
  apps/trading/lib/hooks/use-markets-stats.spec.tsx
  apps/trading/lib/hooks/use-markets-stats.tsx
  apps/trading/lib/hooks/use-total-volume-locked.spec.ts
  apps/trading/lib/hooks/use-total-volume-locked.ts
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview
