Repository vegaprotocol/frontend-monorepo, pull requests merged in 2024-01, with the labels that each got.

#5539 feat(trading): do not show error message if there is no faucet tx error
  libs/deposits/src/lib/get-faucet-error.ts
Labels: explorer-preview, governance-preview, trading-preview

#5545 chore(trading-view): minor tv chart tweaks
  libs/trading-view/src/lib/trading-view.tsx
Labels: trading-preview

#5530 fix(trading): mobile friendly referral and fees views
  apps/trading/client-pages/referrals/apply-code-form.tsx
  apps/trading/client-pages/referrals/constants.ts
  apps/trading/client-pages/referrals/create-code-form.tsx
  apps/trading/client-pages/referrals/how-it-works-table.tsx
  apps/trading/client-pages/referrals/landing-banner.tsx
  apps/trading/client-pages/referrals/layout.tsx
  apps/trading/client-pages/referrals/referral-statistics.tsx
  apps/trading/client-pages/referrals/referrals.tsx
  apps/trading/client-pages/referrals/tiers.tsx
  apps/trading/client-pages/referrals/tile.tsx
  apps/trading/components/card/card.tsx
  apps/trading/components/fees-container/fees-container.tsx
  apps/trading/components/fees-container/market-fees.tsx
  apps/trading/components/helpers/tag.tsx
  apps/trading/components/helpers/tiers.tsx
  apps/trading/components/rewards-container/rewards-container.tsx
  apps/trading/components/rewards-container/rewards-history.spec.tsx
  apps/trading/components/rewards-container/rewards-history.tsx
  apps/trading/components/table/index.ts
  apps/trading/components/table/table.tsx
  apps/trading/e2e/tests/fees/test_fees.py
  apps/trading/e2e/tests/market/test_market_selector.py
  libs/datagrid/src/lib/cells/stacked-cell.tsx
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5564 chore(trading): fix volume issue for market selector tests
  apps/trading/e2e/tests/market/test_market_selector.py
Labels: trading-preview

#5563 chore(trading): update vega
  apps/trading/e2e/.env
  apps/trading/e2e/.env.develop
  apps/trading/e2e/.env.main
Labels: trading-preview

#5491 feat(trading): activity streaks, reward hoarder bonus and active rewards
  apps/trading/components/bootstrapper/bootstrapper.tsx
  apps/trading/components/bootstrapper/data-loader.tsx
  apps/trading/components/rewards-container/Rewards.graphql
  apps/trading/components/rewards-container/__generated__/Rewards.ts
  apps/trading/components/rewards-container/active-rewards.spec.tsx
  apps/trading/components/rewards-container/active-rewards.tsx
  apps/trading/components/rewards-container/rewards-container.tsx
  apps/trading/components/rewards-container/rewards-history.tsx
  apps/trading/components/rewards-container/streaks/activity-streaks.spec.tsx
  apps/trading/components/rewards-container/streaks/activity-streaks.tsx
  apps/trading/components/rewards-container/streaks/reward-hoarder-bonus.spec.tsx
  apps/trading/components/rewards-container/streaks/reward-hoarder-bonus.tsx
  apps/trading/e2e/tests/rewards/test_rewards.py
  apps/trading/e2e/wallet_config.py
  apps/trading/pages/_document.page.tsx
  apps/trading/public/AlphaLyrae-Medium.woff
  libs/i18n/src/locales/en/trading.json
  libs/network-parameters/src/use-network-params.ts
  libs/positions/src/lib/positions-table.tsx
  libs/proposals/src/components/protocol-upgrade-countdown.tsx
  libs/tailwindcss-config/src/theme.js
  libs/types/src/global-types-mappings.ts
  libs/ui-toolkit/src/components/icon/icons/icon-forum.svg
  libs/ui-toolkit/src/components/icon/icons/icon-globe.svg
  libs/ui-toolkit/src/components/icon/icons/icon-linkedin.svg
  libs/ui-toolkit/src/components/icon/icons/icon-moon.svg
  libs/ui-toolkit/src/components/icon/icons/icon-question-mark.svg
  libs/ui-toolkit/src/components/icon/icons/icon-twitter.svg
  libs/ui-toolkit/src/components/icon/vega-icons/svg-icons/icon-exclamation-mark.tsx
  libs/ui-toolkit/src/components/icon/vega-icons/svg-icons/icon-man.tsx
  libs/ui-toolkit/src/components/icon/vega-icons/svg-icons/icon-question-mark.tsx
  libs/ui-toolkit/src/components/icon/vega-icons/svg-icons/icon-streak.tsx
  libs/ui-toolkit/src/components/icon/vega-icons/svg-icons/icon-team.tsx
  libs/ui-toolkit/src/components/icon/vega-icons/vega-icon-record.ts
  libs/ui-toolkit/src/components/icon/vega-icons/vega-icon.tsx
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5566 fix(trading): ensure fees queries always fetch on mount and poll
  apps/trading/components/fees-container/fees-container.tsx
  apps/trading/components/fees-container/use-referral-stats.ts
Labels: trading-preview

#5573 fix(explorer): minor tidyup of deterministic order view
  apps/explorer/src/app/components/links/party-link/party-link.tsx
  apps/explorer/src/app/components/order-details/deterministic-order-details.tsx
  apps/explorer/src/app/components/signature/signature.tsx
  apps/explorer/src/app/routes/layout.tsx
Labels: explorer-preview

#5579 fix(trading): fix price monitoring bounds and trigger mismatch
  libs/markets/src/lib/components/market-info/market-info-accordion.tsx
  libs/markets/src/lib/components/market-info/market-info-panels.tsx
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5583 chore(trading): skip test due to issue
  apps/trading/e2e/tests/liquidity_provision/test_liquidity_provision.py
Labels: trading-preview

#5578 chore(trading): rewards page e2e
  apps/trading/e2e/fixtures/market.py
  apps/trading/e2e/tests/iceberg_orders/test_iceberg_orders.py
  apps/trading/e2e/tests/rewards/test_rewards.py
  apps/trading/e2e/tests/transfer/test_transfer_key_to_key.py
  libs/accounts/src/lib/transfer-form.tsx
Labels: explorer-preview, governance-preview, trading-preview

#5589 fix(governance): improve error message for configuration error
  libs/i18n/src/locales/en/governance.json
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5595 chore(trading): vesting test
  apps/trading/e2e/tests/rewards/test_vesting.py
Labels: trading-preview

#5600 chore(trading): fix price monitoring test
  apps/trading/e2e/tests/market/test_monitoring_auction_price_volatility_market.py
Labels: trading-preview

#5601 chore(trading): retry on http error
  apps/trading/e2e/conftest.py
Labels: trading-preview

#5586 fix(trading): tiny scroll for rewards
  apps/trading/client-pages/rewards/rewards.tsx
  apps/trading/components/rewards-container/active-rewards.tsx
Labels: trading-preview

#5582 feat(trading): mobile responsiveness - market selector
  apps/trading/components/market-selector/market-selector-item.tsx
  apps/trading/components/market-selector/market-selector.tsx
  apps/trading/components/navbar/nav-header.tsx
Labels: trading-preview

#5613 feat(trading): mobile responsiveness tweaks
  apps/trading/client-pages/markets/closed.tsx
  apps/trading/client-pages/markets/market-list-table.tsx
  apps/trading/client-pages/markets/markets-page.tsx
  apps/trading/client-pages/markets/use-column-defs.tsx
  libs/accounts/src/lib/accounts-table.tsx
  libs/accounts/src/lib/breakdown-table.tsx
  libs/datagrid/src/lib/column-definitions.ts
  libs/deposits/src/lib/deposits-table.tsx
  libs/fills/src/lib/fills-table.tsx
  libs/orders/src/lib/components/order-list/order-list.tsx
  libs/orders/src/lib/components/stop-orders-table/stop-orders-table.tsx
  libs/positions/src/lib/positions-table.tsx
  libs/proposals/src/components/proposals-list/use-column-defs.tsx
  libs/ui-toolkit/src/components/dialog/dialog.tsx
  libs/ui-toolkit/src/components/toast/toast-position-setter.tsx
  libs/ui-toolkit/src/components/toast/toasts-container.tsx
  libs/wallet/src/connectors/view-connector.tsx
  libs/withdraws/src/lib/withdrawals-table.tsx
  package.json
  yarn.lock
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5622 chore(trading): upload market-sim logs
  .github/workflows/console-test-run.yml
Labels: explorer-preview, governance-preview, trading-preview

#5624 fix(trading): use `No trading` instead of `Trading terminated`
  apps/trading/client-pages/markets/closed.spec.tsx
  apps/trading/e2e/tests/market/test_closed_markets.py
  apps/trading/e2e/tests/market_lifecycle/test_market_lifecycle.py
  libs/deal-ticket/src/components/deal-ticket/deal-ticket.tsx
  libs/i18n/src/locales/en/deal-ticket.json
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5604 chore(trading): clean up triggering ratio
  apps/explorer-e2e/src/integration/proposal.cy.js
  apps/governance-e2e/src/support/proposal.functions.ts
  apps/governance/src/routes/proposals/proposal/Proposal.graphql
  apps/governance/src/routes/proposals/proposal/__generated__/Proposal.ts
  apps/trading/components/liquidity-header/liquidity-header.tsx
  apps/trading/components/liquidity-supplied/liquidity-supplied.tsx
  libs/cypress/src/lib/capsule/propose-market.ts
  libs/deal-ticket/src/test-helpers.ts
  libs/fills/src/lib/test-helpers.ts
  libs/funding-payments/src/lib/test-helpers.ts
  libs/liquidity/src/lib/utils/liquidity-utils.spec.tsx
  libs/liquidity/src/lib/utils/liquidity-utils.ts
  libs/markets/src/lib/__generated__/markets.ts
  libs/markets/src/lib/components/market-info/MarketInfo.graphql
  libs/markets/src/lib/components/market-info/__generated__/MarketInfo.ts
  libs/markets/src/lib/components/market-info/market-info-panels.tsx
  libs/markets/src/lib/components/market-info/market-info.mock.ts
  libs/markets/src/lib/components/market-info/tooltip-mapping.tsx
  libs/markets/src/lib/markets.graphql
  libs/markets/src/lib/markets.mock.ts
  libs/orders/src/lib/components/mocks/generate-orders.ts
  libs/orders/src/lib/components/mocks/generate-stop-orders.ts
  libs/orders/src/lib/components/order-list/order-view-dialog.spec.tsx
  libs/proposals/src/lib/proposals-data-provider/Proposals.graphql
  libs/proposals/src/lib/proposals-data-provider/__generated__/Proposals.ts
  libs/proposals/src/lib/proposals-data-provider/proposals.mock.ts
  libs/proposals/src/lib/proposals-hooks/use-update-proposal.spec.ts
  libs/types/src/__generated__/types.ts
  libs/wallet/src/connectors/vega-connector.ts
  libs/withdraws/src/lib/withdraw-form-container.spec.tsx
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5628 chore(trading): enable trading view on mainnet
  apps/trading/.env.mainnet
Labels: trading-preview

#5603 chore(trading): update vega-market-sim to use to 0.74.0-preview.2
  .github/workflows/console-test-run.yml
  apps/trading/e2e/.env
  apps/trading/e2e/.env.develop
  apps/trading/e2e/fixtures/market.py
  apps/trading/e2e/poetry.lock
  apps/trading/e2e/pyproject.toml
  apps/trading/e2e/tests/deal_ticket/test_basic_submit.py
  apps/trading/e2e/tests/deal_ticket/test_stop_order.py
  apps/trading/e2e/tests/fees/test_fees.py
  apps/trading/e2e/tests/get_started/test_get_started.py
  apps/trading/e2e/tests/market/test_markets_proposed.py
  apps/trading/e2e/tests/market/test_monitoring_auction_price_volatility_market.py
  apps/trading/e2e/tests/order/test_order_match.py
  apps/trading/e2e/tests/order/test_order_status.py
  apps/trading/e2e/tests/positions/test_positions.py
  apps/trading/e2e/tests/trade_history/test_trade_history.py
Labels: trading-preview

#5594 feat(ui-toolkit): add leverage slider component
  libs/ui-toolkit/src/components/slider/leverage-slider.stories.tsx
  libs/ui-toolkit/src/components/slider/leverage-slider.tsx
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5630 chore(trading): market-sim branch parralel fix
  .github/workflows/console-test-run.yml
  apps/trading/e2e/tests/market/test_closed_markets.py
  apps/trading/e2e/tests/market_lifecycle/test_market_lifecycle.py
  apps/trading/e2e/tests/trade_history/test_trade_history.py
  apps/trading/e2e/tests/wallet/test_wallet.py
Labels: trading-preview

#5635 fix(trading): order trading.json
  libs/i18n/src/locales/en/trading.json
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5571 feat(deposits): if wrong network dont show the form and prompt switching to the correct network
  libs/deposits/src/lib/deposit-form.spec.tsx
  libs/deposits/src/lib/deposit-form.tsx
  libs/i18n/src/locales/en/deposits.json
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5637 chore(trading): remove waits and tests
  apps/trading/e2e/tests/deal_ticket/test_basic.py
  apps/trading/e2e/tests/deal_ticket/test_deal_ticket_basics.py
  apps/trading/e2e/tests/deal_ticket/test_stop_order.py
  apps/trading/e2e/tests/iceberg_orders/test_iceberg_orders.py
  apps/trading/e2e/tests/market/test_closed_markets.py
  apps/trading/e2e/tests/market/test_market_selector.py
  apps/trading/e2e/tests/market/test_markets_no_markets.py
  apps/trading/e2e/tests/market_lifecycle/test_market_lifecycle.py
  apps/trading/e2e/tests/order/test_order_details.py
  apps/trading/e2e/tests/order/test_order_match.py
  apps/trading/e2e/tests/orderbook/test_orderbook.py
  apps/trading/e2e/tests/perpetual_market/test_perpetuals.py
  apps/trading/e2e/tests/pnl/test_pnl.py
  apps/trading/e2e/tests/portfolio/test_ledger_entries.py
  apps/trading/e2e/tests/positions/test_positions.py
  apps/trading/e2e/tests/successor_market/test_succession_line.py
  apps/trading/e2e/tests/trade_match/test_trade_match.py
  apps/trading/e2e/tests/transfer/test_transfer_key_to_key.py
Labels: trading-preview

#5636 chore(trading): competitions fixes
  apps/governance/src/routes/proposals/components/proposals-list/proposals-list.spec.tsx
  apps/trading/client-pages/competitions/competitions-create-team.tsx
  apps/trading/client-pages/competitions/competitions-team.tsx
  apps/trading/client-pages/referrals/constants.ts
  apps/trading/client-pages/referrals/error-boundary.tsx
  apps/trading/components/competitions/competitions-cta.tsx
  apps/trading/components/competitions/games-container.tsx
  apps/trading/components/layouts-inner/index.ts
  apps/trading/components/layouts-inner/layout-with-gradient.tsx
  apps/trading/components/layouts-inner/layout-with-sky.tsx
  apps/trading/components/layouts/index.ts
  apps/trading/pages/client-router.tsx
  libs/wallet/src/use-simple-transaction.ts
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5638 chore(trading): fix skipped tests
  apps/trading/e2e/tests/fees/test_fees.py
  apps/trading/e2e/tests/liquidity_provision/test_liquidity_provision.py
  apps/trading/e2e/tests/market/test_market.py
  apps/trading/e2e/tests/market/test_monitoring_auction_price_volatility_market.py
Labels: trading-preview

#5633 chore(trading): delete and move some tests to jest
  apps/governance-e2e/src/integration/view/pubkey-view.cy.ts
  apps/trading/components/grid-settings/grid-settings.spec.tsx
  apps/trading/e2e/tests/get_started/test_get_started.py
  apps/trading/e2e/tests/settings/test_column_settings.py
  apps/trading/e2e/tests/trade_history/test_trade_history.py
  apps/trading/e2e/tests/wallet/test_wallet.py
  libs/wallet/src/connect-dialog/connect-dialog.spec.tsx
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5643 feat(trading): teams information for referral page
  apps/trading/client-pages/competitions/competitions-team.tsx
  apps/trading/client-pages/competitions/join-team.spec.tsx
  apps/trading/client-pages/competitions/join-team.tsx
  apps/trading/client-pages/referrals/create-code-form.tsx
  apps/trading/client-pages/referrals/error-boundary.tsx
  apps/trading/client-pages/referrals/referral-statistics.tsx
  apps/trading/client-pages/referrals/referrals.tsx
  apps/trading/components/competitions/team-stats.tsx
  apps/trading/components/rainbow-button/rainbow-button.tsx
  apps/trading/lib/hooks/Team.graphql
  apps/trading/lib/hooks/__generated__/Team.ts
  apps/trading/lib/hooks/use-team.ts
  libs/i18n/src/locales/en/trading.json
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5645 feat(ui-toolkit): update slider design
  apps/governance-e2e/src/integration/view/pubkey-view.cy.ts
  libs/ui-toolkit/src/components/slider/leverage-slider.tsx
  libs/ui-toolkit/src/components/slider/slider.tsx
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5649 fix(trading): competitions and teams fixes
  apps/trading/client-pages/competitions/competitions-create-team.tsx
  apps/trading/client-pages/competitions/competitions-team.tsx
  apps/trading/client-pages/competitions/competitions-teams.tsx
  apps/trading/components/competitions/competitions-header.tsx
  apps/trading/components/competitions/competitions-leaderboard.tsx
  apps/trading/components/competitions/team-stats.tsx
  libs/i18n/src/locales/en/trading.json
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5648 feat(governance): update market proposal header with copy and open buttons
  apps/governance/src/routes/proposals/components/proposal-detail-header/proposal-header.spec.tsx
  apps/governance/src/routes/proposals/components/proposal-detail-header/proposal-header.tsx
  libs/environment/src/hooks/use-links.ts
  libs/i18n/src/locales/en/governance.json
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5640 feat(trading): filter out suspended transfers
  apps/trading/components/rewards-container/active-rewards.spec.tsx
  apps/trading/components/rewards-container/active-rewards.tsx
  apps/trading/e2e/tests/rewards/test_filtered_cards.py
Labels: trading-preview

#5650 chore(trading): turn off parallel
  .github/workflows/console-test-run.yml
Labels: explorer-preview, governance-preview, trading-preview

#5459 fix(governance): handle null validator scores properly
  apps/governance/src/routes/staking/home/validator-tables/consensus-validators-table.spec.tsx
  apps/governance/src/routes/staking/home/validator-tables/consensus-validators-table.tsx
  apps/governance/src/routes/staking/home/validator-tables/standby-pending-validators-table.tsx
  apps/governance/src/routes/staking/node/validator-table.tsx
  apps/governance/src/routes/staking/shared.spec.ts
  apps/governance/src/routes/staking/shared.ts
  libs/utils/src/lib/format/number.spec.ts
  libs/utils/src/lib/format/number.ts
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5572 feat(wallet): new browser wallet connection model
  apps/governance/src/app.tsx
  apps/governance/src/routes/proposals/components/proposal/proposal.spec.tsx
  apps/governance/src/toasts-manager.tsx
  apps/trading/components/bootstrapper/bootstrapper.tsx
  apps/trading/lib/hooks/use-wallet-disconnected-toasts.tsx
  apps/trading/pages/toasts-manager.tsx
  libs/wallet/src/connect-dialog/connect-dialog.spec.tsx
  libs/wallet/src/connect-dialog/connect-dialog.tsx
  libs/wallet/src/connect-dialog/use-chain-id.spec.ts
  libs/wallet/src/connectors/injected-connector.ts
  libs/wallet/src/context.ts
  libs/wallet/src/index.ts
  libs/wallet/src/provider.spec.tsx
  libs/wallet/src/provider.tsx
  libs/wallet/src/test-helpers.ts
  libs/wallet/src/use-chain-id.spec.ts
  libs/wallet/src/use-chain-id.ts
  libs/wallet/src/use-eager-connect.ts
  libs/wallet/src/use-injected-connector.spec.tsx
  libs/wallet/src/use-injected-connector.ts
  libs/web3/src/index.ts
  libs/web3/src/lib/use-wallet-disconnected-toasts.tsx
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5656 fix(trading): vega wallet dialog typo full featured link translation
  libs/i18n/src/locales/en/wallet.json
  libs/wallet/src/connect-dialog/connect-dialog.tsx
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5575 feat(trading): margin mode selector
  apps/trading/.env
  apps/trading/.env.capsule
  apps/trading/.env.devnet
  apps/trading/.env.mainnet
  apps/trading/.env.mainnet-mirror
  apps/trading/.env.stagnet1
  apps/trading/.env.testnet
  apps/trading/.env.validators-testnet
  apps/trading/e2e/poetry.lock
  apps/trading/e2e/tests/deal_ticket/test_isolated_cross_margin.py
  apps/trading/e2e/tests/order/test_order_match.py
  apps/trading/e2e/tests/positions/test_collateral.py
  libs/accounts/src/lib/Margins.graphql
  libs/accounts/src/lib/__generated__/Margins.ts
  libs/accounts/src/lib/accounts-data-provider.ts
  libs/accounts/src/lib/breakdown-table.spec.tsx
  libs/accounts/src/lib/breakdown-table.tsx
  libs/accounts/src/lib/margin-data-provider.ts
  libs/accounts/src/lib/margin-heath-chart.spec.tsx
  libs/deal-ticket/src/components/deal-ticket/deal-ticket-container.tsx
  libs/deal-ticket/src/components/deal-ticket/margin-mode-selector.tsx
  libs/environment/src/hooks/use-environment.ts
  libs/environment/src/types.ts
  libs/environment/src/utils/validate-environment.ts
  libs/i18n/src/locales/en/deal-ticket.json
  libs/i18n/src/locales/en/positions.json
  libs/i18n/src/locales/en/web3.json
  libs/positions/src/lib/positions-data-providers.spec.ts
  libs/positions/src/lib/positions-data-providers.ts
  libs/positions/src/lib/positions-table.tsx
  libs/positions/src/lib/positions.mock.ts
  libs/types/src/__generated__/types.ts
  libs/types/src/global-types-mappings.ts
  libs/ui-toolkit/src/components/slider/index.ts
  libs/wallet/src/connectors/vega-connector.ts
  libs/web3/src/lib/use-vega-transaction-store.tsx
  libs/web3/src/lib/use-vega-transaction-toasts.tsx
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5627 chore(trading): store all chart state
  apps/trading/components/chart-container/chart-container.tsx
  apps/trading/components/chart-container/chart-menu.spec.tsx
  apps/trading/components/chart-container/chart-menu.tsx
  apps/trading/components/chart-container/use-chart-settings.ts
  libs/trading-view/.eslintrc.json
  libs/trading-view/src/charting-library.d.ts
  libs/trading-view/src/lib/trading-view-container.tsx
  libs/trading-view/src/lib/trading-view.tsx
  libs/trading-view/src/lib/use-datafeed.ts
  libs/ui-toolkit/src/components/trading-button/trading-button.tsx
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5653 fix(governance): handle an expected error
  apps/governance/src/lib/party.test.ts
  apps/governance/src/lib/party.ts
  apps/governance/src/routes/proposals/components/vote-details/vote-buttons.tsx
  apps/governance/src/routes/rewards/epoch-individual-rewards/epoch-individual-rewards.tsx
Labels: governance-preview

#5662 fix(explorer): update tx navigation for 0.74.0
  apps/explorer/src/app/components/txs/tx-list-navigation.spec.tsx
  apps/explorer/src/app/components/txs/tx-list-navigation.tsx
  apps/explorer/src/app/hooks/get-txs-data-url.ts
  apps/explorer/src/app/hooks/get-txs-data-urls.spec.ts
  apps/explorer/src/app/hooks/use-txs-data.ts
  apps/explorer/src/app/routes/txs/home/index.tsx
Labels: explorer-preview

#5661 fix(trading): error guards not working when poll interval is supplied
  apps/trading/e2e/tests/get_started/test_get_started.py
  apps/trading/e2e/tests/market/test_market_info.py
  apps/trading/e2e/tests/successor_market/test_succession_line.py
  libs/assets/src/lib/assets-data-provider.ts
  libs/data-provider/src/generic-data-provider.spec.ts
  libs/data-provider/src/generic-data-provider.ts
  libs/data-provider/src/helpers.ts
  libs/markets/src/lib/components/market-info/market-info-data-provider.ts
  libs/markets/src/lib/markets-data-provider.ts
  libs/markets/src/lib/markets-provider.ts
  libs/proposals/src/lib/proposals-data-provider/proposals-data-provider.tsx
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5666 fix(trading): adjust full screen for mobile dialogs
  libs/accounts/src/lib/breakdown-table.tsx
  libs/ui-toolkit/src/components/dialog/dialog.tsx
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5652 chore(trading): competitions e2e test
  apps/trading/client-pages/competitions/competitions-team.tsx
  apps/trading/components/competitions/team-stats.tsx
  apps/trading/e2e/tests/teams/test_teams.py
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5673 feat(trading): competitions update team
  apps/trading/.env.stagnet1
  apps/trading/client-pages/competitions/competitions-create-team.tsx
  apps/trading/client-pages/competitions/competitions-home.tsx
  apps/trading/client-pages/competitions/competitions-team.tsx
  apps/trading/client-pages/competitions/competitions-teams.tsx
  apps/trading/client-pages/competitions/competitions-update-team.tsx
  apps/trading/client-pages/competitions/team-form.tsx
  apps/trading/client-pages/competitions/update-team-button.tsx
  apps/trading/client-pages/referrals/create-code-form.tsx
  apps/trading/components/competitions/competitions-leaderboard.tsx
  apps/trading/lib/hooks/Team.graphql
  apps/trading/lib/hooks/Teams.graphql
  apps/trading/lib/hooks/TeamsStatistics.graphql
  apps/trading/lib/hooks/__generated__/Team.ts
  apps/trading/lib/hooks/__generated__/Teams.ts
  apps/trading/lib/hooks/__generated__/TeamsStatistics.ts
  apps/trading/lib/hooks/use-games.ts
  apps/trading/lib/hooks/use-referral-set-transaction.ts
  apps/trading/lib/hooks/use-teams.tsx
  apps/trading/lib/links.ts
  apps/trading/pages/client-router.tsx
  libs/ui-toolkit/src/components/splash/splash.tsx
  libs/wallet/src/connectors/vega-connector.ts
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5683 fix(markets): key details panel crashing
  libs/markets/src/lib/components/market-info/market-info-panels.tsx
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5686 chore(trading): update vega binaries to v0.74.0-preview.6
  apps/trading/e2e/.env
  apps/trading/e2e/.env.develop
  apps/trading/e2e/poetry.lock
  apps/trading/e2e/tests/rewards/test_filtered_cards.py
Labels: trading-preview

#5678 fix(candles-chart): ignore candles from before market open date
  libs/candles-chart/src/lib/Candles.graphql
  libs/candles-chart/src/lib/__generated__/Candles.ts
  libs/candles-chart/src/lib/candles.mock.ts
  libs/candles-chart/src/lib/data-source.spec.ts
  libs/candles-chart/src/lib/data-source.ts
Labels: explorer-preview, governance-preview, trading-preview

#5687 feat(explorer): support for more external chains
  apps/explorer/.env
  apps/explorer/.env.capsule
  apps/explorer/.env.devnet
  apps/explorer/.env.mainnet
  apps/explorer/.env.mainnet-mirror
  apps/explorer/.env.testnet
  apps/explorer/.env.validators-testnet
  apps/explorer/.env.vegacapsule
  apps/explorer/src/app/components/links/eth-explorer-link/eth-explorer-link.tsx
  apps/explorer/src/app/components/links/external-explorer-link/external-chain-icon.tsx
  apps/explorer/src/app/components/links/external-explorer-link/external-chain.ts
  apps/explorer/src/app/components/links/external-explorer-link/external-explorer-link.tsx
  apps/explorer/src/app/components/txs/details/chain-events/tx-contract-call.tsx
  apps/explorer/src/app/components/txs/details/chain-events/tx-erc20-asset-limits-updated.tsx
  apps/explorer/src/app/components/txs/details/chain-events/tx-erc20-asset-list.tsx
  apps/explorer/src/app/components/txs/details/chain-events/tx-erc20-deposit.tsx
  apps/explorer/src/app/components/txs/details/chain-events/tx-erc20-withdrawal.tsx
  apps/explorer/src/app/components/txs/details/chain-events/tx-stake-deposit.tsx
  apps/explorer/src/app/components/txs/details/chain-events/tx-stake-remove.tsx
  apps/explorer/src/app/components/txs/details/chain-events/tx-stake-totalsupply.tsx
  apps/explorer/src/app/components/txs/details/transfer/blocks/transfer-participants.tsx
  apps/explorer/src/app/components/txs/details/tx-eth-key-rotate.tsx
  apps/explorer/src/app/components/txs/details/tx-issue-signatures.tsx
  apps/explorer/src/app/components/txs/details/tx-node-announce.tsx
  apps/explorer/src/app/components/txs/details/tx-node-vote.tsx
  apps/explorer/src/app/components/txs/details/tx-undelegation.tsx
  apps/explorer/src/app/components/txs/details/tx-withdraw-submission.tsx
  apps/explorer/src/app/components/txs/tx-order-type.tsx
  apps/explorer/src/app/config/env.ts
  apps/explorer/src/app/routes/oracles/Oracles.graphql
  apps/explorer/src/app/routes/oracles/OraclesForMarkets.graphql
  apps/explorer/src/app/routes/oracles/__generated__/Oracles.ts
  apps/explorer/src/app/routes/oracles/__generated__/OraclesForMarkets.ts
  apps/explorer/src/app/routes/oracles/components/oracle-details-type.tsx
  apps/explorer/src/app/routes/oracles/components/oracle-eth-source.tsx
  apps/explorer/src/app/routes/oracles/components/oracle-signers.tsx
  apps/explorer/src/app/routes/oracles/components/oracle.tsx
  apps/explorer/src/assets/chain-arb-logo.svg
  apps/explorer/src/assets/chain-dcn-logo.svg
  apps/explorer/src/assets/chain-eth-logo.svg
  apps/explorer/src/assets/chain-gno-logo.svg
  apps/explorer/src/types/explorer.d.ts
Labels: explorer-preview

#5667 fix(trading): show user inactive lose streak in remaining epochs
  apps/trading/components/rewards-container/streaks/activity-streaks.spec.tsx
  apps/trading/components/rewards-container/streaks/activity-streaks.tsx
  libs/i18n/src/locales/en/trading.json
  libs/network-parameters/src/use-network-params.ts
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5689 chore(trading): update to preview 7 binaries
  .github/workflows/console-test-run.yml
  apps/trading/e2e/.env
  apps/trading/e2e/tests/rewards/test_filtered_cards.py
Labels: trading-preview

#5664 feat(trading): margin estimate update
  apps/trading/e2e/tests/deal_ticket/test_isolated_cross_margin.py
  apps/trading/e2e/tests/deal_ticket/test_trading_deal_ticket_submit_account.py
  libs/accounts/src/lib/get-market-account.ts
  libs/accounts/src/lib/index.ts
  libs/accounts/src/lib/margin-data-provider.ts
  libs/accounts/src/lib/margin-health-chart.tsx
  libs/accounts/src/lib/margin-heath-chart.spec.tsx
  libs/accounts/src/lib/use-margin-account-balance.tsx
  libs/accounts/src/lib/use-market-account-balance.tsx
  libs/deal-ticket/src/components/deal-ticket/deal-ticket-fee-details.tsx
  libs/deal-ticket/src/components/deal-ticket/deal-ticket-margin-details.tsx
  libs/deal-ticket/src/components/deal-ticket/deal-ticket.tsx
  libs/deal-ticket/src/components/deal-ticket/margin-mode-selector.tsx
  libs/deal-ticket/src/constants.ts
  libs/deal-ticket/src/hooks/use-position-estimate.ts
  libs/i18n/src/locales/en/deal-ticket.json
  libs/positions/src/lib/Positions.graphql
  libs/positions/src/lib/__generated__/Positions.ts
  libs/positions/src/lib/estimate-position.mock.ts
  libs/positions/src/lib/liquidation-price.spec.tsx
  libs/positions/src/lib/liquidation-price.tsx
  libs/positions/src/lib/positions-data-providers.ts
  libs/positions/src/lib/positions-table.tsx
  libs/positions/src/lib/positions.mock.ts
  libs/positions/src/lib/use-open-volume.ts
  libs/ui-toolkit/src/components/slider/leverage-slider.tsx
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5690 feat(explorer): updatemarginmode tx view
  apps/explorer/src/app/components/txs/details/tx-details-wrapper.tsx
  apps/explorer/src/app/components/txs/details/tx-update-margin-mode.tsx
  apps/explorer/src/app/components/txs/tx-filter.tsx
Labels: explorer-preview

#5691 fix(trading): closed markets filter
  libs/i18n/src/locales/en/trading.json
  libs/markets/src/lib/market-utils.ts
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview
