Repository vegaprotocol/frontend-monorepo, pull requests merged in 2024-02, with the labels that each got.

#5668 feat(trading): gas fee estimation for withdraw transaction
  libs/assets/src/lib/assets-data-provider.ts
  libs/i18n/src/locales/en/withdraws.json
  libs/utils/src/lib/format/ether.spec.ts
  libs/utils/src/lib/format/ether.ts
  libs/utils/src/lib/format/index.ts
  libs/utils/src/lib/format/number.spec.ts
  libs/utils/src/lib/format/number.ts
  libs/web3/src/index.ts
  libs/web3/src/lib/use-gas-price.ts
  libs/withdraws/src/lib/withdraw-form.tsx
  libs/withdraws/src/lib/withdraw-limits.tsx
  libs/withdraws/src/lib/withdraw-manager.spec.tsx
  libs/withdraws/src/lib/withdraw-manager.tsx
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5707 fix(trading): teams snags
  apps/trading/client-pages/competitions/competitions-create-team.tsx
  apps/trading/client-pages/competitions/competitions-home.tsx
  apps/trading/client-pages/competitions/competitions-team.tsx
  apps/trading/client-pages/competitions/competitions-teams.tsx
  apps/trading/client-pages/competitions/competitions-update-team.tsx
  apps/trading/client-pages/competitions/join-team.tsx
  apps/trading/client-pages/competitions/team-form.tsx
  apps/trading/client-pages/competitions/update-team-button.tsx
  apps/trading/e2e/.env
  apps/trading/e2e/tests/teams/test_teams.py
  apps/trading/lib/hooks/Team.graphql
  apps/trading/lib/hooks/__generated__/Team.ts
  apps/trading/lib/hooks/use-team.ts
  apps/trading/lib/hooks/use-teams.tsx
  libs/i18n/src/locales/en/trading.json
  libs/types/src/__generated__/types.ts
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5709 feat(deal-ticket): fix margin calculations in DealTicketMarginDetails for isolated margin mode
  libs/deal-ticket/src/components/deal-ticket/deal-ticket-margin-details.tsx
Labels: explorer-preview, governance-preview, trading-preview

#5715 fix(trading): mark as updated when tx confirmed
  apps/trading/client-pages/competitions/team-form.tsx
Labels: trading-preview

#5716 chore(trading): team e2e tests
  apps/trading/client-pages/competitions/competitions-create-team.tsx
  apps/trading/client-pages/competitions/competitions-home.tsx
  apps/trading/client-pages/competitions/join-team.tsx
  apps/trading/client-pages/competitions/team-form.tsx
  apps/trading/components/rewards-container/active-rewards.tsx
  apps/trading/e2e/tests/rewards/test_filtered_cards.py
  apps/trading/e2e/tests/teams/test_teams.py
Labels: trading-preview

#5732 feat(accounts): remove include transfer fee checkbox
  libs/accounts/src/lib/transfer-form.spec.tsx
  libs/accounts/src/lib/transfer-form.tsx
  libs/i18n/src/locales/en/accounts.json
  specs/1003-TRAN-transfer.md
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5733 fix(trading): active rewards filter
  apps/trading/components/rewards-container/active-rewards.tsx
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5723 chore(trading): make team stats aggregation epochs 192
  apps/trading/lib/hooks/use-teams.tsx
Labels: trading-preview

#5724 feat(trading): team card
  apps/trading/client-pages/competitions/competitions-home.tsx
  apps/trading/client-pages/competitions/update-team-button.tsx
  apps/trading/components/competitions/box.tsx
  apps/trading/components/competitions/team-avatar.tsx
  apps/trading/components/competitions/team-card.tsx
  apps/trading/components/competitions/team-stats.tsx
  apps/trading/lib/hooks/Teams.graphql
  apps/trading/lib/hooks/__generated__/Teams.ts
  apps/trading/lib/hooks/use-my-team.ts
  libs/i18n/src/locales/en/trading.json
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5739 feat(trading): main to develop back merge
  apps/trading/components/rewards-container/active-rewards.tsx
  apps/trading/e2e/tests/teams/test_teams.py
  libs/accounts/src/lib/transfer-form.spec.tsx
  libs/accounts/src/lib/transfer-form.tsx
  libs/i18n/src/locales/en/accounts.json
  specs/1003-TRAN-transfer.md
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5711 feat(explorer): batch proposal support
  apps/explorer/src/app/components/links/hash.tsx
  apps/explorer/src/app/components/links/index.ts
  apps/explorer/src/app/components/links/network-parameter-link/network-parameter-link.tsx
  apps/explorer/src/app/components/links/proposal-link/proposal-link.tsx
  apps/explorer/src/app/components/txs/details/proposal/Proposal.graphql
  apps/explorer/src/app/components/txs/details/proposal/__generated__/Proposal.ts
  apps/explorer/src/app/components/txs/details/proposal/batch-item.spec.tsx
  apps/explorer/src/app/components/txs/details/proposal/batch-item.tsx
  apps/explorer/src/app/components/txs/details/proposal/summary.tsx
  apps/explorer/src/app/components/txs/details/tx-batch-proposal.tsx
  apps/explorer/src/app/components/txs/details/tx-details-wrapper.tsx
  apps/explorer/src/app/components/txs/tx-filter.tsx
Labels: explorer-preview

#5722 feat(deal-ticket): update fields in margin details
  apps/trading/e2e/tests/deal_ticket/test_trading_deal_ticket_submit_account.py
  libs/deal-ticket/src/components/deal-ticket/deal-ticket-margin-details.tsx
  libs/deal-ticket/src/components/deal-ticket/deal-ticket.tsx
  libs/deal-ticket/src/components/deal-ticket/key-value.tsx
  libs/deal-ticket/src/components/deal-ticket/margin-mode-selector.tsx
  libs/deal-ticket/src/utils/map-form-values-to-submission.ts
  libs/deal-ticket/src/utils/time-in-force-persistence.spec.ts
  libs/deal-ticket/src/utils/time-in-force-persistence.ts
  libs/positions/src/lib/Positions.graphql
  libs/positions/src/lib/__generated__/Positions.ts
  libs/positions/src/lib/estimate-position.mock.ts
  libs/positions/src/lib/liquidation-price.spec.tsx
Labels: explorer-preview, governance-preview, trading-preview

#5748 fix(trading): trading view on multiple tabs
  libs/trading-view/src/lib/trading-view.tsx
  libs/trading-view/src/lib/use-datafeed.ts
Labels: trading-preview

#5752 fix(environment): pick best node
  libs/environment/src/components/node-switcher/row-data.spec.tsx
  libs/environment/src/components/node-switcher/row-data.tsx
  libs/environment/src/hooks/use-environment.spec.ts
  libs/environment/src/hooks/use-environment.ts
  libs/environment/src/utils/time.spec.ts
  libs/environment/src/utils/time.ts
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5755 fix(trading): trading view fix on main
  libs/trading-view/src/lib/trading-view.tsx
  libs/trading-view/src/lib/use-datafeed.ts
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5769 chore(trading): fix test teardown
  .github/workflows/console-test-run.yml
  apps/trading/e2e/.env
  apps/trading/e2e/conftest.py
  apps/trading/e2e/tests/deal_ticket/test_basic.py
  apps/trading/e2e/tests/deal_ticket/test_stop_order.py
  apps/trading/e2e/tests/deal_ticket/test_trading_deal_ticket_submit_account.py
  apps/trading/e2e/tests/fees/test_fees.py
  apps/trading/e2e/tests/get_started/test_get_started.py
  apps/trading/e2e/tests/iceberg_orders/test_iceberg_orders.py
  apps/trading/e2e/tests/liquidity_provision/test_liquidity_provision.py
  apps/trading/e2e/tests/market/test_closed_markets.py
  apps/trading/e2e/tests/market/test_market_info.py
  apps/trading/e2e/tests/market/test_markets_proposed.py
  apps/trading/e2e/tests/market/test_monitoring_auction_price_volatility_market.py
  apps/trading/e2e/tests/navigation/test_navigation.py
  apps/trading/e2e/tests/order/test_order_status.py
  apps/trading/e2e/tests/orderbook/test_orderbook.py
  apps/trading/e2e/tests/positions/test_collateral.py
  apps/trading/e2e/tests/referrals/test_referrals.py
  apps/trading/e2e/tests/rewards/test_rewards.py
  apps/trading/e2e/tests/rewards/test_rewards_activity_tier_0.py
  apps/trading/e2e/tests/settings/test_settings.py
  apps/trading/e2e/tests/teams/test_teams.py
Labels: trading-preview

#5764 chore(trading): create and update team form traversing
  apps/trading/client-pages/competitions/competitions-create-team.tsx
  apps/trading/client-pages/competitions/competitions-update-team.tsx
  apps/trading/components/competitions/team-avatar.tsx
  libs/i18n/src/locales/en/trading.json
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5719 feat(explorer): update party profile tx
  apps/explorer/src/app/components/txs/details/proposal/tx-update-party-profile.tsx
  apps/explorer/src/app/components/txs/details/tx-details-wrapper.tsx
  apps/explorer/src/app/components/txs/tx-filter.tsx
Labels: explorer-preview

#5775 fix(trading): keep leaderboard rank when filtering
  apps/trading/components/competitions/competitions-leaderboard.tsx
  apps/trading/lib/hooks/use-teams.tsx
Labels: trading-preview

#5779 chore(trading): switch eth provider URL
  apps/trading/.env.mainnet
Labels: trading-preview

#5751 feat(trading): mobile layout and buttons
  apps/trading/client-pages/markets/mobile-buttons.tsx
  apps/trading/client-pages/portfolio/portfolio-sidebar.tsx
  apps/trading/components/layouts/layout-with-sidebar.tsx
  apps/trading/components/sidebar/sidebar.tsx
  apps/trading/pages/client-router.tsx
  libs/ui-toolkit/src/components/dialog/dialog.tsx
  libs/ui-toolkit/src/components/trading-dropdown/actions-dropdown.tsx
  libs/ui-toolkit/src/components/trading-dropdown/index.ts
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5761 chore(utils): improve formatNumber to keep precision
  apps/trading/client-pages/referrals/hooks/use-referral-program.ts
  apps/trading/client-pages/referrals/referral-statistics.tsx
  apps/trading/components/competitions/competitions-leaderboard.tsx
  libs/liquidity/src/lib/liquidity-table.tsx
  libs/market-depth/src/lib/depth-chart.tsx
  libs/utils/src/lib/format/number.spec.ts
  libs/utils/src/lib/format/number.ts
  libs/utils/src/lib/format/range.spec.ts
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5776 chore(explorer): remove voting column from proposal table
  apps/explorer-e2e/src/integration/proposal.cy.js
  apps/explorer/src/app/components/proposals/proposals-table.tsx
Labels: explorer-preview

#5721 feat(accounts): get trasfer fee from estimateTransferFee API
  libs/accounts/src/lib/TransferFee.graphql
  libs/accounts/src/lib/__generated__/TransferFee.ts
  libs/accounts/src/lib/transfer-container.tsx
  libs/accounts/src/lib/transfer-form.spec.tsx
  libs/accounts/src/lib/transfer-form.tsx
  libs/i18n/src/locales/en/accounts.json
  specs/1003-TRAN-transfer.md
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5773 feat(trading): add LP fee settings
  apps/trading/components/competitions/games-container.tsx
  apps/trading/components/rewards-container/active-rewards.tsx
  apps/trading/e2e/tests/teams/test_teams.py
  libs/environment/src/hooks/use-links.ts
  libs/i18n/src/locales/en/trading.json
  libs/markets/src/lib/__generated__/markets.ts
  libs/markets/src/lib/components/market-info/MarketInfo.graphql
  libs/markets/src/lib/components/market-info/__generated__/MarketInfo.ts
  libs/markets/src/lib/components/market-info/market-info-accordion.tsx
  libs/markets/src/lib/components/market-info/market-info-panels.tsx
  libs/markets/src/lib/components/market-info/tooltip-mapping.tsx
  libs/markets/src/lib/components/oracle-full-profile/oracle-full-profile.tsx
  libs/markets/src/lib/markets.graphql
  libs/markets/src/lib/markets.mock.ts
  libs/types/src/__generated__/types.ts
  libs/types/src/global-types-mappings.ts
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5727 fix(trading): validate whitespace team names, show empty in list
  apps/trading/client-pages/competitions/team-form.tsx
  apps/trading/components/competitions/competitions-leaderboard.tsx
  libs/i18n/src/locales/en/trading.json
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5768 chore(trading, governance, explorer): update snap to 1.0.1
  libs/wallet/src/connectors/snap-connector.ts
Labels: Trading, explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5783 feat(deal-ticket): rename EstimatePosition argument
  apps/trading/e2e/tests/deal_ticket/test_trading_deal_ticket_submit_account.py
  libs/deal-ticket/src/components/deal-ticket/deal-ticket.tsx
  libs/deal-ticket/src/components/deal-ticket/margin-mode-selector.tsx
  libs/positions/src/lib/Positions.graphql
  libs/positions/src/lib/__generated__/Positions.ts
  libs/types/src/__generated__/types.ts
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5791 fix(trading): game cards colour, missing market info, other tweaks
  apps/trading/client-pages/competitions/competitions-team.tsx
  apps/trading/components/competitions/games-container.tsx
  apps/trading/lib/hooks/use-teams.tsx
  libs/i18n/src/locales/en/trading.json
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5785 chore(trading): misc fixes
  apps/trading/client-pages/fees/fees.tsx
  apps/trading/client-pages/markets/markets-page.tsx
  apps/trading/client-pages/portfolio/portfolio.tsx
  apps/trading/client-pages/rewards/rewards.tsx
  libs/proposals/src/components/protocol-upgrade-in-progress-notification.tsx
  libs/ui-toolkit/src/components/notification-banner/notification-banner.tsx
  libs/ui-toolkit/src/components/viewing-as-user/index.tsx
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5789 fix(governance): dont show all reward types in gov rewards table
  apps/governance/src/routes/rewards/epoch-total-rewards/generate-epoch-total-rewards-list.spec.ts
  apps/governance/src/routes/rewards/epoch-total-rewards/generate-epoch-total-rewards-list.ts
Labels: governance-preview

#5794 chore(trading): add missed vega cleanup
  apps/trading/e2e/tests/perpetual_market/test_perpetuals.py
Labels: trading-preview

#5784 chore(trading): update vega version for sim tests - 0.74.0
  .github/workflows/console-test-run.yml
  apps/trading/e2e/.env
  apps/trading/e2e/.env.develop
  apps/trading/e2e/.env.main
  apps/trading/e2e/poetry.lock
  apps/trading/e2e/tests/teams/test_teams.py
Labels: trading-preview

#5786 chore(trading): add cross isolated margin info test
  apps/trading/e2e/tests/deal_ticket/test_isolated_cross_margin.py
  libs/deal-ticket/src/components/deal-ticket/margin-mode-selector.tsx
Labels: Trading, explorer-preview, governance-preview, trading-preview

#5788 fix(trading): add missing funding panel, fix 24 hr price/volume change
  apps/trading/client-pages/market/market-header-stats.tsx
  apps/trading/client-pages/market/trade-panels.tsx
  apps/trading/components/market-header/mobile-market-header.tsx
  apps/trading/e2e/tests/market_lifecycle/test_market_lifecycle.py
  libs/datagrid/src/lib/use-datagrid-events.ts
  libs/i18n/src/locales/en/markets.json
  libs/markets/src/lib/components/last-24h-price-change/last-24h-price-change.tsx
  libs/markets/src/lib/components/last-24h-volume/last-24h-volume.tsx
  libs/markets/src/lib/hooks/use-candles.spec.ts
  libs/markets/src/lib/hooks/use-candles.ts
  libs/positions/src/lib/use-open-volume.ts
Labels: Trading, explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5801 feat(trading): game results table
  apps/trading/client-pages/competitions/competitions-home.tsx
  apps/trading/client-pages/competitions/competitions-team.tsx
  apps/trading/client-pages/referrals/hooks/use-referral-toasts.tsx
  apps/trading/client-pages/referrals/referral-statistics.tsx
  apps/trading/components/competitions/games-container.tsx
  apps/trading/components/rewards-container/Rewards.graphql
  apps/trading/components/rewards-container/__generated__/Rewards.ts
  apps/trading/components/rewards-container/active-rewards.tsx
  apps/trading/components/table/table.tsx
  apps/trading/e2e/tests/teams/test_teams.py
  apps/trading/lib/hooks/Epoch.graphql
  apps/trading/lib/hooks/Games.graphql
  apps/trading/lib/hooks/__generated__/Epoch.ts
  apps/trading/lib/hooks/__generated__/Games.ts
  apps/trading/lib/hooks/use-game-cards.ts
  apps/trading/lib/hooks/use-games.ts
  libs/i18n/src/locales/en/trading.json
  libs/markets/src/lib/markets-provider.ts
  libs/types/src/__generated__/types.ts
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5811 fix(trading): add depth chart on mobile view
  apps/trading/client-pages/market/trade-panels.tsx
Labels: trading-preview

#5798 feat(explorer): add treasury view
  apps/explorer/src/app/components/asset-balance/asset-balance.tsx
  apps/explorer/src/app/components/header/header.tsx
  apps/explorer/src/app/components/links/party-link/party-link.tsx
  apps/explorer/src/app/components/txs/details/transfer/blocks/transfer-status.tsx
  apps/explorer/src/app/routes/route-names.tsx
  apps/explorer/src/app/routes/router-config.tsx
  apps/explorer/src/app/routes/treasury/Treasury.graphql
  apps/explorer/src/app/routes/treasury/TreasuryTransfers.graphql
  apps/explorer/src/app/routes/treasury/__generated__/Treasury.ts
  apps/explorer/src/app/routes/treasury/__generated__/TreasuryTransfers.ts
  apps/explorer/src/app/routes/treasury/components/asset-icon/index.tsx
  apps/explorer/src/app/routes/treasury/components/asset-icon/usdc.tsx
  apps/explorer/src/app/routes/treasury/components/asset-icon/usdt.tsx
  apps/explorer/src/app/routes/treasury/components/asset-icon/vega.tsx
  apps/explorer/src/app/routes/treasury/components/network-accounts-table.spec.tsx
  apps/explorer/src/app/routes/treasury/components/network-accounts-table.tsx
  apps/explorer/src/app/routes/treasury/components/network-transfers-table.spec.tsx
  apps/explorer/src/app/routes/treasury/components/network-transfers-table.tsx
  apps/explorer/src/app/routes/treasury/index.tsx
  apps/explorer/src/app/routes/treasury/network-treasury.tsx
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5816 fix(explorer): sizedelta in ammends displayed incorrectly'
  apps/explorer/src/app/components/order-details/amend-order-details.spec.tsx
  apps/explorer/src/app/components/order-details/amend-order-details.tsx
Labels: explorer-preview

#5812 feat(trading): colourful rewards
  apps/trading/client-pages/competitions/competitions-home.tsx
  apps/trading/client-pages/competitions/competitions-team.tsx
  apps/trading/components/competitions/games-container.tsx
  apps/trading/components/rewards-container/active-rewards.spec.tsx
  apps/trading/components/rewards-container/active-rewards.tsx
  apps/trading/components/rewards-container/rewards-container.tsx
  apps/trading/components/rewards-container/rewards-history.tsx
  apps/trading/components/rewards-container/use-reward-row-data.ts
  apps/trading/lib/hooks/Rewards.graphql
  apps/trading/lib/hooks/__generated__/Rewards.ts
  apps/trading/lib/hooks/use-game-cards.ts
  apps/trading/lib/hooks/use-rewards.spec.ts
  apps/trading/lib/hooks/use-rewards.ts
  libs/assets/src/lib/assets-data-provider.ts
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5826 chore(trading): competitions texts
  apps/trading/client-pages/competitions/competitions-home.tsx
  libs/environment/src/hooks/use-links.ts
  libs/i18n/src/locales/en/trading.json
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5828 fix(trading): competitions font tweaks
  apps/trading/client-pages/competitions/competitions-home.tsx
  apps/trading/components/competitions/competitions-leaderboard.tsx
  apps/trading/components/competitions/games-container.tsx
  libs/i18n/src/locales/en/trading.json
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5829 chore(trading): update to vega 74.3
  apps/trading/e2e/.env
  apps/trading/e2e/.env.develop
  apps/trading/e2e/tests/order/test_order_status.py
  apps/trading/e2e/tests/teams/test_teams.py
Labels: trading-preview

#5830 fix(governance): market name component not showing correct instrument code
  apps/governance/src/app.tsx
  apps/governance/src/routes/proposals/components/proposal-detail-header/proposal-header.tsx
Labels: governance-preview

#5780 feat(trading): support modified funding payment calc
  libs/i18n/src/locales/en/markets.json
  libs/markets/src/lib/__generated__/OracleMarketsSpec.ts
  libs/markets/src/lib/__generated__/markets.ts
  libs/markets/src/lib/components/market-info/MarketInfo.graphql
  libs/markets/src/lib/components/market-info/__generated__/MarketInfo.ts
  libs/markets/src/lib/components/market-info/market-info-accordion.tsx
  libs/markets/src/lib/components/market-info/market-info-panels.tsx
  libs/markets/src/lib/components/market-info/tooltip-mapping.tsx
  libs/types/src/__generated__/types.ts
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5831 chore(trading): update e2e dependencies
  apps/trading/e2e/poetry.lock
Labels: trading-preview

#5842 fix(governance): update market proposal diff
  apps/governance/.env
  apps/governance/src/routes/proposals/components/proposal-json/proposal-json.tsx
  apps/governance/src/routes/proposals/components/proposal-market-changes/proposal-market-changes.spec.tsx
  apps/governance/src/routes/proposals/components/proposal-market-changes/proposal-market-changes.tsx
  apps/governance/src/routes/proposals/components/proposal/proposal-change-details.tsx
  apps/governance/src/routes/proposals/components/proposal/proposal-utils.ts
  apps/governance/src/routes/proposals/components/proposal/proposal.spec.tsx
  apps/governance/src/routes/proposals/components/proposal/proposal.tsx
  apps/governance/src/routes/proposals/proposal/proposal-container.tsx
Labels: governance-preview

#5834 fix(trading): use same epochs for all games/stats
  apps/trading/lib/hooks/constants.ts
  apps/trading/lib/hooks/use-games.ts
  apps/trading/lib/hooks/use-team.ts
  apps/trading/lib/hooks/use-teams.tsx
Labels: trading-preview

#5844 chore(trading): update e2e test readme
  apps/trading/e2e/README.md
Labels: trading-preview

#5808 test(governance): revert tests
  apps/explorer-e2e/src/integration/proposal.cy.js
  apps/governance-e2e/src/integration/view/home.cy.ts
  apps/governance-e2e/src/integration/view/proposal.cy.ts
  apps/governance-e2e/src/integration/view/pubkey-view.cy.ts
  apps/governance-e2e/src/integration/view/validators.cy.ts
  libs/cypress/src/lib/capsule/ethereum-setup.ts
  libs/cypress/src/lib/commands/create-market.ts
  libs/cypress/src/lib/commands/validators-self-delegate.ts
  vegacapsule/genesis.tmpl
Labels: Governance, explorer-preview, governance-preview, trading-preview

#5846 fix(trading): lp data provider reload - updating book
  apps/trading/components/liquidity-container/liquidity-container.tsx
Labels: Trading, trading-preview

#5857 feat(governance): batch proposal indicators, vote breakdown ui changes
  apps/governance/src/components/heading/heading.tsx
  apps/governance/src/routes/proposals/components/proposal-detail-header/proposal-header.tsx
  apps/governance/src/routes/proposals/components/proposal-market-changes/proposal-market-changes.spec.tsx
  apps/governance/src/routes/proposals/components/proposal-market-changes/proposal-market-changes.tsx
  apps/governance/src/routes/proposals/components/proposal-update-market-state/proposal-update-market-state.spec.tsx
  apps/governance/src/routes/proposals/components/proposal-update-market-state/proposal-update-market-state.tsx
  apps/governance/src/routes/proposals/components/proposal/colours.ts
  apps/governance/src/routes/proposals/components/vote-breakdown/vote-breakdown.tsx
Labels: governance-preview

#5858 chore(governance, trading): update links for new beta extension
  apps/governance/.env
  apps/governance/.env.capsule
  apps/governance/.env.devnet
  apps/governance/.env.stagnet1
  apps/governance/.env.testnet
  apps/governance/.env.validators-testnet
  apps/trading/.env
  apps/trading/.env.capsule
  apps/trading/.env.devnet
  apps/trading/.env.stagnet1
  apps/trading/.env.testnet
  apps/trading/.env.validators-testnet
Labels: governance-preview, trading-preview

#5865 chore(trading): remove fixture usage
  apps/trading/e2e/tests/deal_ticket/test_stop_order_oco.py
  apps/trading/e2e/tests/referrals/test_referrals.py
Labels: trading-preview

#5868 chore(trading): fix skipped tests
  apps/trading/e2e/tests/deal_ticket/test_trading_deal_ticket_submit_account.py
  apps/trading/e2e/tests/market/test_market_info.py
  apps/trading/e2e/tests/orderbook/test_orderbook.py
Labels: trading-preview

#5849 fix(trading): banner for resume trading
  apps/trading/components/market-banner/market-banner.tsx
  apps/trading/components/market-banner/market-successor-proposal-banner.tsx
  apps/trading/components/market-banner/market-update-banner.spec.tsx
  apps/trading/components/market-banner/market-update-banner.tsx
  apps/trading/components/market-banner/market-update-state-banner.tsx
  apps/trading/components/market-banner/use-market-proposals.ts
  apps/trading/components/market-header/mobile-market-header.tsx
  apps/trading/e2e/tests/market_lifecycle/test_market_lifecycle.py
  libs/proposals/src/lib/proposals-data-provider/Proposals.graphql
  libs/proposals/src/lib/proposals-data-provider/__generated__/Proposals.ts
  libs/proposals/src/lib/proposals-data-provider/index.ts
  libs/proposals/src/lib/proposals-data-provider/proposals-data-provider.tsx
  libs/types/src/__generated__/types.ts
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5845 fix(governance): add multisig score to the validator page
  apps/governance/src/lib/get-multisig-status-info.spec.ts
  apps/governance/src/lib/get-multisig-status-info.ts
  apps/governance/src/routes/staking/PreviousEpoch.graphql
  apps/governance/src/routes/staking/__generated__/PreviousEpoch.ts
  apps/governance/src/routes/staking/node/validator-table.tsx
  libs/i18n/src/locales/en/governance.json
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5869 fix(governance): network paramater change in batch proposals
  apps/governance/src/components/collapsible-toggle/collapsible-toggle.tsx
  apps/governance/src/routes/proposals/components/proposal-detail-header/proposal-header.tsx
  apps/governance/src/routes/proposals/components/proposal-json/proposal-json.tsx
  apps/governance/src/routes/proposals/components/proposal-market-changes/proposal-market-changes.tsx
  apps/governance/src/routes/proposals/components/proposal/colours.ts
  apps/governance/src/routes/proposals/components/proposal/indicator.tsx
  apps/governance/src/routes/proposals/components/proposal/market-name.tsx
  apps/governance/src/routes/proposals/components/proposal/proposal-change-details.tsx
  apps/governance/src/routes/proposals/components/proposal/proposal.tsx
  apps/governance/src/routes/proposals/components/proposals-list/proposals-list.tsx
  apps/governance/src/routes/proposals/components/vote-breakdown/vote-breakdown.tsx
  libs/tailwindcss-config/src/vega-custom-classes.js
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5873 chore(trading): update vega binaries
  .github/workflows/lint-pr.yml
  apps/trading/e2e/.env
  apps/trading/e2e/.env.develop
  apps/trading/e2e/poetry.lock
  package.json
  yarn.lock
Labels: explorer-preview, governance-preview, trading-preview, multisig-signer-preview

#5888 fix(trading): fix reward card asssets
  apps/trading/components/rewards-container/active-rewards.tsx
  apps/trading/e2e/tests/teams/test_teams.py
  apps/trading/lib/hooks/use-rewards.ts
Labels: trading-preview

#5877 fix(trading): fees by market fix order
  apps/trading/components/fees-container/market-fees.tsx
Labels: trading-preview

#5879 fix(governance): rewards pagination and columns
  apps/governance/.env
  apps/governance/.env.capsule
  apps/governance/.env.devnet
  apps/governance/.env.mainnet
  apps/governance/.env.mainnet-mirror
  apps/governance/.env.stagnet1
  apps/governance/.env.testnet
  apps/governance/src/components/vega-wallet/hooks.ts
  apps/governance/src/config/env.ts
  apps/governance/src/routes/rewards/epoch-individual-rewards/epoch-individual-rewards.tsx
  apps/governance/src/routes/rewards/epoch-individual-rewards/generate-epoch-individual-rewards-list.spec.ts
  apps/governance/src/routes/rewards/epoch-total-rewards/epoch-total-rewards.tsx
  apps/governance/src/routes/rewards/epoch-total-rewards/generate-epoch-total-rewards-list.spec.ts
  apps/governance/src/routes/rewards/shared-rewards-table-assets/shared-rewards-table-assets.tsx
  apps/governance/src/routes/staking/home/epoch-data.tsx
  apps/governance/src/routes/staking/node/nodes-container.tsx
  apps/governance/src/routes/staking/node/staking-form.tsx
Labels: governance-preview
