Repository vegaprotocol/frontend-monorepo, changes with the owners that CODEOWNERS names for each.
All owners: @vegaprotocol/frontend, @vegaprotocol/frontend-qa, @vegaprotocol/core

CODEOWNERS:

* @vegaprotocol/frontend
apps/ @vegaprotocol/frontend-qa
libs/ @vegaprotocol/frontend-qa
*.graphql @vegaprotocol/core

chore(trading): update readme and docker image creation
  .gitignore
  apps/trading/e2e/README.md
  apps/trading/e2e/poetry.lock
  apps/trading/e2e/pyproject.toml
  docker/prepare-dist.sh
Owners: @vegaprotocol/frontend, @vegaprotocol/frontend-qa

chore(trading): update readme and fix test
  .github/workflows/console-test-run.yml
  apps/trading/e2e/README.md
  apps/trading/e2e/tests/transfer/test_transfer_key_to_key.py
Owners: @vegaprotocol/frontend, @vegaprotocol/frontend-qa

chore(trading): update lp test
  apps/trading/e2e/tests/liquidity_provision/test_liquidity_provision.py
Owners: @vegaprotocol/frontend-qa

fix: incorrect import type for market document
  libs/markets/src/lib/components/market-info/market-info-data-provider.ts
Owners: @vegaprotocol/frontend-qa

chore: add explicit types for useParams
  apps/explorer/src/app/routes/assets/asset-page.tsx
  apps/explorer/src/app/routes/blocks/id/block.tsx
  apps/explorer/src/app/routes/markets/market-page.tsx
  apps/explorer/src/app/routes/oracles/id/index.tsx
  apps/explorer/src/app/routes/parties/id/accounts/index.tsx
  apps/explorer/src/app/routes/parties/id/index.tsx
  apps/explorer/src/app/routes/txs/id/index.tsx
  apps/governance/src/routes/redemption/home/redemption-information.tsx
  apps/governance/src/routes/redemption/redemption.tsx
  apps/governance/src/routes/redemption/tranche/index.tsx
  apps/governance/src/routes/staking/node/node.tsx
  apps/governance/src/routes/tranches/tranche.tsx
  apps/liquidity-provision-dashboard/src/app/components/detail/detail.tsx
Owners: @vegaprotocol/frontend-qa

chore(trading,governance,explorer): disable prettier tailwind plugin
  .prettierrc
Owners: @vegaprotocol/frontend

chore: remove prettier plugin
  package.json
  yarn.lock
Owners: @vegaprotocol/frontend

chore: update ignore and format babel files
  .prettierignore
  libs/announcements/.babelrc
  libs/positions/.babelrc
Owners: @vegaprotocol/frontend, @vegaprotocol/frontend-qa

chore(trading,governance,explorer): disable prettier tailwind plugin (#5258)
  .prettierignore
  libs/announcements/.babelrc
  libs/positions/.babelrc
  package.json
  yarn.lock
Owners: @vegaprotocol/frontend, @vegaprotocol/frontend-qa

feat(environment): use i18next
  apps/trading/lib/i18n/index.ts
  apps/trading/pages/_app.page.tsx
  libs/environment/__mocks__/react-i18next.ts
  libs/environment/src/components/etherscan-link.tsx
  libs/environment/src/components/network-switcher/network-switcher.spec.tsx
  libs/environment/src/components/network-switcher/network-switcher.tsx
  libs/environment/src/components/node-failure/node-failure.tsx
  libs/environment/src/components/node-switcher/layout-cell.tsx
  libs/environment/src/components/node-switcher/node-switcher.tsx
  libs/environment/src/components/node-switcher/row-data.tsx
  libs/environment/src/hooks/use-environment.ts
  libs/environment/src/use-t.ts
Owners: @vegaprotocol/frontend-qa

feat: fix translation interpolation in accounts lib
  libs/accounts/src/lib/transfer-container.tsx
  libs/accounts/src/lib/use-t.ts
Owners: @vegaprotocol/frontend-qa

feat: use i18next-locize-backend
  apps/trading/lib/i18n/index.ts
  package.json
  yarn.lock
Owners: @vegaprotocol/frontend-qa, @vegaprotocol/frontend

feat: fix translation interpolation in accounts lib
  libs/accounts/src/lib/accounts-manager.tsx
  libs/accounts/src/lib/transfer-form.tsx
Owners: @vegaprotocol/frontend-qa

feat: use i18next in assets lib
  apps/trading/lib/i18n/index.ts
  libs/assets/src/lib/asset-details-dialog.tsx
  libs/assets/src/lib/asset-details-table.tsx
  libs/assets/src/lib/asset-option.tsx
  libs/assets/src/lib/constants.ts
  libs/assets/src/lib/use-t.ts
Owners: @vegaprotocol/frontend-qa

feat: use i18next in deal-ticket
  apps/trading/lib/i18n/index.ts
  libs/deal-ticket/src/components/deal-ticket/deal-ticket-container.tsx
  libs/deal-ticket/src/components/deal-ticket/deal-ticket-fee-details.tsx
  libs/deal-ticket/src/components/deal-ticket/deal-ticket-stop-order.tsx
  libs/deal-ticket/src/components/deal-ticket/deal-ticket.tsx
  libs/deal-ticket/src/components/deal-ticket/expiry-selector.tsx
  libs/deal-ticket/src/components/deal-ticket/time-in-force-selector.tsx
  libs/deal-ticket/src/components/fees-breakdown/fees-breakdown.tsx
  libs/deal-ticket/src/constants.ts
  libs/deal-ticket/src/utils/index.ts
  libs/deal-ticket/src/utils/validate-market-state.ts
Owners: @vegaprotocol/frontend-qa

feat: use i18next in deal-ticket
  libs/deal-ticket/src/components/deal-ticket-validation/margin-warning.tsx
  libs/deal-ticket/src/components/deal-ticket-validation/zero-balance-error.tsx
  libs/deal-ticket/src/components/deal-ticket/deal-ticket-container.tsx
  libs/deal-ticket/src/components/deal-ticket/deal-ticket-fee-details.tsx
  libs/deal-ticket/src/components/deal-ticket/deal-ticket-size-iceberg.tsx
  libs/deal-ticket/src/components/deal-ticket/deal-ticket-stop-order.tsx
  libs/deal-ticket/src/components/deal-ticket/deal-ticket.tsx
  libs/deal-ticket/src/components/deal-ticket/expiry-selector.tsx
  libs/deal-ticket/src/components/deal-ticket/side-selector.tsx
  libs/deal-ticket/src/components/deal-ticket/time-in-force-selector.tsx
  libs/deal-ticket/src/components/deal-ticket/type-selector.tsx
  libs/deal-ticket/src/components/trading-mode-tooltip/compile-grid-data.tsx
  libs/deal-ticket/src/components/trading-mode-tooltip/trading-mode-tooltip.tsx
  libs/deal-ticket/src/use-t.ts
  libs/deal-ticket/src/utils/validate-expiration.ts
  libs/deal-ticket/src/utils/validate-market-trading-mode.ts
  libs/deal-ticket/tsconfig.lib.json
Owners: @vegaprotocol/frontend-qa

feat: use i18next in deal-ticket
  apps/trading/lib/i18n/index.ts
  libs/deposits/src/lib/approve-notification.tsx
  libs/deposits/src/lib/deposit-form.tsx
  libs/deposits/src/lib/deposit-limits.tsx
  libs/deposits/src/lib/faucet-notification.tsx
  libs/deposits/src/lib/get-faucet-error.ts
  libs/deposits/src/lib/use-t.ts
Owners: @vegaprotocol/frontend-qa

feat: use i18next in datagrid
  apps/trading/lib/i18n/index.ts
  libs/assets/src/lib/asset-details-dialog.tsx
  libs/datagrid/src/lib/ag-grid/ag-grid-themed.tsx
  libs/datagrid/src/lib/cells/order-type-cell.tsx
  libs/datagrid/src/lib/filters/date-range-filter.tsx
  libs/datagrid/src/lib/filters/set-filter.tsx
  libs/datagrid/src/lib/use-t.ts
Owners: @vegaprotocol/frontend-qa

feat: use i18next in tradin app and selected libs
  apps/trading/lib/i18n/index.ts
  apps/trading/pages/_app.page.tsx
  libs/accounts/src/lib/accounts-actions-dropdown.tsx
  libs/accounts/src/lib/accounts-manager.tsx
  libs/accounts/src/lib/accounts-table.tsx
  libs/accounts/src/lib/breakdown-table.tsx
  libs/accounts/src/lib/margin-health-chart.tsx
  libs/accounts/src/lib/transfer-container.tsx
  libs/accounts/src/lib/transfer-form.tsx
  libs/accounts/src/lib/use-t.ts
  libs/fills/src/index.ts
  libs/fills/src/lib/fills-manager.tsx
  libs/fills/src/lib/fills-table.tsx
  libs/fills/src/lib/i18n-en.json
  libs/fills/src/lib/use-t.jsx
  libs/funding-payments/src/index.ts
  libs/funding-payments/src/lib/funding-payments-manager.tsx
  libs/funding-payments/src/lib/funding-payments-table.tsx
  libs/funding-payments/src/lib/i18n-en.json
  libs/funding-payments/src/lib/use-t.jsx
Owners: @vegaprotocol/frontend-qa

feat: use i18next in candles-chart
  apps/trading/lib/i18n/index.ts
  libs/candles-chart/src/lib/candles-chart.tsx
  libs/candles-chart/src/lib/candles-menu.tsx
  libs/candles-chart/src/lib/use-t.ts
Owners: @vegaprotocol/frontend-qa

feat: fixes
  apps/explorer/src/app/components/assets/assets-table.tsx
  libs/accounts/src/lib/accounts-table.tsx
  libs/accounts/src/lib/breakdown-table.tsx
  libs/accounts/src/lib/margin-health-chart.tsx
  libs/assets/src/lib/asset-details-table.spec.tsx
  libs/candles-chart/src/lib/candles-chart.tsx
  libs/deposits/src/lib/approve-notification.tsx
Owners: @vegaprotocol/frontend-qa

feat: fixes
  apps/trading/__mocks__/react-i18next.ts
  apps/trading/client-pages/transfer/transfer.tsx
  apps/trading/client-pages/withdraw/withdraw.tsx
  libs/deal-ticket/__mocks__/react-i18next.ts
  libs/deposits/__mocks__/react-i18next.ts
  libs/deposits/src/lib/approve-notification.tsx
  libs/deposits/src/lib/deposit-form.tsx
  libs/deposits/src/lib/deposit-limits.tsx
  libs/deposits/src/lib/faucet-notification.tsx
  libs/deposits/src/lib/get-faucet-error.ts
  libs/environment/src/components/network-switcher/network-switcher.spec.tsx
  libs/orders/__mocks__/react-i18next.ts
Owners: @vegaprotocol/frontend-qa

feat: use i18next-http-backend in governance
  apps/governance/src/__mocks__/react-i18next.ts
  apps/governance/src/app-loader.tsx
  apps/governance/src/assets/locales
  apps/governance/src/i18n/index.ts
  apps/governance/src/i18n/translations/dev.json
  apps/governance/src/setup-tests.ts
  libs/environment/src/use-t.ts
  libs/i18n/locales/en/governance.json
Owners: @vegaprotocol/frontend-qa

feat: wrap App with Suspense
  apps/governance/src/app.tsx
Owners: @vegaprotocol/frontend-qa

feat: trading locales fixes
  apps/trading/components/bootstrapper/bootstrapper.tsx
  apps/trading/lib/i18n/index.ts
  libs/accounts/src/lib/accounts-table.tsx
  libs/datagrid/src/lib/pagination.tsx
  libs/deal-ticket/src/components/deal-ticket/deal-ticket-stop-order.tsx
  libs/deposits/src/lib/get-faucet-error.ts
  libs/environment/src/hooks/use-node-health.ts
  libs/fills/src/lib/fill-actions-dropdown.tsx
  libs/i18n/locales/en/accounts.json
  libs/i18n/locales/en/assets.json
  libs/i18n/locales/en/candles-chart.json
  libs/i18n/locales/en/datagrid.json
  libs/i18n/locales/en/deal-ticket.json
  libs/i18n/locales/en/deposits.json
  libs/i18n/locales/en/environment.json
  libs/i18n/locales/en/fills.json
Owners: @vegaprotocol/frontend-qa

feat: use locize only if NX_USE_LOCIZE
  apps/governance/src/i18n/index.ts
  apps/trading/lib/i18n/index.ts
Owners: @vegaprotocol/frontend-qa

feat: code fixes
  libs/deal-ticket/src/components/deal-ticket/deal-ticket-fee-details.tsx
  libs/deal-ticket/src/components/deal-ticket/deal-ticket-margin-details.tsx
  libs/deal-ticket/src/components/deal-ticket/deal-ticket.tsx
Owners: @vegaprotocol/frontend-qa

feat: update deal-ticket i18n labales
  libs/deal-ticket/src/components/deal-ticket/deal-ticket.tsx
  libs/deal-ticket/src/components/deal-ticket/time-in-force-selector.tsx
  libs/i18n/src/locales/en/deal-ticket.json
Owners: @vegaprotocol/frontend-qa

feat: fix unit tests
  apps/governance/src/__mocks__/react-i18next.ts
  apps/governance/src/assets/locales
  apps/governance/src/setup-tests.ts
  apps/trading/public/locales
  libs/datagrid/__mocks__/react-i18next.ts
  libs/datagrid/src/lib/pagination.spec.tsx
  libs/datagrid/src/lib/pagination.tsx
  libs/environment/src/hooks/use-node-health.spec.tsx
  libs/environment/src/hooks/use-node-health.ts
  libs/i18n/src/index.ts
  libs/i18n/src/locales/en/accounts.json
  libs/i18n/src/locales/en/assets.json
  libs/i18n/src/locales/en/candles-chart.json
  libs/i18n/src/locales/en/datagrid.json
  libs/i18n/src/locales/en/deal-ticket.json
  libs/i18n/src/locales/en/deposits.json
  libs/i18n/src/locales/en/environment.json
  libs/i18n/src/locales/en/fills.json
  libs/i18n/src/locales/en/funding-payments.json
  libs/i18n/src/locales/en/governance.json
  libs/i18n/src/locales/en/trading.json
  libs/i18n/tsconfig.lib.json
Owners: @vegaprotocol/frontend-qa

feat: i18n fixes
  apps/governance/src/i18n/index.ts
  apps/trading/lib/i18n/index.ts
  libs/accounts/src/lib/breakdown-table.tsx
  libs/deal-ticket/src/components/deal-ticket/deal-ticket-stop-order.tsx
  libs/deal-ticket/src/components/deal-ticket/type-selector.tsx
  libs/deal-ticket/src/use-t.ts
  libs/i18n/src/locales/en/accounts.json
  libs/i18n/src/locales/en/assets.json
  libs/i18n/src/locales/en/deal-ticket.json
  libs/i18n/src/locales/en/deposits.json
  libs/i18n/src/locales/en/environment.json
  libs/ui-toolkit/src/components/tooltip/tooltip.tsx
Owners: @vegaprotocol/frontend-qa

feat: add http backend and locales
  apps/trading/lib/i18n/index.ts
  apps/trading/public/locales
  libs/candles-chart/src/lib/candles-menu.tsx
  libs/environment/src/components/network-switcher/network-switcher.tsx
  libs/i18n/locales/en/accounts.json
  libs/i18n/locales/en/assets.json
  libs/i18n/locales/en/candles-chart.json
  libs/i18n/locales/en/datagrid.json
  libs/i18n/locales/en/deal-ticket.json
  libs/i18n/locales/en/deposits.json
  libs/i18n/locales/en/environment.json
  libs/i18n/locales/en/fills.json
  libs/i18n/locales/en/funding-payments.json
  libs/i18n/locales/en/trading.json
  package.json
  yarn.lock
Owners: @vegaprotocol/frontend-qa, @vegaprotocol/frontend

feat: fix accounts unit tests
  libs/accounts/src/setup-tests.ts
  libs/i18n/src/index.ts
Owners: @vegaprotocol/frontend-qa

feat: update and fix labels
  libs/accounts/src/lib/margin-health-chart.tsx
  libs/accounts/src/lib/transfer-form.tsx
  libs/assets/src/lib/asset-details-table.tsx
  libs/deal-ticket/src/components/deal-ticket-validation/zero-balance-error.tsx
  libs/deal-ticket/src/components/deal-ticket/deal-ticket-margin-details.tsx
  libs/deal-ticket/src/components/deal-ticket/deal-ticket-size-iceberg.tsx
  libs/deal-ticket/src/components/deal-ticket/deal-ticket-stop-order.tsx
  libs/deal-ticket/src/components/deal-ticket/deal-ticket.tsx
  libs/deal-ticket/src/components/deal-ticket/type-selector.tsx
  libs/deal-ticket/src/constants.ts
  libs/deal-ticket/tsconfig.lib.json
  libs/deposits/src/lib/deposit-form.tsx
  libs/deposits/src/lib/faucet-notification.tsx
  libs/environment/src/components/node-switcher/node-switcher.tsx
  libs/i18n/src/locales/en/accounts.json
  libs/i18n/src/locales/en/assets.json
  libs/i18n/src/locales/en/datagrid.json
  libs/i18n/src/locales/en/deal-ticket.json
  libs/i18n/src/locales/en/deposits.json
  libs/i18n/src/locales/en/environment.json
  libs/i18n/src/locales/en/fills.json
Owners: @vegaprotocol/frontend-qa

chore: format
  apps/explorer/src/app/components/assets/assets-table.tsx
  libs/deal-ticket/src/utils/validate-expiration.ts
Owners: @vegaprotocol/frontend-qa

chore: fix type error
  libs/deal-ticket/src/utils/validate-expiration.ts
Owners: @vegaprotocol/frontend-qa

chore: replace FeeCard with generic Card component
  apps/trading/components/card/card.tsx
  apps/trading/components/card/index.ts
  apps/trading/components/fees-container/fees-container.tsx
  apps/trading/components/fees-container/stat.tsx
  apps/trading/components/rewards-container/rewards-container.tsx
Owners: @vegaprotocol/frontend-qa

chore: add basic reward container with layout
  apps/trading/client-pages/portfolio/portfolio.tsx
  apps/trading/components/rewards-container/index.ts
  apps/trading/components/rewards-container/rewards-container.tsx
Owners: @vegaprotocol/frontend-qa

chore: use generated type for vesting balances
  apps/trading/components/rewards-container/rewards-container.tsx
Owners: @vegaprotocol/frontend-qa

chore: don't show redeem button unless rewards are available
  apps/trading/components/rewards-container/rewards-container.tsx
Owners: @vegaprotocol/frontend-qa

feat: remove trailing zeroes
  apps/trading/components/rewards-container/rewards-container.tsx
Owners: @vegaprotocol/frontend-qa
