Repository vegaprotocol/frontend-monorepo, changes with the owners that CODEOWNERS names for each.
All owners: @vegaprotocol/frontend, @vegaprotocol/frontend-qa, @vegaprotocol/core

CODEOWNERS:

* @vegaprotocol/frontend
apps/ @vegaprotocol/frontend-qa
libs/ @vegaprotocol/frontend-qa
*.graphql @vegaprotocol/core

feat: add not connected state for multipliers
  apps/trading/components/rewards-container/rewards-container.spec.tsx
  apps/trading/components/rewards-container/rewards-container.tsx
Owners: @vegaprotocol/frontend-qa

feat: filter rewards by account
  apps/trading/components/rewards-container/rewards-history.tsx
Owners: @vegaprotocol/frontend-qa

feat: use vesting balances api for vega reward pot
  apps/trading/components/rewards-container/Rewards.graphql
  apps/trading/components/rewards-container/__generated__/Rewards.ts
  apps/trading/components/rewards-container/rewards-container.tsx
Owners: @vegaprotocol/core, @vegaprotocol/frontend-qa

chore: update tests
  apps/trading/components/navbar/navbar.spec.tsx
  apps/trading/components/rewards-container/rewards-container.spec.tsx
Owners: @vegaprotocol/frontend-qa

feat: apply multiplier to vesting rate
  apps/trading/components/rewards-container/rewards-container.tsx
Owners: @vegaprotocol/frontend-qa

chore: add file for rewards history table
  apps/trading/components/rewards-container/rewards-container.tsx
  apps/trading/components/rewards-container/rewards-history.tsx
Owners: @vegaprotocol/frontend-qa

feat: wire up vesting information
  apps/trading/components/rewards-container/Rewards.graphql
  apps/trading/components/rewards-container/__generated__/Rewards.ts
  apps/trading/components/rewards-container/rewards-container.tsx
  libs/markets/src/lib/__generated__/markets-candles.ts
Owners: @vegaprotocol/core, @vegaprotocol/frontend-qa

chore: remove duplicate export
  libs/markets/src/lib/__generated__/index.ts
Owners: @vegaprotocol/frontend-qa

feat: update reward pot card
  apps/trading/components/card/card.tsx
  apps/trading/components/card/index.ts
  apps/trading/components/fees-container/fees-container.tsx
  apps/trading/components/rewards-container/Rewards.graphql
  apps/trading/components/rewards-container/__generated__/Rewards.ts
  apps/trading/components/rewards-container/rewards-container.tsx
  libs/network-parameters/src/use-network-params.ts
Owners: @vegaprotocol/frontend-qa, @vegaprotocol/core

chore: add missing props for tests
  apps/trading/components/rewards-container/rewards-container.spec.tsx
Owners: @vegaprotocol/frontend-qa

feat: dont skip query if not connected
  apps/trading/components/rewards-container/rewards-container.tsx
Owners: @vegaprotocol/frontend-qa

chore: move rewards to own page
  apps/trading/client-pages/portfolio/portfolio.tsx
  apps/trading/client-pages/rewards/index.ts
  apps/trading/client-pages/rewards/rewards.tsx
  apps/trading/components/navbar/navbar.tsx
  apps/trading/components/rewards-container/rewards-container.tsx
  apps/trading/lib/links.ts
  apps/trading/pages/client-router.tsx
Owners: @vegaprotocol/frontend-qa

feat: pagination improvements
  apps/trading/components/rewards-container/rewards-history.tsx
  apps/trading/components/rewards-container/use-reward-row-data.ts
Owners: @vegaprotocol/frontend-qa

feat: add highlight option to card component
  apps/trading/components/card/card.tsx
  apps/trading/components/rewards-container/rewards-container.tsx
Owners: @vegaprotocol/frontend-qa

feat: updates for disconnected state
  apps/trading/components/rewards-container/rewards-container.tsx
Owners: @vegaprotocol/frontend-qa

feat: add toggle for switching between users rewards and all rewarsd
  apps/trading/components/rewards-container/Rewards.graphql
  apps/trading/components/rewards-container/__generated__/Rewards.ts
  apps/trading/components/rewards-container/rewards-container.tsx
Owners: @vegaprotocol/core, @vegaprotocol/frontend-qa

chore: format
  libs/ui-toolkit/src/components/trading-button/trading-button.tsx
Owners: @vegaprotocol/frontend-qa

feat: add calculations for rewards pot card
  apps/trading/components/rewards-container/rewards-container.spec.tsx
  apps/trading/components/rewards-container/rewards-container.tsx
  libs/accounts/src/lib/accounts-data-provider.ts
  libs/assets/src/lib/index.ts
  libs/assets/src/lib/utils.spec.ts
  libs/assets/src/lib/utils.ts
  libs/network-parameters/src/use-network-params.ts
Owners: @vegaprotocol/frontend-qa

test: add tests for reward multiplier card
  apps/trading/components/rewards-container/rewards-container.spec.tsx
  apps/trading/components/rewards-container/rewards-container.tsx
Owners: @vegaprotocol/frontend-qa

fix: prevent entry of epoch less than 1
  apps/trading/components/rewards-container/rewards-history.tsx
Owners: @vegaprotocol/frontend-qa

fix: formatting
  apps/trading/client-pages/rewards/rewards.tsx
  apps/trading/components/card/card.tsx
  apps/trading/components/fees-container/fees-container.tsx
  apps/trading/components/navbar/navbar.tsx
Owners: @vegaprotocol/frontend-qa

fix: use correct multiplier for vesting
  apps/trading/components/rewards-container/Rewards.graphql
  apps/trading/components/rewards-container/__generated__/Rewards.ts
  apps/trading/components/rewards-container/rewards-container.spec.tsx
  apps/trading/components/rewards-container/rewards-container.tsx
Owners: @vegaprotocol/core, @vegaprotocol/frontend-qa

chore: update vesting card tests
  apps/trading/components/rewards-container/rewards-container.spec.tsx
  apps/trading/components/rewards-container/rewards-container.tsx
Owners: @vegaprotocol/frontend-qa

feat: update rewards pot to handle different assets
  apps/trading/components/card/card.tsx
  apps/trading/components/rewards-container/Rewards.graphql
  apps/trading/components/rewards-container/__generated__/Rewards.ts
  apps/trading/components/rewards-container/rewards-container.spec.tsx
  apps/trading/components/rewards-container/rewards-container.tsx
Owners: @vegaprotocol/frontend-qa, @vegaprotocol/core

test: add test for pagination
  apps/trading/components/rewards-container/rewards-history.spec.tsx
  apps/trading/components/rewards-container/rewards-history.tsx
Owners: @vegaprotocol/frontend-qa

feat: add minimal prop to button to enable a selected state
  apps/trading/components/rewards-container/rewards-history.tsx
  libs/ui-toolkit/src/components/trading-button/trading-button.tsx
Owners: @vegaprotocol/frontend-qa

feat: add rewards history table for all rewards
  apps/trading/components/card/card.tsx
  apps/trading/components/rewards-container/Rewards.graphql
  apps/trading/components/rewards-container/__generated__/Rewards.ts
  apps/trading/components/rewards-container/rewards-container.tsx
Owners: @vegaprotocol/frontend-qa, @vegaprotocol/core

feat: add lock icon
  apps/trading/components/rewards-container/rewards-container.tsx
  libs/ui-toolkit/src/components/icon/vega-icons/svg-icons/icon-lock.tsx
  libs/ui-toolkit/src/components/icon/vega-icons/vega-icon-record.ts
Owners: @vegaprotocol/frontend-qa

test: add test for reward history table
  apps/trading/components/rewards-container/rewards-container.tsx
  apps/trading/components/rewards-container/rewards-history.spec.tsx
  apps/trading/components/rewards-container/rewards-history.tsx
Owners: @vegaprotocol/frontend-qa

chore: update tests to align with formatting
  apps/trading/components/rewards-container/rewards-container.spec.tsx
  apps/trading/components/rewards-container/rewards-container.tsx
Owners: @vegaprotocol/frontend-qa

chore: add specs for rewards page
  apps/trading/components/rewards-container/rewards-container.tsx
  specs/7009-REWA-rewards.md
Owners: @vegaprotocol/frontend-qa, @vegaprotocol/frontend

feat: add epoch pagination
  apps/trading/components/rewards-container/Rewards.graphql
  apps/trading/components/rewards-container/__generated__/Rewards.ts
  apps/trading/components/rewards-container/rewards-container.tsx
  apps/trading/components/rewards-container/rewards-history.tsx
  libs/ui-toolkit/src/components/icon/vega-icons/svg-icons/icon-chevron-right.tsx
  libs/ui-toolkit/src/components/icon/vega-icons/vega-icon-record.ts
Owners: @vegaprotocol/core, @vegaprotocol/frontend-qa

chore: remove duplicate fragment
  libs/markets/src/lib/__generated__/markets-candles.ts
  libs/markets/src/lib/index.ts
  libs/markets/src/lib/markets-candles.graphql
Owners: @vegaprotocol/frontend-qa, @vegaprotocol/core

feat: show loading state, allow 0 to make typing experience better
  apps/trading/components/rewards-container/rewards-container.tsx
  apps/trading/components/rewards-container/rewards-history.tsx
Owners: @vegaprotocol/frontend-qa

fix: formatting and incorrect test id prop
  apps/trading/components/card/card.tsx
  apps/trading/components/fees-container/fees-container.tsx
Owners: @vegaprotocol/frontend-qa

chore: add missing prop
  apps/trading/components/rewards-container/rewards-history.spec.tsx
Owners: @vegaprotocol/frontend-qa

chore(trading): fix tests from i18n
  apps/trading/e2e/README.md
  apps/trading/e2e/tests/deal_ticket/test_trading_deal_ticket_submit_account.py
  apps/trading/e2e/tests/market/test_monitoring_auction_price_volatility_market.py
  yarn.lock
Owners: @vegaprotocol/frontend-qa, @vegaprotocol/frontend

feat(trading): add perps market to python tests
  apps/trading/e2e/conftest.py
  apps/trading/e2e/fixtures/market.py
  apps/trading/e2e/tests/market/test_market.py
Owners: @vegaprotocol/frontend-qa

fix(explorer): improve chain event tx view for contract calls (#5243)
  apps/explorer/src/app/components/txs/details/chain-events/index.tsx
  apps/explorer/src/app/components/txs/details/chain-events/tx-contract-call.spec.tsx
  apps/explorer/src/app/components/txs/details/chain-events/tx-contract-call.tsx
  apps/explorer/src/app/components/txs/details/tx-chain-event.tsx
Owners: @vegaprotocol/frontend-qa

feat(explorer): simplify party accounts page (#5240)
  apps/explorer/src/app/components/asset-balance/asset-balance.tsx
  apps/explorer/src/app/routes/parties/id/components/party-accounts.tsx
Owners: @vegaprotocol/frontend-qa
